@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

/* layout  */
.grid_name {
  color: var(--undpds-color-black);
  font-size: 1.375rem;
  margin-bottom: var(--undpds-spacing-05);
  margin-top: var(--undpds-spacing-05);
  min-height: 28px;

  @include breakpoints.devicebreak(small) {
    font-size: 1.625rem;
  }

  span {
    font-size: var(--undpds-font-size-14);
  }
}

.grid_description {
  @extend %paragragh-font-14;

  color: var(--undpds-color-black);
  margin-bottom: 1.25rem;
}

.grid--layout {
  background-color: var(--undpds-color-gray-300);
  height: var(--undpds-spacing-09);
  margin-bottom: var(--undpds-spacing-03);

  &:nth-child(odd) {
    background-color: var(--undpds-color-gray-200);
  }

  .column {
    font-size: 0.813rem;
    padding: 0.625rem;
  }
}

/* layout end */
