@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/base';

/* sidebar start */
.sidebar-accordion {
  @extend %background-white;

  padding: 0;
  position: relative;

  &.show-small {
    h6 {
      border-bottom: 2px solid $color-black;

      &::after {
        @include transform(rotateZ(-180deg));
      }
    }

    ul {
      display: block;
      padding: 0;
    }
  }

  ul,
  li {
    list-style-type: none;
    margin-bottom: 0;

    @include devicebreak(medium) {
      a {
        &:hover {
          background-color: #edeff0;
        }
      }
    }
  }

  h6 {
    @include devicebreak(small) {
      background-color: $color-gray-300;
      cursor: pointer;
      display: block;
      margin-bottom: 0;
      padding: $spacing-16;
    }

    @include devicebreak(medium) {
      display: none;
    }

    &::after {
      @extend %sidebar-chevron;
    }
  }

  ul {
    display: none;
    padding: 0;

    @include devicebreak(medium) {
      display: block;
    }

    & > .active {
      border-bottom: none;

      @include devicebreak(medium) {
        button::after {
          background:
            url(#{$img-path-Icon}/Chevron-down-white.svg) no-repeat
            center center;
        }
      }

      & > a {
        @include devicebreak(medium) {
          background-color: $color-blue-600;
          color: $color-white;
        }
      }

      & > button::after {
        @include transform(rotateZ(-180deg));
      }
    }

    & > li {
      background-color: $color-gray-300;
      position: relative;

      @include devicebreak(medium) {
        background-color: transparent;
        padding: 0;
      }

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        display: block;
        float: right;
        height: 1.25rem;
        margin-right: 1.188rem;
        margin-top: -2.188rem;
        width: 1.25rem;

        @include devicebreak(medium) {
          margin-top: -2.688rem;
        }

        &::after {
          @extend %sidebar-chevron;
        }
      }
    }

    ul.accordion__panel {
      display: none;
      height: auto;
      padding: 0;

      li {
        a {
          @extend %img_none;

          border: none;
          display: block;
          font-size: $font-size-14;
          font-weight: 400;
          padding: $spacing-16 $spacing-24 $spacing-16 $spacing-32;

          @include devicebreak(medium) {
            font-size: $font-size-16;
            padding-left: $spacing-48;
          }
        }

        &:first-child a {
          background-color: transparent;
          color: $color-black;

          @include devicebreak(medium) {
            &:hover {
              background-color: #edeff0;
            }
          }
        }

        &:last-child a {
          margin-bottom: 0;
        }
      }
    }
  }

  &.narrow {
    ul.accordion__panel {
      li {
        a {
          @include devicebreak(medium) {
            font-size: 0.875rem;
            padding-left: $spacing-32;
          }
        }

        &:last-child a {
          @include devicebreak(medium) {
            margin-bottom: $spacing-40;
          }
        }
      }
    }

    ul > li button::after {
      @include devicebreak(medium) {
        top: 8px;
      }
    }
  }
}

[dir='rtl'] {
  .sidebar-accordion h6,
  .sidebar-accordion ul li > button {
    &::after {
      left: 24px;
      right: unset;
    }
  }

  .sidebar-accordion {
    button {
      float: left;
      margin-left: $spacing-24;
      margin-right: 0;
    }

    &.narrow {
      ul.accordion__panel {
        li {
          a {
            @include devicebreak(medium) {
              padding-left: $spacing-24;
              padding-right: $spacing-32;
            }
          }
        }
      }
    }
  }
}

/* sidebar end */
