@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

/* sidebar start */
.sidebar-accordion {
  @extend %background-white;

  padding: 0;
  position: relative;

  &.show-medium {
    h6 {
      border-bottom: 2px solid variables.$color-black;

      &:hover,
      &:focus,
      &:active {
        background-color: variables.$color-gray-400;
      }

      &::after {
        @include mixins.transform(translateY(-50%) rotateZ(-180deg));
      }
    }

    ul {
      display: block;
      padding: 0;
    }
  }

  ul,
  li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    a {

      &:hover,
      &:focus,
      &:active {
        background-color: variables.$color-gray-400;
      }

      // @include breakpoints.devicebreak(large) {

      //     &:hover {
      //       // background-color: $color-gray-300;
      //       background-color: $color-gray-400;
      //     }
      //   }
    }
  }

  h6 {
    background-color: variables.$color-gray-300;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    padding: variables.$spacing-05;
    position: relative;

    @include breakpoints.devicebreak(large) {
      display: none;
    }

    &::after {
      @extend %sidebar-chevron;
    }
  }

  ul {
    display: none;
    padding: 0;

    @include breakpoints.devicebreak(large) {
      display: block;
    }

    &>.active {
      border-bottom: none;

      button::after {
        background: url(~icons/chevron-down-white.svg) no-repeat center center;
      }

      @include breakpoints.devicebreak(large) {
        button::after {
          background: url(~icons/chevron-down-white.svg) no-repeat center center;
        }
      }

      &>a {
        background-color: variables.$color-blue-600;
        color: variables.$color-white;

        @include breakpoints.devicebreak(large) {
          background-color: variables.$color-blue-600;
          color: variables.$color-white;
        }
      }

      &>button::after {
        @include mixins.transform(rotateZ(-180deg));

        top: 1.125rem;

        @include breakpoints.devicebreak(large) {
          top: variables.$spacing-06;
        }
      }
    }

    &>li {
      background-color: variables.$color-gray-300;
      position: relative;

      @include breakpoints.devicebreak(large) {
        background-color: transparent;
        padding: 0;
      }

      button {
        @extend %button;

        float: right;
        height: 1.25rem;
        margin-right: 1.188rem;
        margin-top: -2.188rem;
        width: 1.25rem;

        @include breakpoints.devicebreak(large) {
          margin-top: -2.688rem;
          top: 2.063rem;
        }

        &::after {
          @extend %sidebar-chevron;

          top: variables.$spacing-06;

          @include breakpoints.devicebreak(large) {
            top: 2.063rem;
          }
        }
      }
    }

    ul.accordion__panel {
      display: none;
      height: auto;
      padding: 0;

      li {
        a {
          @extend %img_none;

          border: none;
          display: block;
          font-size: variables.$font-size-14;
          font-weight: 400;
          padding: variables.$spacing-05 variables.$spacing-06 variables.$spacing-05 variables.$spacing-07;

          @include breakpoints.devicebreak(large) {
            font-size: variables.$font-size-16;
            padding-left: variables.$spacing-09;
          }
        }

        &:first-of-type a {
          background-color: transparent;
          color: variables.$color-black;

          &:hover,
          &:focus,
          &:active {
            background-color: variables.$color-gray-400;
          }

          // @include breakpoints.devicebreak(large) {
          //   &:hover {
          //     // background-color: $color-gray-300;
          //     background-color: $color-gray-400;
          //   }
          // }
        }

        &:last-of-type a {
          margin-bottom: 0;
        }
      }
    }
  }

  &.narrow {
    ul.accordion__panel {
      li {
        a {
          @include breakpoints.devicebreak(large) {
            font-size: 0.875rem;
            padding-left: variables.$spacing-07;
          }
        }

        &:last-of-type a {
          @include breakpoints.devicebreak(large) {
            margin-bottom: variables.$spacing-08;
          }
        }
      }
    }

    ul>li button::after {
      @include breakpoints.devicebreak(large) {
        top: 1.625rem;
      }
    }

    li.active {
      button::after {
        @include breakpoints.devicebreak(large) {
          top: 1.125rem;
        }
      }
    }
  }
}

[dir='rtl'] {

  .sidebar-accordion h6,
  .sidebar-accordion ul li>button {
    &::after {
      left: 24px;
      right: unset;
    }
  }

  .sidebar-accordion {

    ul,
    li {
      padding-right: 0;
    }

    button {
      float: left;
      margin-left: variables.$spacing-06;
      margin-right: 0;
    }

    &.narrow {
      ul.accordion__panel {
        li {
          a {
            @include breakpoints.devicebreak(large) {
              padding-left: variables.$spacing-06;
              padding-right: variables.$spacing-07;
            }
          }
        }
      }
    }
  }
}

/* sidebar end */