@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

// * language row start *//
.language__item {
  @extend %paragragh-font-16;
  @extend %border-bottom;

  display: inline-block;
  line-height: 0.9;
  min-width: 100px;
  padding: var(--undpds-spacing-04) var(--undpds-spacing-05);
}

// * language row end *//
