.menu-mobile-main-options {
    .menu-items {
        margin: 0 30px 0 0;
    }

    .menu-items-languages {
        margin: 50px 30px 0 0;

        .nav-item {
            svg,
            img{
                margin-right: 0;
                margin-left: 15px;
            }
        }
    }
}
