@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.form-wrapper {
    .text-panel{
        .button{
            margin-top: 0.1875rem;
        }
    }
    h2 {
        margin-bottom: $spacing-40;
    }
    .input-group {
        .input__controls {
            margin:0.9375rem 0;
            border-radius: 0;
        }
    }
    .form-photo {
        img {
            object-fit: cover;
            height: 100%;
        }
    }
    .form-bg {
        background: $color-gray-100;
        padding: $spacing-96 0;
        box-sizing: border-box;
        @include devicebreak(small) {
            margin-top: $spacing-16;
            padding: $spacing-48 $spacing-24;
        }
    }
    .button {
        @include devicebreak(small) {
            width: 100%;
        }
    }
    .wide-form {
        @include devicebreak(small){
            display: flex;
            align-items: center;
            height: 100vh;
            background: $color-gray-100;
            margin: -1.375rem;
            padding: 0 $spacing-32;
        }
        h2{
            margin-bottom: $spacing-24;
        }
        .input-group {
            
            .input__controls {
                margin:$spacing-12 0;
                @include devicebreak(small) {
                    margin:$spacing-08 0;
                }
            }
        }
        .button {
                margin-top: $spacing-16;
            
        }
    }
    .stacked-form {
        p {
            margin-bottom: $spacing-50;
        }
        .input-group {
            .input__controls {
                margin:$spacing-12 0;
            }
        }
        .button {
            margin-top: $spacing-48;
            @include devicebreak(small) {
                margin-top: $spacing-32;
            }
        }
    }
}
[dir="rtl"] {
    @media print, screen and (min-width: 64em) {
        .grid-margin-x > .large-offset-1 {
            margin-right: calc(8.33333% + 1.5rem / 2);
            margin-left: 0.75rem;
        }
    }
}
.mt-0 {
    margin-top: 0 !important;
}
