@use '../../../assets/scss/mixins';
@use '../../../assets/scss/variables';
@use '../../../assets/scss/breakpoints';

.form-wrapper {
  .text-panel {
    .button {
      margin-top: var(--undpds-spacing-06);

      @include breakpoints.devicebreak(small) {
        margin-top: var(--undpds-spacing-07);
      }
    }
  }

  h2 {
    margin-bottom: var(--undpds-spacing-08);

    @include breakpoints.devicebreak(small) {
      margin-bottom: var(--undpds-spacing-04);
    }
  }

  p {
    @include breakpoints.devicebreak(small) {
      margin-bottom: var(--undpds-spacing-03);
    }
  }

  .input-group {
    .input__controls {
      border-radius: 0;
      margin: 0.9375rem 0;
    }
  }

  .form-photo {
    img {
      height: 100%;
      object-fit: cover;
    }

    .stacked-form {
      height: inherit;

      h2 {
        margin-bottom: var(--undpds-spacing-05);

        @include breakpoints.devicebreak(small) {
          margin-bottom: var(--undpds-spacing-04);
        }
      }

      p {
        margin-bottom: var(--undpds-spacing-09);

        @include breakpoints.devicebreak(small) {
          margin-bottom: var(--undpds-spacing-07);
        }
      }

      .button {
        margin-top: var(--undpds-spacing-09);

        @include breakpoints.devicebreak(small) {
          margin-top: var(--undpds-spacing-07);
        }
      }
    }
  }

  .form-bg {
    background: var(--undpds-color-gray-100);
    box-sizing: border-box;
    padding: var(--undpds-spacing-12) 0;

    @include breakpoints.devicebreak(small) {
      padding: var(--undpds-spacing-09) var(--undpds-spacing-06);
    }
  }

  .button {
    @include breakpoints.devicebreak(small) {
      width: 100%;
    }
  }

  .wide-form {
    h2 {
      margin-bottom: var(--undpds-spacing-06);

      @include breakpoints.devicebreak(small) {
        margin-bottom: var(--undpds-spacing-03);
      }
    }

    .input-group {
      .input__controls {
        margin: var(--undpds-spacing-04) 0;
      }
    }

    .button {
      margin-top: var(--undpds-spacing-09);

      @include breakpoints.devicebreak(small) {
        margin-top: var(--undpds-spacing-07);
      }
    }
  }

  .stacked-form {
    h2 {
      margin-bottom: var(--undpds-spacing-05);

      @include breakpoints.devicebreak(small) {
        margin-bottom: var(--undpds-spacing-04);
      }
    }

    p {
      margin-bottom: var(--undpds-spacing-09);

      @include breakpoints.devicebreak(small) {
        margin-bottom: var(--undpds-spacing-07);
      }
    }

    .input-group {
      .input__controls {
        margin: var(--undpds-spacing-04) 0;
      }
    }

    .button {
      margin-top: var(--undpds-spacing-09);

      @include breakpoints.devicebreak(small) {
        margin-top: var(--undpds-spacing-07);
      }
    }
  }

  input {
    margin-top: var(--undpds-spacing-06);
  }
}

[dir='rtl'] {

  @media print,
  screen and (min-width: 64em) {
    .text-panel> :nth-child(1) {
      margin-left: 0.75rem;
      margin-right: calc(8.33333% + 1.5rem / 2);
    }
  }
}

// burmese lang
:lang(my) {
  .form-wrapper .button {
    font-family: var(--undpds-font-family-notosans);
  }
}