@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';

// * loader start *//

//loader animation
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {

  @include mixins.animation(loader-animation 2s linear infinite);

  border-radius: 50%;
  border: 8px solid var(--undpds-color-blue-600);
  border-top: 8px solid var(--undpds-color-gray-300);
  height: 40px;
  width: 40px;

  &.large {
    border-width: 14px;
    height: 96px;
    width: 96px;
  }

  &:not(.small) {
    @include breakpoints.devicebreak(medium) {
      border-width: 14px;
      height: 96px;
      width: 96px;
    }
  }

}

// * loader end *//
