@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

// lightbox-gallery start
.lightbox-gallery {
  &__left {
    display: flex;
    align-items: center;

    @include devicebreak(small) {
      margin-bottom: 0.75rem;
    }
  }

  &__content {
    padding: 0 $spacing-12 $spacing-24;

    @include devicebreak(medium) {
      margin: auto;
      max-width: 28rem;
      padding: 1.5rem 0.5rem;
    }

    @include devicebreak(xlarge) {
      padding: 0;
    }

    h5 {
      margin-bottom: 2rem;

      @include devicebreak(small) {
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 1rem;
      margin-bottom: 3rem;

      @include devicebreak(small) {
        font-size: 0.875rem;
        margin-bottom: 2rem;
      }
    }

    .cta__link {
      text-transform: uppercase;
    }
  }

  &__right {
    position: relative;

    //gallery image list
    .lightbox-gallery-images {
      column-count: 2;
      column-gap: $spacing-12;
      margin: auto;
      padding-left: 0;
      width: 100%;

      @include devicebreak(xlarge) {
        column-count: 3;
        column-gap: $spacing-24;
      }

      li {
        list-style: none;
        margin-bottom: $spacing-12;
        position: relative;
        width: 100%;
        padding-left: 0;

        @include devicebreak(xlarge) {
          margin-bottom: $spacing-24;
        }

        a {
          @extend %no-animation;
          background-image: none;
          line-height: 0;
          display: block;
        }

        &:hover,
        &:focus,
        &:focus-within {
          outline: 0;
          .image {
            @include devicebreak(xlarge) { 
              &:before {
                content: "";
                top: 0;
                left: 0;
                background-color: $color-black;
                z-index: 1;
                height: 100%;
                width: 100%;
                position: absolute;
                opacity: 0.4;
               }
             }
          }
    
          .image__description {
            display: none;

            @include devicebreak(xlarge) {
              display: block;
            }
          }
        }

        .image {
          @include devicebreak(medium) {
            overflow: hidden;
          }
          @include devicebreak(xlarge) {
            min-height: 200px;
          }

          img {
            padding-bottom: 0;

            @include devicebreak(large) {
              min-height: 200px;
              object-fit: cover;
            }
          }
        }
      }
    }

    .image__description {
      bottom: 0;
      display: none;
      position: absolute;
      z-index: 2;

      .image__caption {
        @include devicebreak(xlarge) {
          border-bottom: 0;
          display: block;
          margin-top: 0;
          padding: $spacing-32 $spacing-24;
        }

        p {
          color: $color-white;
          margin-bottom: $spacing-16;
          padding-right: 0;

          + .credits {
            @include devicebreak(large) {
              margin-left: 0;
            }
          }
        }

        .credits {
          border-left: 0;
          color: $color-white;
          padding-left: 0;
        }
      }

      &.caption_top {
        bottom: inherit;
        -webkit-mask-image: linear-gradient(to bottom, $color-black 50%, transparent 100%);
        mask-image: linear-gradient(to bottom, $color-black 50%, transparent 100%);
        overflow-y: hidden;
        height: 100%;
        top: 0;
      }
    }
  }
}

[dir="rtl"] {
  .lightbox-gallery {
    &__right {
      .lightbox-gallery-images {
        padding-right: 0;
        li {
          padding-right: 0;
        }
      }

      .credits {
        border-right: 0;
        color: $color-white;
        margin-right: 0;
        padding-right: 0;
      }

      .image__caption p + .credits {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
// lightbox-gallery end
