@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/breakpoints";

// backgroundoverlay
.goverlay {
  width: 100%;
  height: calc(100vh + 1px);
  position: fixed;
  top: -1px;
  left: 0;
  background: rgba(247, 247, 247, 0.8);
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  will-change: opacity;
}

// desktop
.glightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  overflow: hidden;

  &.inactive {
    display: none;
  }

  .gcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;

    //controls
    .gprev,
    .gnext,
    .gclose {
        z-index: 3;
        cursor: pointer;
        width: 45px;
        height: 45px;
        border: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        svg {
          display: none;
        }

        &.disabled {
          opacity: 0.1;
        }
    }

    .gprev {
      position: absolute;
      top: 47%;
      left: 3px;  
      background: url(#{$img-path-Iconfourback}/circle-left.svg) no-repeat left center;

      @include devicebreak(medium) {
        left: 20px; 
        top: 45%;
      }
      @include devicebreak(xlarge) {
        left: 40px;
      }
    }

    .gnext {
      position: absolute;
      top: 47%;
      right: 3px;
      background: url(#{$img-path-Iconfourback}/circle-right.svg) no-repeat left center;

      @include devicebreak(medium) {
        right: 20px;
        top: 45%;
      }
      @include devicebreak(xlarge) {
        right: 40px;
      }
    }

    .gclose {
      background: url(#{$img-path-Iconfourback}/Times_circle.svg) no-repeat left center;
      cursor: pointer;
      font-size: 0;
      height: 45px;
      position: absolute;
      right: 19px;
      top: 16px;
      width: 45px;
      border: 0;
    }

    //slider
    .gslider {
      -webkit-transition: -webkit-transform 0.4s ease;
      transition: -webkit-transform 0.4s ease;
      transition: transform 0.4s ease;
      transition: transform 0.4s ease, -webkit-transform 0.4s ease;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
      position: relative;
      overflow: hidden;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);

      .gslide {
        width: 100%;
        position: absolute;
        opacity: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        opacity: 0;

        &.current {
          opacity: 1;
          z-index: 9;
          position: relative;
        }

        .gslide-inner-content {
          width: 100%;

          .ginner-container {
            position: relative;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-box-orient: vertical;
            max-width: 100%;
            margin: auto;
            height: 100vh;

            @include devicebreak(medium) {
              display: inherit;
              height: auto;
            }

            //image
            .gslide-image {
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              max-height: 200px;
              overflow:hidden;
              height: 100%;
              @include devicebreak(medium) {
                max-height: inherit;
                margin-top: 40px;
                height: 100%;
              }
              img {
                height: 100%;
                display: block;
                margin: auto;
                
                @include devicebreak(medium) {
                  height: auto;
                }
                @include devicebreak(xlarge) {
                  max-height: calc(100vh - 150px);
                }


                &.dragging {
                  cursor: -webkit-grabbing !important;
                  cursor: grabbing !important;
                  -webkit-transition: none;
                  transition: none;
                }
              }
            }

            //description
            .gslide-description {
              -webkit-box-flex: 1;
              -ms-flex: 1 0 100%;
              flex: 1 0 100%;
              @include devicebreak(large) {
                position: relative;
              }

              &.description-left{
                max-width: 100%;
                max-width: 800px;
                margin:  0 auto;
              }
              .gdesc-inner {
                padding: 48px 20px;
                @include devicebreak(large) {
                  padding: 32px 20px;
                }
              }

              p {
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
  }
  
  //closing
  &.glightbox-closing {
    .gprev,
    .gnext,
    .gclose {
      opacity: 0!important;
    }
  }
}

//mobile
.glightbox-mobile {
  .glightbox-container {
    .gslide-description {
      position: absolute;
      top: calc(50% + 65px);
      
     @include devicebreak(medium) {
         position:relative;
      }
    }

    .gslide-title {
      color: $color-white;
      font-size: 1em;
    }

    .gslide-desc a {
      font-weight: bold;
    }
  }
}

/*CSS Animations*/
.gfadeIn {
  -webkit-animation: gfadeIn 0.5s ease;
  animation: gfadeIn 0.5s ease;
}

.gfadeOut {
  -webkit-animation: gfadeOut 0.5s ease;
  animation: gfadeOut 0.5s ease;
}

.gslideOutLeft {
  -webkit-animation: gslideOutLeft 0.3s ease;
  animation: gslideOutLeft 0.3s ease;
}

.gslideInLeft {
  -webkit-animation: gslideInLeft 0.3s ease;
  animation: gslideInLeft 0.3s ease;
}

.gslideOutRight {
  -webkit-animation: gslideOutRight 0.3s ease;
  animation: gslideOutRight 0.3s ease;
}

.gslideInRight {
  -webkit-animation: gslideInRight 0.3s ease;
  animation: gslideInRight 0.3s ease;
}

.gzoomIn {
  -webkit-animation: gzoomIn 0.5s ease;
  animation: gzoomIn 0.5s ease;
}

.gzoomOut {
  -webkit-animation: gzoomOut 0.5s ease;
  animation: gzoomOut 0.5s ease;
}

@-webkit-keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lightboxLoader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes gfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
  }
  to {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes gslideOutLeft {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-60%, 0, 0);
    transform: translate3d(-60%, 0, 0);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes gslideInRight {
  from {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@keyframes gslideOutRight {
  from {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(60%, 0, 0);
    transform: translate3d(60%, 0, 0);
    opacity: 0;
  }
}

@-webkit-keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@keyframes gzoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@keyframes gzoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
