@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

.trusted-partnerships {
  &__container {
    padding: 3rem 1.5rem 6rem;
  }

  &--header {
    p {
      margin-top: variables.$spacing-08;

      @include breakpoints.devicebreak(medium) {
        margin-top: variables.$spacing-11;
      }
    }

    .button-arrow {
      margin-top: variables.$spacing-08;

      @include breakpoints.devicebreak(small) {
        display: inline-flex;
      }

      @include breakpoints.devicebreak(medium) {
        margin-top: variables.$spacing-10;
      }
    }
  }
}