.standard-page {

    .side-nav-content .side-content {
        > .content-wrapper {
            @include breakpoint(large up) {
                padding-left: 14%;
                margin-right: auto;
                margin-left: -24px;
                padding-right: 24px;
            }
        }
    }

    .standard-page-slider {
        .standard-page-slide .slide-content {
            padding-left: 0;
            padding-right: 49px;

            @include breakpoint(small only) {
                padding-right: 0;
            }
        }

        .glide__track {
            margin-right: 0 !important;
            margin-left: -19.5%;

            @include breakpoint(1955px up) {
                margin-left: 0;
            }

            @include breakpoint(medium down) {
                margin-left: -48px;
            }

            @include breakpoint(small only) {
                margin-left: -30px;
            }
        }
    }
}
