@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

/* author summary start */
.author-summary {
  border-top: 2px solid var(--undpds-color-black);
  padding-top: var(--undpds-spacing-07);

  @include breakpoints.devicebreak(medium) {
    display: flex;
    justify-content: space-between;
  }

  &-wrapper {
    h4 {
      margin-bottom: 2.438rem;
    }
  }

  &-left {
    display: flex;

    @include breakpoints.devicebreak(small) {
      align-items: flex-start;
      justify-content: space-between;
    }

    @include breakpoints.devicebreak(medium) {
      width: 50%;
    }

    .author__img {
      margin-right: 0;

      &.large {
        @include breakpoints.devicebreak(small) {
          height: 100%;
        }

        @include breakpoints.devicebreak(medium) {
          height: fit-content;
          width: 40%;
        }

        @include breakpoints.devicebreak(large) {
          width: var(--undpds-width-180);
        }
      }

      &:hover {
        &.yellow::before {
          background: none;
        }
      }
    }
  }

  &-right {
    @include breakpoints.devicebreak(small) {
      margin-top: var(--undpds-spacing-04);
    }

    @include breakpoints.devicebreak(medium) {
      width: 40%;
    }
  }

  &-text {
    margin-left: var(--undpds-spacing-04);
    margin-top: 0;

    @include breakpoints.devicebreak(medium) {
      width: calc(100% - 13.875rem);
    }

    @include breakpoints.devicebreak(large) {
      margin-left: var(--undpds-spacing-08);
    }

    h2 {
      margin-bottom: var(--undpds-spacing-03);
      overflow-wrap: break-word;
      hyphens: manual;
    }
  }
}

[dir='rtl'] {
  .author-summary {
    &-text {
      @include breakpoints.devicebreak(medium) {
        margin-left: 0;
        margin-right: var(--undpds-spacing-08);
      }
    }
  }
}

/* author summary end */