@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

/* toggle search start */
.search-filter {
  .expand-search {
    max-width: 296px;
  }

  .select-wrapper {
    .multi-select {
      padding-top: $spacing-24;
    }
  }

  .selected-chips {
    max-width: 296px;
    padding-top: $spacing-24;

    .chips {
      margin: 0 0.75rem 0.75rem 0;
      cursor: pointer;
    }
  }

  .chips {
    font-size: $font-size-16;
  }

  .clear-search-filter {
    display: none;
    border: 0;
    background: none;
    padding: 0;
    border-bottom: 1px solid $color-red;
    cursor: pointer;
    font-size: $font-size-16;

    &.show-clear {
      display: inline-block;
    }
  }

  .active-filter {
    color: $color-gray-600;
    font-family: $Font-Family-ProximaNova;
    font-size: $font-size-16;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
    padding-top: $spacing-16;

    &.show-activefilter {
      display: block;
    }
  }
}

[dir='rtl'] {
  .selected-chips {
    .chips {
      margin: 0 0 $spacing-12 $spacing-12;
    }
  }
}

/* toggle search end */
