@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';
@use '../../assets/scss/variables';

/* toggle search start */
.sort-filter-search {
  &.button {
    display: none;
    text-transform: uppercase;
    width: 100%;

    @include breakpoints.devicebreak(small) {
      display: block;
    }

    span {
      display: none;
      font-size: 1rem;
    }

    &.close {
      background-color: variables.$color-gray-300;
      color: variables.$color-black;
      font-size: 0;

      &:hover {
        background-color: variables.$color-gray-300;
      }

      span {
        display: block;
      }
    }
  }
}

.search-filter {
  @include breakpoints.devicebreak(small) {
    display: none;

    &.show-filter {
      display: block;
    }
  }

  .expand-search {
    max-width: 296px;
  }

  .select-wrapper {
    .multi-select {
      padding-top: variables.$spacing-06;
    }
  }

  .selected-chips {
    max-width: 296px;
    padding-top: variables.$spacing-06;

    .chip {
      cursor: pointer;
      margin: 0 0.75rem 0.75rem 0;
    }
  }

  .chip {
    font-size: variables.$font-size-16;
  }

  .clear-search-filter {
    background: none;
    border: 0;
    border-bottom: 1px solid variables.$color-red;
    cursor: pointer;
    display: none;
    font-size: variables.$font-size-16;
    padding: 0;

    &.show-clear {
      display: inline-block;
    }
  }

  .active-filter {
    color: variables.$color-gray-600;
    display: none;
    font-family: variables.$Font-Family-ProximaNova;
    font-size: variables.$font-size-16;
    font-weight: 600;
    padding-top: variables.$spacing-05;
    text-transform: uppercase;

    &.show-activefilter {
      display: block;
    }
  }
}

[dir='rtl'] {
  .selected-chips {
    .chip {
      margin: 0 0 variables.$spacing-04 variables.$spacing-04;
    }
  }
}

/* toggle search end */