@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

/* toggle search start */
.sort-filter-search{
  width: 100%;
  display: none;
  text-transform: uppercase;
  span{
    display: none;
    font-size: 1rem;}
  &.close{ 
    font-size: 0;
    background-color: $color-gray-300;
    color: $color-black;
    &:hover{
      background-color: $color-gray-300;
    }
    span{
      display: block;
    }
  }
  @include devicebreak(small) {
    display: block;
  }
}
.search-filter {
  @include devicebreak(small) {
    display: none;
    &.show-filter{
      display: block;
    }
  }
  .expand-search {
    max-width: 296px;
  }

  .select-wrapper {
    .multi-select {
      padding-top: $spacing-06;
    }
  }

  .selected-chips {
    max-width: 296px;
    padding-top: $spacing-06;

    .chip {
      margin: 0 0.75rem 0.75rem 0;
      cursor: pointer;
    }
  }

  .chip {
    font-size: $font-size-16;
  }

  .clear-search-filter {
    display: none;
    border: 0;
    background: none;
    padding: 0;
    border-bottom: 1px solid $color-red;
    cursor: pointer;
    font-size: $font-size-16;

    &.show-clear {
      display: inline-block;
    }
  }

  .active-filter {
    color: $color-gray-600;
    font-family: $Font-Family-ProximaNova;
    font-size: $font-size-16;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
    padding-top: $spacing-05;

    &.show-activefilter {
      display: block;
    }
  }
}

[dir='rtl'] {
  .selected-chips {
    .chip {
      margin: 0 0 $spacing-04 $spacing-04;
    }
  }
}

/* toggle search end */
