@use "../../../../assets/scss/breakpoints";
@use "../../../../assets/scss/mixins";

/* feature card start */
.feature__card {
  container: featurecard / inline-size;

  margin-block-end: 0;
  min-height: 420px;

  @include breakpoints.devicebreak(medium) {
    //CtaLink
    .cta__link.cta--arrow {
      width: 100%;

      i {
        max-width: var(--undpds-spacing-100);
        &::after {
          background-position: right top;
        }
      }
    }

    .feature__card-slide {
      &::before {
        @include mixins.background(
          0deg, rgba(10, 14, 20, 0.90) 25.24%, rgba(10, 14, 20, 0.50) 43.56%, rgba(10, 14, 20, 0.00) 58.89%
        );
        z-index: 1;
      }
    }

  }

  @include breakpoints.container(large, featurecard) {
    .cta__link.cta--arrow {
      i {
        &::after {
          margin-inline-start: var(--undpds-spacing-04);
          width: 0.813rem;
        }
      }
    }
  }

  a {

    height: 100%;
    overflow: hidden;
    position: relative;

    @include breakpoints.devicebreak(medium) {
      display: flex;
    }

    &:hover {

      .cta__link.cta--arrow {
        i {
          width: var(--undpds-spacing-11);

          @include breakpoints.container(medium, featurecard) {
            width: calc(100% - 6.25rem);
          }

          @include breakpoints.container(large, featurecard) {
            width: calc(100% - 6.25rem);
          }

          &::before {
            display: unset;
          }
        }
      }
    }
  }

  //variants image or without image
  &.without-image {
    .feature__card-slide {
      z-index: 0;

      &::before {
        display: none;
      }
    }
  }
  &.image {
    color: var(--undpds-color-text-inverse);
  }
}

//feature slide
.feature__card-slide {
  @extend %feature__card;

  position: relative;
  background: var(--undpds-color-surface-default);
  transition: background-color 0.25s ease-in-out;

  .feature__card a:hover & {
    background: var(--undpds-color-surface-hover);
  }

  @include breakpoints.devicebreak(medium) {
    display: none;
    height: 100%;
    position: absolute;
    z-index: 0;
  }

  @include breakpoints.devicebreak(large) {
    display: inherit;
  }

  &::before {
    @extend %feature__card;

    bottom: 0;
    content: "";

    @include breakpoints.devicebreak(medium) {
      height: 100%;
      position: absolute;
    }
  }

  .feature__card-image {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%;

    img {
      display: block;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
      transition: transform 0.5s ease-in-out;
      .feature__card a:hover & {
        transform: scale(1.01);
      }
    }
  }
}

//feature content
.feature__card-content {
  @extend %feature__card;

  flex-direction: column;
  height: auto;
  padding: var(--undpds-spacing-07) var(--undpds-spacing-06);
  position: relative;
  width: auto;

  @include breakpoints.devicebreak(medium) {
    display: flex;
  }

  h6,
  .feature__card-tag {
    font-size: var(--undpds-font-size-12);
    font-weight: 700;
    line-height: 1.12;
    margin-bottom: var(--undpds-spacing-gutter);
    text-transform: uppercase;
    .feature__card.image &  {
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.60);
    }
  }

  .feature__card-description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    flex-grow: 1;
    margin-bottom: var(--undpds-spacing-06);

    @include breakpoints.container(medium, featurecard) {
      margin-bottom: var(--undpds-spacing-07);
    }
  }

  h4,
  h5,
  .feature__card-title {
    font-size: var(--undpds-font-size-heading-medium);
    line-height: 1.1;
    margin-bottom: var(--undpds-spacing-04);
  }

  p {
    font-size: var(--undpds-font-size-body-small);
  }

  .cta__link {
    z-index: 2;
  }
}

/* feature card end */
