@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

// * breadcrumb start *//
.breadcrumb__item {
  font-family: $Font-Family-ProximaSemiBold;
  font-size: 12px;
  text-transform: uppercase;
  color: $color-dark-red;
  @extend %border-none;
  &:hover {
    color: $color-red;
  }
}

// * breadcrumb end *//
