@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

.border-top-2 {
  border-top: 2px solid #000;
}

.related-publication .cell.medium-4 {
  width: 45%;

  @include devicebreak(small) {
    width: 100%;
  }
}

.related-publication .contentcard {
  border: none;
}

// margin styles
.margin-top {
  &-48 {
    margin-top: $spacing-48;
  }

  &-80 {
    margin-top: $spacing-80;
  }
}

.content-bottom {
  margin-bottom: $spacing-96;

  @include devicebreak(small) {
    margin-bottom: $spacing-48;
  }
}

.sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;

  @include devicebreak(small) {
    position: static;
  }
}
