@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';
@use '../../assets/scss/variables';

.border-top-2 {
  border-top: 2px solid variables.$color-black;
}

.related-publication {
  margin-top: variables.$spacing-07;

  .cell.medium-4 {
    padding: variables.$spacing-04 0;
    width: 100%;

    @include breakpoints.devicebreak(medium) {
      width: calc(50% - #{variables.$spacing-06});
    }
  }

  .content-card {
    border: none;
    margin-bottom: 0;
    padding-top: variables.$spacing-03;
  }

  h2 {
    margin-bottom: variables.$spacing-04;
    margin-top: variables.$spacing-09;

    @include breakpoints.devicebreak(large) {
      margin-bottom: 2.25rem;
      margin-top: variables.$spacing-11;
    }
  }

  .grid-x.grid-margin-x {
    @include breakpoints.devicebreak(small) {
      padding: 0 variables.$spacing-04 variables.$spacing-04 0;
    }
  }
}

.margin-top {
  &-24 {
    margin-top: variables.$spacing-06;
  }

  &-36 {
    margin-top: 2.25rem;
  }

  &-40 {
    margin-top: variables.$spacing-08;
  }

  &-48 {
    margin-top: variables.$spacing-09;
  }

  &-64 {
    margin-top: variables.$spacing-10;
  }

  &-72 {
    margin-top: 4.5rem;
  }

  &-80 {
    margin-top: variables.$spacing-11;
  }

  &-136 {
    margin-top: variables.$spacing-136;
  }
}

.margin-bottom {
  &-24 {
    margin-bottom: variables.$spacing-06;
  }

  &-36 {
    margin-bottom: 2.25rem;
  }

  &-40 {
    margin-bottom: variables.$spacing-08;
  }

  &-48 {
    margin-bottom: variables.$spacing-09;
  }

  &-64 {
    margin-bottom: variables.$spacing-10;
  }

  &-72 {
    margin-bottom: 4.5rem;
  }

  &-80 {
    margin-bottom: variables.$spacing-11;
  }

  &-136 {
    margin-bottom: variables.$spacing-136;
  }
}

.content-bottom {
  margin-bottom: variables.$spacing-09;

  @include breakpoints.devicebreak(large) {
    margin-bottom: variables.$spacing-12;
  }
}

.publication-card__title {
  h2 {
    display: none;

    @include breakpoints.devicebreak(large) {
      display: block;
      margin-bottom: variables.$spacing-06;
    }

    >p {
      margin-top: 2.25rem;
    }
  }

  h6 {
    margin-top: variables.$spacing-08;

    @include breakpoints.devicebreak(large) {
      margin-top: variables.$spacing-03;
    }
  }
}

.publication {
  &-page {
    margin-bottom: 3.313rem;
    //margin-top: $spacing-11;

    @include breakpoints.devicebreak(medium) {
      //margin-top: 4.6rem;
    }

    @include breakpoints.devicebreak(xlarge) {
      margin-bottom: 4.688rem;
      //margin-top: 7.4rem;
    }

    .breadcrumb {
      margin-top: 1.063rem;

      @include breakpoints.devicebreak(large) {
        margin-top: 4.563rem;
      }
    }
  }

  &-block {
    margin-top: 2.563rem;
    scroll-behavior: auto;

    @include breakpoints.devicebreak(large) {
      margin-top: 3.625rem;
    }
  }

  .download-card {
    margin-bottom: variables.$spacing-08;
  }

  &-menu {
    margin-top: variables.$spacing-50;

    @include breakpoints.devicebreak(large) {
      margin-top: variables.$spacing-11;
    }

    h6 {
      margin-top: variables.$spacing-04;

      @include breakpoints.devicebreak(large) {
        margin-top: variables.$spacing-05;
      }
    }

    .menu-item {
      margin-top: variables.$spacing-01;

      @include breakpoints.devicebreak(large) {
        margin-top: 0;
      }
    }

    .menu {
      li {
        margin-right: variables.$font-size-20;
        margin-top: 0.375rem;

        a {
          @extend %animate-link;

          font-size: variables.$spacing-05;
          text-transform: none;
        }
      }
    }
  }
}

.sticky {
  position: relative;
  z-index: 1;

  @include breakpoints.devicebreak(small) {
    display: flex;
    justify-content: center;
  }

  @include breakpoints.devicebreak(mediumonlytab) {
    text-align: center;
  }
}

.title {
  &-mobile {
    display: block;

    @include breakpoints.devicebreak(large) {
      display: none;
    }

    h2 {
      margin-bottom: variables.$spacing-06;
    }
  }
}

[dir='rtl'] {
  .related-publication {
    .large-offset-6 {
      @include breakpoints.devicebreak(large) {
        margin-left: 0;
        margin-right: calc(50% + #{variables.$spacing-05} / 2);
      }
    }

    .grid-x.grid-margin-x {
      @include breakpoints.devicebreak(small) {
        padding: 0 0 variables.$spacing-04 variables.$spacing-04;
      }
    }
  }

  .publication-page {
    .large-offset-1 {
      @include breakpoints.devicebreak(large) {
        margin-left: 0;
        margin-right: calc(8.33333% + #{variables.$spacing-06}/ 2);
      }
    }

    .menu {
      li {
        margin-left: variables.$font-size-20;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.publication-post-header {
  margin-top: 1.813rem;

  @include breakpoints.devicebreak(large) {
    margin-top: variables.$spacing-11;
  }
}