@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

.border-top-2 {
  border-top: 2px solid #000;
}

.related-publication .cell.medium-4 {
  width: 45%;

  @include devicebreak(small) {
    width: 100%;
  }
}

.related-publication .contentcard {
  border: none;
}

// margin styles
.margin-top {
  &-24 {
    margin-top: $spacing-24;
  }

  &-40 {
    margin-top: $spacing-40;
  }

  &-48 {
    margin-top: $spacing-48;
  }

  &-64 {
    margin-top: $spacing-64;
  }

  &-72 {
    margin-top: 4.5rem;
  }

  &-80 {
    margin-top: $spacing-80;
  }
  &-136 {
    margin-top: $spacing-136;
  }
}

.margin-bottom {
  &-24 {
    margin-bottom: $spacing-24;
  }

  &-40 {
    margin-bottom: $spacing-40;
  }

  &-48 {
    margin-bottom: $spacing-48;
  }

  &-64 {
    margin-bottom: $spacing-64;
  }

  &-72 {
    margin-bottom: 4.5rem;
  }

  &-80 {
    margin-bottom: $spacing-80;
  }
  &-136 {
    margin-bottom: $spacing-136;
  }
}

.content-bottom {
  margin-bottom: $spacing-96;

  @include devicebreak(small) {
    margin-bottom: $spacing-48;
  }
}
// margin styles end here

//Sticky publication card
.sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;

  @include devicebreak(small) {
    position: static;
  }
}
//Sticky publication card end

//align text
.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}
//align text end 
