@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/typography";

// * Slidebar start *//
.Sidebar_item {
	@extend %border-bottom;
	position: relative;
	padding: 16px;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include devicebreak(small) {
		padding: 24px;
	}
	&:hover {
		background-color: $color-gray-200;
	}
	&.open {
		.arrow {
			transform: rotateZ(180deg);
			transition: all 0.1s ease;
		}
	}
	h6 {
		margin-bottom: 0;
	}
	&--Selected {
		background-color: $color-blue-600;
		h6 {
			color: $color-white;
		}
		&:hover {
			background-color: $color-blue-600;
		}
	}
}
// * Slidebar end *//
