@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/breakpoints';

.chips {
  background: $color-gray-200;
  border: none;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: $spacing-04 $spacing-16;

  &:hover {
    background-color: $color-gray-300;
  }

  &.chips__cross {
    &::before {
      background: url(#{$img-path-Icon}/Timesred.svg) no-repeat left;
      content: '';
      display: inline-flex;
      height: 20px;
      margin-right: 0.625rem;
      position: relative;
      top: 5px;
      width: 13px;

      @include devicebreak(medium) {
        top: 3px;
      }
    }
  }
}

[dir='rtl'] {
  .chips__cross::before {
    margin-left: 0.625rem;
    margin-right: 0;
  }
}
