html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    font-family: $primary-font;
}

ul {
    list-style: none;
}

a {
    &:hover,
    &:active,
    &:focus,
    &:visited {
        outline: none;
        color: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

button{
    outline: none;
}

.uppercase {
    text-transform: uppercase;
}
