html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: $primary-font;
}

body {
    line-height: 1.2;
    font-family: $primary-font;

    &.modal-open {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;

        @include breakpoint(medium down) {
            position: fixed;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
    margin-bottom: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.height-full {
    height: 100%;
}

.overlfow-hidden {
    overflow: hidden;
}
