.breadcrumb {
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.23;
    font-weight: $bold;
    text-transform: uppercase;

    .breadcrumb-item {
        display: inline;

        &:not(:last-child) {
            &:after {
                content: "/";
                margin: 0 8px;
                display: inline;
            }
        }
    }
}