/* ProximaNova */
@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-light-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-light-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-lightit-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-lightit-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Light.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-regular-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-regularit-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-regularit-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-semibold-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-semibold-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-semiboldit-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-semiboldit-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-bold-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('#{$font-path}proximanova-boldit-webfont.woff2') format('woff2'),
         url('#{$font-path}proximanova-boldit-webfont.woff') format('woff'),
         url('#{$font-path}ProximaNova-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* SohneBreit */
@font-face {
    font-family: 'SohneBreit';
    src: url('#{$font-path}soehne-breit-web-dreiviertelfett.woff2') format('woff2'),
         url('#{$font-path}soehne-breit-web-dreiviertelfett.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SohneBreit';
    src: url('#{$font-path}soehne-breit-web-dreiviertelfett-kursiv.woff2') format('woff2'),
         url('#{$font-path}soehne-breit-web-dreiviertelfett-kursiv.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SohneBreit';
    src: url('#{$font-path}soehne-breit-web-fett.woff2') format('woff2'),
         url('#{$font-path}soehne-breit-web-fett.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SohneBreit';
    src: url('#{$font-path}soehne-breit-web-fett-kursiv.woff2') format('woff2'),
         url('#{$font-path}soehne-breit-web-fett-kursiv.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
