.custom-input {
    outline: none;
    display: flex;
    max-height: 52px;
    font-size: 1.4rem;
    padding: 15px 25px;
    align-items: center;
    color: $dark-blue-13;
    border: 2px solid $black;

    &.dark {
        color: $dark-blue-15;
        border-color: $white;

        &.active {
            border-color: $dark-blue-4;
        }

        &:disabled, .disabled {
            cursor: not-allowed;
            color: $dark-blue-15;
            border-color: $dark-blue-2;

            ~ label,
            &::placeholder {
                color: $dark-blue-15;
            }
        }

        input {
            color: $dark-blue-15;
        }
    }

    &:focus, &:focus-within {
        border-color: $dark-blue-13;

        &::placeholder {
            color: transparent;
        }
    }

    &.error {
        color: $red-1;
        caret-color: $red-1;
        border-color: $red-1;

        ~ label,
        &::placeholder {
            color: inherit;
        }
    }

    &:disabled, &.disabled {
        color: $dark-blue-4;
        cursor: not-allowed;
        border-color: $dark-blue-4;
        background-color: transparent;

        &::placeholder {
            color: $dark-blue-4;
        }
    }

    &.full-width {
        width: 100%;
    }

    input {
        border: none;
        margin-left: 6px;
        caret-color: $dark-blue-12;
        background-color: transparent;
    }
}


ul.input-errors {
    padding: 0;
    color: $red-1;
    margin-top: 10px;
    list-style: none;
    font-size: 1.4rem;
    position: relative;
    line-height: 1.7rem;

    li:before {
        content: '*';
        margin-right: 5px;
    }
}


.input-wrapper {
    flex: 1 auto;
    margin: 0 12px;

    &:not(:first-of-type) {
        @include breakpoint(small only) {
            margin-top: 15px;
        }
    }

    .custom-input {
        width: 100%;
    }

    label {
        bottom: 11px;
        font-size: 1.4rem;
        position: relative;
        line-height: 1.7rem;

        &.required:after {
            content: '*';
            color: $red-1;
            margin-left: 5px;
        }
    }
}


.input-group {
    display: flex;
    margin: 26px -12px 0;

    @include breakpoint(small only) {
        margin-top: 15px;
        flex-direction: column;
    }

    &:first-of-type {
        margin-top: 14px;

        @include breakpoint(small only) {
            margin-top: 40px;
        }
    }

    > .custom-input {
        @extend .input-wrapper;
    }
}
