
@mixin accent-color-background() {
    background-color: $yellow;

    // Default color, kept class for clarity
    // Two ways of adding accent color:
    // 1. Globally on an upper container (all up to the body)
    // 2. Directly on the card
    // Directly on the card overrides global color
    .accent-yellow &, &.accent-yellow {
        background-color: $yellow;
    }

    .accent-green &, &.accent-green{
        background-color: $green;
    }

    .accent-red &, &.accent-red{
        background-color: $red;
    }

    .accent-blue &, &.accent-blue{
        background-color: $blue-accent;
    }
}


@mixin accent-color-background-hover() {
    // Don't trigger hover on tap on iOS
    @media (hover: hover) and (pointer: fine), (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:hover {
            background-color: $yellow;

            .accent-yellow &, &.accent-yellow {
                background-color: $yellow;
            }

            .accent-green &, &.accent-green {
                background-color: $green;
            }

            .accent-red &, &.accent-red {
                background-color: $red;
            }

            .accent-blue &, &.accent-blue {
                background-color: $blue-accent;
            }
        }
    }
}


@mixin accent-color-background-2-hover() {
    // Don't trigger hover on tap on iOS
    @media (hover: hover) and (pointer: fine), (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:hover {
            background-color: $yellow-2;

            .accent-yellow &, &.accent-yellow {
                background-color: $yellow-2;
            }

            .accent-green &, &.accent-green {
                background-color: $green-2;
            }

            .accent-red &, &.accent-red {
                background-color: $red-2;
            }

            .accent-blue &, &.accent-blue {
                background-color: $blue-accent-2;
            }
        }
    }
}


@mixin accent-color-background-2() {
    background-color: $yellow-2;

    // Default color, kept class for clarity
    // Two ways of adding accent color:
    // 1. Globally on an upper container (all up to the body)
    // 2. Directly on the card
    // Directly on the card overrides global color
    .accent-yellow &, &.accent-yellow {
        background-color: $yellow-2;
    }

    .accent-green &, &.accent-green{
        background-color: $green-2;
    }

    .accent-red &, &.accent-red{
        background-color: $red-2;
    }

    .accent-blue &, &.accent-blue{
        background-color: $blue-accent-2;
    }
}


@mixin hover-animate-arrow-2() {
    @media (hover: hover) and (pointer: fine), (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:hover {
            .text-link {
                color: $black;
            }

            .link-arrow-group {
                transform: translateX(0);

                [dir=rtl] & {
                    transform: rotate(180deg) translateX(0);
                }

                .arrow-line {
                    display: unset;
                }

                .arrow-point {
                    transform: translateX(31px);
                }
            }
        }
    }
}


@mixin rtl-navigation() {
    direction: rtl !important;

    .nav-wrapper {
        .middle-menu {
            li:not(:last-child) {
                margin-right: 0;
                margin-left: 75px;

                @include breakpoint(large down) {
                    margin-left: 0;
                }
            }
        }

        .right-menu {
            .nav-item {
                margin-right: 0;
                margin-left: 22px;

                @include breakpoint(large down) {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                    margin-left: 38px;

                    @include breakpoint(large down) {
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .dropdown {
        .dropdown-btn {
            svg {
                margin: 0 0 0 10px;

                &:last-child {
                    margin: 0 10px 0 0;
                }
            }
        }

        .dropdown-content {
            text-align: right;
            padding: 30px 12px 35px 30px;
        }
    }
}
