.heading {

    &.h1 {
        font-size: 12rem;
        line-height: 1.09;
        letter-spacing: 12px;
        font-weight: $extra-bold;
        font-family: $secondary-font;

        @include breakpoint(medium down) {

        }
    }

    &.h2 {
        font-size: 5.5rem;
        line-height: 1.09;
        font-weight: $bold;

        @include breakpoint(medium down) {

        }
    }

    &.h3 {
        font-size: 3.5rem;
        line-height: 1.14;
        font-weight: $semi-bold;

        @include breakpoint(medium down) {

        }
    }

    &.h4 {
        font-size: 3.5rem;
        line-height: 1.14;
        font-weight: $regular;

        @include breakpoint(medium down) {

        }
    }

    &.h5 {
        line-height: 1.2;
        font-size: 2.5rem;
        font-weight: $regular;

        @include breakpoint(medium down) {

        }
    }

}

.number {
    font-size: 11rem;
    line-height: 1.08;
    font-weight: $bold;
    letter-spacing: 2.2px;
    font-family: $secondary-font;
}

.paragraph {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: $regular;

    &.small {
        font-size: 1.6rem;
        line-height: 1.25;
    }
}

.link {
    line-height: 1.12;
    font-size: 1.6rem;
    font-weight: $bold;
}

.menu-item {
    font-size: 1.4rem;
    line-height: 1.14;
    font-weight: $semi-bold;
}

.tag {
    font-size: 1.2rem;
    line-height: 1.33;
    font-weight: $bold;
}
