// Font Path
$font-path: '/assets/fonts/';
$image-path: '/assets/images/';

// Colors - secondary
$red: #D12800;
$blue: #00C1FF;
$white: #FFFFFF;
$green: #51EB30;
$black: #000000;
$yellow: #FFEB00;

// Colors - primary  - SDGs
$red-1: #9C1C12;
$red-2: #C82E1E;
$red-3: #EE402D;
$red-4: #FF7265;
$red-5: #FFA49D;
$red-6: #FFBCB7;
$red-7: #FFD1CE;
$blue-0: #006EB5;
$blue-1: #1F5A95;
$blue-2: #0265B5;
$blue-3: #3288CE;
$blue-4: #4F95DD;
$blue-5: #6BABEB;
$blue-6: #94C4F5;
$blue-7: #B5D5F5;
$green-1: #3F905B;
$green-2: #44A84F;
$green-3: #59BA47;
$green-4: #7ACE68;
$green-5: #99DF8E;
$green-6: #B8ECB6;
$green-7: #D9F6DC;
$yellow-1: #C4AB59;
$yellow-2: #D5B54F;
$yellow-3: #E6C042;
$yellow-4: #FBC412;
$yellow-5: #FDD553;
$yellow-6: #FFE17E;
$yellow-7: #FFEBAA;
$dark-blue-1: #232E3E;
$dark-blue-2: #55606F;
$dark-blue-3: #A9B1B7;
$dark-blue-4: #D4D6D8;
$dark-blue-5: #EDEFF0;
$dark-blue-6: #F7F7F7;
$dark-blue-7: #FAFAFA;
$dark-blue-8: #E6E6E6;
$dark-blue-9: #D8DADB;
$dark-blue-10: #9B9B9B;
$dark-blue-11: #E3E3E3;
$dark-blue-12: #707070;
$dark-blue-13: #454747;
$dark-blue-14: #656E7B;
$dark-blue-15: #EAEAEA;
$dark-blue-16: #CEC7C7;
$dark-blue-17: #4B5564;
$light-blue-1: #369BBE;
$light-blue-2: #31AFD4;
$light-blue-3: #29BFE6;
$light-blue-4: #4AC3EA;
$light-blue-5: #78CEEE;
$light-blue-6: #A2DAF3;
$light-blue-7: #B4E0F5;

// Fonts
$bold: 700;
$light: 300;
$medium: 500;
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;
$primary-font: 'ProximaNova', sans-serif;
$secondary-font: 'SohneBreitTest', sans-serif;

// global margin and padding
$height-nav: 105px;
$height-nav-medium: 70px;

// Z Index
$z-index-0: 0;
$z-index-1: 5;
$z-index-2: 10;
$z-index-3: 15;
$z-index-4: 20;
$z-index-5: 25;
$z-index-nav: 100;
$z-index-modal: 99;

// Transitions
$transition-expertise-image: all 0.5s ease-in-out;
$transition-tertiary: all 1200ms cubic-bezier(.34,.41,.03,1);
$transition-primary: all .4s cubic-bezier(0.64, 0.05, 0.35, 1.05);
$transition-secondary: transform 0.2s cubic-bezier(0.4, 0.22, 0.28, 1);
