// Font Path
$font-path: '/fonts/';

// Colors
$black: #000000;
$white: #FFFFFF;

// Fonts
$bold: 700;
$light: 300;
$medium: 500;
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;
$primary-font: 'Montserrat', sans-serif;
