// Font Path
$font-path: '/assets/fonts/';

// Colors
$black: #000000;
$white: #FFFFFF;

// Fonts
$bold: 700;
$light: 300;
$medium: 500;
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;
$primary-font: 'ProximaNova', sans-serif;
$secondary-font: 'SohneBreitTest', sans-serif;
