/* frosted-overlay start */
.frosted-overlay {
  position: relative;

  &::before {
    backdrop-filter: blur(18px);
    background: rgba(247, 247, 247, 0.8);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

  img {
    display: block;
    object-fit: cover;
  }
}

/* frosted-overlay end */
