@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';


/* frosted-background start */
.frosted-background {
  position: relative;

  &::before {
    background: rgba(247, 247, 247, 0.8);

    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9;
  }

  img {
    display: block;
    object-fit: cover;
    opacity: 0.5;
  }
}

// If backdrop filter (blur) is supported, than apply the blurring effects.
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .frosted-background {  
    &::before {
      @extend %frosted-bg;
    }
    img {
      opacity: 1 !important;
    }
  } 
}
/* frosted-backfround end */
