.country-page-content-cards {
    margin-top: 40px;
    margin-bottom: 40px;

    .cta-container {
        margin-top: 62px;

        @include breakpoint(small only) {
            padding: 0;
        }
    }

    .card-item {
        margin-bottom: 30px;
    }
}
