.recent-news,
.featured-stories{
    margin-bottom: 25px;

    section{
        height: 100%;
    }

    .title-container{
        @include breakpoint(large up){
            display: flex;
        }

        .section-title{
            margin-top: 40px;

            @include breakpoint(medium down){
                margin-top: 20px;
            }

            @include breakpoint(small only){
                margin: 105px 0 85px;
            }
        }
    }

    .cell {
        margin-top: 25px;

        @include breakpoint(large down){
            margin-top: 15px;
        }
    }
}

.article-deepdive {

    .featured-stories {
        margin-top: 85px;
        margin-bottom: 0;
    }

}

.recent-news .title-container .section-title{
    @include breakpoint(small only){
        margin: 60px 0 50px;
    }
}
