.news-centre-cards {
    margin-top: 60px;
    padding-bottom: 90px;

    > .grid-container {
        position: relative;
    }

    .cards-container {
        min-height: 400px;

        @include breakpoint(medium up) {
            padding-left: 25px;
        }

        @include breakpoint(small only) {
            margin-top: 60px;
        }

        .card-item {
            margin-bottom: 30px;
        }

        .single-content-card-body,
        .single-content-card-image,
        .single-content-card-accent-color {
            margin: 0 auto;
        }
    }

    .btn {
        margin-top: 55px;

        @include breakpoint(small only) {
            width: 100%;
            justify-content: center;
        }
    }

    .select-box {
        &:not(:first-of-type) {
            margin-top: 14px;
        }
    }

    .active-filters {
        padding: 18px 25px;
        position: relative;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint(small only) {
            padding: 27px 30px;
        }

        .tag.uppercase {
            color: $gray-chateau;
        }

        .tags-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include breakpoint(small only) {
                flex-wrap: wrap;
                margin-top: 9px;
                margin-left: -11px;
                flex-direction: row;
            }
        }

        .filter {
            color: $black;
            padding: 10px;
            margin-top: 8px;
            font-size: 1.4rem;
            border-radius: 17px;
            background-color: rgba($dark-blue-19, 0.36);

            @include breakpoint(small only) {
                margin-top: 6px;
                margin-left: 11px;
            }

            &:before {
                margin-right: 5px;
                content: url("#{$image-path}/icon-close-modal-location.svg");
            }

            &:first-of-type {
                margin-top: 15px;

                @include breakpoint(small only) {
                    margin-top: 6px;
                }
            }
        }

        .filter-clear {
            margin-top: 15px;
            margin-left: 13px;
            border-bottom: 1px solid $red;

            @include breakpoint(small only) {
                top: 27px;
                margin: 0;
                right: 30px;
                position: absolute;
            }
        }
    }
}
