.news-centre-cards {
    margin-top: 60px;
    padding-bottom: 90px;

    > .grid-container {
        position: relative;
    }

    .cards-container {
        @include breakpoint(medium up) {
            padding-left: 25px;
        }

        @include breakpoint(small only) {
            margin-top: 60px;
        }

        .card-item {
            margin-bottom: 30px;
        }

        .single-content-card-body,
        .single-content-card-image,
        .single-content-card-accent-color {
            margin: 0 auto;
        }
    }

    .btn {
        margin-top: 55px;

        @include breakpoint(small only) {
            width: 100%;
            justify-content: center;
        }
    }

    .select-box {
        &:not(:first-of-type) {
            margin-top: 14px;
        }
    }

    .select-control {
        outline: none;
    }

    .active-filters {
        padding: 18px 25px;
        flex-direction: column;
        align-items: flex-start;

        .tag.uppercase {
            color: $gray-chateau;
        }

        .filter {
            color: $black;
            padding: 10px;
            margin-top: 8px;
            font-size: 1.4rem;
            border-radius: 17px;
            background-color: rgba($dark-blue-19, 0.36);

            &:before {
                margin-right: 5px;
                content: url("#{$image-path}/icon-close-modal-location.svg");
            }

            &:first-of-type {
                margin-top: 15px;
            }
        }

        .filter-clear {
            margin-top: 15px;
            margin-left: 13px;
            border-bottom: 1px solid $red;
        }
    }

    .scroll-up {
        width: 44px;
        height: 44px;
        display: flex;
        cursor: pointer;
        margin: auto 0 0;
        border-radius: 50%;
        align-items: center;
        background: $blue-0;
        justify-content: center;
        transition: all 250ms ease-in-out;

        @include breakpoint(medium down) {
            bottom: -66px;
            position: absolute;
        }

        &.sticky {
            margin: 0;
            bottom: 22.5px;
            position: fixed;
        }

        svg {
            transform: rotate(-90deg);
        }
    }
}
