.photo-cta-cards {
    margin-top: 150px;
    margin-bottom: 70px;

    @include breakpoint(small only) {
        margin-top: 117px;
    }

    .cards-content {
        margin-top: 40px;

        @include breakpoint(small only) {
            margin-top: 60px;

            > *:not(:first-child) {
                margin-top: 35px;
            }
        }

        .card-item {
            @include breakpoint(small only) {
                padding: 0;
            }
        }
    }

    .cards-title {
        justify-content: center;

        @include breakpoint(small only) {
            justify-content: flex-start;
        }
    }
}
