@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';
@use '../../../assets/scss/mixins';

/* Modal lightbox card start */
.modal {
  @extend %frosted-bg;

  @include mixins.transition(all 0.4s ease-in-out);

  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 99;

  @include breakpoints.devicebreak(medium) {
    align-items: center;
  }

  &-content {
    @extend %custom-scrollbar;

    background: var(--undpds-color-white);
    max-width: 64rem;
    padding: var(--undpds-spacing-10) var(--undpds-spacing-04) var(--undpds-spacing-04);
    position: relative;
    width: 100%;

    @include breakpoints.devicebreak(medium) {
      margin-inline: var(--undpds-spacing-11);
      max-height: calc(100vh - 291px);
      padding: var(--undpds-spacing-10);
    }
  }

  &-close-button {
    background: url(~icons/times-circle.svg) no-repeat left center;
    border: 0;
    cursor: pointer;
    font-size: 0;
    height: 45px;
    position: absolute;
    right: var(--undpds-spacing-04);
    top: var(--undpds-spacing-04);
    width: 45px;

    @include breakpoints.devicebreak(medium) {
      right: var(--undpds-spacing-05);
      top: var(--undpds-spacing-05);
    }

    &:hover {
      @extend %no-animation;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

[dir='rtl'] {
  .modal-close-button {
    left: 16px;
    right: unset;
  }
}

//burmese lang
:lang(my) {
  .modal {
    &-close-button {
      font-size: 0;
    }
  }
}

/* Modal lightbox card end */
