@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

/* Modal lightbox card start */
.modal {
  @include transition(all 0.4s ease-in-out);

  @extend %frosted-bg;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  @include devicebreak(medium) {
    align-items: center;
  }

  &-content {
    background: $color-white;
    max-width: 837px;
    padding: $spacing-64 $spacing-12 $spacing-12;
    position: relative;
    width: 100%;

    @include devicebreak(medium) {
      height: calc(100vh - 158px);
      padding: $spacing-64 $spacing-64 $spacing-32;
    }
  }

  &-close-button {
    background: url(#{$img-path-Icon}/Times_circle.svg) no-repeat left center;
    cursor: pointer;
    font-size: 0;
    height: 45px;
    position: absolute;
    right: 16px;
    top: 10px;
    width: 45px;
    border: 0;

    &:hover {
      @extend %no-animation;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

[dir='rtl'] {
  .modal-close-button {
    left: 16px;
    right: unset;
  }
}

//burmese lang
:lang(my) {
  .modal {
    &-close-button {
      font-size: 0;
    }
  }
}
/* Modal lightbox card end */
