@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

/* Modal lightbox card start */
.modal {
  background: $color-white;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 99;

  @include devicebreak(medium) {
    align-items: center;
    background: rgba(247, 247, 247, 0.8);
  }

  &-content {
    background: $color-white;
    max-width: 837px;
    overflow-y: auto;
    padding: $spacing-64 $spacing-12 $spacing-12;
    position: relative;
    width: 100%;

    @include devicebreak(medium) {
      height: calc(100vh - 158px);
      padding: $spacing-64 $spacing-64 $spacing-32;
    }
  }

  &-close-button {
    background: url(#{$img-path-Icon}/Times_circle.svg) no-repeat left center;
    cursor: pointer;
    font-size: 0;
    height: 45px;
    position: absolute;
    right: 16px;
    top: 10px;
    width: 45px;

    &:hover {
      @extend %no-animation;
    }
  }
}

[dir='rtl'] {
  .modal-close-button {
    left: 16px;
    right: unset;
  }
}

/* Modal lightbox card end */
