@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.parallax-card {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  &--link {
    @extend %img_none;

    border-bottom: none;
    display: block;
  }

  &--link,
  .cta__link {
    @extend %img_none;
  }

  h3 {
    margin-bottom: $spacing-24;
  }

  p {
    border-bottom: solid 2px $color-black;
    font-size: $font-size-16;
    line-height: 1.3;
    margin-bottom: 1.625rem;
    margin-left: -1.875rem;
    padding-bottom: 1.563rem;
    padding-left: 1.875rem;
    padding-right: $spacing-12;
  }

  &--right {
    flex-direction: row-reverse;

    p {
      margin-left: -0.75rem;
      margin-right: -1.875rem;
      padding-left: $spacing-12;
      padding-right: 1.875rem;
    }
  }
}

[dir='rtl'] {
  .parallax-card {
    p {
      margin-right: -1.875rem;
      padding-left: $spacing-12;
      padding-right: 1.875rem;
    }

    &--right {
      p {
        margin-left: -1.875rem;
        margin-right: -0.75rem;
        padding-left: 1.875rem;
        padding-right: $spacing-12;
      }
    }
  }
}
