@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';

/* parallax card start */
.parallax-card {
  align-items: center;

  &__content {
    > a {
      @extend %img_none;
      @extend %img_none;

      display: block;

      @include devicebreak(small) {
        padding: $spacing-24 0 0 $spacing-24;
      }

      @include devicebreak(medium) {
        padding-right: $spacing-12;
      }

      &:hover {
        .cta__link::after {
          @include translate(70%,0);
        }
      }
    }
  }

  &__image {
    img {
      @extend %img-cover;

      display: block;

      @include devicebreak(small) {
        height: 17.875rem;
      }
    }
  }

  .cta__link {
    @extend %img_none;

    @include devicebreak(medium) {
      padding-left: $spacing-24;
    }
  }

  h3 {
    margin-bottom: $spacing-24;

    @include devicebreak(medium) {
      padding-left: $spacing-24;
    }
  }

  p {
    font-size: $font-size-16;
    line-height: 1.4;
    margin-bottom: $spacing-24;
    padding-bottom: $spacing-24;

    @include devicebreak(medium) {
      border-bottom: solid 2px $color-black;
      padding: 0 0 $spacing-24 $spacing-24;
    }
  }

  &.text-left {
    .parallax-card__content {
      order: -1;

      @include devicebreak(medium) {
        > a {
          padding-left: $spacing-12;
          padding-right: 0;
        }

        .cta__link {
          padding-left: 0;
          padding-right: $spacing-24;
        }

        h3 {
          padding-left: 0;
          padding-right: $spacing-24;
        }

        p {
          padding: 0 $spacing-24 $spacing-24 0;
        }
      }
    }
  }

  &.image-right {
    @include devicebreak(medium) {
      flex-direction: row-reverse;

      .cta__link {
        padding-left: 0;
        padding-right: $spacing-24;
      }

      h3 {
        padding-left: 0;
        padding-right: $spacing-24;
      }

      p {
        padding: 0 $spacing-24 $spacing-24 0;
      }

      .parallax-card__content > a {
        padding-left: $spacing-12;
        padding-right: 0;
      }

      &.text-left {
        .parallax-card__content {
          > a {
            padding-left: 0;
            padding-right: $spacing-12;
          }

          .cta__link {
            padding-left: $spacing-24;
            padding-right: 0;
          }

          h3 {
            padding-left: $spacing-24;
            padding-right: 0;
          }

          p {
            padding: 0 0 $spacing-24 $spacing-24;
          }
        }
      }
    }
  }
}

[dir='rtl'] {
  .parallax-card {
    @include devicebreak(medium) {
      h3 {
        padding-left: 0;
        padding-right: $spacing-24;
      }

      p {
        padding: 0 $spacing-24 $spacing-24 0;
      }

      .cta__link {
        padding-right: $spacing-24;
      }

      &.image-right,
      &.text-left {
        .cta__link {
          padding-left: $spacing-24;
          padding-right: 0;
        }

        h3 {
          padding-left: $spacing-24;
          padding-right: 0;
        }

        p {
          padding: 0 0 $spacing-24 $spacing-24;
        }

        .parallax-card__content > a {
          padding-left: 0;
          padding-right: $spacing-12;
        }
      }
    }

    &__content {
      > a {
        @include devicebreak(medium) {
          padding-left: $spacing-12;
          padding-right: 0;
        }

        @include devicebreak(small) {
          padding: $spacing-24 $spacing-24 0 0;
        }

        &:hover {
          .cta__link::after {
            @include transform(translate(-50%,0) rotate(180deg));
          }
        }
      }
    }
  }
}

/* parallax card end */
