@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* scrollbar layout start */
.scrollbar-horizontal-wrapper {
  float: left;
  line-height: normal;
  max-width: $width-600;
  width: 100%;

  @supports (scrollbar-width: thin) {
    box-shadow: inset 0px -4px 0px 0px rgb(255, 255, 255, 1), inset 0px -5px 0px 0px rgb(0, 0, 0, 1);
  }
}

.scrollbar-data {
  visibility: hidden;
  width: 1000px;
}

.scrollbar-vertical-wrapper {
  height: 70vh;
  width: 65px;
  position: relative;

  @supports (scrollbar-width: thin) {
    box-shadow: inset -4px 0px 0px 0px rgb(255, 255, 255, 1), inset -5px 0px 0px 0px rgb(0, 0, 0, 1);
  }
}

.scrollbar-data__vertical {
  min-height: 100vh;
}

[dir='rtl'] {

  .scrollbar-horizontal-wrapper,
  .scrollbar-vertical-wrapper {
    float: right;
  }
}

/* scrollbar layout end */