@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';

.global-header {
  @extend %header;

  @include devicebreak(mediumonlytab) {
    height: 4.6875rem;
  }
  @include devicebreak(xlarge) {
    .fluid{
      margin:0 $spacing-70;
    }
  }

  .top-left {
    @include devicebreak(mediumonlytab) {
      .dropdown-language {
        display: none;
      }
      display: flex;
    }

    .dropdown-language {
      margin-left: $spacing-12;
    }

    @extend %menu-icon;
    
  }

  .mid-nav {
    display: flex;
    justify-content: center;

    nav{
      &:first-child{
        .menu{
          justify-content: flex-end;
          padding-left: 0;
          padding-right: 6.9375rem;
        }
      }
    }
    .menu {
      align-items: center;
      display: flex;
      height: 7.1875rem;
      padding-left: 6.9375rem;

      @include devicebreak(mediumonlytab) {
        display: none;
      }

      li {
        margin: $spacing-12 0 $spacing-12 4.4375rem;

        &:first-child {
          margin-left: 0;
        }
      }

      &:last-child {
        li {
          margin: $spacing-12 4.4375rem $spacing-12 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .logo {
      @extend %img_none;

      @include devicebreak(xlarge) {
        @include transform(translateX(-50%));

        left: 50%;
        position: fixed;
        z-index: 9;
      }

      @include devicebreak(mediumonlytab) {
        height: 4.6875rem;
        margin: 0;
      }

      img {
        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
        } 
        @extend %logo;
      }
    }
  }

  .align-content-middle {
    align-items: center;
    position: relative;
  }

  .top-right {
    display: flex;
    justify-content: flex-end;

    @include devicebreak(mediumonlytab) {
      .icon-globe {
        display: none;
      }
    }

    .icon-search {
      margin-left: $spacing-16;
      margin-right: $spacing-12;
    }
  }
}

[dir='rtl'] {
  .global-header {
    .mid-nav {
      nav:last-child{
        .menu{
          justify-content: flex-start;
          padding-left: 0;
          padding-right: 6.9375rem;
        }
      }
      .menu {

        li {
          margin: $spacing-12 4.4375rem $spacing-12 0;

          &:first-child {
            margin-right: 0;
          }

          &:last-child {
            margin-right: 4.4375rem;
          }
        }

        &:first-child {
          padding-left: 6.9375rem;
          padding-right: 0;

          li {
            margin: $spacing-12 0 $spacing-12 4.4375rem;

            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }

    .top-right {
      .icon-globe {
        margin-left: 0;
        margin-right: 1.75rem;
      }

      .icon-search {
        margin-left: $spacing-16;
      }
    }

    .top-left {
      .dropdown-language {
        margin-left: 0;
        margin-right: $spacing-12;
      }

      .icon-bar {
        margin-right: $spacing-12;
      }
    }
  }
}
