@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';

.global-header {
  .header{
    @extend %header;

    @include devicebreak(mediumonlytab) {
      height: 4.6875rem;
    }

    @include devicebreak(xlarge) {
      .fluid {
        margin: 0 $spacing-70;
      }
    }

    .top-left {
      @include devicebreak(mediumonlytab) {
        display: flex;

        .dropdown-language {
          display: none;
        }
      }

      .dropdown-language {
        margin-left: $spacing-12;
      }
    }

    .mid-nav {
      display: flex;
      justify-content: center;
      position: relative;
      @include devicebreak(xlarge) {
        height: 7.1875rem;
      }
      nav{
        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
        }
      }
      ul {
        position: absolute;
        left: 50%;
        width: 50%;    
        top: 50%;
        @include transform(translateY(-50%));
        padding-left: 4.375rem;
        display: flex;
        height: 100%;
        align-items: center;
        z-index: 9;

        &:first-child{
          right: 50%;
          left: inherit;
          justify-content: right;
          padding-right: 4.375rem;
          padding-left: 0;
        }

        @include devicebreak(mediumonlytab) {
          display: none;
        }
        li{
          margin: 0 2.1875rem;
        }
      }

      .logo {
        position: relative;
        z-index: 1;
        @extend %img_none;

        @include devicebreak(xlarge) {
          @include transform(translateX(-50%));

          left: 50%;
          position: fixed;
          z-index: 9;
        }

        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
          margin: 0;
        }

        img {
          @extend %logo;
        }
      }
    }

    .align-content-middle {
      align-items: center;
      position: relative;
    }

    .top-right {
      display: flex;
      justify-content: flex-end;

      @include devicebreak(mediumonlytab) {
        .icon-globe {
          display: none;
        }
      }

      .icon-globe {
        @extend %header-icon;
        @include devicebreak(mediumonlytab) {
          display: none;
        }
      }

      .icon-search {
        @extend %header-icon;
        margin-left: $spacing-16;
        margin-right: $spacing-12;
      }
    }
  }
}

[dir='rtl'] {
  .global-header {
    .mid-nav {
      ul {
        left: inherit;
        right:50%;
        padding-right: 4.375rem;
        padding-left: 0;

        li{
          padding-right: 0;
        }

        &:first-child {
          padding-left: 4.375rem;
          padding-right: 0;
          right: inherit;
          left:50%;
          justify-content: left;
        }
      }
    }

    .top-right {
      .icon-globe {
        margin-left: 0;
        margin-right: 1.75rem;
      }

      .icon-search {
        margin-left: $spacing-16;
      }
    }

    .top-left {
      .dropdown-language {
        margin-left: 0;
        margin-right: $spacing-12;
      }

      .icon-bar {
        margin-right: $spacing-12;
      }
    }
  }
}
