@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/base';

.global-header {
  .header {
    @extend %header;

    @include devicebreak(mediumonlytab) {
      height: 4.6875rem;
    }

    @include devicebreak(xlarge) {
      .fluid {
        margin: 0 $spacing-70;
      }
    }

    .top-left {
      margin-bottom: 7px;
      @include devicebreak(xlarge) {
        margin-bottom: 0;
      }

      @include devicebreak(mediumonlytab) {
        margin-bottom: 0;
        display: flex;

        .dropdown-language {
          display: none;
        }
      }

      .dropdown-language {
        margin-left: $spacing-04;
      }
    }

    .mid-nav {
      display: flex;
      justify-content: center;
      position: relative;

      @include devicebreak(xlarge) {
        height: 7.1875rem;
      }

      nav {
        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
        }
      }

      ul {
        @include transform(translateY(-50%));

        align-items: stretch;
        display: flex;
        height: 100%;
        left: 50%;
        padding-left: 3.375rem;
        position: absolute;
        top: 50%;
        width: 50%;
        z-index: 9;

        @include devicebreak(xlarge) {
          padding-left: 4.375rem;
        }

        @include devicebreak(mediumonlytab) {
          display: none;
        }

        &:first-of-type {
          justify-content: right;
          left: inherit;
          padding-left: 0;
          padding-right: 3.375rem;
          right: 50%;

          @include devicebreak(xlarge) {
            padding-right: 4.375rem;
          }
        }

        li {
          margin: 0 1.5rem;
          display: flex;
          align-items: stretch;

          @include devicebreak(xlarge) {
            margin: 0 2.1875rem;
          }

          a {
            display: flex;
            align-items: center;
            margin-top: -15px;
            @include devicebreak(xlarge) {
              margin-top: 0;
            }
          }
        }
      }

      .logo {
        @extend %img_none;

        position: relative;
        z-index: 1;

        @include devicebreak(xlarge) {
          @include transform(translateX(-50%));

          left: 50%;
          position: fixed;
          z-index: 10;
        }

        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
          margin: 0;
        }

        img {
          @extend %logo;
        }
      }
    }

    .align-content-middle {
      align-items: center;
      position: relative;
    }

    .top-right {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
      @include devicebreak(xlarge) {
        margin-bottom: 0;
      }

      @include devicebreak(mediumonlytab) {
        margin-bottom: 0;
        .icon-globe {
          display: none;
        }
      }

      .icon-globe {
        @extend %header-icon;

        margin-left: 1.75rem;
        -webkit-mask: url(#{$img-path-Iconfourback}/globe.svg) no-repeat left center;
        mask: url(#{$img-path-Iconfourback}/globe.svg) no-repeat left center;

        @include devicebreak(mediumonlytab) {
          display: none;
        }
      }

      .icon-search {
        @extend %header-icon;

        margin-left: $spacing-05;
        margin-right: $spacing-04;
        -webkit-mask: url(#{$img-path-Iconfourback}/search.svg) no-repeat left center;
        mask: url(#{$img-path-Iconfourback}/search.svg) no-repeat left center;

        @include devicebreak(small) {
          background: transparent url(#{$img-path-Iconfourback}/search.svg) no-repeat left center;
          margin-left: 0;
          margin-right: 0;
          -webkit-mask: inherit;
          mask: inherit;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .mid-nav ul,
    .top-left,
    .top-right {
      @include transition(opacity 0.3s ease);
    }
  }

  &.global-load-animation {
    .header .mid-nav .logo {
      @include transition(all 0.7s ease);

      left: $spacing-04;
      position: fixed;
      top: 0;
      transform: translateX(0);
    }

    .mid-nav ul,
    .top-left,
    .top-right {
      opacity: 0;
    }
  }

  &.run-animation {
    .header .mid-nav .logo {
      left: 50%;
      position: fixed;
      transform: translateX(-50%);
    }
  }

  &.show-content {
    .mid-nav ul,
    .top-left,
    .top-right {
      opacity: 1;
    }
  }
}

[dir='rtl'] {
  .global-header {
    .mid-nav {
      ul {
        left: inherit;
        padding-left: 0;
        padding-right: 4.375rem;
        right: 50%;

        li {
          padding-right: 0;
        }

        &:first-of-type {
          justify-content: left;
          left: 50%;
          padding-left: 4.375rem;
          padding-right: 0;
          right: inherit;
        }
      }
    }

    .top-right {
      .icon-globe {
        margin-left: 0;
        margin-right: 1.75rem;
      }

      .icon-search {
        margin-left: 0;
      }
    }

    .top-left {
      .dropdown-language {
        margin-left: 0;
        margin-right: $spacing-04;
      }

      .icon-bar {
        margin-right: $spacing-04;
      }
    }

    &.global-load-animation {
      .header .mid-nav .logo {
        left: inherit;
        right: $spacing-04;
      }
    }

    &.run-animation {
      .header .mid-nav .logo {
        left: inherit;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}
