@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* page-wide-card start */
.wide-card {
  border-top: 2px solid $color-black;

  &__wrapper {
    position: relative;
    @include devicebreak(small) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  h6 {
    font-size: $font-size-12;
    font-weight: 700;
    margin-bottom: 0;
    padding: $spacing-16 $spacing-16 1.125rem $spacing-16;

    @include devicebreak(medium) {
      padding: $spacing-16 $spacing-24;
    }
  }

  a {
    @extend %img_none;
  }
}

.wide-card__description {
  @include devicebreak(medium) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h4 {
    margin: $spacing-16;

    @include devicebreak(medium) {
      margin: $spacing-48 $spacing-24 $spacing-32;
    }

    a {
      font-size: inherit;
    }
  }

  p {
    margin: $spacing-16 $spacing-16 $spacing-32;

    @include devicebreak(medium) {
      margin: 0 $spacing-24 $spacing-32;
    }
  }

  .button-arrow {
    @include devicebreak(medium) {
      margin-left: $spacing-24;
    }
  }
}

.wide-card__image {
  position: relative;


  a {
    @include devicebreak(medium) {
      &::before {
        @include transition(0.5s ease);
  
        background-image: linear-gradient(45deg, $color-yellow, transparent 80%);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &:hover::before, &.card-gradient::before {
        opacity: 0.75;
      }
    }
  }
  img {
    height: 100%;
    width: 100%;
  }
}

[dir='rtl'] {
  .wide-card__description {
    .button-arrow {
      @include devicebreak(medium) {
        margin-left: 0;
        margin-right: $spacing-24;
      }
    }
  }
}
/* page-wide-card end */
