.modal-sdgs {
    .modal-header {
        .btn-close {
            left: 1548px;
            right: auto;
        }
    }

    .modal-content {
        margin-right: auto;
        margin-left: unset;
    }
}
