.header {
    .nav-wrapper {
        .middle-menu {
            li:not(:last-child) {
                margin-right: 0;
                margin-left: 75px;

                @include breakpoint(medium down) {
                    margin-left: 0;
                }
            }
        }

        .right-menu {
            .nav-item {
                margin-right: 0;
                margin-left: 22px;

                @include breakpoint(large down) {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                    margin-left: 38px;

                    @include breakpoint(large down) {
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .dropdown {
        .dropdown-btn {
            svg {
                margin: 0 0 0 10px;

                &:last-child {
                    margin: 0 10px 0 0;
                }
            }
        }

        .dropdown-content {
            text-align: right;
            padding: 30px 12px 35px 30px;
        }
    }
}
