
.side-navigation {

    .side-menu-item {
        > a {
            padding: 16.5px 27px 16.5px 60px;

            @include breakpoint(medium down) {
                padding: 15.5px 19px;
            }
        }

        &.has-children {
            &:after {
                left: 23px;
                right: auto;

                @include breakpoint(medium down) {
                    left: 19px;
                    right: auto;
                }
            }
        }
    }

    .side-submenu-item {
        > a {
            padding: 13px 47px 13px 36px;
        }
    }
}
