@import '../../../assets/scss/variables';
@import '../../../assets/scss/breakpoints';

.heading-container {
  background-color: var(--undpds-color-gray-700);
  color: var(--undpds-color-text-inverse);
  justify-content: center;
  overflow: hidden;
  padding-block: var(--undpds-spacing-096);

  h4 {
    margin-top: var(--undpds-spacing-050);
    @include devicebreak(medium) {
      margin-top: 0;
    }
  }

  h2,
  h4 {
    @include devicebreak(small) {
      padding: 0 var(--undpds-spacing-024);
    }
  }
}
