@use '../../../assets/scss/variables';
@use '../../../assets/scss/breakpoints';

.heading-container {
  background-color: #232e3e;
  color: variables.$color-white;
  justify-content: center;
  overflow: hidden;
  padding-bottom: variables.$spacing-12;
  padding-top: variables.$spacing-12;

  h4 {
    margin-top: variables.$spacing-50;

    @include breakpoints.devicebreak(medium) {
      margin-top: 0;
    }
  }

  h2,
  h4 {
    @include breakpoints.devicebreak(small) {
      padding: 0 variables.$spacing-06;
    }
  }
}