@import '../../../assets/scss/variables';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/breakpoints';

.heading-container {
  background-color: #232e3e;
  color: $color-white;
  justify-content: center;
  overflow: hidden;
  padding-bottom: $spacing-12;
  padding-top: $spacing-12;

  h4 {
    margin-top: $spacing-50;

    @include devicebreak(medium) {
      margin-top: 0;
    }
  }

  h2,
  h4 {
    @include devicebreak(small) {
      padding: 0 $spacing-06;
    }
  }
}
