@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/base';



.country-header {
  .header {
    @extend %header;

    //height: auto;
    height: 7.1875rem;

    @include devicebreak(mediumonlytab) {
      height: 4.6875rem;
    }

    .site-title {
      font-size: $font-size-16;
      line-height: 1.142;
      margin-top: -0.25rem;
      margin-right: 1.5rem;
      padding: 0.438rem 0;

      @include devicebreak(mediumonlytab) {
        width: calc(100% - 64px);
      }

      @include devicebreak(xlarge) {
        font-size: $font-size-20;
        margin-right: $spacing-07;
        width: 14.4375rem;
      }

      span:first-of-type:not(:last-of-type) {
        border-bottom: 1px solid $color-gray-500;
        color: $color-gray-600;
        display: inline-block;
        font-size: $font-size-12;
        margin: 0;
        padding-bottom: 1px;
      }

      span {
        display: flex;
        margin-top: 0.3rem;

        a {
          font-size: inherit;
          background: none;
        }
      }
    }

    .top-left {
      align-items: center;
      display: flex;

      @include devicebreak(xlarge) {
        width: calc(66.66667% - 1.5rem);
      }

      @include devicebreak(mediumonlytab) {
        width: auto;
      }

      .logo {
        @extend %img_none;

        align-items: flex-start;
        display: flex;
        height: 7.1875rem;
        margin-right: $spacing-06;
        position: relative;
        z-index: 2;

        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
        }

        @include devicebreak(small) {
          margin-right: $spacing-04;
        }

        img {
          @extend %logo;
        }
      }
    }

    .align-content-middle {
      align-items: center;
      position: relative;
      justify-content: space-between;

      @include devicebreak(mediumonlytab) {
        justify-content: space-between;
      }
    }

    .menu {
      align-items: center;
      align-self: stretch;
      display: flex;
      min-height: 7.1875rem;
      margin: auto;

      @include devicebreak(mediumonlytab) {
        display: none;
      }

      ul {
        //display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }

      li {
        margin: 0 0 0 1.75rem;
        //display: inline-flex;
        align-items: stretch;
        align-self: stretch;
        width: 110px;

        @include devicebreak(xlarge) {
          margin: 0 0 0 2.6875rem;
          width: 115px;
        }

        &:first-of-type {
          margin-left: 0;
        }

        a {
          display: flex;
          align-items: center;
        }
      }
    }

    .top-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include devicebreak(xlarge) {
        box-sizing: border-box;
        padding-right: $spacing-90;
        width: calc(33.33333% - 1.5rem);
      }

      .dropdown-language {
        justify-self: flex-end;

        @include devicebreak(mediumonlytab) {
          display: none;
        }
      }

      .icon-search {
        @extend %header-icon;

        margin-left: $spacing-05;
        -webkit-mask: url(#{$img-path-Iconfourback}/search.svg) no-repeat left center;
        mask: url(#{$img-path-Iconfourback}/search.svg) no-repeat left center;

        @include devicebreak(small) {
          background: transparent url(#{$img-path-Iconfourback}/search.svg) no-repeat left center;
        }
      }

      .icon-globe {
        @extend %header-icon;

        margin-left: 1.75rem;
        -webkit-mask: url(#{$img-path-Iconfourback}/globe.svg) no-repeat left center;
        mask: url(#{$img-path-Iconfourback}/globe.svg) no-repeat left center;

        @include devicebreak(mediumonlytab) {
          display: none;
        }
      }

      .button {
        margin-left: $spacing-05;
        display: block;

        @include devicebreak(mediumonlytab) {
          display: none;
        }
      }
    }

    .menu,
    .site-title,
    .top-right {
      @include transition(opacity 0.3s ease);
    }
  }

  &.country-load-animation {
    .header .top-left .logo {
      @include transition(all 0.7s ease);

      left: 50%;
      position: fixed;
      top: 0;
      transform: translateX(-50%);
    }

    .menu,
    .site-title,
    .top-right {
      opacity: 0;
    }
  }

  &.run-animation {
    .header .top-left .logo {
      left: $spacing-04;
      position: fixed;
      transform: translateX(0);
    }
  }

  &.show-content {

    .menu,
    .site-title,
    .top-right {
      opacity: 1;
    }
  }
}

[dir='rtl'] {
  .country-header {
    .top-left {
      .logo {
        margin-right: 0;

        img {
          margin-left: 1.5rem;
          margin-right: 0;
        }
      }
    }

    .site-title {
      margin-left: 1.5rem;
      margin-right: 0;

      @include devicebreak(xlarge) {
        margin-left: $spacing-07;
        margin-right: 0;
      }
    }

    .top-right {
      @include devicebreak(xlarge) {
        padding-left: $spacing-90;
        padding-right: 0;
      }

      .icon-search {
        margin-left: 0;
        margin-right: 1rem;
      }

      .icon-globe {
        margin-left: 0;
        margin-right: 1.75rem;
      }

      .button {
        margin-right: $spacing-05;
        margin-left: 0;
        display: block;

        @include devicebreak(mediumonlytab) {
          display: none;
        }
      }
    }

    .menu {
      li {
        margin: 0 2.25rem 0 0;

        @include devicebreak(xlarge) {
          margin: 0 0 0 3.6875rem;
        }

        &:first-of-type {
          margin-right: 0;
        }
      }
    }

    &.run-animation {
      .header .top-left .logo {
        left: calc(100% - #{$spacing-12});
      }
    }
  }
}





// Priority nav styling
.country-header .header {
  .menu {
    //max-width: 65%;
    margin: 0 auto 0 2rem;

    @include devicebreak(xlarge) {
      margin: 0 auto;
    }
  }
}

[dir='rtl'] {
  .country-header .header {
    .menu {
      //max-width: 65%;
      margin: 0 2rem 0 auto;

      @include devicebreak(xlarge) {
        margin: 0 auto;
      }
    }
  }
}

// End - Priority nav styling