@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';

.country-header {
  height: 7.1875rem;

  @include devicebreak(mediumonlytab) {
    height: 4.6875rem;
  }

  .header {
    @extend %header;
    position: fixed;
    background-color: $color-gray-100;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    height: unset;
    min-height: 7.1875rem;

    @include devicebreak(mediumonlytab) {
      min-height: 4.6875rem;
    }

    .grid-container.fluid>.grid-margin-x {
      margin-inline: -1.5rem;
      justify-content: space-between;
    }

    .site-title {
      font-size: $font-size-16;
      line-height: 1.142;
      margin-block-start: -0.25rem;
      margin-inline-end: 1.5rem;
      padding: 0.438rem 0;
      flex-shrink: 0;

      @include devicebreak(mediumonlytab) {
        width: calc(100% - 64px);
      }

      @include devicebreak(large) {}

      @include devicebreak(xlarge) {
        font-size: $font-size-20;
        margin-inline-end: auto;
        width: auto;
        //max-width: 212px;
      }

      span:first-of-type:not(:last-of-type) {
        border-bottom: 1px solid $color-gray-500;
        color: $color-gray-600;
        display: inline-block;
        font-size: $font-size-12;
        margin: 0;
        padding-block-end: 1px;
      }

      span {
        display: flex;
        margin-block-start: 0.3rem;

        a {
          font-size: inherit;
          background: none;
        }
      }
    }

    .top-left {
      align-items: center;
      display: flex;
      order: 1;
      //flex: 0 0 calc(66.66667% - 1.5rem);

      @include devicebreak(large) {
        max-width: 14rem;
        width: auto;
      }

      @include devicebreak(xlarge) {
        //width: calc(66.66667% - 1.5rem);
        //flex: 0 0 calc(66.66667% - 1.5rem);
      }

      @include devicebreak(mediumonlytab) {
        width: auto;
      }

      @include devicebreak(xlarge) {
        //width: calc(66.66667% - 1.5rem);
      }

      @include devicebreak(mediumonlytab) {
        width: auto;
      }

      .logo {
        @extend %img_none;

        align-items: flex-start;
        display: flex;
        height: 7.1875rem;
        margin-right: $spacing-06;
        position: relative;
        z-index: 2;

        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
        }

        @include devicebreak(small) {
          margin-right: $spacing-04;
        }

        img {
          @extend %logo;
        }
      }
    }

    .top-center {
      order: 2;
      justify-content: center;
    }

    .align-content-middle {
      display: flex;
      align-items: center;
      position: relative;
      //justify-content: center;

      @include devicebreak(mediumonlytab) {
        //justify-content: space-between;
      }
    }

    .menu {
      align-items: stretch;
      align-self: stretch;
      display: flex;
      min-height: 7.1875rem;
      margin: 0;
      flex-shrink: 1;
      flex-grow: 0;

      @include devicebreak(mediumonlytab) {
        display: none;
      }

      @include devicebreak(large) {
        margin: 0;
      }

      @include devicebreak(xlarge) {
        margin: 0;
      }

      >ul {
        display: flex;
        column-gap: 0; //$spacing-06;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 0 auto;
        position: relative;

        @include devicebreak(xlarge) {
          column-gap: 0; //$spacing-07;
        }

        >li {
          margin: 0;
          align-items: stretch;
          align-self: stretch;
          justify-content: center;
          display: flex;
          word-break: keep-all;

          @include devicebreak(xlarge) {
            margin: 0;
          }

          &:first-of-type {
            margin-left: 0;
          }

          >a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;
            text-align: center;
            width: 100%;
            white-space: nowrap;
          }
        }
      }

      &.menu__overflow__container>ul {
        margin: 0 auto;
      }
    }

    .top-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      order: 3;

      @include devicebreak(large) {
        flex: 0 1 auto;
      }

      @include devicebreak(xlarge) {
        box-sizing: border-box;
      }
    }

    .dropdown-language {
      justify-self: flex-end;
      display: flex;
      align-items: center;

      @include devicebreak(mediumonlytab) {
        display: none;
      }
    }

    .icon-search {
      @extend %header-icon;

      margin-inline-start: $spacing-05;
      -webkit-mask: url(~icons/search.svg) no-repeat left center;
      mask: url(~icons/search.svg) no-repeat left center;

      @include devicebreak(small) {
        background: transparent url(~icons/search.svg) no-repeat left center;
      }
    }

    .icon-globe {
      @extend %header-icon;

      margin-inline-start: 1.75rem;
      -webkit-mask: url(~icons/globe.svg) no-repeat left center;
      mask: url(~icons/globe.svg) no-repeat left center;

      @include devicebreak(mediumonlytab) {
        display: none;
      }
    }

    .button {
      margin-inline-start: $spacing-05;
      display: block;

      @include devicebreak(mediumonlytab) {
        display: none;
      }
    }

    .menu,
    .site-title,
    .top-right {
      @include transition(opacity 0.3s ease);
    }
  }

  &.country-load-animation {
    .header .top-left .logo {
      @include transition(all 0.7s ease);

      left: 50%;
      position: fixed;
      top: 0;
      transform: translateX(-50%);
    }

    .menu,
    .site-title,
    .top-right {
      opacity: 0;
    }
  }

  &.run-animation {
    .header .top-left .logo {
      left: $spacing-04;
      position: fixed;
      transform: translateX(0);
    }
  }

  &.show-content {

    .menu,
    .site-title,
    .top-right {
      opacity: 1;
    }
  }
}

[dir='rtl'] {
  .country-header {
    .top-left {
      .logo {
        margin-right: 0;

        img {
          margin-left: 1.5rem;
          margin-right: 0;
        }
      }
    }

    .site-title {
      margin-inline-start: 1.5rem;
      margin-inline-end: 0;

      @include devicebreak(xlarge) {
        margin-inline-start: $spacing-07;
        margin-inline-end: 0;
      }
    }

    .top-right {

      @include devicebreak(xlarge) {
        padding-inline: 0;
      }

      // .icon-search {
      //   margin-left: 0;
      //   margin-right: 1rem;
      // }

      // .icon-globe {
      //   margin-left: 0;
      //   margin-right: 1.75rem;
      // }

      // .button {
      //   margin-right: $spacing-05;
      //   margin-left: 0;
      //   display: block;

      //   @include devicebreak(mediumonlytab) {
      //     display: none;
      //   }
      // }
    }

    &.run-animation {
      .header .top-left .logo {
        left: calc(100% - #{$spacing-12});
      }
    }
  }
}