@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';

.country-header {
  @extend %header;

  @include devicebreak(mediumonlytab) {
    height: 4.6875rem;
  }

  .top-left {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .site-title {
      font-size: $font-size-20;
      margin-top: -0.25rem;

      label {
        border-bottom: 1px solid $color-gray-500;
        color: $color-gray-600;
        font-size: $font-size-12;
        padding-bottom: 0.125rem;
      }

      span {
        display: flex;
        margin-top: 0.3rem;
      }
    }

    .left-logo {
      @extend %img_none;

      align-items: flex-start;
      display: flex;
      height: 7.1875rem;
      position: relative;
      z-index: 2;

      @include devicebreak(mediumonlytab) {
        height: 4.6875rem;
        margin: 0;
      }

      .logo {
        margin-right: $spacing-24;

        @include devicebreak(small) {
          margin-right: $spacing-12;
        }

        @include devicebreak(mediumonlytab) {
          height: 4.6875rem;
          width: auto;
        }
        @extend %logo;
      }
    }
  }

  .mid-nav {
    display: flex;
    justify-content: center;

    .menu {
      @include devicebreak(mediumonlytab) {
        display: none;
      }
    }
  }

  .align-content-middle {
    align-items: center;
    position: relative;
  }

  .menu {
    align-items: center;
    display: flex;
    height: 7.1875rem;

    @include devicebreak(mediumonlytab) {
      display: none;
    }

    li {
      margin: $spacing-12 0 $spacing-12 3.6875rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .top-right {
    display: flex;
    justify-content: flex-end;

    @include devicebreak(mediumonlytab) {
      .dropdown-language {
        display: none;
      }
    }

    @include devicebreak(mediumonlytab) {
      .icon-globe {
        display: none;
      }
    }

    .icon-bar {
      display: none;
      @include devicebreak(mediumonlytab) {
        background:url(#{$img-path-Iconfourback}/Bars.svg) no-repeat 0 0/1.375rem 1.375rem;
      }
      @extend %header-icon;
    }

    .icon-close {
      display: none;
      @include devicebreak(mediumonlytab) {
        background:url(#{$img-path-Iconfourback}/Times-blue.svg) no-repeat -0.4375rem -0.3125rem/2.125rem 2.125rem;
      }
      @extend %header-icon;
    }

    .icon-search {
      margin-left: $spacing-16;
    }

    .icon-globe {
      margin-left: 1.75rem;
    }
  }
}

[dir='rtl'] {
  .country-header {
    .top-left {
      .left-logo {
        .logo {
          margin-left: 1.5rem;
          margin-right: 0;
        }
      }
    }

    .top-right {
      .icon-search {
        margin-left: 0;
        margin-right: 1rem;
      }

      .icon-globe {
        margin-left: 0;
        margin-right: 1.75rem;
      }
    }
    .menu {
      li {
        margin: $spacing-12 3.6875rem $spacing-12 0;
  
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}
