.modal-search-offices {
    width: 100%;
    position: fixed;
    top: $height-nav;
    overflow-y: auto;
    z-index: $z-index-modal;
    height: calc(100vh - #{$height-nav});

    @include breakpoint(large down){
        backdrop-filter: blur(21px);
        background-color: rgba($white, 0.98);

        @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
            background-color: rgba($white, 0.87);
        }
    }

    @include breakpoint(large down) {
        top: calc(#{$height-nav-medium} + 1px);
        height: calc(100% - #{$height-nav-medium});
    }

    .modal-content {
        padding: 0;
        position: relative;

        .close-button {
            top: 52px;
            right: 44px;
            cursor: pointer;
            position: absolute;
            z-index: $z-index-5;
        }

        .modal-body {
            height: 1px;
            min-height: 100%;
            position: relative;
            align-content: flex-start;

            @include breakpoint(medium down) {
                height: unset;
            }

            .cell-search {
                min-height: 100%;
                max-width: 525px;
                padding: 75px 60px 200px 60px;
                border-right: none;
                backdrop-filter: blur(30px);
                box-shadow: 0 3px 6px rgba($black, 0.16);
                background-color: rgba($dark-blue-6, 0.98);

                @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
                    background-color: rgba($dark-blue-6, 0.86);
                }

                @include breakpoint(medium down) {
                    max-width: unset;
                    box-shadow: unset;
                    min-height: unset;
                    backdrop-filter: unset;
                    padding: 25px 15px 0 15px;
                    background-color: transparent;
                }

                .btn-back {
                    padding-left: 15px;
                }

                .header-modal {
                    @include breakpoint(medium down) {
                        padding: 0 30px;
                    }

                    .title {
                        @include breakpoint(medium down) {
                            font-size: 2rem;
                            margin-top: 40px;
                            font-weight: $regular;
                        }
                    }

                    .text-link {
                        display: block;
                        margin-top: 25px;
                    }

                    .description {
                        margin-top: 25px;

                        @include breakpoint(medium down) {
                            margin-top: 20px;
                            font-size: 1.4rem;
                        }
                    }

                    .tag-current-section {
                        margin-top: 30px;
                    }

                    .title-undp {
                        color: $blue-0;
                        font-size: 2rem;
                        margin-top: 10px;
                        font-weight: $semi-bold;
                    }
                }

                .search-input-group {
                    margin-top: 20px;

                    .input-search {
                        border: 0;
                        margin: 0;
                        height: 58px;
                        padding: 20px;
                        border-bottom: 2px solid $black;
                        min-width: calc(100% - 58px);
                        max-width: calc(100% - 58px);
                        background-color: transparent;

                        &::placeholder {
                            color: rgba($black, 0.35);
                        }

                        &:active,
                        &:focus {
                            outline: none;
                        }
                    }

                    .btn-search {
                        border: 0;
                        width: 35px;
                        height: 58px;
                        color: $black;
                        cursor: pointer;
                        border-bottom: 2px solid $black;

                        svg {
                            margin-left: 5px;
                        }
                    }
                }

                .search-select-group {
                    margin-top: 60px;

                    .multi-select {
                        margin-top: 15px;
                    }

                    .active-filters {
                        padding: 20px;

                        .tag {
                            margin-bottom: 15px;
                        }

                        .filter {
                            color: $black;
                            display: block;
                            line-height: 1.5;
                            font-size: 1.4rem;
                            font-weight: $regular;

                            &:before {
                                margin-right: 5px;
                                content: url('#{$image-path}icon-close-modal-location.svg');
                            }

                            &:focus,
                            &:active,
                            &:hover
                            {
                                color: $black;
                            }
                        }

                        .filter-clear  {
                            color: $black;
                            line-height: 1.5;
                            margin-left: 15px;
                            font-size: 1.4rem;
                            font-weight: $regular;
                            text-transform: capitalize;
                            border-bottom: 1px solid $red;

                            &:focus,
                            &:active,
                            &:hover
                            {
                                color: $black;
                            }
                        }
                    }
                }

            }

            .cell-list-offices {
                padding: 80px 50px;
                position: relative;
                backdrop-filter: blur(21px);
                box-shadow: 0 3px 6px rgba($black, 0.16);
                // alternative to blur on firefox (color white with transparent
                background-color: rgba($white, 0.98);

                @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
                    background-color: rgba($white, 0.87);
                }

                @include breakpoint(large down){
                    backdrop-filter: unset;
                    background-color: transparent;

                    @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
                        background-color: transparent;
                    }
                }

                @include breakpoint(medium down) {
                    position: static;
                    box-shadow: unset;
                    padding: 0 0 0 15px;
                }

                .title {
                    color: $blue-0;
                    margin-top: 15px;
                }

                .countries {
                    left: 0;
                    right: 50px;
                    padding: 0 50px;
                    overflow-y: auto;
                    position: absolute;
                    margin: 44px 0 100px 0;
                    max-height: calc(100% - 280px);
                    scrollbar-color: $white $black;

                    @include breakpoint(medium down) {
                        right: 0;
                        padding: 0;
                        width: 100%;
                        margin-top: 30px;
                        position: static;
                        max-height: 250px;
                    }

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {
                        background: linear-gradient(90deg, transparent 10%, $black 33%, transparent 0%);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: black;
                    }

                    .country-item {
                        font-size: 2rem;
                        line-height: 1.2;
                        font-weight: $medium;
                        padding: 20px 25px 20px 5px;
                        border-top: 1px solid rgba($black, 0.10);

                        @include breakpoint(medium down) {
                            font-size: 1.6rem;
                            line-height: 1.18;
                            font-weight: $semi-bold;
                        }

                        .language-link {
                            font-weight: $regular;

                            &:after {
                                content: url('#{$image-path}icon-visit-link.svg');
                                margin: 0 20px 0 12px;

                                @include breakpoint(medium down) {
                                    margin: 0 5px;
                                }
                            }

                            &:last-child {
                                &:after {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }

                .filter-options {
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    position: absolute;
                    width: calc(100% - 30px);

                    .btn-filters {
                        height: 50px;
                        color: $black;
                        background-color: $dark-blue-9;

                        .current-filters {
                            width: 24px;
                            height: 24px;
                            color: $white;
                            margin-left: 50px;
                            border-radius: 50%;
                            background-color: $red;
                            font-weight: $semi-bold;
                        }
                    }
                }
            }
        }

    }
}