@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

/* language-switcher start */
.dropdown-language {
  display: inline-block;
  position: relative;

  &.active {
    .dropdown-btn::after {
      @include transform(rotateZ(180deg));
    }
  }

  &__content {
    display: none;
    left: 16px;
    padding: 0;
    position: absolute;

    &-item {
      list-style: none;
      a {
        @extend %language_switcher;

        background: $color-gray-200;
        border-bottom: 1px solid $color-gray-400;
        box-shadow: 0 3px 4px rgb(0 0 0 / 10%);
        display: block;
        padding: $spacing-12 $spacing-16;
      }
    }
  }
}

.dropdown-btn {
  @extend %language_switcher;

  align-items: center;
  background-color: transparent;
  color: $color-blue-600;
  display: flex;
  padding: 0;

  &::before {
    background: url(#{$img-path-Icon}/Language.svg) no-repeat left center;
    content: "";
    height: 26px;
    margin-right: $spacing-08;
    width: 25px;
  }

  &::after {
    @include transition(0.2s ease-in-out);

    background: url(#{$img-path-Icon}/arrowblue.svg) no-repeat left center;
    content: "";
    height: 10px;
    margin-left: $spacing-08;
    width: 15px;
  }

  &.white {
    color: $color-white;

    &::before {
      background: url(#{$img-path-Icon}/Language-white.svg) no-repeat left center;
    }

    &::after {
      background: url(#{$img-path-Icon}/arrowwhitedown.svg) no-repeat left center;
    }
  }
}

[dir="rtl"] {
  .dropdown-language {
    &__content {
      left: unset;
      right: 16px;
    }
  }

  .dropdown-btn::before {
    margin-left: $spacing-08;
    margin-right: 0;
    transform: scaleX(-1);
  }

  .dropdown-btn::after {
    margin-right: $spacing-08;
    margin-left: 0;
  }
}

/* language-switcher start */
