@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* language-switcher start */
.dropdown-language {
  display: inline-block;
  position: relative;

  ul {
    @include transition(0.3s ease-in-out);

    height: 0;
    left: var(--undpds-spacing-05);
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: calc(100% + 3px);
    z-index: 9;

    li {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      a {
        @extend %language_switcher;

        background: var(--undpds-color-gray-200);
        border-bottom: 1px solid var(--undpds-color-gray-400);
        box-shadow: 0 3px 4px rgb(0 0 0 / 10%);
        display: block;
        padding: var(--undpds-spacing-04) var(--undpds-spacing-05);

        &:hover,
        &:focus,
        &:active {
          background-color: var(--undpds-color-gray-400);
        }
      }
    }
  }

  &.active {
    button::after {
      @include transform(rotateZ(180deg));
    }

    ul {
      height: auto;
    }
  }

  button {
    @extend %language_switcher;

    align-items: center;
    background-color: transparent;
    color: var(--undpds-color-blue-600);
    cursor: pointer;
    display: flex;
    padding: 0;

    &::before {
      background-color: var(--undpds-color-blue-600);
      content: '';
      height: 26px;
      margin-right: var(--undpds-spacing-03);
      -webkit-mask: url(~icons/language.svg) no-repeat left center;
      mask: url(~icons/language.svg) no-repeat left center;
      width: 25px;

      @include devicebreak(small) {
        background: transparent url(~icons/language.svg) no-repeat left center;
        -webkit-mask: inherit;
        mask: inherit;
      }
    }

    &::after {
      @include transition(transform 0.2s ease-in-out);

      background-color: var(--undpds-color-blue-600);
      content: '';
      height: 10px;
      margin-left: var(--undpds-spacing-03);
      -webkit-mask: url(~icons/arrow-blue.svg) no-repeat left center;
      mask: url(~icons/arrow-blue.svg) no-repeat left center;
      width: 15px;

      @include devicebreak(small) {
        background: transparent url(~icons/arrow-blue.svg) no-repeat left center;
        -webkit-mask: inherit;
        mask: inherit;
      }
    }

    &:focus,
    &:hover {
      color: var(--undpds-color-blue-400);

      &::before,
      &::after {
        filter: brightness(0) saturate(100%) invert(57%) sepia(92%) saturate(1476%) hue-rotate(186deg) brightness(90%) contrast(92%);
      }

    }

    &.white {
      color: var(--undpds-color-white);

      &:focus,
      &:hover {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        ;
      }

      &::before {
        background: url(~icons/language-white.svg) no-repeat left center;
      }

      &::after {
        background: url(~icons/arrow-white-down.svg) no-repeat left center;
      }
    }
  }
}

[dir='rtl'] {
  .dropdown-language {
    ul {
      left: unset;
      padding-right: 0;
      right: 16px;

      li {
        padding-right: 0;
      }
    }

    button::before {
      margin-left: var(--undpds-spacing-03);
      margin-right: 0;
      transform: scaleX(-1);
    }

    button::after {
      margin-left: 0;
      margin-right: var(--undpds-spacing-03);
    }
  }
}

// burmese lang
:lang(my) {
  .dropdown-language {
    button {
      font-family: var(--undpds-font-family-notosans);
    }
  }
}

/* language-switcher end */