/node_modules
/.idea
npm-debug.log
yarn-error.log
/vendor
/storybook-static
/docs-build
/stories/assets/css/style.css
/stories/assets/css/style.css.map
.DS_Store
.scannerwork
.vscode/
/.yarn
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json
/.generated

# Figma token integration
/tokens/build
*.scss.backup