@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';

.select-box {
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-size: $font-size-32;
  height: 52px;
  max-width: 300px;
  position: relative;

  &.expanded {
    .selected {
      &::after {
        @include transform(translateY(-50%) rotate(-180deg));
      }
    }

    .options {
      border-top: 0;
      display: block;
    }
  }

  .selected {
    background: $color-white;
    border: 2px solid $color-black;
    cursor: pointer;
    display: flex;
    font-family: $Font-Family-ProximaSemiBold;
    font-size: $font-size-16;
    min-width: 300px;
    padding: $spacing-16 $spacing-50 $spacing-16 $spacing-16;
    position: relative;
    text-transform: uppercase;

    &::after {
      @extend %arrow;
    }
  }
}

.options-container {
  background-color: $color-white;
  border: 2px solid $color-black;
  border-top: 0;
  border-top-color: $color-black;
  border-top-style: solid;
  border-top-width: 2px;
  box-sizing: border-box;
  display: none;
  max-height: 300px;
  order: 1;
  padding: 0 $spacing-16;
  position: absolute;
  top: 51px;
  @include transition( all 0.4s cubic-bezier(0.64, 0.05, 0.35, 1.05));
  width: 100%;
  z-index: 20;

  &.active {
    display: block;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.3);
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.option {
  border-top: 1px solid $color-gray-400;
  cursor: pointer;
  display: block;
  padding: 0;
  position: relative;

  span {
    display: block;
    margin: 0 -$spacing-16;
    padding: 15px $spacing-16;
    &:hover { background-color: $color-gray-100; }
  }
}

[dir='rtl'] {
  .select-box {
    .selected {
      padding-left: $spacing-50;
      padding-right: $spacing-16;
      text-align: right;

      &::after {
        left: 22px;
        margin: 0;
        right: auto;
      }
    }
  }
}
