@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

.author-card {
  border-top: 2px solid $color-black;
  padding-top: $spacing-32;

  @include devicebreak(medium) {
    display: flex;
    justify-content: space-between;
  }

  &-wrapper {
    h4 {
      margin-bottom: 39px;
    }
  }

  &__summary {
    @include devicebreak(medium) {
      display: flex;
      width: 50%;
    }

    &--text {
      margin-top: $spacing-40;

      @include devicebreak(medium) {
        margin-left: $spacing-40;
        margin-top: 0;
        width: calc(100% - 222px);
      }

      h2 {
        margin-bottom: $spacing-08;
      }
    }
  }

  p {
    @include devicebreak(medium) {
      width: 40%;
    }
  }
}

[dir='rtl'] {
  .author-card {
    &__summary {
      &--text {
        @include devicebreak(medium) {
          margin-left: 0;
          margin-right: $spacing-40;
        }
      }
    }
  }
}
