/* progress start */
progress {
  border: 2px solid var(--undpds-color-black);
  border-radius: 7px;
  height: 14px;
  width: 50%;

  &::-webkit-progress-bar {
    background-color: var(--undpds-color-white);
    border-radius: 7px;
  }

  &::-webkit-progress-value {
    background-color: var(--undpds-color-black);
  }

  &::-moz-progress-bar {
    background-color: var(--undpds-color-white);
  }
}

/* progress end */