.active-filters {
    position: relative;

    .tag {
        color: $gray-chateau;
    }

    .filter {
        color: $black;
        font-size: 1.4rem;
        padding: 10px 12px;
        border-radius: 20px;
        background-color: rgba($dark-blue-19, 0.36);

        &:before {
            margin-right: 5px;
            content: url("#{$image-path}/icon-close-modal-location.svg");
        }

        &:active, &:focus, &:hover {
            background: #F6F6F6;
        }
    }

    .filter-clear {
        color: $black;
        line-height: 1.5;
        margin-left: 12px;
        font-size: 1.4rem;
        font-weight: $regular;
        text-transform: capitalize;
        border-bottom: 1px solid $red-1;

        &:active, &:focus, &:hover {
            color: $black;
        }
    }

    .tags-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint(small only) {
            flex-wrap: wrap;
            margin-top: 9px;
            margin-left: -11px;
            flex-direction: row;
        }
    }
}
