.breadcrumb {
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.23;
    font-weight: $bold;
    text-transform: uppercase;
    font-family: $primary-font;

    .breadcrumb-item {
        transition: opacity .2s ease;

        &:not(:last-of-type) {
            &:after {
                content: "/";
                margin: 0 8px;
            }

            &:hover {
                opacity: .7;
            }
        }

        &:last-of-type {
            pointer-events: none;
        }
    }

    &.accent-red {
        color: $red-1;

        .breadcrumb-item:last-of-type {
            color: $black;
        }
    }

    &.accent-white {
        $color: $white;
    }
}
