.checkbox-item {
    display: block;
    cursor: pointer;
    font-size: 1.6rem;
    user-select: none;
    position: relative;
    padding-right: 30px;
    font-weight: $regular;

    @include breakpoint(large down){
        padding: 15px 20px 15px 0;
        border-bottom: 1px solid rgba($black, 0.10);
    }

    input {
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;

        &:checked + .checkmark:after {
            display: block;
        }
    }

    html[data-whatinput="keyboard"] & {
        input {
            &:focus + .checkmark {
                outline: 1px dotted #212121;
                outline: 5px auto -webkit-focus-ring-color;
            }
        }
    }

    .checkmark {
        top: 16px;
        right: 0;
        height: 16px;
        width: 16px;
        position: absolute;
        border: 2px solid $red-8;

        &:after {
            width: 16px;
            height: 16px;
            background: url('#{$image-path}/icon-check.svg');
            background-repeat: no-repeat;
        }
    }
}

.checkmark:after {
    content: "";
    display: none;
    position: absolute;
}
