.custom-select {
    position: relative;

    select {
        display: none;
    }

    .select-selected {
        background-color: transparent;

        &:after {
            margin-left: 10px;
            content: url('#{$image-path}icon-arrow-down-red.svg');
        }
    }

    .select-items div,
    .select-selected {
        cursor: pointer;
        user-select: none;
        border-color: transparent transparent rgba($black, 0.1) transparent;
    }

    .select-items div {
        padding: 8px 12px;
    }

    .select-items {
        left: 0;
        right: 0;
        top: 100%;
        z-index: 99;
        position: absolute;
        background-color: $dark-blue-6;
    }


    .select-hide {
        display: none;
    }

    .same-as-selected,
    .select-items div:hover {
        background-color: rgba($black, 0.1);
    }
}