.explore-more {
    margin-top: 133px;

    @include breakpoint(large down) {
        margin-top: 66px;
    }

    .btn:not(:first-of-type) {
        margin-left: 20px;
    }

    .cards-container {
        margin-top: 57px;

        @include breakpoint(large down) {
            margin-top: 89px;
        }

        .card-item {
            margin-bottom: 30px;
        }
    }

    .cta-button {
        margin-top: 70px;

        @include breakpoint(large down) {
            margin-top: 58px;
        }
    }
}
