.explore-more {
    margin-top: 106px;

    @include breakpoint(medium down) {
        margin-top: 66px;
    }

    .h2 {
        margin-bottom: 0;
    }

    .btn:not(:first-of-type) {
        margin-left: 20px;
    }

    .cards-container {
        margin-top: 56px;

        @include breakpoint(medium down) {
            margin-top: 8px;
        }

        .card-item {
            margin-bottom: 30px;
        }
    }

    .cta-button {
        margin-top: 70px;

        @include breakpoint(medium down) {
            margin-top: 58px;
        }
    }
}
