.modal-sdgs {
    height: 1px;
    width: 100%;
    position: fixed;
    top: $height-nav;
    z-index: $z-index-modal;
    backdrop-filter: blur(30px);
    background-color: rgba($white, 0.9);
    min-height: calc(100vh - #{$height-nav});

    @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
        background-color: transparent;
    }

    @include breakpoint(medium down){
        top: $height-nav-medium;
        min-height: calc(100vh - #{$height-nav-medium})
    }

    @include breakpoint(small only) {
        overflow-y: auto;
        padding-left: 25px;
    }

    .modal-header {
        padding-top: 60px;

        @include breakpoint(small only){
            padding: 20px 20px 0 0;
            background-color: $white;
            justify-content: flex-end;
        }

        .btn-close {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $dark-blue-7;

            &:hover {
                color: $dark-blue-17;
            }

            &:active,
            .active {
                color: $dark-blue-19;
            }
        }
    }

    .modal-content {
        padding: 0 40px;
        min-height: 100%;
        overflow-y: auto;
        background-color: $white;

        @include breakpoint(small only){
            height: unset;
            padding: 0 12px;
            overflow-y: unset;
        }

        .bulleted-list {
            margin-top: 125px;

            @include breakpoint(small only){
                margin-top: 80px;
            }
        }

        .cards-slider {
            margin-top: 20px;

            .cell {
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }

        .sdg-content-cards {
            margin-top: 120px;

            @include breakpoint(small only){
                margin-top: 25px;
            }

            .cta-container{
                margin: 100px 0 60px;

                @include breakpoint(small only){
                    margin: 25px 0 35px;
                }
            }
        }

        .sdg-card {
            &.next-card {
                right: -40px;
                margin-top: 60px;

                @include breakpoint(small only){
                    right: -12px;
                    margin-top: 35px;
                }
            }
        }
    }
}