.header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: $z-index-nav;
    transform: translateY(0);
    background-color: $dark-blue-6;
    border-bottom: 1px solid rgba($black, 0.10);
    box-shadow: 0 3px 6px rgba($black, 0.09);

    .nav-item {
        cursor: pointer;
        color: $dark-blue-1;
        text-transform: uppercase;

        &:hover {
            color: rgba($dark-blue-1, 0.7)
        }

        &.active {
            padding-bottom: 2px;
            border-bottom: 2px solid $red;
        }
    }

    .custom-cell {
        padding: 0 70px 0 70px;

        @include breakpoint(large down) {
            max-height: 70px;
            padding: 0 10px 0 10px;
        }

        .middle-menu {
            padding: 0;
            list-style: none;
            max-height: 105px;

            @include breakpoint(large down) {
                max-height: 70px;
            }

            li:not(:last-child) {
                color: red;
                margin-right: 75px;

                @include breakpoint(medium down){
                    margin-right: 0;
                }
            }

            .middle-logo {
                display: block;

                svg {
                    width: 70px;
                }

                @include breakpoint(large down){
                    svg {
                        width: auto;
                        max-height: 71px;
                    }
                }

                svg {
                    transition: $transition-primary;
                }

                &.scrolled {
                    svg {
                        height: 106px;

                        @include breakpoint(medium down){
                            height: 71px;
                        }
                    }
                }
            }
        }

        .right-menu {
            .nav-item {
                border: none;
                color: $blue-0;
                position: relative;
                margin-right: 22px;

                @include breakpoint(large down) {
                    margin-right: 0;
                }

                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: rgba($blue-0, 0.70);
                }

                &.active {
                    &:before {
                        top: -5px;
                        right: -5px;
                        content: '';
                        width: 34px;
                        padding:2px;
                        height: 34px;
                        display: block;
                        border-radius: 50%;
                        position: absolute;
                        border:  2px solid rgba($dark-blue-3, 0.4);
                    }

                    color: rgba($blue-0, 0.70);
                }
            }
        }
    }

    .primary-navigation {
        width: 100%;
        overflow: auto;
        position: fixed;
        transform: translateY(0px);
        top: calc(#{$height-nav} + 1px);

        @include breakpoint(large down){
            top: calc(#{$height-nav-medium} + 1px);
        }

        &.open {
            height: 100vh;
        }
    }

    .dropdown {
        position: relative;

        .dropdown-btn {
            border: none;
            color: $blue-0;
            cursor: pointer;

            &:before {
                margin-right: 9.5px;
                content: url('#{$image-path}icon-languages.svg');
            }

            &:after {
                margin-left: 10px;
                content: url('#{$image-path}icon-arrow-down.svg');
            }

            &.active {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }

        .dropdown-content {
            min-width: 100px;
            list-style: none;
            margin-top: 20px;
            position: absolute;
            padding: 30px 30px 35px 12px;
            background-color: $dark-blue-6;
            box-shadow: 0 3px 6px rgba($black, 0.09);

            &:hover {
                display: block;
            }

            li:not(:first-child) {
                margin-top: 22px;
            }
        }
    }
}
