.header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: $z-index-nav;
    background-color: $dark-blue-6;
    box-shadow: 0 3px 6px rgba($black, 0.09);

    .nav-item {
        color: $dark-blue-1;

        &:hover {
            color: rgba($dark-blue-1, 0.7)
        }

        &:active,
        &.active {
            padding-bottom: 2px;
            border-bottom: 1px solid $red;
        }
    }

    .custom-cell {
        padding: 0 70px 0 70px;

        @include breakpoint(large down) {
            max-height: 70px;
            padding: 0 10px 0 10px;
        }

        .middle-menu {
            list-style: none;
            max-height: 105px;

            @include breakpoint(large down) {
                max-height: 70px;
            }

            li:not(:last-child) {
                color: red;
                margin-right: 75px;

                @include breakpoint(medium down){
                    margin-right: 0;
                }
            }

            .middle-logo {
                display: block;
                margin-top: 25px;
            }
        }

        .right-menu {
            .nav-item {
                margin-right: 22px;

                @include breakpoint(large down) {
                    margin-right: 0;
                }
            }
        }
    }

    .dropdown {
        position: relative;

        &:hover {
            .dropdown-content {
                display: block;
            }

            .dropdown-btn {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }

        .dropdown-btn {
            color: $blue-0;
            cursor: pointer;

            &:before {
                margin-right: 9.5px;
                content: url('#{$image-path}icon-languages.svg');
            }

            &:after {
                margin-left: 10px;
                content: url('#{$image-path}icon-arrow-down.svg');
            }
        }

        .dropdown-content {
            display: none;
            min-width: 100px;
            position: absolute;

            .menu-items {
                list-style: none;
                margin-top: 20px;
                padding: 30px 30px 35px 12px;
                background-color: $dark-blue-6;
                box-shadow: 0 3px 6px rgba($black, 0.09);
            }

            &:hover {
                display: block;
            }

            li:not(:first-child) {
                margin-top: 22px;
            }
        }
    }

    .menu-hamburger {
        top: 0;
        left: 0;
        width: 24px;
        display: block;
        min-height: 28px;
        position: relative;
        z-index: $z-index-5;

        &.is-active {
            .hamburger-line {
                &.line-top {
                    transform: translateY(0px) rotate(45deg);
                }

                &.line-middle {
                    opacity: 0;
                    transform: translateX(6.33px);
                }

                &.line-bottom {
                    transform: translateY(0px) rotate(-45deg);
                }
            }
        }

        .hamburger-line {
            left: 0;
            right: 0;
            top: 12px;
            width: 100%;
            margin: auto;
            height: 1.5px;
            display: block;
            position: absolute;
            transition: .2s ease-out;
            background-color: $blue-0;

            &.line-top {
                transform: translateY(-6.5px);
            }

            &.line-bottom {
                transform: translateY(6.5px);
            }
        }
    }
}
