$scroll-up-height: 44px;

.scroll-up {
    bottom: 0;
    opacity: 0;
    display: flex;
    cursor: pointer;
    position: sticky;
    border-radius: 50%;
    margin: 0 0 0 auto;
    visibility: hidden;
    align-items: center;
    background: $blue-2;
    justify-content: center;
    transform: translateY(0);
    width: $scroll-up-height;
    height: $scroll-up-height;
    transition: all 300ms ease;

    &.visible {
        opacity: 1;
        visibility: visible;
        z-index: $z-index-5;
        transform: translateY(-100%);
        bottom: calc(#{$scroll-up-height} * -0.5);
    }

    svg {
        transform: rotate(-90deg);
    }
}
