.glide-sdgs-percent{
    margin-top: 40px;
    padding: 125px 0 80px 15px;

    @include breakpoint(small only){
        padding-top: 0;
    }

    .glide__track{
        margin-top: 25px;
    }

    .section-title{
        margin-bottom: 35px;
    }

    .glide__bullets{
        padding-right: 15px;
    }
}
