@mixin slider-control() {
    left: 0;
    top: 50%;
    height: 4px;
    position: absolute;
    background: $black;
    transform: translateY(-50%);
    transition: $transition-primary;

    [dir=rtl] & {
        right: 0;
        left: auto;
    }
}

.glide--slider {
    .glide__bullets {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;

        .glide__bullet,
        .glide__bullet--active {
            margin: 0;
            width: 100%;
            height: 1px;
            cursor: pointer;
            border-radius: 0;
            background-color: $black;

            &:focus {
                outline: $black;
            }
        }

        .glide__bullet {
            position: relative;

            &:after {
                content: '';
                left: 0;
                top: -2px;
                opacity: 0;
                height: 4px;
                width: 100%;
                position: absolute;
            }
        }

        .slider-control, .control-slider {
            @include slider-control();
        }
    }

    .bullets-container {
        position: relative;
    }

    .slider-control, .control-slider {
        @include slider-control();
    }
}
