@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* fixed image size carousel start */
.fluid-image-size-carousel {
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;

    @include devicebreak(small) {
      max-width: 10.625rem;
    }
  }

  &__contents {
    @include devicebreak(small) {
      margin-top: 1.5rem;
      padding-left: 1.5rem;
      padding-right: 2rem;
    }

    h6 {
      @extend %carousel_tag;
    }

    h4 {
      @extend %carousel_title;
    }

    p {
      @extend %carousel_desc;

      @include devicebreak(large) {
        margin-bottom: 3rem;
      }

      @include devicebreak(small) {
        font-size: 0.875rem;
      }
    }

    .cta__link {
      text-transform: uppercase;
    }
  }

  &__button-wrap {
    @include devicebreak(medium) {
      display: inline-flex;
    }
  }

  .glide {
    &__slides {
      margin-top: 3rem;
    }

    &__track {
      margin-right: -100%;
    }

    &__arrows {
      @extend %carousel_arrows;

      margin-left: 2rem;

      @include devicebreak(large) {
        margin-left: 3rem;
      }
    }

    &__arrow {
      @extend %carousel_arrow;

      &:first-child {
        margin-right: 0.625rem;
      }

      &:last-child {
        margin-left: 0.625rem;
      }

      img {
        vertical-align: bottom;
        width: 2.813rem;
      }
    }
  }
}

[dir='rtl'] {
  .fluid-image-size-carousel {
    &__contents {
      @include devicebreak(small) {
        padding-right: 1.5rem;
      }
    }

    .glide {
      &__track {
        margin-left: -100%;
        margin-right: 0;
      }

      &__arrow {
        &:first-child {
          margin-left: 0.625rem;
          margin-right: 0;
        }

        &:last-child {
          margin-left: 0;
          margin-right: 0.625rem;
        }
      }

      &__arrows {
        margin-left: auto;
        margin-right: 2rem;

        @include devicebreak(large) {
          margin-right: 3rem;
        }
      }
    }
  }
}

/* fixed image size carousel end */
