@import '../../../assets/scss/variables';
@import '../../../assets/scss/typography';

/* small copy */
.smallcopy {
  &__box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-08;

    &--locale {
      display: block;
      margin-bottom: $spacing-24;

      .smallcopy__label {
        display: block;
        font-size: $font-size-16;
        letter-spacing: 0.03em;
        margin: 0 0 $spacing-12 0;
      }
    }
  }

  &__label {
    font-family: $Font-Family-ProximaBold;
    margin-right: $spacing-04;
  }
}

[dir='rtl'] {
  .smallcopy {
    &__label {
      margin-left: $spacing-04;
      margin-right: 0;
    }
  }
}
