@import '../../../assets/scss/mixins';

/* publication_thumbnail */
.publication_thumbnail__image {
  background: linear-gradient(180deg, #c9d0d6 70%, #c9d0d6 0, #414648 70.5%, #9ea5ac 0, #9ea5ac);
  display: inline-flex;
  padding: 35px 47px;
  position: relative;
  z-index: 1;

  &::before {
    background: #7b8085;
    border-radius: 21%;
    bottom: 37px;
    content: '';
    filter: blur(4px);
    height: 27px;
    left: 32px;
    position: absolute;
    right: 20px;
    transform: skewX(64deg);
    width: calc(100% - 100px);
    z-index: -2;
  }

  &::after {
    @extend %img-hover-effect;

    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  &:hover {
    &::after {
      opacity: 0.75;
    }
  }
}

/* publication thumbnail end */
