@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.switch {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;

  &__track {
    background-color: $color-gray-400;
    border-radius: 20px;
    position: relative;
    width: 60px;
    height: 30px;
    gap: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    .switch--small & {
      width: 40px;
      height: 20px;
    }

    &:focus {
      box-shadow: 0 0 4px $color-blue-800;
      outline: none;
    }

  }

  &__thumb {
      width: 22px;
      height: 22px;
      background-color: $color-white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-10%, -50%);
      transition: left 250ms ease;
  
      .switch--small & {
        width: 14px;
        height: 14px;
      }
      
      .switch--toggled & {
        left: 60%;
      }
  
      .switch--untoggled & {
        left: 10%;
      }
    }

  &__icon {
    position: absolute;
    transform: translate(-20%, -50%);
    top: 50%;
    display: flex;
    align-items: center;
   
    .switch--small & {
      width: 8px;
    }
  }

  &__label {
    font-size: 20px;
    display: block;
    margin-bottom: $spacing-03;

    .switch--small & {
      font-size: 16px;
    }
  }

  &__value {
    font-size: 1rem;
    font-weight: 400;
  }

  &--toggled {
    .switch__track {
      background-color: $color-blue-800;
    }

    .switch__icon {
      background: transparent url(~icons/checkmark-regular.svg) no-repeat left center;
      color: $color-gray-400;
      left: 20%;
      width: 13px;
      height: 13px;
    }

    &.switch--small .switch__icon {
      background: transparent url(~icons/checkmark-small.svg) no-repeat left center;
      width: 10px;
      height: 10px;
    }
  }

  &--untoggled {
    .switch__icon {
      background: transparent url(~icons/disabled-x-regular.svg) no-repeat right center;
      width: 10px;
      height: 10px;
      right: 15%;
      color: $color-gray-600;
    }

    &.switch--small .switch__icon {
      background: transparent url(~icons/disabled-x-small.svg) no-repeat right center;
      width: 0.5rem;
    }
  }

  &--disabled {
    cursor: not-allowed;

    .switch__track {
      background-color: $color-gray-400;

      &:focus {
        box-shadow: none; 
        outline: none;
      }
    }

    .switch__thumb {
      background-color: $color-gray-500;
    }

    &.switch--toggled {
        &.switch--small {
            .switch__icon {
              background: transparent url(~icons/disabled-checkmark-small.svg) no-repeat left center;
              width: 10px;
              height: 10px;
            }
        }

        .switch__icon {
          background: transparent url(~icons/disabled-checkmark-regular.svg) no-repeat left center;
          width: 13px;
          height: 13px;
        }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
