@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/swiper';

.our-expertise {
  background: $color-gray-200;
  .intro {
    display: flex;
    align-items: center;
    > div {
      margin: $spacing-06;
      @include devicebreak(large) {
        margin: $spacing-08;
      }
    }
  }
  .grid-y {
    height: calc(100vh - #{$header-height-medium});

    @include devicebreak(xlarge) {
      height: calc(100vh - #{$header-height-xlarge});
    }
  }
  .swiper {
    background: $color-white;
    .swiper-slide  {
      .cell {
        position: relative;
        overflow: hidden;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      h3 {
        margin-top: 12.5vh;
        margin-left: $spacing-04;
        margin-right: $spacing-04;
      }
      p {
        margin-left: $spacing-04;
        margin-right: $spacing-04;
      }
      @include devicebreak(large) {
        h3 {
          margin-left: $spacing-08;
          margin-right: $spacing-08;
        }
        p {
          margin-left: $spacing-08;
          margin-right: $spacing-08;
          max-width: 75%;
        }
      }
      &:nth-of-type(1) {
        .stripe {
          background: #E6243C;
        }
      }
      &:nth-of-type(2) {
        .stripe {
          background: #036A9C;
        }
      }
      &:nth-of-type(3) {
        .stripe {
          background: #EF803B;
        }
      }
      &:nth-of-type(4) {
        .stripe {
          background: #3E7F45;
        }
      }
      &:nth-of-type(5) {
        .stripe {
          background: #DE9800;
        }
      }
      &:nth-of-type(6) {
        .stripe {
          background: #EE402C;
        }
      }
      &:nth-of-type(7) {
        .stripe {
          background: #22A4BC;
        }
      }
      &:nth-of-type(8) {
        .stripe {
          background: #75D83C;
        }
      }
      &:nth-of-type(9) {
        .stripe {
          background: #2A3C95;
        }
      }
    }
  }
  .swiper-initialized {
    padding-right: 0;
  }
  .stripe {
    height: $spacing-04;
    position: absolute;
    bottom: 0;
    width: 100%;
    @include devicebreak(large) {
      height: $spacing-05;
    }
  }
  .swiper-navigation {
    position: absolute;
    bottom: $spacing-07;
    right: $spacing-05;

    .swiper-button-prev, .swiper-button-next {
      background: transparentize($color: #FFFFFF, $amount: 1);
      border: 0;
      display: inline-block;
    }
  }
  .swiper-tabs {
    position: absolute;
    left: $spacing-04;
    right: $spacing-04;
    top: calc(50% + #{$spacing-06});
    display: flex;
    border-bottom: 2px solid $color-gray-300;
    @include devicebreak(large) {
      left: $spacing-08;
      right: $spacing-08;
      top: calc(50% + #{$spacing-08});
    }
    div {
      margin-right: $spacing-06;
      text-transform: uppercase;
      font-weight: 700;
      font-size: $font-size-14;
      position: relative;
      white-space: nowrap;
      @include devicebreak(large) {
        font-size: $font-size-16;
      }
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: -2px;
        left: 0;
        right: 0;
        border-bottom: 2px solid $color-gray-300;
        z-index: 1;
      }
      &.is-active {
        &::after {
          border-bottom-color: $color-dark-red;
        }
      }
      &:nth-of-type(3) {
        flex: 1 0 auto;
      }
      &:nth-of-type(4) {
        display: none;
        margin: 0;
        @include devicebreak(large) {
          display: block;
        }
      }
    }
  }
}

[dir="rtl"] {
  .our-expertise {
    .swiper-initialized {
      padding-left: 0;
    }
    .swiper-navigation {
      left: $spacing-05;
      right: auto;
    }
    .swiper-tabs {
      div {
        margin-left: $spacing-06;
        margin-right: 0;
      }
    }
  }
}
