@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

.input-group {
  label {
    @extend %paragragh-font-20;

    display: block;
    margin-bottom: $spacing-08;
  }

  .help {
    color: $color-gray-500;
    display: block;
    font-size: $font-size-14;
    margin-bottom: 0;
  }

  .error {
    color: $color-red;
    font-size: $font-size-16;
    margin-bottom: 0;
  }

  &.disabled {
    label,
    .help {
      color: $color-gray-400;
    }
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=date],
  textarea {
    @extend %background-white;

    border: 2px solid $color-black;
    border-radius: 0;
    box-sizing: border-box;
    font-size: $font-size-16;
    height: 46px;
    margin-bottom: $spacing-08;
    padding: 0.625rem;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &::placeholder {
      color: $color-gray-500;
    }

    &.search {
      padding-left: $spacing-40;
      position: relative;
    }



    input[type=date] {
      padding-left: $spacing-40;
      position: relative;
    }
  }

  textarea {
    height: auto;
    max-width: 100%;
    resize: vertical;
  }

  .search-field {
    display: inline-block;
    position: relative;
    width: 100%;

    &.undefined-field {
      display: none;
    }

    &::before {
      @extend %field__image;

      background-image: url(#{$img-path-Icon}/Search_black.svg);
      content: '';
      top: 13px;
    }

    &.disabled {
      &::before {
        background-image: url(#{$img-path-Icon}/Searchgray.svg);
        content: '';
      }
    }
  }

  input[type=date] {
    background:
      url(#{$img-path-Icon}/calender_black.svg) no-repeat left
      14px bottom 12px;
    color: $color-gray-500;
    padding-left: $spacing-40;
  }

  &.error {
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=date],
    textarea {
      border: 2px solid $color-red;
    }
  }

  &.disabled {
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=date],
    textarea {
      background-color: $color-white;
      border: 2px solid $color-gray-400;
      color: $color-gray-400;

      &::placeholder {
        color: $color-gray-400;
      }
    }

    input[type=date] {
      background-image: url(#{$img-path-Icon}/datedisabled.svg);
      color: $color-gray-400;
    }
  }

  &.focus {
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=date],
    textarea {
      &:focus {
        box-shadow: 0 0 4px #0468b1;
      }
    }
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  appearance: none;
  left: 3px;
  opacity: 0;
  position: absolute;
}

[dir='rtl'] {
  .input-group {
    input[type=search]::before {
      right: 14px;
    }

    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=date],
    textarea {
      &.search {
        padding-left: 0.625rem;
        padding-right: $spacing-40;
      }

      @media (hover: none) and (pointer: coarse) {
        input[type=date] {
          padding-right: $spacing-24;
        }
      }
    }

    input[type=date] {
      background:
        url(#{$img-path-Icon}/calender_black.svg) no-repeat
        right 14px bottom 12px;
      padding-right: $spacing-40;
      text-align: right;
    }

    &.disabled {
      input[type=date] {
        background-image: url(#{$img-path-Icon}/datedisabled.svg);
      }
    }
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    left: inherit;
    position: absolute;
    right: 27px;
  }
}
