@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

.input-group {
  &__label {
    &--default,
    &--focus,
    &--error,
    &--disabled {
      @extend %paragragh-font-20;

      &-help {
        display: block;
        font-size: $font-size-14;
      }
    }

    &--disabled {
      color: $color-gray-400;

      &-help {
        color: $color-gray-400;
      }
    }
  }

  &__icon {
    display: inline-block;
    position: relative;
    width: 100%;

    &.undefined-field {
      display: none;
    }

    &.search-field {
      &::before {
        @extend %field__image;

        background-image: url(#{$img-path-Icon}/Search_black.svg);
        content: '';
      }

      &.disabled-state {
        &::before {
          background-image: url(#{$img-path-Icon}/Searchgray.svg);
          content: '';
        }
      }
    }
  }

  .input__controls {
    border: 2px solid $color-black;
    box-sizing: border-box;
    font-size: $font-size-16;
    height: 46px;
    margin: $spacing-08 0;
    padding: 0.625rem;
    width: 100%;

    &::placeholder {
      color: $color-gray-500;
    }

    &.focus-state {
      &:focus {
        box-shadow: 0 0 4px #0468b1;
      }
    }

    &.error-state {
      border: 2px solid $color-red;
    }

    &.disabled {
      background-color: $color-white;
      border: 2px solid $color-gray-400;
      color: $color-gray-400;

      &::placeholder {
        color: $color-gray-400;
      }
    }

    &--search {
      padding-left: $spacing-40;
      position: relative;
    }

    &--date {
      background:
        url(#{$img-path-Icon}/calender_black.svg) no-repeat left
        14px bottom 12px;
      color: $color-gray-500;
      padding-left: $spacing-40;

      &.disabled-state {
        background-image: url(#{$img-path-Icon}/datedisabled.svg);
        color: $color-gray-400;
      }
    }

    &--textarea {
      height: auto;
      max-width: 100%;
      resize: vertical;
    }
  }

  .input-error {
    color: $color-red;
    font-size: $font-size-16;
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  appearance: none;
  left: -12px;
  opacity: 0;
  position: absolute;
}

[dir='rtl'] {
  .input-group {
    &__icon.search-field::before {
      right: 14px;
    }

    .input__controls {
      &--search {
        padding-left: 0.625rem;
        padding-right: $spacing-40;
      }

      &--date {
        background:
          url(#{$img-path-Icon}/calender_black.svg) no-repeat
          right 14px bottom 12px;
        padding-right: $spacing-40;
        text-align: right;

        &.disabled-state {
          background-image: url(#{$img-path-Icon}/datedisabled.svg);
        }
      }
      @media (hover: none) and (pointer: coarse) {
        &--date {
          padding-right: $spacing-24;
        }
      }
    }
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    right: 3px;
  }
}
