@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

label {
  @extend %paragragh-font-20;

  display: block;

  &.error {
    @extend %paragragh-font-20;

    color: var(--undpds-color-black);
    margin-top: 0;
  }

  &.disabled {
    color: var(--undpds-color-gray-400);
  }
}

.help {
  color: var(--undpds-color-gray-500);
  display: block;
  font-size: var(--undpds-font-size-14);
  margin-bottom: 0;
  margin-top: var(--undpds-spacing-03);
}

.error {
  color: var(--undpds-color-red);
  font-size: var(--undpds-font-size-16);
  margin-bottom: 0;
  margin-top: var(--undpds-spacing-03);
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=date],
textarea {
  @extend %background-white;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid var(--undpds-color-black);
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-family: var(--undpds-font-family-proximanova);
  font-size: var(--undpds-font-size-16);
  height: 46px;
  margin-top: var(--undpds-spacing-03);
  padding: 0.625rem;
  width: 100%;

  &::placeholder {
    color: var(--undpds-color-gray-500);
  }

  &:focus {
    box-shadow: 0 0 4px var(--undpds-color-blue-800);
    outline: 0;
  }

  input[type=date],
  input[type=search] {
    padding-left: var(--undpds-spacing-08);
    position: relative;
  }

  &.disabled {
    background-color: var(--undpds-color-white);
    border: 2px solid var(--undpds-color-gray-400);
    color: var(--undpds-color-gray-400);

    &::placeholder {
      color: var(--undpds-color-gray-400);
    }
  }

  &.error {
    border: 2px solid var(--undpds-color-red);
  }
}

input[type=date] {
  background:
    url(~icons/calender-black.svg) no-repeat left 14px bottom 12px;
  background-color: var(--undpds-color-white);
  color: var(--undpds-color-gray-500);
  padding-left: var(--undpds-spacing-08);
  position: relative;
  appearance: none;

  &.disabled {
    background-image: url(~icons/date-disabled.svg);
  }

  &.empty {
    color: var(--undpds-color-gray-500);
  }

  &.filled {
    color: var(--undpds-color-black);
  }

}

input[type=search] {
  background: url(~icons/search-black.svg) no-repeat left 14px bottom 12px;
  color: #a9b1b7;
  padding-left: 2.5rem;

  &.disabled {
    background-image: url(~icons/search-gray.svg);
  }
}

.help {
  &.disabled {
    color: var(--undpds-color-gray-400);
  }
}

textarea {
  height: auto;
  max-width: 100%;
  resize: vertical;
}

input[type='date']::-webkit-calendar-picker-indicator {
  appearance: none;
  opacity: 1;
  position: absolute;
  margin-inline-start: -1.7rem;
  width: 1rem;
  height: 1rem;
  color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

[dir='rtl'] {

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=date],
  textarea {
    @media (hover: none) and (pointer: coarse) {
      input[type=date] {
        padding-right: var(--undpds-spacing-06);
      }
    }
  }

  input[type=date],
  input[type=search] {
    background:
      url(~icons/calender-black.svg) no-repeat right 14px bottom 12px;
    background-color: var(--undpds-color-white);
    padding-left: 0.635rem;
    padding-right: var(--undpds-spacing-08);
    text-align: right;
  }

  input[type=search] {
    background:
      url(~icons/search-black.svg) no-repeat right 14px bottom 12px;
  }

  input[type=date] {
    &.disabled {
      background-image: url(~icons/date-disabled.svg);
    }
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    position: absolute;
    text-align: initial;
    opacity: 1;
    margin-right: 0.75rem;
    top: 1;
    left: 1;
    right: 0;
    bottom: 1;
    width: 1rem;
    height: 1rem;
    color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }

  input::-webkit-date-and-time-value {
    margin-right: 0;
    text-align: right;
  }
}

// burmese lang
:lang(my) {
  .error {
    line-height: 1.7;
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=date],
  textarea {
    font-family: var(--undpds-font-family-notosans);
  }
}
