@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* global homepage hero */
.hero {
  &-wrapper {
    align-items: flex-end;
    display: flex;
    position: relative;
    @extend %expand_to_size;

    @include devicebreak(medium) {
      display: block;
    }

    &__content {
      margin-left: 0;
      padding-top: 10.438rem;
      position: relative;

      @include devicebreak(medium) {
        margin-left: $spacing-64;
        padding-top: 13.125rem;
      }

      .button {
        margin-bottom: $spacing-24;
        margin-top: $spacing-64;

        @include devicebreak(medium) {
          margin-bottom: 160px;
          margin-top: 0;
        }
      }
    }

    &__background {
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;

      img {
        height: 100%;
        max-width: none;
        width: auto;
      }
    }

    &__container {
      padding: 0 $spacing-24;
    }

    &__title {
      margin-bottom: $spacing-40;
      text-transform: uppercase;
    }

    &__subtitle {
      margin: 0;
      padding-bottom: $spacing-64;
    }
  }

  &_right {
    overflow: hidden;
    position: relative;

    &_box {
      height: auto;
      margin-bottom: $spacing-32;
      position: relative;
      width: 100%;

      @include devicebreak(medium) {
        height: 100%;
        margin-bottom: 0;
        position: absolute;
      }

      video {
        height: auto;

        @include devicebreak(medium) {
          height: 100%;
        }
      }

      img {
        height: auto;
        width: 100%;

        @include devicebreak(medium) {
          height: 100%;
          max-width: none;
          width: auto;
        }
      }
    }
  }

  &-split {
    &__content {
      padding: 0;
      word-break: break-word;

      @include devicebreak(medium) {
        padding: 137px $spacing-16 137px $spacing-64;
      }
    }

    &__title {
      margin-bottom: $spacing-16;
      text-transform: uppercase;

      @include devicebreak(medium) {
        margin-bottom: $spacing-40;
      }
    }

    &__subtitle {
      margin: 0;
      padding-bottom: $spacing-32;

      @include devicebreak(medium) {
        padding-bottom: $spacing-64;
      }
    }
  }

  &-option {
    &__content {
      padding: 0;

      @include devicebreak(medium) {
        padding: 0 26px 0 $spacing-64;
      }
    }

    &__title {
      margin-bottom: $spacing-16;
      padding-left: 0;
      text-transform: uppercase;

      @include devicebreak(medium) {
        margin-bottom: $spacing-80;
        padding-left: $spacing-64;
      }
    }

    &__subtitle {
      margin: 0;
      padding-bottom: $spacing-32;

      @include devicebreak(medium) {
        padding-bottom: 124px;
      }
    }
  }
}

[dir='rtl'] {
  .hero {
    &-wrapper {
      &__content {
        margin-left: 0;
        margin-right: 0;

        @include devicebreak(medium) {
          margin-right: $spacing-64;
        }
      }
    }

    &-split {
      &__content {
        padding-left: 0;
        padding-right: 0;

        @include devicebreak(medium) {
          padding-right: $spacing-64;
        }
      }
    }

    &-option {
      &__content {
        padding: 0;

        @include devicebreak(medium) {
          padding-left: 26px;
          padding-right: $spacing-64;
        }
      }

      &__title {
        padding-left: 0;
        padding-right: 0;

        @include devicebreak(medium) {
          padding-right: $spacing-64;
        }
      }
    }
  }
}
