@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* pagination start */
.pagination-wrapper {
  align-items: center;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.page__item {
  font-size: $font-size-16;
  line-height: 1.2;
  margin-right: $spacing-24;
  position: relative;

  a {
    @extend %img_none;

    border-bottom: 0;
    font-size: $font-size-16;
    line-height: 1.2;
  }

  &:first-child,
  &:last-child {
    cursor: pointer;

    &::before {
      background: url(#{$img-path-Icon}/circle-left.svg) no-repeat center center;
      content: ' ';
      display: block;
      height: 45px;
      width: 45px;
    }
  }

  &.disabled {
    &::before {
      opacity: 0.3;
    }
  }

  &:last-child {
    &::before {
      background:
        url(#{$img-path-Icon}/circle-right.svg) no-repeat center
        center;
    }
  }
}

[dir='rtl'] {
  .pagination-wrapper {
    padding-right: 0;
  }

  .page__item {
    margin-left: $spacing-24;
    margin-right: 0;

    &:first-child {
      &::before {
        @include transform(rotateZ(180deg));
      }
    }

    &:last-child {
      &::before {
        @include transform(rotateZ(180deg));
      }
    }
  }
}

/* pagination end */
