@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

/* pagination start */
.pagination-wrapper {
  align-items: center;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.page__item {
  margin-right: $spacing-24;
  position: relative;
  font-size: $font-size-16;
  line-height: 22px;

  a {
    border-bottom: 0;
    font-size: $font-size-16;
    line-height: 22px;
    @extend %img_none;
  }

  &.page__item--disabled {
    .icon-circle-left, .icon-circle-right {
      opacity: 0.3;
    }
  }
}

[dir="rtl"] {
  .pagination-wrapper {
    padding-right: 0;
  }

  .page__item {
    margin-left: $spacing-24;
    margin-right: 0;
    .icon-circle-left, .icon-circle-right {
       @include transform(rotateZ(180deg));
    }
  }
}
/* pagination end */
