@use '../../../../assets/scss/mixins';
@use '../../../../assets/scss/variables';
@use '../../../../assets/scss/breakpoints';

.chip {
  align-items: center;
  background: var(--undpds-color-gray-200);
  border: none;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  min-height: 1.875rem;
  padding: var(--undpds-spacing-02) var(--undpds-spacing-05);

  &:hover {
    background-color: var(--undpds-color-gray-300);
  }

  &.chip__cross {
    &::before {
      background: url(~icons/times-red.svg) no-repeat left;
      content: '';
      display: inline-flex;
      height: 22px;
      margin-inline: -(variables.$spacing-02) var(--undpds-spacing-03);
      padding-right: 1.375rem;
      position: relative;
      top: 0;
      width: auto;
    }
  }
}

:lang(my) {
  .chip {
    align-items: flex-end;

    &__cross {
      align-items: baseline;

      &::before {
        top: 5px;
      }
    }
  }
}