
.large-form {
    @extend .generic-form;

    .btn {
        margin-top: 29px;
    }

    .input-group:first-of-type {
        margin-top: 35px;

        @include breakpoint(small only) {
            margin-top: 35px;
        }
    }
}
