@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.author-card {
  a {
    display: block;
    margin-bottom: $font-size-32;
    word-break: break-word;

    &:hover {
      .cta__link::after {
        @include translate(70%,0);
      }

      .author__img {

        &::before {
          opacity: 0.75;
        }
      }
    }
  }

  p {
    font-size: $font-size-14;
    line-height: 1.4;
    margin-bottom: $spacing-24;

    @include devicebreak(medium) {
      font-size: $font-size-16;
    }
  }

  h6 {
    @include devicebreak(small) {
      font-size: $font-size-14;
      line-height: 1.2;
    }
  }
}

[dir='rtl'] {
  .author-card {
    a {
      &:hover {
        .cta__link::after {
          @include transform(translate(-50%,0) rotate(180deg));
        }
      }
    }
  }
}

/* authorcard end */
