@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.author-card {
  @extend %img_none;

  display: block;

  .author-wrapper {
    padding-top: $spacing-24;
  }

  p {
    font-size: $font-size-16;
    line-height: 1.4;
    margin-bottom: $spacing-24;

    @include devicebreak(medium) {
      font-size: $font-size-16;
    }
  }

  &:hover {
    .cta__link::after {
      @include translate(70%,0);
    }
  }

  h6 {
    @include devicebreak(small) {
      font-size: $font-size-14;
      line-height: 1.2;
    }
  }
}

[dir='rtl'] {
  .author-card {
    &:hover {
      .cta__link::after {
        @include transform(translate(-50%,0) rotate(180deg));
      }
    }
  }
}

/* authorcard end */
