@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.authorcard {
  @extend %img_none;

  border: 0;
  display: block;

  .author-wrapper {
    padding-top: $spacing-24;

    &__box {
      margin-left: 0.625rem;
      margin-right: 0;

      @include devicebreak(medium) {
        margin-left: 0.9375rem;
      }
    }
  }

  p {
    font-size: $font-size-16;
    line-height: 1.4;
    margin-bottom: $spacing-24;

    @include devicebreak(medium) {
      font-size: $font-size-16;
    }
  }

  &:hover {
    .cta__link::after {
      @include translate(70%,0);
    }
  }

  h6 {
    @include devicebreak(small) {
      font-size: $font-size-14;
      line-height: 1.2;
    }
  }
}

[dir='rtl'] {
  .authorcard {
    &:hover {
      .cta__link::after {
        @include transform(translate(-50%,0) rotate(180deg));
      }
    }

    .author-wrapper__box {
      margin-left: 0;
      margin-right: 0.625rem;

      @include devicebreak(medium) {
        margin-right: 0.9375rem;
      }
    }
  }
}

/* authorcard end */
