/* Noto Sans Myanmar */

@font-face {
    font-family: 'NotoSansMyanmar';
    src: url('#{$font-path}NotoSansMyanmar-Light.ttf') format('truetype');
    font-weight: $light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansMyanmar';
    src: url('#{$font-path}NotoSansMyanmar-Regular.ttf') format('truetype');
    font-weight: $regular;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansMyanmar';
    src: url('#{$font-path}NotoSansMyanmar-SemiBold.ttf') format('truetype');
    font-weight: $semi-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansMyanmar';
    src: url('#{$font-path}NotoSansMyanmar-Bold.ttf') format('truetype');
    font-weight: $bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'NotoSansMyanmar';
  src: url('#{$font-path}NotoSansMyanmar-ExtraBold.ttf') format('ttf');
  font-weight: $extra-bold;
  font-style: normal;
  font-display: swap;
}