@use '../../assets/scss/variables';
@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';

.glabal-page {
  @include breakpoints.devicebreak(small) {
    .homepage-hero-tall {
      margin-top: 1rem;
    }
  }

  .featured-card-container {
    margin-top: 7rem;

    @include breakpoints.devicebreak(medium) {
      margin-top: variables.$spacing-06;
    }

    h2 {
      margin-bottom: variables.$spacing-07;
    }
  }

  .parallax {
    margin-top: -(variables.$spacing-11);
    overflow: hidden;
    padding-bottom: variables.$spacing-11;
    position: relative;

    @include breakpoints.devicebreak(medium) {
      background-image: none;
      border-right: none;
      transition: none;
    }

    @include breakpoints.devicebreak(medium) {
      &.lines-background {
        background-image: linear-gradient(90deg, variables.$color-gray-400 1px, rgba(212, 214, 216, 0) 0);
        border-right: 1px solid variables.$color-gray-400;
        transition: opacity 0.1s ease-out;
      }
    }
  }

  .stats-grid {
    border-top: 1px solid hsla(0, 0%, 100%, 0.23);
  }

  .footer {
    margin-top: 0;
  }

  .fixedcarousel {
    background-color: variables.$color-gray-200;
    padding-bottom: variables.$spacing-11;

    h2 {
      @include breakpoints.devicebreak(small) {
        margin-left: 0.938rem;
        margin-right: 0.938rem;
      }
    }

    .swiper-initialized .swiper-scrollbar {
      @include breakpoints.devicebreak(medium) {
        width: calc(100% - #{variables.$spacing-11});
      }
    }
  }
}

.no-gap {
  margin-left: -#{variables.$spacing-04};
  margin-right: -#{variables.$spacing-04};
}