
.double-column-gallery {
    overflow: hidden;

    .gallery-images {
        height: 130%;
        margin-top: -15%;

        .single-column-gallery {
            overflow: visible;
        }
    }
}
