
.double-column-gallery {
    overflow: hidden;

    .gallery-images {
        height: 130%;
        margin-top: -15%;

        .single-column-gallery {
            overflow: visible;

            @include breakpoint(small only) {
                margin-left: 5px;
                margin-right: 5px;
                width: calc(50% - 1rem);
            }
        }
    }
}
