@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* pagehero card hero start */
.pagehero-cards {
  &-items {
    @include devicebreak(small) {
      overflow: hidden;
    }

    .pagehero-cards-box {
      @include devicebreak(medium) {
        flex: 0 0 calc(33.333% - 1.5rem);
        max-width: calc(33.333% - 1.5rem);
      }

      @include devicebreak(large) {
        flex: 0 0 calc(16.66667% - 1.5rem);
        max-width: calc(16.66667% - 1.5rem);
      }

      @include devicebreak(large) {
        &.large {
          flex: 0 0 calc(25% - 1.5rem);
          max-width: calc(25% - 1.5rem);
        }
      }

      @include devicebreak(small) {
        margin-left: 0;
      }
    }
  }

  &-box {
    @include devicebreak(medium) {
      &.swiper-slide {
        height: auto;
      }
    }
  }

  &-top {
    justify-content: center;
    position: relative;

    h2 {
      padding-bottom: 1.875rem;
      text-transform: uppercase;

      @include devicebreak(large) {
        padding-bottom: 0;
      }
    }

    h3 {
      font-size: $font-size-25;
      font-weight: 700;
      margin-bottom: 2.188rem;
      padding-top: 1.25rem;

      @include devicebreak(large) {
        font-size: 1.875rem;
        padding-top: 0;
      }
    }

    .large-4 {
      position: relative;

      @include devicebreak(large) {
        margin-left: $spacing-64;
      }

      &::before {
        @extend %absolute__content;

        @include transform(rotate(90deg));

        background-color: $color-dark-red;
        height: 7rem;
        left: 3.5rem;
        top: -4rem;
        width: 3px;

        @include devicebreak(large) {
          @include transform(rotate(0));

          height: 80%;
          left: -60px;
          top: 0;
        }
      }
    }
  }

  &-subhead {
    margin-left: 0;
    position: relative;

    @include devicebreak(medium) {
      margin-left: $spacing-64;
    }

    &::before {
      @extend %absolute__content;

      background: $color-dark-red;
      height: 7rem;
      left: 3.5rem;
      top: -4rem;
      transform: rotate(90deg);
      width: 3px;

      @include devicebreak(medium) {
        height: 80%;
        left: -60px;
        top: 0;
        transform: rotate(0);
      }
    }
  }

  .swiper-wrapper {
    @include devicebreak(medium) {
      flex-wrap: wrap;
      overflow: hidden;
    }

    .swiper-slide-active {
      @include devicebreak(small) {
        margin-left: -$spacing-64;
        padding-left: $spacing-64;

        .cta__link {
          i {
            width: $spacing-80;
          }
        }
      }
    }
  }
}

[dir='rtl'] {
  .pagehero-cards {
    &-top {
      .large-4 {
        @include devicebreak(large) {
          margin-right: $spacing-64;
        }

        &::before {
          right: 3.5rem;

          @include devicebreak(large) {
            right: -60px;
          }
        }
      }
    }


    .swiper-wrapper {
      .swiper-slide-active {
        @include devicebreak(small) {
          margin-left: 0;
          margin-right: -$spacing-64;
          padding-left: 0;
          padding-right: $spacing-64;
        }
      }
    }
  }
}

/* pagehero card hero end */
