@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* country card hero start */
.country-card {
  &__header {
    justify-content: center;

    h2 {
      padding-bottom: 1.875rem;
      text-transform: uppercase;

      @include devicebreak(medium) {
        padding-bottom: 0;
      }
    }

    h5 {
      font-size: 1.563rem;
      font-weight: 700;
      line-height: 2.6rem;
      margin-bottom: 2.188rem;
      padding-top: 1.25rem;

      @include devicebreak(medium) {
        font-size: 1.875rem;
        padding-top: 0;
      }
    }
  }

  &-border {
    margin-left: 0;
    position: relative;

    @include devicebreak(medium) {
      margin-left: $spacing-64;
    }

    &::before {
      @extend %absolute__content;

      background: $color-dark-red;
      height: 7rem;
      left: 3.5rem;
      top: -4rem;
      transform: rotate(90deg);
      width: 3px;

      @include devicebreak(medium) {
        height: 80%;
        left: -60px;
        top: 0;
        transform: rotate(0);
      }
    }
  }
}

[dir='rtl'] {
  .countrycard {
    &-border {
      margin-left: 0;
      margin-right: 0;

      @include devicebreak(medium) {
        margin-right: $spacing-64;
      }

      &::before {
        right: 3.5rem;

        @include devicebreak(medium) {
          right: -60px;
        }
      }
    }

    &__subtitle {
      padding-left: 0;
      padding-right: $spacing-64;
    }
  }
}

/* country card hero end */
