@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* pagehero card hero start */
.pagehero-cards {
  @include devicebreak(small) {
    &-items {
      .swiper-wrapper {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &-items {
    @include devicebreak(small) {
      overflow: hidden;
    }

    .pagehero-cards-box {

      @include devicebreak(large) {
        flex: 0 0 calc(16.66667% - #{$spacing-06});
        max-width: calc(16.66667% - #{$spacing-06});
        
        &.large {
          flex: 0 0 calc(25% - #{$spacing-06});
          max-width: calc(25% - #{$spacing-06});
        }
      }

      @include devicebreak(small) {
        margin-left: 0;
      }
    }
  }

  &-box {
    @include devicebreak(medium) {
      margin-bottom: $spacing-06;

      &.swiper-slide {
        height: auto;
        margin-left: 0;
        margin-right: $font-size-20;
      }
    }
  }

  &-top {
    justify-content: center;
    position: relative;

    h2 {
      padding-bottom: 1.875rem;
      text-transform: uppercase;

      @include devicebreak(medium) {
        margin-right: $spacing-04;
      }

      @include devicebreak(large) {
        padding-bottom: 0;
      }
    }

    h3 {
      font-size: $font-size-25;
      font-weight: 700;
      margin-bottom: $font-size-35;
      padding-top: $font-size-20;

      @include devicebreak(large) {
        font-size: 1.875rem;
        padding-top: 0;
      }
    }

    >:nth-child(2) {
      position: relative;

      @include devicebreak(large) {
        margin-left: $spacing-10;
      }

      &::before {
        @extend %absolute__content;

        @include transform(rotate(90deg));

        background-color: $color-dark-red;
        height: 7rem;
        left: 3.5rem;
        top: -4rem;
        width: 3px;

        @include devicebreak(large) {
          @include transform(rotate(0));

          height: 80%;
          left: -60px;
          top: 0;
        }
      }
    }
  }

  &-subhead {
    margin-left: 0;
    position: relative;

    @include devicebreak(medium) {
      margin-left: $spacing-10;
    }

    &::before {
      @extend %absolute__content;

      background: $color-dark-red;
      height: 7rem;
      left: 3.5rem;
      top: -4rem;
      transform: rotate(90deg);
      width: 3px;

      @include devicebreak(medium) {
        height: 80%;
        left: -60px;
        top: 0;
        transform: rotate(0);
      }
    }
  }

  .swiper-initialized {
    padding-right: $spacing-10;

    @include devicebreak(medium) {
      padding-right: $spacing-13;
    }

    .swiper-scrollbar {
      padding-right: $spacing-10;

      @include devicebreak(medium) {
        padding-right: $spacing-13;
      }
    }
  }
}

[dir='rtl'] {
  .pagehero-cards {
    
    &-top {
      >:nth-child(2) {
        @include devicebreak(large) {
          margin-right: $spacing-10;
        }

        &::before {
          right: 3.5rem;

          @include devicebreak(large) {
            right: -60px;
          }
        }
      }
      h2 {
        @include devicebreak(medium) {
          margin-left: $spacing-04;
          margin-right: 0;
        }
      }
    }

    .swiper-initialized {
      padding-right: 0;
      padding-left: $spacing-10;
  
      @include devicebreak(medium) {
        padding-left: $spacing-13;
      }
  
      .swiper-scrollbar {
        padding-right: 0;
        padding-left: $spacing-10;
  
        @include devicebreak(medium) {
          padding-left: $spacing-13;
        }
      }

      .swiper-slide-active + .swiper-slide {
        .cta__link {
          i {
            left: unset;
            right: $spacing-05;
          }
        }
      }
    }
  }
}
