.sdg-card{
    width: 100%;
    display: flex;
    height: 160px;
    color: $white;
    position: relative;
    align-items: center;
    font-family: $secondary-font;
    cursor: url("/assets/images/arrows/sdg-hover-arrow.svg"), url("/assets/images/arrows/sdg-hover-arrow.cur"), auto;

    @include breakpoint(small only){
        height: 245px;
        padding: 35px 24px 0;
        flex-direction: column;
        align-items: flex-start;
    }


    .number{
        font-size: 11rem;
        font-weight: $bold;
        padding: 0 160px 0 24px;

        @include breakpoint(small only){
            padding: 0;
            font-size: 4.7rem;
        }
    }

    .title{
        display: flex;
        font-size: 3rem;
        position: absolute;
        margin-left: 230px;
        z-index: $z-index-1;
        align-items: center;
        text-transform: uppercase;

        @include breakpoint(small only){
            width: 100%;
            margin: 25px 0 0;
            font-size: 2.5rem;
            position: relative;
        }
    }

    .hover-image{
        margin-left: auto;
        position: relative;

        @include breakpoint(small only){
            display: none;
        }

        img{
            opacity: 0;
            height: 100%;
            object-fit: cover;
            position: relative;
            transition: opacity 0.5s ease;
        }

        .gradient{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: background-color 0.5s linear;
        }

    }

    &:visited{
        color: $white;
    }

    &:hover{
        color: $white;

        @include breakpoint(large up){
            .hover-image {
                img{
                    opacity: 0.3;
                }
            }
        }
    }
}
