@mixin sdg-background-color($color){
    background-color: $color;

    .hover-image .gradient{
        background-image: linear-gradient(270deg, rgba($color, 0) 0%, rgba($color, 0) 80%, rgba($color, 1) 100%);
    }
}

.sdg-card,
.sdg-card-link{
    width: 100%;
    display: flex;
    height: 160px;
    color: $white;
    position: relative;
    align-items: center;
    font-family: $secondary-font;
    cursor: url("#{$image-path}/arrows/sdg-hover-arrow.svg"), url("#{$image-path}/arrows/sdg-hover-arrow.cur"), auto;

    @include breakpoint(medium down){
        height: 245px;
    }

    @include breakpoint(small only){
        padding: 35px 24px 0;
        flex-direction: column;
        align-items: flex-start;
    }


    .number{
        font-size: 11rem;
        font-weight: $bold;
        letter-spacing: 2.2px;
        padding: 0 160px 0 140px;
        position: relative;

        @include breakpoint(medium down){
            padding: 0 85px
        }

        @include breakpoint(small only){
            padding: 0;
            font-size: 4.7rem;
            letter-spacing: 4.7px;
        }
    }

    .title{
        left: 0;
        display: flex;
        font-size: 3rem;
        text-align: left;
        position: absolute;
        margin-left: 355px;
        z-index: $z-index-1;
        align-items: center;
        letter-spacing: 1.5px;
        text-transform: uppercase;

        @include breakpoint(medium down){
            margin-left: 240px;
        }

        @include breakpoint(small only){
            width: 100%;
            margin: 25px 0 0;
            font-size: 2.5rem;
            position: relative;
            letter-spacing: 1.25px;
        }
    }

    .hover-image{
        opacity: 0;
        width: 100%;
        height: 160px;
        max-width: 650px;
        margin-left: auto;
        position: relative;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        transition: opacity 0.5s ease;

        @include breakpoint(small only){
            display: none;
        }

        .gradient{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: background-color 0.5s linear;
        }

    }

    &:visited{
        color: $white;
    }

    &:focus{
        outline: none;
    }

    &:hover{

        @include breakpoint(large up){
            .hover-image {
                opacity: 0.3;
            }
        }
    }

    &.color-1{
        @include sdg-background-color($sdg-1);
    }

    &.color-2{
        @include sdg-background-color($sdg-2);
    }

    &.color-3{
        @include sdg-background-color($sdg-3);
    }

    &.color-4{
        @include sdg-background-color($sdg-4);
    }

    &.color-5{
        @include sdg-background-color($sdg-5);
    }

    &.color-6{
        @include sdg-background-color($sdg-6);
    }

    &.color-7{
        @include sdg-background-color($sdg-7);
    }

    &.color-8{
        @include sdg-background-color($sdg-8);
    }

    &.color-9{
        @include sdg-background-color($sdg-9);
    }

    &.color-10{
        @include sdg-background-color($sdg-10);
    }

    &.color-11{
        @include sdg-background-color($sdg-11);
    }

    &.color-12{
        @include sdg-background-color($sdg-12);
    }

    &.color-13{
        @include sdg-background-color($sdg-13);
    }

    &.color-14{
        @include sdg-background-color($sdg-14);
    }

    &.color-15{
        @include sdg-background-color($sdg-15);
    }

    &.color-16{
        @include sdg-background-color($sdg-16);
    }

    &.color-17{
        @include sdg-background-color($sdg-17);
    }

    &.color-white{
        @include sdg-background-color($white);
    }

    &.link {
        color: $black;
        cursor: url("#{$image-path}/arrows/sdg-hover-arrow-black.svg"), url("#{$image-path}/arrows/sdg-hover-arrow-black.cur"), auto;

        @include breakpoint(small only){
            .title {
                margin-top: 35px;
            }
        }

        .image-container{
            padding-left: 140px;

            @include breakpoint(medium down){
                padding-left: 85px;
            }

            @include breakpoint(small only){
                padding-left: 0;
            }

            img{
                max-height: 130px;

                @include breakpoint(small only){
                    max-height: 50px;
                }
            }
        }
    }

    &.next-card {
        flex-direction: row;
        align-items: center;

        .title {
            max-width: calc(100% - 390px);
        }

        @include breakpoint(small only) {
            height: 85px;
            padding: 0 24px;

            .number {
                margin-top: 0;
                font-size: 1.5rem;
                margin-right: 18px;
            }
            .title {
                margin-top: 0;
                font-size: 1.5rem;
                max-width: calc(100% - 55px);
            }
        }

        .arrow-container {
            right: 80px;
            position: absolute;

            @include breakpoint(small only){
                right: 20px;
            }
        }
    }
}
