.stat-card {
    height: 100%;
    position: relative;
    color: $dark-blue-1;
    background-color: $dark-blue-6;
    transition: background-color 0.5s ease;

    &.small{
        min-height: 270px;

        .card-content{
            padding: 40px 35px 40px;

            @include breakpoint(medium only){
                padding: 20px 20px 15px;
            }
        }
    }

    &.medium {
        min-height: 658px;

        .card-content{
            padding: 111px 68px 113px;

            @include breakpoint(medium only){
                padding: 20px 20px 15px;
            }

            .description {
                margin-top: 35px;
                @extend .heading, .h5;
            }

            .number {
                font-size: 5.5rem;
                margin-top: 112px;
            }

            .title {
                @extend .heading, .h3;

                margin-top: 24px;
                font-weight: $regular;
            }
        }
    }

    .card-content{

        .number{
            font-size: 4rem;
            font-weight: $bold;
            color: $dark-blue-6;
            text-transform: uppercase;
            font-family: $secondary-font;
            -webkit-text-stroke: 2px $black;

            @include breakpoint(small only){
                font-size: 5.5rem;
            }
        }

        .title{
            margin-top: 10px;
            font-size: 2.4rem;
            font-weight: $semi-bold;
        }

        .description{
            margin-top: 20px;
            font-size: 1.6rem;
        }
    }

    &:hover{
        @include accent-color-background();
        @include sgd-colors('background-color');

        .card-content .number{
            text-shadow: none;
            color: $dark-blue-1;
            -webkit-text-stroke: unset;
        }

        &.sdg{
            color: $white;

            .card-content .number{
                color: $white;
                text-shadow: none;
                -webkit-text-stroke: unset;
            }
        }
    }
}
