@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

/* image with caption start */
.image {
  &-section {
    justify-content: center;
  }
}

.image-section.portrait {
  align-items: flex-end;

  @include devicebreak(medium) {
    .image__caption {
      display: block;
      margin: 0 0 0 $spacing-24;
      padding-bottom: 0;

      &_para {
        font-size: $font-size-14;
        line-height: 1.4;
        margin-bottom: $spacing-16;
        padding: 0;

        + .credits {
          border-top: 1px solid $color-gray-500;
          margin-left: 0;
          padding: $spacing-16 0 0 0; 
        }
      }
    }
  }

  .credits {
    border-left: 0;
    border-right: 0;
    margin-bottom: $spacing-16;
  }

  .author__caption {
    font-size: $font-size-14;
    line-height: 1.5;
  }
}

.image-section__cart {
  img {
    @extend %img-cover;

    display: block;
  }
}

.image-section__description {
  .image__caption {
    margin: $spacing-16 $spacing-24 0;

    @include devicebreak(medium) {
      margin: $spacing-32 0 0;
    }
  }
}

@include devicebreak(medium) {
  [dir='rtl'] {
    .image-section.portrait {
      .image {
        &__caption {
          margin: 0 $spacing-24 0 0;
        }
      }

      .credits {
        border-right: 0;
        border-top: 1px solid $color-gray-500;
        margin-right: 0;
        padding: $spacing-16 0;
        padding-right: 0;
      }
    }
  }
}
/* image with caption end */
