@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

$container-size: 30em;

/* image with caption start */
figure {
  container-type: inline-size;
  container-name: figure;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  >div {
    width: 100%;
  }

  img {
    width: 100%;
  }

  figcaption {
    margin: var(--undpds-spacing-05) var(--undpds-spacing-06) var(--undpds-spacing-07);
    line-height: 1.4;

    @container figure (width > #{$container-size}) {
      margin: var(--undpds-spacing-07) 0 var(--undpds-spacing-07);
      width: 100%;
      max-width: 64rem;
    }
  }
}

figure.medium {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;

  @container figure (width > #{$container-size}) {
    margin: 0 auto;
    width: 100%;

    >div {
      width: 100%;
    }

    img {
      max-width: 100%;
    }

    figcaption {
      width: 100%;
      line-height: 1.4;
    }
  }
}

figure.portrait {
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    margin-top: auto;
  }

  @container figure (width > #{$container-size}) {

    >div,
    >img {
      width: 50%;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0;
      padding: 0 0 0 var(--undpds-spacing-06);
      width: calc(50% - var(--undpds-spacing-06));
      max-width: 64rem;
      border: 0;

      &::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: var(--undpds-color-black);
      }

      p {
        margin-bottom: var(--undpds-spacing-05);
        padding: 0;

        +.credits {
          border-top: 1px solid var(--undpds-color-gray-500);
          margin-left: 0;
          padding: var(--undpds-spacing-05) 0 0 0;
        }
      }
    }
  }

  .credits {
    border-left: 0;
    border-right: 0;
    margin-bottom: var(--undpds-spacing-05);
  }

  .author__caption {
    font-size: var(--undpds-font-size-14);
    line-height: 1.5;
  }
}

.image-figcaption__cart {
  img {
    @extend %img-cover;

    display: block;
  }
}

[dir='rtl'] {
  figure.portrait {
    @container figure (width > #{$container-size}) {
      .credits {
        border-right: 0;
        margin-right: 0;
        padding: var(--undpds-spacing-05) 0;
        padding-right: 0;
      }
    }
  }
}

/* image with caption end */
