@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

.image {
  &-section {
    justify-content: center;

    &__cart {
      img {
        @extend %img-cover;

        display: block;
      }
    }

    &__description {
      .image__caption {
        margin: $spacing-16 $spacing-24 0;

        @include devicebreak(medium) {
          margin: $spacing-32 0 0;
        }
      }
    }

    &.portrait {
      align-items: flex-end;

      @include devicebreak(medium) {
        .image__caption {
          display: block;
          margin: 0 0 0 $spacing-24;
          padding-bottom: 0;

          &_para {
            font-size: $font-size-14;
            line-height: 1.4;
            margin-bottom: $spacing-16;
            padding: 0;
          }
        }

        .image_credits {
          border-left: 0;
          border-right: 0;
          border-top: 1px solid $color-gray-500;
          margin-bottom: $spacing-16;
          padding: $spacing-16 0 0 0;
        }

        .unstag {
          .image_credits {
            border: 0;
            padding: 0;
          }
        }

        .author__caption {
          font-size: $font-size-14;
          line-height: 1.5;
        }
      }
    }
  }
}

@include devicebreak(medium) {
  [dir='rtl'] {
    .image {
      &.portrait {
        .image {
          &__caption {
            margin: 0 $spacing-24 0 0;
          }

          &_credits {
            border-right: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
