@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

.tweet-card {
  -webkit-font-smoothing: antialiased;

  @include devicebreak(small) {
    margin-bottom: var(--undpds-spacing-12);
  }

  a {
    align-items: flex-start;
    display: inline-flex;
    text-decoration: none;
    background: none;

    img {
      border-radius: 50%;
      height: 44px;
      margin-right: var(--undpds-spacing-05);
      min-width: 44px;
      width: 44px;
    }
  }

  p {
    margin-bottom: 0;
    word-break: break-word;
  }

  &__header {
    color: var(--undpds-color-white);
    font-weight: 400;

    &--subtitle {
      font-size: var(--undpds-font-size-14);
      font-weight: 600;
    }
  }

  &__body {
    border-top: 3px solid var(--undpds-color-white);
    margin-top: var(--undpds-spacing-07);
    padding: var(--undpds-spacing-06) 0.313rem 0 0;

    time,
    p,
    a {
      color: var(--undpds-color-gray-500);
      font-size: var(--undpds-font-size-14);
      font-weight: 700;
    }

    p,
    a {
      color: var(--undpds-color-white);
      font-weight: 400;
    }

    time {
      margin-top: var(--undpds-spacing-05);
    }

    p {
      margin-bottom: 1.125rem;
    }
  }

  .cta__link {
    color: var(--undpds-color-white);
    font-size: 0.938rem;

    &:hover {
      color: var(--undpds-color-gray-400);
    }

    &::after {
      margin-top: -var(--undpds-spacing-01);
    }
  }
}

[dir='rtl'] {
  .tweet-card {
    img {
      margin-left: var(--undpds-spacing-05);
      margin-right: 0;
    }

    &__body {
      padding: var(--undpds-spacing-06) 0 0 0.313rem;
    }
  }
}

:lang(ro) {
  .tweet_card__header--subtitle {
    font-weight: 700;
  }
}