@use '../../../assets/scss/variables';
@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';

.tweet-card {
  -webkit-font-smoothing: antialiased;

  @include breakpoints.devicebreak(small) {
    margin-bottom: variables.$spacing-12;
  }

  a {
    align-items: flex-start;
    display: inline-flex;
    text-decoration: none;
    background: none;

    img {
      border-radius: 50%;
      height: 44px;
      margin-right: variables.$spacing-05;
      min-width: 44px;
      width: 44px;
    }
  }

  p {
    margin-bottom: 0;
    word-break: break-word;
  }

  &__header {
    color: variables.$color-white;
    font-weight: 400;

    &--subtitle {
      font-size: variables.$font-size-14;
      font-weight: 600;
    }
  }

  &__body {
    border-top: 3px solid variables.$color-white;
    margin-top: variables.$spacing-07;
    padding: variables.$spacing-06 0.313rem 0 0;

    time,
    p,
    a {
      color: variables.$color-gray-500;
      font-size: variables.$font-size-14;
      font-weight: 700;
    }

    p,
    a {
      color: variables.$color-white;
      font-weight: 400;
    }

    time {
      margin-top: variables.$spacing-05;
    }

    p {
      margin-bottom: 1.125rem;
    }
  }

  .cta__link {
    color: variables.$color-white;
    font-size: 0.938rem;

    &:hover {
      color: variables.$color-gray-400;
    }

    &::after {
      margin-top: -(variables.$spacing-01);
    }
  }
}

[dir='rtl'] {
  .tweet-card {
    img {
      margin-left: variables.$spacing-05;
      margin-right: 0;
    }

    &__body {
      padding: variables.$spacing-06 0 0 0.313rem;
    }
  }
}