@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/variables';

.ourexpertise {
  position: relative;

  @include devicebreak(medium) {
    background-image: linear-gradient(90deg, $color-gray-400 1px, rgba(212, 214, 216, 0) 0);
    background-size: 25%;
    border-right: 1px solid $color-gray-400;
    padding-bottom: $spacing-50;
    padding-top: $spacing-160;
  }

  &__heading {
    margin-bottom: $spacing-32;

    @include devicebreak(medium) {
      margin-bottom: 0;
      position: absolute;
      top: 9%;
    }

    h2 {
      margin: 0;
    }
  }

  .glide__slides {
    display: flex;

    @include devicebreak(medium) {
      display: block;
    }
  }
}

[dir='rtl'] {
  .ourexpertise {
    &__heading {
      margin-left: 0;
      margin-right: 8.33333%;
    }
  }
}
