@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/variables';

/* parallax card start */
.parallax {
  position: relative;

  @include devicebreak(small) {
    overflow: hidden;
  }

  @include devicebreak(medium) {
    background-image: linear-gradient(90deg, $color-gray-400 1px, rgba(212, 214, 216, 0) 0);
    background-size: 25%;
    border-right: 1px solid $color-gray-400;
  }

  &__heading {
    margin-bottom: $spacing-32;

    @include devicebreak(medium) {
      margin-bottom: 0;
      position: absolute;
      top: 15rem;
    }

    h2 {
      margin: 0;
    }
  }

  &-card {
    @include devicebreak(small) {
      box-sizing: border-box;
      padding-right: 1.25rem;
    }
  }

  .swiper-wrapper {
    display: flex;

    @include devicebreak(medium) {
      display: block;
      padding-bottom: $spacing-50;
      padding-top: $spacing-160;
    }
  }
}

[dir='rtl'] {
  .parallax {
    &__heading {
      margin-left: 0;
      margin-right: 8.33333%;
    }

    &-card {
      @include devicebreak(small) {
        padding-left: 1.25rem;
        padding-right: 0;
      }
    }
  }
}

/* parallax card end */
