@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/breakpoints';

.cta__link {
  @extend %button;
  @extend %img_none;
  color: $color-black;

  &.cta--arrow {
    .arrow-expand {
      margin-left: 12px;
    }

    &:hover {
      .arrow-expand {
        @include translate(10px,0);
        background-position: 1px -151px;
        width: 100px;
        @include transition (transform 0.4s);
      }
    }
  }

  &.cta--space {
    .icon-chevron-right {
      margin-left: 12px;
      @include transition(0.2s ease);
    }

    &:hover {
      .icon-chevron-right {
        @include translate(70%,0);
      }
    }
  }
}

[dir='rtl'] {
  .cta__link {
    &.cta--arrow {
      .arrow-expand {
        margin-left: 0;
        margin-right: $spacing-12;
        @include transform(rotate(180deg));
      }
      &:hover {
        .arrow-expand {
          @include transform(translate(-10%,0) rotate(180deg));
        }
      }
    }

    &.cta--space {
      .icon-chevron-right{
        margin-left: 0;
        margin-right: 12px;
        @include transform(rotate(180deg));
      }
      &:hover {
         .icon-chevron-right{
          @include transform(translate(-50%,0) rotate(180deg));
        }
      }
    }
  }
}
