@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';
@use '../../assets/scss/variables';

/* sidebar data start */
.sidebar-accordion {
  li>a {
    @extend %img_none;

    border: none;
    border-bottom: 1px solid variables.$color-gray-500;
    display: block;
    font-size: variables.$font-size-16;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 0;
    padding: variables.$spacing-05;

    @include breakpoints.devicebreak(medium) {
      padding: variables.$spacing-06;
    }
  }

  &.narrow {
    li>a {
      @include breakpoints.devicebreak(medium) {
        padding: variables.$spacing-05;
      }
    }
  }
}

[dir='rtl'] {
  .sidebar-accordion {
    .accordion__panel {
      li>a {
        padding-left: variables.$spacing-06;
        padding-right: variables.$spacing-07;

        @include breakpoints.devicebreak(medium) {
          padding-right: variables.$spacing-09;
        }
      }
    }
  }
}

/* sidebar data end */