@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* footer items start */
.footer {
  &__items {
    border-bottom: 2px solid $color-gray-400;
    padding: 0;
    position: relative;
    position: relative;

    @include devicebreak(medium) {
      border-bottom: 0;
    }

    &::before {
      @include transition(0.1s ease);

      background: url(#{$img-path-Icon}/Chevron-down.svg) no-repeat center center;
      content: '';
      display: block;
      float: right;
      height: 20px;
      margin-right: $spacing-16;
      margin-top: $spacing-16;
      width: 20px;

      @include devicebreak(medium) {
        display: none;
      }
    }
  }

  &__heading {
    margin-bottom: 0;
    padding: $spacing-16;
    text-transform: uppercase;

    @include devicebreak(medium) {
      margin-bottom: $spacing-12;
      padding: 0;
    }
  }

  &__panel {
    display: none;
    padding: 0 $spacing-16 $spacing-08;

    @include devicebreak(medium) {
      display: block;
      padding: 0;
    }

    a {
      @extend %img_none;

      display: block;
      font-size: $font-size-16;
      line-height: 1.4;
      margin-bottom: $spacing-08;
    }
  }
}

.footer__items.white {
  &::before {
    background: url(#{$img-path-Icon}/Chevron-down-white.svg) no-repeat center center;
  }

  .footer__heading {
    color: $color-white;
  }

  .footer__panel {
    a {
      color: $color-white;
    }
  }
}

.footer__items.blue {
  border-color: $color-white;

  &::before {
    background: url(#{$img-path-Icon}/Chevron-down-white.svg) no-repeat center center;
  }
}

.footer__items.active {
  &::before {
    @include transform(rotateZ(180deg));
  }
}

[dir='rtl'] {
  .footer__items {
    &::before {
      float: left;
      margin-left: $spacing-16;
      margin-right: 0;
    }
  }
}

//burmese lang
:lang(my){
  .footer {
    &__panel {
      a {
        line-height: 1.9;
      }
    }
  }
}
/* footer items end */
