@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* footer items start */
.footer__items {
  padding: 0;
  position: relative;

  &--white {
    .footer__heading {
      color: $color-white;
    }

    .footer__panel {
      a {
        color: $color-white;
      }
    }

    .footer__item {
      border-color: $color-white;

      &::before {
        background: url(#{$img-path-Icon}/Chevron-down-white.svg) no-repeat center center;
      }
    }
  }
}

.footer__item {
  border-bottom: 1px solid $color-gray-500;
  cursor: pointer;
  list-style: none;
  padding: 0;
  position: relative;

  @include devicebreak(medium) {
    border-bottom: 0;
    padding: $spacing-16 0 $spacing-24;
  }

  &::before {
    @include transition(0.1s ease);

    background: url(#{$img-path-Icon}/Chevron-down.svg) no-repeat center center;
    content: '';
    display: block;
    float: right;
    height: 20px;
    margin-left: $spacing-24;
    width: 20px;

    @include devicebreak(medium) {
      display: none;
    }
  }

  .footer__heading {
    margin-bottom: 0;
    text-transform: uppercase;

    @include devicebreak(medium) {
      margin-bottom: $spacing-12;
    }
  }

  &.footer--active {
    .footer__heading {
      margin-bottom: 10px;
      padding-right: $spacing-24;

      @include devicebreak(medium) {
        margin-bottom: 0;
        padding-bottom: $spacing-16;
      }
    }

    &::before {
      @include transform(rotateZ(180deg));
    }
  }
}

[dir='rtl'] {
  .footer__item {
    &::before {
      float: left;
      margin-left: 0;
    }
  }

  .footer--active {
    .footer__heading {
      padding-right: 0;
    }
  }
}

.footer__panel {
  display: block;
  height: auto;
  padding: $spacing-16 0;

  @include devicebreak(medium) {
    padding: 0;
  }

  a {
    @extend %img_none;

    border: none;
    display: block;
    font-size: $font-size-16;
    line-height: 22px;
    margin-bottom: $spacing-08;
  }
}

/* footer items end */
