@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* footer items start */
.footer {
  &-item {
    position: relative;

    @include devicebreak(small) {
      &::after {
        border-bottom: 2px solid $color-gray-400;
        content: '';
        position: absolute;
        width: calc(100% - 1.3rem);
      }
    }

    &.inverted {
      .footer-heading {
        color: $color-black;

        &::before {
          background: url(#{$img-path-Icon}/Chevron-down.svg) no-repeat center center;
        }
      }

      .footer-panel {
        a {
          @extend %footerlinkinvert;
        }
      }
    }
  }

  &-heading {
    background: transparent;
    border: 0;
    color: $color-white;
    display: block;
    font-size: $font-size-16;
    font-weight: 700;
    letter-spacing: 0.03rem;
    line-height: 1.15;
    padding: $spacing-05;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    @include devicebreak(medium) {
      margin-bottom: 1.25rem;
      padding: 0;
      pointer-events: none;
    }

    &::before {
      @include transition(0.1s ease);

      background: url(#{$img-path-Icon}/Chevron-down-white.svg) no-repeat center center;
      content: '';
      display: block;
      float: right;
      height: 20px;
      width: 20px;

      @include devicebreak(medium) {
        display: none;
      }
    }

    &.active {
      &::before {
        @include transform(rotateZ(180deg));
      }
    }
  }

  &-panel {
    display: none;
    padding: 0 $spacing-05 $spacing-03;

    @include devicebreak(medium) {
      display: block;
      padding: 0;
    }

    a {
      @extend %footerlink;

      display: block;
      margin-bottom: $spacing-05;
    }
  }
}

[dir='rtl'] {
  .footer-heading {
    text-align: right;

    &::before {
      float: left;
    }
  }
}

//burmese lang
:lang(my) {
  .footer-panel {
    a {
      line-height: 1.9;
    }
  }
}

/* footer items end */
