.left-right {
    transform: translateX(100px);

    @include breakpoint(small only) {
        transform: translateX(70px);
    }
}

.right-left {
    transform: translateX(-100px);

    @include breakpoint(small only) {
        transform: translateX(-70px);
    }
}
