@use '../../../../assets/scss/breakpoints';
@use '../../../../assets/scss/variables';
@use '../../../../assets/scss/mixins';

/* global homepage hero */
.homepage-hero {
  &-full {
    .overlay-grey, > video, > img {
      @extend %expand_to_size;
    }

    &.expand-to-size {
      .overlay-grey, > video, > img {
        clip-path: inset(0);
      }
    }

    position: relative;

    .overlay-grey {
      @extend %absolute__content;
    }

    img {
      @extend %img-cover;
    }

    video {
      @extend %absolute__content;
      @extend %img-cover;
    }

    h1 {
      margin-bottom: var(--undpds-spacing-08);
    }

    h4 {
      margin-bottom: 0;
      padding-bottom: var(--undpds-spacing-10);
    }

    .button {
      margin-bottom: var(--undpds-spacing-06);

      @include breakpoints.devicebreak(medium) {
        margin-bottom: 10.188rem;
      }

      @include breakpoints.devicebreak(small) {
        margin-top: var(--undpds-spacing-10);
      }
    }
  }

  &-content {
    @include breakpoints.devicebreak(small) {
      padding: 0 var(--undpds-spacing-06);
    }

    & > div {
      padding-top: 10.438rem;
      position: relative;

      @include breakpoints.devicebreak(medium) {
        padding-top: 13.688rem;
      }
    }
  }

  &-tall,
  &-wide {
    &-content {
      @include breakpoints.devicebreak(medium) {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }
    }
  }

  &-tall {
    word-break: break-word;

    &-content {
      h1 {
        margin-bottom: var(--undpds-spacing-05);

        @include breakpoints.devicebreak(medium) {
          margin-bottom: var(--undpds-spacing-08);
        }
      }

      h4 {
        margin-bottom: var(--undpds-spacing-07);

        @include breakpoints.devicebreak(medium) {
          margin-bottom: var(--undpds-spacing-10);
        }
      }
    }
  }

  &-image {
    width: 100%;

    @include breakpoints.devicebreak(small) {
      margin-bottom: 2rem;
      padding-bottom: 100%;
      position: relative;
      width: 100%;
    }

    @include breakpoints.devicebreak(medium) {
      height: 100%;
    }

    picture {
      display: initial;
    }

    img,
    video {
      @extend %img-cover;

      @include breakpoints.devicebreak(small) {
        position: absolute;
      }
    }
  }

  &-wide {
    position: relative;

    @include breakpoints.devicebreak(medium) {
      border-left: 3rem solid var(--undpds-color-gray-300);
    }

    &-content {
      justify-content: space-between;
    }

    h1 {
      margin-bottom: var(--undpds-spacing-05);

      @include breakpoints.devicebreak(medium) {
        margin-bottom: var(--undpds-spacing-11);
        padding-top: 4.688rem;
      }
    }

    h3 {
      margin-bottom: var(--undpds-spacing-06);

      + h1 {
        padding-top: 0;
      }
    }

    h5 {
      margin-bottom: var(--undpds-spacing-07);

      @include breakpoints.devicebreak(medium) {
        margin-bottom: 7.75rem;
        padding-right: 1.625rem;
      }
    }
  }
}

[dir=rtl] {
  .homepage-hero {
    @include breakpoints.devicebreak(medium) {
      &-tall-content {
        padding-left: 1.375rem;
        padding-right: 0;
      }

      &-wide {
        border-left: 0;
        border-right: 3rem solid var(--undpds-color-gray-300);

        h5 {
          padding-left: 1.625rem;
          padding-right: 0;
        }
      }
    }
  }
}

.show-small-button {
  padding-bottom: 2rem;
}
