@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* global homepage hero */
.hero {
  &-wrapper {
    @extend %expand_to_size;

    align-items: flex-end;
    display: flex;
    min-height: 649px;
    position: relative;

    @include devicebreak(medium) {
      align-items: center;
      min-height: 940px;
    }

    &__content {
      @include devicebreak(medium) {
      }

      position: relative;

      .button {
        margin-bottom: $spacing-24;
        margin-top: $spacing-64;

        @include devicebreak(medium) {
          margin-top: 0;
        }
      }
    }

    &__background {
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;

      img {
        height: 100%;
        max-width: none;
        width: auto;
      }
    }

    &__container {
      padding: 0 $spacing-24;
    }

    &__title {
      margin-bottom: $spacing-40;
      text-transform: uppercase;
    }

    &__subtitle {
      margin: 0;
      padding-bottom: $spacing-64;
    }
  }

  &-border_left{
    border-left: $spacing-48 solid #EDEFF0;
  }

  &_right {
    overflow: hidden;
    position: relative;

    @include devicebreak(medium) {
      height: 100%;
    }

    &_box {
      height: auto;
      margin-bottom: $spacing-32;
      position: relative;
      width: 100%;

      @include devicebreak(medium) {
        height: 100%;
        margin-bottom: 0;
      }

      video {
        height: auto;

        @include devicebreak(medium) {
          height: 100%;
        }
      }

      img {
        height: auto;
        width: 100%;

        @include devicebreak(medium) {
          height: 100%;
          max-width: none;
          width: auto;
        }
      }
    }
  }

  &-split {
    display: flex;

    @include devicebreak(medium) {
      .grid-x {
        align-items: center;
        min-height: 940px;
      }
    }

    &__content {
      @include devicebreak(medium) {
      }

      padding-right: 1.375rem;
      word-break: break-word;
    }

    &__title {
      margin-bottom: $spacing-16;
      text-transform: uppercase;

      @include devicebreak(medium) {
        margin-bottom: $spacing-40;
      }
    }

    &__subtitle {
      margin: 0;
      padding-bottom: $spacing-32;

      @include devicebreak(medium) {
        padding-bottom: $spacing-64;
      }
    }
  }

  &-option {
    &__content {
      padding: 0;

      @include devicebreak(medium) {
        padding: 0 1.625rem 0 $spacing-64;
      }
    }

    &__title {
      margin-bottom: $spacing-16;
      padding-left: 0;
      text-transform: uppercase;

      @include devicebreak(medium) {
        margin-bottom: $spacing-80;
        padding-left: $spacing-64;
      }
    }

    &__subtitle {
      margin: 0;
      padding-bottom: $spacing-32;

      @include devicebreak(medium) {
        padding-bottom: 7.75rem;
      }
    }
  }
}

[dir='rtl'] {
  .hero {
    &-wrapper {
      &__content {
        margin-left: 0;
        margin-right: 0;

        @include devicebreak(medium) {
          margin-right: $spacing-64;
        }
      }
    }

    &-split {
      &__content {
        padding-left: 0;
        padding-right: 0;

        @include devicebreak(medium) {
          padding-right: $spacing-64;
        }
      }
    }

    &-option {
      &__content {
        padding: 0;

        @include devicebreak(medium) {
          padding-left: 1.625rem;
          padding-right: $spacing-64;
        }
      }

      &__title {
        padding-left: 0;
        padding-right: 0;

        @include devicebreak(medium) {
          padding-right: $spacing-64;
        }
      }
    }
  }
}
