@use '../../../../assets/scss/breakpoints';
@use '../../../../assets/scss/variables';
@use '../../../../assets/scss/mixins';

/* page hero start */
.pagehero {
  &-full {
    @extend %expand_to_size;

    background-color: var(--undpds-color-gray-200);
    min-height: 642px;
    overflow: hidden;
    position: relative;
    word-break: break-word;

    @include breakpoints.devicebreak(medium) {
      min-height: 746px;
    }

    .overlay-grey {
      @extend %absolute__content;
    }

    img {
      @include mixins.img-cover;
    }

    video {
      @extend %absolute__content;
      @include mixins.img-cover;
    }

    .pagehero-content {
      align-items: center;
      display: flex;
      height: 100%;
      padding-top: 0rem;
      position: absolute;
      top: 0;

      @include breakpoints.devicebreak(medium) {
        flex-direction: row;
        padding-top: 0;
      }

      h4 {
        padding-top: 0;
      }

      h2 {
        margin-top: 0;
      }
    }

    .content-box {
      @include breakpoints.devicebreak(medium) {
        width: 65%;
      }
    }

    .breadcrumb {
      // prevent breadcrumbs overlapping with the hero content
      position: relative;
      z-index: 1;

      @extend .medium-offset-1 !optional;

      padding-top: var(--undpds-spacing-11);

      @include breakpoints.devicebreak(small) {
        padding-top: var(--undpds-spacing-11);
        padding-left: var(--undpds-spacing-04);
        padding-right: var(--undpds-spacing-04);
      }

      ul li {
        margin-bottom: 0;
      }
    }

      img {
        @include breakpoints.devicebreak(small) {
          @include mixins.img-cover;

          &.mobile-position-left {
            object-position: left;
          }

          &.mobile-position-center {
            object-position: center;
          }

          &.mobile-position-right {
            object-position: right;
          }
        }
      }
  }

  &-content {

    @include breakpoints.devicebreak(small) {
      height: auto;
      padding-inline: var(--undpds-spacing-04);
    }

    h4 {
      margin-bottom: var(--undpds-spacing-03);
      padding-top: 6.313rem;

      @include breakpoints.devicebreak(medium) {
        padding-top: 0;
      }

      +h2 {
        margin-top: 0;
      }
    }

    h2 {
      font-family: var(--undpds-font-family-sohnebreit);
      font-weight: 700;
      margin-bottom: 0;
      text-transform: uppercase;
     }

    .subtitle {
      font-size: 1.563rem;
      font-weight: 400;
      line-height: 1.15;
      margin-top: 1rem;
      margin-bottom: 0;

      @include breakpoints.devicebreak(medium) {
        font-size: 2.188rem;
      }
    }

    a.button {
      position: absolute;
      bottom: 1.5rem;
      left: 0.75rem;
      right: 0.75rem;

      @include breakpoints.devicebreak(medium) {
        margin-top: 3rem;
        margin-bottom: 0;
        position: relative;
        inset: unset;
      }
    }
  }

  &-image {
    width: 100%;

    @include breakpoints.devicebreak(small) {
      padding-bottom: 100%;
      position: relative;
      width: 100%;
    }

    @include breakpoints.devicebreak(medium) {
      height: 100%;
    }
  }

  &-tall {
    position: relative;

    .pagehero-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      word-break: break-word;

      @include breakpoints.devicebreak(small) {
        height: auto;
        padding: 0 0 var(--undpds-spacing-08);

        h4 {
          padding-top: 0;
        }
      }

      @include breakpoints.devicebreak(medium) {
        padding-bottom: 0;
        padding-right: 1.438rem;
      }

      a.button {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;

        @include breakpoints.devicebreak(medium) {
          display: block;
          margin-top: 1.5rem;
          position: relative;
          inset: unset;
        }
      }
    }

    &.no-background {
      .pagehero-content {
        min-height: 650px;
      }
    }

    .hero-placeholder,
    .homepage-hero-image {
      overflow: hidden;

      @include breakpoints.devicebreak(medium) {
        overflow: visible;
      }

      a.button {
        margin: 2rem 0 1rem;
        display: none;
      }
    }

    .breadcrumb {
      margin-block: var(--undpds-spacing-11);
      position: initial;

      @include breakpoints.devicebreak(medium) {
        margin-top: 0;
        position: absolute;
        margin-bottom: 0;
        top: 30px;
      }

      @include breakpoints.devicebreak(large) {
        position: absolute;
        top: 80px;
      }

      ul li {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    &.has-cta {
      .homepage-hero-image {
        margin-bottom: 6.5rem;

        @include breakpoints.devicebreak(medium) {
          margin-bottom: unset;
        }
      }
    }
  }
}

@include breakpoints.devicebreak(medium) {
  [dir='rtl'] {
    .pagehero-tall {
      .pagehero-content {
        padding-left: 1.438rem;
        padding-right: 0;
      }
    }
  }
}

// burmese lang
:lang(my) {
  .pagehero-content {
    h2 {
      font-family: var(--undpds-font-family-notosans);
    }
  }
}

#{variables.$cyrillic} {
  .pagehero-content {
    h2 {
      font-family: var(--undpds-font-family-proximanova);
    }
  }
}

/* page hero end */
