@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* page hero start */ 
.pagehero {
  &-full {
    @extend %expand_to_size;

    min-height: 642px;
    position: relative;
    word-break: break-word;
    overflow: hidden;

    @include devicebreak(medium) {
      min-height: 746px;
    }

    .overlay-grey {
      @extend %absolute__content;
    }

    img {
      @extend %img-cover;
    }

    video {
      @extend %absolute__content;
      @extend %img-cover;
    }
  }

  &-content {
    padding-top: $spacing-11;
    position: relative;

    @include devicebreak(small) {
      padding-left: $spacing-04;
      padding-right: $spacing-04;
    }

    h4 {
      margin-bottom: $spacing-03;
      padding-top: 6.313rem;

      @include devicebreak(medium) {
        padding-top: 12.625rem;
      }

      + h2 {
        margin-top: 0;
      }
    }

    h2 {
      font-family: $Font-Family-SohneBreit;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 6.313rem;
      text-transform: uppercase;

      @include devicebreak(medium) {
        margin-top: 12.625rem;
      }
    }
  }

  &-image {
    width: 100%;

    @include devicebreak(medium) {
      height: 100%;
    }

    img,
    video {
      @extend %img-cover;
    }
  }

  &-tall {
    .pagehero-content {
      padding-bottom: $spacing-08;

      @include devicebreak(medium) {
        padding-bottom: 17.313rem;
        padding-right: 1.438rem;
      }

      @include devicebreak(small) {
        padding-left: 0;
        padding-right: 0;

        h4 {
          padding-top: $spacing-10;
        }
      }
    }
  }
}

@include devicebreak(medium) {
  [dir='rtl'] {
    .pagehero-tall {
      .pagehero-content {
        padding-left: 1.438rem;
        padding-right: 0;
      }
    }
  }
}

// burmese lang
:lang(my) {
  .pagehero-content {
    h2 {
      font-family: $Font-Family-NotoSans;
    }
  }
}

/* page hero end */
