@import '../../assets/scss/variables';
@import '../../assets/scss/breakpoints';

$container-size: 30em;

/* image caption start */
figcaption {
  color: $color-gray-600;
  border-bottom: 2px solid $color-black;
  font-size: $font-size-16;

  @container (width > #{$container-size}) {
    display: flex;
    justify-content: space-between;
    padding-bottom: $spacing-07;
  }

  .credits {
    border-top: 1px solid $color-gray-500;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: $spacing-05;
    margin-bottom: $spacing-05;
    padding-top: $spacing-05;
    color: $color-black;

    @container (width > #{$container-size}) {
      //border-left: 1px solid $color-gray-500;
      border-top: 0;
      display: block;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
      padding-top: 0;
    }

    strong {
      margin-left: $spacing-02;

      @container (width > #{$container-size}) {
        margin-left: 0;
      }
    }
  }

  p {
    color: $color-gray-600;
    margin-bottom: $spacing-05;

    @container (width > #{$container-size}) {
      border: 0;
      margin: 0;


      +.credits {
          border-left: 1px solid $color-gray-500;
          padding-left: $spacing-07;
          margin-left: $spacing-07;
      }
    }
  }
}

[dir='rtl'] {
  figcaption {
    .credits {
      strong {
        margin-right: $spacing-02;
      }
    }
    @container (width > #{$container-size}) {
      p {
        padding-right: 0;
      }
      .credits {
        border-right: 1px solid $color-gray-500;
        border-top: 0;
        display: block;
        margin-right: $spacing-07;
        padding-right: $spacing-07;
        padding-top: 0;
        border-left: none;
        margin-left: 0;
        padding-left: 0;
        strong {
          margin-right: 0;
        }
      }
    }
  }
}

// burmese lang
:lang(my) {
  figcaption {

    p,
    .credits {
      line-height: 1.7;
    }
  }
}

/* image caption end */
