@import '../../assets/scss/variables';
@import '../../assets/scss/breakpoints';

/* image caption */
.image__caption {
  border-bottom: 2px solid $color-black;
  display: block;

  @include devicebreak(medium) {
    display: flex;
    padding-bottom: $spacing-24;
  }

  &_para {
    border-bottom: 1px solid $color-gray-500;
    color: $color-gray-600;
    font-size: $font-size-14;
    line-height: 19.25px;
    margin-bottom: $spacing-16;
    padding-bottom: $spacing-16;

    @include devicebreak(medium) {
      border: 0;
      font-size: $font-size-16;
      line-height: 22px;
      margin: 0;
      padding-bottom: 0;
      padding-right: $spacing-40;
    }

    & + .image--author {
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      margin-bottom: $spacing-16;

      @include devicebreak(medium) {
        border-left: 1px solid $color-gray-500;
        display: block;
        margin-bottom: 0;
        min-width: 180px;
        padding-left: $spacing-40;
      }

      .author--label {
        margin-right: $spacing-04;

        @include devicebreak(medium) {
          margin-right: 0;
        }
      }
    }
  }
}

[dir='rtl'] {
  .image__caption {
    &_para {
      @include devicebreak(medium) {
        padding-left: $spacing-40;
        padding-right: 0;
      }

      & + .image--author {
        @include devicebreak(medium) {
          border-left: none;
          border-right: 1px solid $color-gray-500;
          padding-left: 0;
          padding-right: $spacing-40;
        }

        .author--label {
          margin-left: $spacing-04;
          margin-right: 0;
        }
      }
    }
  }
}
