@import '../../assets/scss/variables';
@import '../../assets/scss/breakpoints';

/* image caption start */
.image__caption {
  border-bottom: 2px solid $color-black;

  @include devicebreak(medium) {
    display: flex;
    justify-content: space-between;
    padding-bottom: $spacing-07;
  }

  p {
    color: $color-gray-600;
    font-size: $font-size-14;
    margin-bottom: $spacing-05;

    @include devicebreak(medium) {
      border: 0;
      font-size: $font-size-16;
      margin: 0;
    }

    + .credits {
      border-top: 1px solid $color-gray-500;
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      margin-bottom: $spacing-05;
      padding-top: $spacing-05;

      @include devicebreak(medium) {
        border-left: 1px solid $color-gray-500;
        border-top: 0;
        display: block;
        margin-bottom: 0;
        margin-left: $spacing-07;
        padding-left: $spacing-07;
        padding-top: 0;
      }
    }
  }

  .credits {
    display: flex;
    margin-bottom: $spacing-05;

    @include devicebreak(medium) {
      border-top: 0;
      display: block;
      margin-bottom: 0;
      padding-top: 0;
    }

    strong {
      margin-left: $spacing-02;

      @include devicebreak(medium) {
        margin-left: 0;
      }
    }
  }
}

[dir='rtl'] {
  .image__caption {
    p {
      @include devicebreak(medium) {
        padding-right: 0;
      }

      + .credits {
        @include devicebreak(medium) {
          border-right: 1px solid $color-gray-500;
          border-top: 0;
          display: block;
          margin-right: $spacing-07;
          padding-right: $spacing-07;
          padding-top: 0;
        }
      }
    }

    .credits {
      @include devicebreak(medium) {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }

      strong {
        margin-right: $spacing-02;

        @include devicebreak(medium) {
          margin-right: 0;
        }
      }
    }
  }
}

// burmese lang
:lang(my) {
  .image__caption {
    p,
    .credits {
      line-height: 1.7;
    }
  }
}

/* image caption end */

