@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

/* image caption */
.image__caption {
    display: block;
    border-bottom: 2px solid $color-black;
    @include devicebreak(small) {
        display: flex;
        padding-bottom: $spacing-24;
    }
    &_para {
        line-height: 19.25px;
        color: $color-gray-600;
        font-size: $font-size-14;
        margin-bottom: $spacing-16;
        padding-bottom: $spacing-16;
        border-bottom: 1px solid $color-gray-500;
        @include devicebreak(small) {
            margin: 0;
            border: 0;
            padding-bottom: 0;
            line-height: 22px;
            padding-right: $spacing-40;
            font-size: $font-size-16;
        }
    }
}

.image--author {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: $spacing-16;
    @include devicebreak(small) {
        display: block;
        margin-bottom: 0;
        padding-left: $spacing-40;
        border-left: 1px solid $color-gray-500;
    }
}

.author--label {
    margin-right: $spacing-04;
    @include devicebreak(small) {
        margin-right: 0;
    }
}
