@import '../../../assets/scss/variables';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/mixins';

.projectdata {
  &-section {
    &__wrapper {
      border-bottom: 1px solid $color-gray-400;
      &1,
      &2,
      &3,
      &4 {
        margin-top: $spacing-32;
        @include devicebreak(small) {
          border-bottom: 1px solid $color-gray-400;
        }
        p {
          color: $color-gray-700;
          line-height: 2;
          margin-bottom: 2rem;
        }
        h6 {
          margin-bottom: 4px;
        }
      }
      &4 {
        border-bottom: 0;
      }
    }
  }
}

h2.projectdata-section__title {
  border-bottom: 2px solid $color-black;
  margin-bottom: 0;
  padding-bottom: 2rem;
}