@import '../../../assets/scss/variables';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/mixins';

.projectdata {
  &-section {
    border-bottom: 1px solid $color-gray-400;
    border-top: 2px solid $color-black;

    &__wrapper1,
    &__wrapper2,
    &__wrapper3,
    &__wrapper4 {
      margin-top: $spacing-32;

      p {
        color: $color-gray-700;
        line-height: 2;
      }

      h6 {
        margin-bottom: 4px;
      }
      
      @include devicebreak(small) {
        border-bottom: 1px solid $color-gray-400;
      }
    }

    &__wrapper4 {
      border-bottom: 0;
    }
  }
}

h2.projectdata-section__title {
  margin-bottom: $spacing-32;
}