@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sdg {
  &-card {
    @extend %border-none;

    align-items: center;
    display: block;
    font-family: $Font-Family-SohneBreit;
    min-height: 210px;
    padding: 2.188rem $spacing-06 $spacing-05;
    position: relative;

    @include devicebreak(medium) {
      cursor: url(#{$img-path-Iconback}/arrow-right-white.svg), auto;
      display: flex;
      min-height: 160px;
      padding: 0;
    }

    strong {
      color: $color-white;
      display: inline-block;
      font-size: 2.938rem;

      @include devicebreak(medium) {
        font-size: 6.875rem;
        padding-left: 6.313rem;
      }
    }

    h4 {
      color: $color-white;
      font-size: $font-size-25;
      letter-spacing: 0.078rem;
      margin: 1.375rem 0 0;
      text-transform: uppercase;
      z-index: 1;

      @include devicebreak(medium) {
        font-size: 1.875rem;
        left: 18rem;
        letter-spacing: 0.094rem;
        margin: 0;
        position: absolute;
      }
    }

    &-link {
      @include devicebreak(medium) {
        cursor: url(#{$img-path-Iconback}/arrow-right.svg), auto;
      }

      h4 {
        color: $color-black;
      }

      img {
        height: 50px;
        width: 50px;

        @include devicebreak(medium) {
          height: 130px;
          padding-left: 6.313rem;
          width: 130px;
        }
      }
    }

    &.sdg-red {
      background-color: $sdg-red;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(228, 37, 58, 0),
          rgba(228, 37, 58, 0) 10%,
          $sdg-red);
      }
    }

    &.sdg-mustard {
      background-color: $sdg-mustard;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(222, 168, 60, 0),
          rgba(222, 168, 60, 0) 80%,
          $sdg-mustard);
      }
    }

    &.sdg-kelly-green {
      background-color: $sdg-kelly-green;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(78, 159, 56, 0),
          rgba(78, 159, 56, 0) 80%,
          $sdg-kelly-green);
      }
    }

    &.sdg-dark-red {
      background-color: $sdg-dark-red;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(197, 26, 45, 0),
          rgba(197, 26, 45, 0) 80%,
          $sdg-dark-red);
      }
    }

    &.sdg-red-orange {
      background-color: $sdg-red-orange;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(255, 60, 35, 0),
          rgba(255, 60, 35, 0) 80%,
          $sdg-red-orange);
      }
    }

    &.sdg-bright-blue {
      background-color: $sdg-bright-blue;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(39, 189, 227, 0),
          rgba(39, 189, 227, 0) 80%,
          $sdg-bright-blue);
      }
    }

    &.sdg-yellow {
      background-color: $sdg-yellow;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(253, 195, 10, 0),
          rgba(253, 195, 10, 0) 80%,
          $sdg-yellow);
      }
    }

    &.sdg-burgundy-red {
      background-color: $sdg-burgundy-red;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(162, 24, 67, 0),
          rgba(162, 24, 67, 0) 80%,
          $sdg-burgundy-red);
      }
    }

    &.sdg-orange {
      background-color: $sdg-orange;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(254, 105, 36, 0),
          rgba(254, 105, 36, 0) 80%,
          $sdg-orange);
      }
    }

    &.sdg-magenta {
      background-color: $sdg-magenta;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(222, 21, 104, 0),
          rgba(222, 21, 104, 0) 80%,
          $sdg-magenta);
      }
    }

    &.sdg-golden-yellow {
      background-color: $sdg-golden-yellow;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(254, 156, 37, 0),
          rgba(254, 156, 37, 0) 80%,
          $sdg-golden-yellow);
      }
    }

    &.sdg-dark-mustard {
      background-color: $sdg-dark-mustard;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(191, 139, 46, 0),
          rgba(191, 139, 46, 0) 80%,
          $sdg-dark-mustard);
      }
    }

    &.sdg-dark-green {
      background-color: $sdg-dark-green;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(62, 128, 69, 0),
          rgba(62, 128, 69, 0) 80%,
          $sdg-dark-green);
      }
    }

    &.sdg-blue {
      background-color: $sdg-blue;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(12, 152, 218, 0),
          rgba(12, 152, 218, 0) 80%,
          $sdg-blue);
      }
    }

    &.sdg-lime-green {
      background-color: $sdg-lime-green;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(88, 193, 44, 0),
          rgba(88, 193, 44, 0) 80%,
          $sdg-lime-green);
      }
    }

    &.sdg-royal-blue {
      background-color: $sdg-royal-blue;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(3, 104, 157, 0),
          rgba(3, 104, 157, 0) 80%,
          $sdg-royal-blue);
      }
    }

    &.sdg-navy-blue {
      background-color: $sdg-navy-blue;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(26, 73, 107, 0),
          rgba(26, 73, 107, 0) 80%,
          $sdg-navy-blue);
      }
    }

    &.color-white {
      background-color: $color-white;
    }

    &:hover {
      .sdg-image {
        img {
          opacity: 0.3;
        }
      }
    }
  }

  &-image {
    margin-left: auto;
    max-width: 650px;
    position: relative;
    width: 100%;
    z-index: 0;

    &::before {
      @extend %absolute__content;

      @include transition(background-color 0.5s linear);

      z-index: 1;
    }

    img {
      @include transition(opacity 0.5s ease);

      display: none;
      height: 160px;
      opacity: 0;
      width: 100%;

      @include devicebreak(medium) {
        display: block;
      }
    }
  }
}

@include devicebreak(medium) {
  [dir='rtl'] {
    .sdg {
      &-card {
        cursor: url(#{$img-path-Iconback}/arrow-left-white.svg), auto;

        strong {
          padding: 0 8.75rem 0 0;
        }

        h4 {
          left: unset;
          right: 22rem;
        }

        &-link {
          cursor: url(#{$img-path-Iconback}/arrow-left.svg), auto;

          img {
            padding: 0 8.75rem 0 0;
          }
        }
      }

      &-image {
        margin-left: unset;
        margin-right: auto;

        &::before {
          @include transform(scaleX(-1));
        }
      }
    }
  }
}

// burmese lang
:lang(my) {
  .sdg-card {
    h4 {
      font-family: $Font-Family-NotoSans;
    }
  }
}
