@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sdg {
  &-card {
    @extend %border-none;

    align-items: center;
    display: block;
    font-family: $Font-Family-SohneBreit;
    min-height: 210px;
    padding: 2.188rem $spacing-24 0;
    position: relative;

    @include devicebreak(medium) {
      cursor: url(#{$img-path-Iconback}/arrow-right-white.svg), auto;
      display: flex;
      min-height: 160px;
      padding: 0;
    }

    strong {
      color: $color-white;
      display: inline-block;
      font-size: 2.938rem;

      @include devicebreak(medium) {
        font-size: 6.875rem;
        padding-left: 8.75rem;
      }
    }

    h4 {
      color: $color-white;
      font-size: $font-size-25;
      letter-spacing: 0.078rem;
      margin: 1.375rem 0 0;
      text-transform: uppercase;
      z-index: 1;

      @include devicebreak(medium) {
        font-size: 1.875rem;
        left: 22rem;
        letter-spacing: 0.094rem;
        margin: 0;
        position: absolute;
      }
    }

    &-link {
      @include devicebreak(medium) {
        cursor: url(#{$img-path-Iconback}/arrow-right.svg), auto;
      }

      h4 {
        color: $color-black;
      }

      img {
        height: 50px;
        width: 50px;

        @include devicebreak(medium) {
          height: 130px;
          padding-left: 8.75rem;
          width: 130px;
        }
      }
    }

    &.sdg-red {
      background-color: #e5243b;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(228, 37, 58, 0),
          rgba(228, 37, 58, 0) 10%,
          #e4253a);
      }
    }

    &.sdg-mustard {
      background-color: #dda63a;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(222, 168, 60, 0),
          rgba(222, 168, 60, 0) 80%,
          #dda63a);
      }
    }

    &.sdg-kelly-green {
      background-color: #4c9f38;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(78, 159, 56, 0),
          rgba(78, 159, 56, 0) 80%,
          #4e9f38);
      }
    }

    &.sdg-dark-red {
      background-color: #c5192d;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(197, 26, 45, 0),
          rgba(197, 26, 45, 0) 80%,
          #c5192d);
      }
    }

    &.sdg-red-orange {
      background-color: #ff3a21;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(255, 60, 35, 0),
          rgba(255, 60, 35, 0) 80%,
          #ff3a21);
      }
    }

    &.sdg-bright-blue {
      background-color: #26bde2;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(39, 189, 227, 0),
          rgba(39, 189, 227, 0) 80%,
          #26bde2);
      }
    }

    &.sdg-yellow {
      background-color: #fcc30b;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(253, 195, 10, 0),
          rgba(253, 195, 10, 0) 80%,
          #fcc30b);
      }
    }

    &.sdg-burgundy-red {
      background-color: #a21942;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(162, 24, 67, 0),
          rgba(162, 24, 67, 0) 80%,
          #a21843);
      }
    }

    &.sdg-orange {
      background-color: #fd6925;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(254, 105, 36, 0),
          rgba(254, 105, 36, 0) 80%,
          #fd6925);
      }
    }

    &.sdg-magenta {
      background-color: #dd1367;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(222, 21, 104, 0),
          rgba(222, 21, 104, 0) 80%,
          #dd1367);
      }
    }

    &.sdg-golden-yellow {
      background-color: #fd9d24;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(254, 156, 37, 0),
          rgba(254, 156, 37, 0) 80%,
          #fd9d24);
      }
    }

    &.sdg-dark-mustard {
      background-color: #bf8b2e;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(191, 139, 46, 0),
          rgba(191, 139, 46, 0) 80%,
          #bf8b2e);
      }
    }

    &.sdg-dark-green {
      background-color: #3f7e44;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(62, 128, 69, 0),
          rgba(62, 128, 69, 0) 80%,
          #3f7e44);
      }
    }

    &.sdg-blue {
      background-color: #0a97d9;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(12, 152, 218, 0),
          rgba(12, 152, 218, 0) 80%,
          #0a97d9);
      }
    }

    &.sdg-lime-green {
      background-color: #56c02b;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(88, 193, 44, 0),
          rgba(88, 193, 44, 0) 80%,
          #58c12c);
      }
    }

    &.sdg-royal-blue {
      background-color: #00689d;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(3, 104, 157, 0),
          rgba(3, 104, 157, 0) 80%,
          #00689d);
      }
    }

    &.sdg-navy-blue {
      background-color: #19486a;

      .sdg-image::before {
        background-image:
          linear-gradient(270deg,
          rgba(26, 73, 107, 0),
          rgba(26, 73, 107, 0) 80%,
          #1a496b);
      }
    }

    &.color-white {
      background-color: $color-white;
    }

    &:hover {
      .sdg-image {
        img {
          opacity: 0.3;
        }
      }
    }
  }

  &-image {
    margin-left: auto;
    max-width: 650px;
    position: relative;
    width: 100%;
    z-index: 0;

    &::before {
      @extend %absolute__content;

      @include transition(background-color 0.5s linear);
    }

    img {
      @include transition(opacity 0.5s ease);

      display: none;
      height: 160px;
      opacity: 0;
      width: 100%;

      @include devicebreak(medium) {
        display: block;
      }
    }
  }
}

@include devicebreak(medium) {
  [dir='rtl'] {
    .sdg {
      &-card {
        cursor: url(#{$img-path-Iconback}/arrow-left-white.svg), auto;

        strong {
          padding: 0 8.75rem 0 0;
        }

        h4 {
          left: unset;
          right: 22rem;
        }

        &-link {
          cursor: url(#{$img-path-Iconback}/arrow-left.svg), auto;

          img {
            padding: 0 8.75rem 0 0;
          }
        }
      }

      &-image {
        margin-left: unset;
        margin-right: auto;

        &::before {
          @include transform(scaleX(-1));
        }
      }
    }
  }
}
