/* post start */
.post-wrapper {
  h2 {
    margin-bottom: var(--undpds-spacing-05);
  }

  h5 {
    color: var(--undpds-color-gray-600);
    margin-bottom: var(--undpds-spacing-09);
  }
}

/* post end */