.our-expertise {

    .glide-expertise {
        padding: 125px 15px 80px 0;

        .glide__bullets{
            padding-right: 0;
            padding-left: 15px;
            width: calc(100% - 15px);
        }
    }
}
