@use '../../assets/scss/variables';
@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';

/* download modal start */
.download {
  &-body {
    display: flex;

    @include breakpoints.devicebreak(small) {
      height: calc(100% - 80px);
    }
  }

  &-content {
    width: 100%;

    @include breakpoints.devicebreak(medium) {
      padding-left: variables.$spacing-06;
      width: calc(100% - 358px);
    }

    .select-box {
      margin-bottom: variables.$spacing-07;
      max-width: 100%;

      .selected {
        min-width: 100%;
      }
    }
  }

  &-list {
    @extend %custom-scrollbar;

    max-height: calc(100% - 82px);

    @include breakpoints.devicebreak(medium) {
      max-height: 473px;
      padding-right: 1.563rem;
    }

    .download-row {
      &.hide {
        display: none;
      }
    }
  }

  &-footer {
    margin-top: variables.$spacing-07;
    text-align: right;

    @include breakpoints.devicebreak(medium) {
      padding-right: variables.$spacing-06;
    }
  }
}

.list-language {
  max-height: 100%;

  @include breakpoints.devicebreak(medium) {
    max-height: 404px;
  }
}

.modal-download {
  .modal-content {
    max-width: 633px;
  }

  .download-content {
    padding: 0;
    width: 100%;
  }
}

[dir='rtl'] {
  .download {
    @include breakpoints.devicebreak(medium) {
      &-list {
        padding-left: 1.563rem;
        padding-right: 0;
      }
    }

    &-content {
      @include breakpoints.devicebreak(medium) {
        padding-left: 0;
        padding-right: variables.$spacing-06;
      }
    }

    &-footer {
      text-align: left;

      @include breakpoints.devicebreak(medium) {
        padding-left: variables.$spacing-06;
        padding-right: 0;
      }
    }
  }
}

/* download modal end */