
.image-per-row-gallery {
    margin-top: 75px;

    .gallery-text-content {
        @include breakpoint(small only) {
            background: none;
            padding: 0 29px 31px;

            .cta {
                margin-top: 44px;
            }

            .medium-copy:first-of-type {
                margin-top: 0;
            }
        }
    }


}
