
.parallax-gallery {
    margin-top: 75px;

    &.inverted-background {
        .gallery-container {
            position: relative;

            &:before {
                content: '';
                top: -24px;
                z-index: 0;
                left: -24px;
                position: absolute;
                background: #F7F7F7;
                width: calc(100% + 48px);
                height: calc(100% + 48px);

                @include breakpoint(small only) {
                    top: -15px;
                    left: -15px;
                    width: calc(100% + 30px);
                    height: calc(100% + 30px);
                }
            }
        }

        .content-wrapper {
            @include breakpoint(small only) {
                background: none;
            }
        }
    }

    .content-wrapper {
        z-index: $z-index-1;

        @include breakpoint(small only) {
            padding: 30px 17px;
            background: $dark-blue-6;
        }
    }

    .gallery-images {
        @include breakpoint(small only) {
            order: 0;
        }
    }

    .gallery-text-content {
        @include breakpoint(small only) {
            padding: 0 14px;
        }

        .copy {
            @include breakpoint(small only) {
                margin-top: 50px
            }
        }
    }

    .heading {
        @include breakpoint(small only) {
            margin-bottom: 36px;
        }
    }
}
