
.three-column-gallery {
    margin-top: 75px;

    .heading {
        @include breakpoint(small only) {
            margin-bottom: 36px;
        }
    }

    .gallery-text-content {
        padding: 96px 0;

        @include breakpoint(small only) {
            padding: 0;
        }

        .cta {
            margin-top: 73px;

            @include breakpoint(small only) {
                margin-top: 58px;
            }
        }
    }
}
