
.three-column-gallery {
    margin-top: 75px;

    .accordion-trigger {
        width: 100%;
        text-align: left;
    }

    .heading {
        @include breakpoint(small only) {
            margin-bottom: 36px;
        }
    }

    .gallery-images {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        > .cell {
            @include breakpoint(small only) {
                margin-left: 5px;
                margin-right: 5px;
                width: calc(33.33% - 10px);
            }
        }
    }

    .gallery-images > *:nth-child(odd) .photo-details-overlay {
        height: calc(45% - 10px);

        @include breakpoint(small only) {
            height: calc(45% - 5px);
        }

        &:first-of-type {
            height: calc(55% - 10px);

            @include breakpoint(small only) {
                height: calc(55% - 5px);
            }
        }
    }

    .gallery-images > *:nth-child(even) .photo-details-overlay {
        height: calc(55% - 10px);

        @include breakpoint(small only) {
            height: calc(55% - 5px);
        }

        &:first-of-type {
            height: calc(45% - 10px);

            @include breakpoint(small only) {
                height: calc(45% - 5px);
            }
        }
    }

    .gallery-text-content {
        padding: 96px 0;

        @include breakpoint(small only) {
            padding: 0;
        }

        .cta {
            margin-top: 73px;

            @include breakpoint(small only) {
                margin-top: 58px;
            }
        }
    }

    .photo-details-overlay:first-of-type {
        margin-bottom: 20px;

        @include breakpoint(small only) {
            margin-bottom: 10px;
        }
    }

    .image-caption {
        margin-top: 35px;

        &.expanded {
            .arrow-down {
                transform: rotate(-180deg);
            }

            .caption-list .caption:not(:first-of-type) {
                opacity: 1;
                margin-top: 24px;
                max-height: 500px;
            }
        }

        .arrow-down {
            display: flex;
            margin: 0 auto auto;
            transition: transform 300ms $easing-2;
        }

        .caption {
            &:not(:first-of-type) {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: all 250ms $easing-2;
            }

            p {
                display: inline;
            }

            span {
                color: $black;
            }
        }

        .caption-list {
            padding: 0 0 16px;
            color: $dark-blue-12;
            list-style-type: decimal;
            list-style-position: inside;
            border-bottom: 3px solid $black;
        }
    }
}
