@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';

/* image card start */
.image-reveal-card {
  @extend %img_none;
  background: $color-white;

  border: 0;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;

  .image-reveal-card__content {
    overflow: hidden;
    position: relative;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    h5 {
      margin-bottom: 0;
      padding: $spacing-32 $spacing-24 0;
      @include devicebreak(large) {
        @include translate(0, 100%);
        @include transition(all 0.4s cubic-bezier(0.64, 0.05, 0.35, 1.05));

        background: $color-white;
        bottom: -1px;
        box-sizing: border-box;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        transition-delay: 0.2s;
        width: 100%;
      }
    }
  }

  .cta__link {
    margin: $spacing-32 0 0 $spacing-24;
    width: 100%;

    @include devicebreak(large) {
      margin-left: $spacing-24;
    }
  }

  &:hover {
    .image-reveal-card__content {
      @include devicebreak(large) {
        h5 {
          height: auto;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .cta__link {
      i {
        width: 5rem;
        &::before {
          display: unset;
        }
      }
    }
  }
}

.small.image-reveal-card {
  @include devicebreak(medium) {
    max-width: 212px;

    .cta__link {
      width: 100%;
    }
  }

  h5 {
    font-size: $font-size-16;
  }

  &:hover {
    @include devicebreak(medium) {
      .cta__link.cta--arrow {
        i {
          margin-left: 0;
          width: calc(100% - 9.438rem);
        }
      }
    }
  }
}

[dir='rtl'] {
  .image-reveal-card {
    .cta__link {
      margin-right: $spacing-24;
      margin-top: $spacing-32;

      @include devicebreak(medium) {
        margin-right: $spacing-24;
      }
    }
  }
}

/* image card end */
