
.leader-modal {
    .modal-content {
        .modal-heading .btn-close {
            left: auto;
            margin-left: 0;
            margin-right: auto;
        }

        .leader-info {
            margin-left: 0;
            margin-right: 25px;
        }
    }
}
