@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* Accordian start */
.accordion {
  padding: 0;
  position: relative;
}

.accordion__item {
  border-bottom: 1px solid $color-gray-500;
  cursor: pointer;
  list-style: none;
  overflow: hidden;
  padding: $spacing-16 0 $spacing-24;
  position: relative;

  &::before {
    @include transition(0.1s ease);

    background: url(#{$img-path-Icon}/Chevron-down.svg) no-repeat center center;
    border-top-color: #f3f3f3;
    content: '';
    float: right;
    height: 20px;
    margin-left: $spacing-24;
    width: 20px;
  }

  .accordion__heading {
    margin-bottom: 0;
  }

  &.accordion--active {
    .accordion__heading {
      margin-bottom: 10px;
      padding-right: $spacing-24;

      @include devicebreak(medium) {
        margin-bottom: 0;
        padding-bottom: $spacing-16;
      }
    }

    &::before {
      @include transform(rotateZ(180deg));
    }
  }
}

[dir='rtl'] {
  .accordion__item {
    &::before {
      float: left;
    }
  }

  .accordion--active {
    .accordion__heading {
      padding-right: 0;
    }
  }
}

.accordion__panel {
  display: none;
  height: auto;
  padding: $spacing-32;

  @include devicebreak(medium) {
    padding: $spacing-40;
  }
}

/* Accordian end */
