@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

/* Accordian start */
.accordion {
  width: 100%;
  position: relative;
}

.accordion-head {
  border-bottom: 1px solid $color-gray-500;
  position: relative;
  padding: $spacing-24 0;
  font-size: 0.87em;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: "";
    background: url(#{$img-path-Icon}/Chevron-down.svg) no-repeat center center;
    float: right;
    width: 20px;
    height: 20px;
    border-top-color: #f3f3f3;
    transition: all 0.1s ease;
    margin-left: $spacing-24;
  }
  h5 {
    float: left;
    margin-bottom: 0;
  }
  &:hover {
    filter: alpha(opacity=80);
    opacity: 0.8;
  }
  &.open {
    &::after {
      transform: rotateZ(180deg);
      transition: all 0.1s ease;
    }
  }
}

.accordion-body {
  border-bottom: 1px solid $color-gray-500;
  padding: $spacing-32;
  height: auto;
  display: none;
  @include devicebreak(large) {
    padding: $spacing-40;
  }
}
/* Accordian end */
