@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

/* Accordian start */
.accordion {
  padding: 0;
  position: relative;
}

.accordion__item {
  border-bottom: 1px solid $color-gray-500;
  position: relative;
  padding: $spacing-16 0 $spacing-24;
  cursor: pointer;
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  .accordion__heading {
    margin-bottom: 0;
  }
  &.accordion--active {
    .accordion__heading {
      padding-right: $spacing-24;
      @include devicebreak(medium) {
        margin-bottom: 0;
      }
    }
    .icon-chevron-down {
      @include transition(0.1s ease);
      @include transform(rotateZ(180deg));
    }
  }
  .accordion__panel {
    padding: 42px $spacing-32 $spacing-32;
    height: auto;
    display: none;
    @include devicebreak(medium) {
      padding: 56px $spacing-40 $spacing-40;
    }
  }
}

[dir="rtl"] {
  .accordion--active {
    .accordion__heading {
      padding-right: 0;
    }
  }
}
/* Accordian end */
