@use '../../../assets/scss/variables';

/* page title start */
.page-title {
  h2 {
    font-family: var(--undpds-font-family-sohnebreit);
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }

  h4 {
    font-weight: 400;
    margin-bottom: var(--undpds-spacing-03);
  }

  &.white {

    h2,
    h4 {
      color: var(--undpds-color-white);
    }
  }
}

:lang(my) {
  .page-title {
    h2 {
      font-family: var(--undpds-font-family-notosans);
    }
  }
}

#{variables.$cyrillic} {
  .page-title {
    h2 {
      font-family: var(--undpds-font-family-proximanova);
    }
  }
}

/* page title end */