.article-authors {
    margin-top: 33px;
    margin-bottom: 100px;

    @include breakpoint(small only) {
        margin-bottom: 70px;
    }

    .authors-container {
        display: flex;

        @include breakpoint(small only) {
            flex-direction: column;
        }

        .authors-information {
            display: flex;

            @include breakpoint(small only) {
                flex-direction: column;
            }
        }

        .author-item {
            display: flex;
            margin-left: 40px;

            @include breakpoint(small only) {
                margin-left: 0;
                margin-top: 40px;
            }

            &:nth-child(2n) {
                margin-left: 120px;

                @include breakpoint(small only) {
                    margin-left: 0;
                }
            }
        }
    }

    .author-info {
        margin-top: 20px;
        margin-left: 25px;

        .job-position {
            margin-top: 15px;
        }

        .author-name {
            font-weight: $bold;
            text-transform: uppercase;
        }
    }
}
