.article-authors {
    margin-top: 33px;
    margin-bottom: 100px;

    @include breakpoint(small only) {
        margin-bottom: 70px;
    }

    .authors-container {

        @include breakpoint(small only) {
            flex-direction: column;
        }

        .authors-information {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;

            @include breakpoint(medium down) {
                margin-left: -20px;
            }
        }

        .author-item {
            display: flex;
            min-width: 310px;
            margin-top: 30px;
            margin-left: 30px;
            max-width: calc(33% - 30px);

            @include breakpoint(medium down) {
                margin-left: 20px;
                max-width: calc(33% - 20px);
            }

            @include breakpoint(small only) {
                max-width: 100%;
            }

            &.no-image {
                min-width: 270px;
                width: calc(25% - 30px);

                @include breakpoint(small only) {
                    width: calc(50% - 20px);
                }
            }
        }
    }

    .author-image {
        &.active-image {
            flex-shrink: 0;
            margin-right: 25px;
        }
    }

    .author-info {
        margin-top: 20px;

        .author-name a:hover {
            color: $dark-blue-2;
        }

        .job-position {
            margin-top: 15px;
        }

        .author-name {
            font-weight: $bold;
            text-transform: uppercase;
        }
    }
}
