.article-gallery {
    margin: 80px 0;

    .gallery-container {
        display: flex;
        justify-content: center;

        .image-item {
            margin-left: 25px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
