.callout {
    width: 75%;
    margin: 100px 0;
    padding: 140px 120px;

    @include breakpoint(medium down) {
        width: 100%;
        padding: 50px 30px;
    }

    &.green {
        background: $green-6;
    }

    &.gray {
        background: $dark-blue-6;
    }

    blockquote::before {
        content: open-quote;
    }
    blockquote::after {
        content: close-quote;
    }

    blockquote {
        margin: 0;
        quotes: "“" "”" "‘" "’";
    }

    .quote-author {
        margin-top: 40px;
    }
}
