.callout {
    margin-top: 70px;
    padding-top: 90px;
    margin-bottom: 80px;
    padding-bottom: 70px;

    @include breakpoint(medium down) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &.gray {
        .bg-container {
            background: $dark-blue-6;
        }
    }

    &.green {
        .bg-container {
            background: $green-6;
        }
    }

    &.transparent {
        padding-top: 0;
        margin-top: 20px;
        padding-bottom: 0;
        margin-bottom: 50px;

        @include breakpoint(medium down) {
            padding-top: 28px;
            padding-bottom: 28px;
            background: $dark-blue-6;
        }

        .quote-text {
            .heading {
                font-size: 2.5rem;
                font-weight: $regular;

                @include breakpoint(small down) {
                    font-size: 2rem;
                }
            }
        }
    }

    blockquote::before {
        content: open-quote;
    }

    blockquote::after {
        content: close-quote;
    }

    blockquote {
        margin: 0;
        quotes: "“" "”" "‘" "’";
    }

    .quote-author {
        margin-top: 40px;
    }

    .bg-container {
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        position: absolute;
    }
}
