.image-with-caption {
    margin-bottom: 80px;

    @include breakpoint(small only) {
        margin-bottom: 50px;
    }

    &.cover-image {
        margin-bottom: 33px;
    }

    &.small {
        .image-caption {
            flex-direction: column;
            justify-content: flex-end;

            @include breakpoint(medium up) {
                margin-left: 27px;
            }

            .image-author {
                padding-left: 0;

                @include breakpoint(medium up) {
                    margin-top: 30px;
                }

                &::before {
                    display: none;
                }
            }
        }

        .image-container {
            .featured-image {
                object-position: left center;
            }
        }
    }

    .image-container {
        margin-top: 36px;

        @include breakpoint(medium down) {
            margin-top: 29px;
        }
    }

    .featured-image {
        width: 100%;
        height: 651px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include breakpoint(small only) {
            height: 158px;
        }
    }

    .image-caption {
        display: flex;
        margin-top: 49px;
        padding-bottom: 23px;
        border-bottom: 3px solid $black;

        @include breakpoint(small only) {
            margin-top: 30px;
            flex-direction: column;
        }
    }

    .image-alt {
        padding-right: 15px;

        p {
            line-height: 2.2rem;
            color: rgba($black, 0.7);
        }
    }

    .image-author {
        flex-shrink: 0;
        position: relative;

        @include breakpoint(medium up) {
            padding-left: 41px;

            &:before {
                content: '';
                top: 0;
                left: 0;
                width: 1px;
                height: 35px;
                position: absolute;
                background-color: $black;
            }
        }

        @include breakpoint(small only) {
            margin-top: 18px;
        }

        p {
            line-height: 1.6rem;
        }
    }
}
