.article-text {

    a {
        color: $red;
        text-decoration: underline;
    }

    p, li {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 40px;

        @include breakpoint(small only) {
            font-size: 1.6rem;
        }
    }

    ul {
        padding-left: 0;
        margin-top: 20px;
    }

    li {
        list-style: none;
        margin-top: 60px;
        padding-left: 35px;
        position: relative;

        &:before {
            content: '';
            left: 0;
            top: 7px;
            width: 10px;
            height: 10px;
            position: absolute;
            background: $black;
            border-radius: 50%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h3 {
        max-width: 600px;
        margin-top: 95px;
        margin-left: -14.5%;

        @include breakpoint(medium down) {
            margin-left: 0;
        }
    }
}
