@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

.spacing-wrapper .spacing__row {
  .spacing__title.Primary {
    font-size: 3.438rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: var(--undpds-spacing-10);
    margin-top: var(--undpds-spacing-03);
  }
}

.spacing__define .spacing__name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  .spacing__label {
    height: 100px;
    width: 100px;
  }

  .spacing__size {
    height: 100px;
    width: 100px;

    @include breakpoints.devicebreak(medium) {
      margin: 0 11rem;
    }
  }

  .spacing-1,
  .spacing-2,
  .spacing-3,
  .spacing-4,
  .spacing-5,
  .spacing-6,
  .spacing-7,
  .spacing-8,
  .spacing-9,
  .spacing-10,
  .spacing-11,
  .spacing-12,
  .spacing-13 {
    background-color: var(--undpds-color-blue-600);
  }

  @for $i from 1 through 13 {
    .spacing-#{$i} {
      @if $i < 10 {
        height: var(--undpds-spacing-0#{$i});
        width: var(--undpds-spacing-0#{$i});
      }

      @else {
        height: var(--undpds-spacing-#{$i});
        width: var(--undpds-spacing-#{$i});
      }
    }
  }
}
