@use '../../../../assets/scss/mixins';
@use '../../../../assets/scss/variables';
@use '../../../../assets/scss/breakpoints';

.button {
  @extend %button;

  color: var(--undpds-color-white);
  cursor: pointer;
  justify-content: center;
  padding: var(--undpds-spacing-05) var(--undpds-spacing-06);

  &:focus-visible {
    box-shadow: 0 0 4px var(--undpds-color-blue-800);
    outline: 0;
  }
}

button {
  &:focus-visible {
    box-shadow: 0 0 4px var(--undpds-color-blue-800);
    outline: 0;
  }
}

.button.button-primary {
  background-color: var(--undpds-color-dark-red);

  &:hover {
    background-color: var(--undpds-color-red);
  }

  &.button-arrow {
    &::after {
      @include mixins.transition(0.2s ease);

      background: url(~icons/chevron-right-black.svg) no-repeat left center;
      content: '';
      height: 20px;
      margin-left: var(--undpds-spacing-04);
      width: 13px;
    }

    &:hover::after {
      @include mixins.translate(70%, 0);
    }

    &.disabled {
      &::after {
        background: url(~icons/chevron-right-white.svg) no-repeat left center;
        content: '';
      }
    }
  }

  &.button-external-link {
    align-items: baseline;
  }

  .external-link-animated {
    box-shadow: -2px 2px 0 0 var(--undpds-color-black), -4px 0 0 -2px var(--undpds-color-black), -3px 3px 0 -1px var(--undpds-color-black);
    margin-left: 1rem;

    &::before {
      background: var(--undpds-color-black);
    }

    &::after {
      border-right: 2px solid var(--undpds-color-black);
      border-top: 2px solid var(--undpds-color-black);
    }
  }

  &:hover .external-link-animated {
    &::after {
      @include mixins.transform(translate(5px, -5px));
    }

    &::before {
      @include mixins.transform(rotate(-45deg) translate(7px, 0));
    }
  }

  &.disabled .external-link-animated {
    box-shadow: -2px 2px 0 0 var(--undpds-color-gray-300), -4px 0 0 -2px var(--undpds-color-gray-300), -3px 3px 0 -1px var(--undpds-color-gray-300);

    &::before {
      background: var(--undpds-color-gray-300);
    }

    &::after {
      border-right: 2px solid var(--undpds-color-gray-300);
      border-top: 2px solid var(--undpds-color-gray-300);
    }
  }

  &.button-download {
    align-items: baseline;
    padding: 1.25rem var(--undpds-spacing-06);
  }


  .download-animated {
    margin-left: 1rem;

    i {
      border: 2px solid var(--undpds-color-black);
      border-top: 0;
    }

    &::after {
      border-bottom: 2px solid var(--undpds-color-black);
      border-left: 2px solid var(--undpds-color-black);
    }

    &::before {
      background: var(--undpds-color-black);
    }
  }

  &:hover .download-animated {
    &::after {
      @include mixins.transform(rotate(-45deg) translate(7px, -7px));
    }

    &::before {
      @include mixins.transform(translate(0, -10px));
    }
  }

  &.disabled .download-animated {
    i {
      border: 2px solid var(--undpds-color-gray-300);
      border-top: 0;
    }

    &::after {
      border-bottom: 2px solid var(--undpds-color-gray-300);
      border-left: 2px solid var(--undpds-color-gray-300);
    }

    &::before {
      background: var(--undpds-color-gray-300);
    }
  }

}

.button.button-secondary {
  background-color: var(--undpds-color-blue-600);

  &:hover {
    background-color: var(--undpds-color-blue-400);
  }

  &.button-arrow {
    &::after {
      @include mixins.transition(0.2s ease);

      background: url(~icons/chevron-right-white.svg) no-repeat left center;
      content: '';
      height: 20px;
      margin-left: var(--undpds-spacing-04);
      width: 13px;
    }

    &:hover::after {
      @include mixins.translate(70%, 0);
    }

    &.disabled {
      &::after {
        background: url(~icons/chevron-right-white.svg) no-repeat left center;
        content: '';
      }
    }
  }

  &.button-external-link {
    align-items: baseline;
  }

  .external-link-animated {
    box-shadow: -2px 2px 0 0 var(--undpds-color-white), -4px 0 0 -2px var(--undpds-color-white), -3px 3px 0 -1px var(--undpds-color-white);
    margin-left: 1rem;

    &::before {
      background: var(--undpds-color-white);
    }

    &::after {
      border-right: 2px solid var(--undpds-color-white);
      border-top: 2px solid var(--undpds-color-white);
    }
  }

  &:hover .external-link-animated {
    &::after {
      @include mixins.transform(translate(5px, -5px));
    }

    &::before {
      @include mixins.transform(rotate(-45deg) translate(7px, 0));
    }
  }

  &.disabled .external-link-animated {
    box-shadow: -2px 2px 0 0 var(--undpds-color-gray-300), -4px 0 0 -2px var(--undpds-color-gray-300), -3px 3px 0 -1px var(--undpds-color-gray-300);

    &::before {
      background: var(--undpds-color-gray-300);
    }

    &::after {
      border-right: 2px solid var(--undpds-color-gray-300);
      border-top: 2px solid var(--undpds-color-gray-300);
    }
  }

  &.button-download {
    align-items: baseline;
    padding: 1.25rem var(--undpds-spacing-06);
  }

  .download-animated {
    margin-left: 1rem;

    i {
      border: 2px solid var(--undpds-color-white);
      border-top: 0;
    }

    &::after {
      border-bottom: 2px solid var(--undpds-color-white);
      border-left: 2px solid var(--undpds-color-white);
    }

    &::before {
      background: var(--undpds-color-white);
    }
  }

  &:hover .download-animated {
    &::after {
      @include mixins.transform(rotate(-45deg) translate(7px, -7px));
    }

    &::before {
      @include mixins.transform(translate(0, -10px));
    }
  }

  &.disabled .download-animated {
    i {
      border: 2px solid var(--undpds-color-gray-300);
      border-top: 0;
    }

    &::after {
      border-bottom: 2px solid var(--undpds-color-gray-300);
      border-left: 2px solid var(--undpds-color-gray-300);
    }

    &::before {
      background: var(--undpds-color-gray-300);
    }
  }
}

.button.disabled {
  background-color: var(--undpds-color-gray-400);
  color: var(--undpds-color-gray-300);
  pointer-events: none;
}

[dir='rtl'] {
  .button {

    &.button-primary,
    &.button-secondary {
      &.button-arrow {
        &::after {
          @include mixins.transform(rotate(180deg));

          margin-left: 0;
          margin-right: var(--undpds-spacing-04);
        }

        &:hover::after {
          @include mixins.transform(translate(-50%, 0) rotate(180deg));
        }
      }

      .external-link-animated {
        margin-right: 1rem;
        margin-left: 0;
      }

      .download-animated {
        margin-right: 1rem;
        margin-left: 0;
      }
    }
  }
}