@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

/* details tag start */
details {
  summary {
    @extend %paragragh-font-20;

    list-style-type: none;
    outline: 0;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      background:
        url(~icons/chevron-small-right.svg) no-repeat left center;
      content: '';
      display: inline-block;
      height: 14px;
      margin-right: var(--undpds-spacing-02);
      width: 14px;
    }
  }

  p {
    @extend %paragragh-font-16;
  }

  &[open] {
    summary {
      margin-bottom: 0.5rem;

      &::before {
        background:
          url(~icons/chevron-small-down.svg) no-repeat left center;
        content: '';
        display: inline-block;
        height: 14px;
        width: 14px;
      }
    }
  }
}

[dir='rtl'] {
  details {
    summary::before {
      @include mixins.transform(translate(0) rotate(180deg));

      margin-left: var(--undpds-spacing-02);
      margin-right: 0;
    }

    &[open] {
      summary::before {
        @include mixins.transform(translate(0) rotate(0deg));
      }
    }
  }
}

/* details tag end */
