@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

.global-header {
  @extend %header_default;

  .top-left {
    @include devicebreak(mediumt) {
      .dropdown-language {
        display: none;
      }
    }

    .icon-bar {
      display: none;

      @include devicebreak(mediumt) {
        display: block;
      }
    }

    .icon-close {
      display: none;
    }
  }

  .mid-nav {
    display: flex;
    justify-content: center;

    .menu__wrapper {
      align-items: center;
      display: flex;
      height: 7.1875rem;

      @include devicebreak(mediumt) {
        display: none;
      }

      li {
        margin: $spacing-12 0 $spacing-12 4.4375rem;

        &:first-child {
          margin-left: 0;
        }
      }

      &:last-child {
        li {
          margin: $spacing-12 4.4375rem $spacing-12 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .middle-logo {
      @extend %img_none;

      margin: 0 $spacing-80;

      @include devicebreak(mediumt) {
        height: 4.6875rem;
        margin: 0;
      }

      .logo {
        @include devicebreak(mediumt) {
          height: 4.6875rem;
        }
      }
    }
  }

  .align-content-middle {
    align-items: center;
    position: relative;
  }

  .top-right {
    display: flex;
    justify-content: flex-end;

    @include devicebreak(mediumt) {
      .icon-globe {
        display: none;
      }
    }

    .icon-search {
      margin-left: $spacing-16;
    }
  }
}

[dir='rtl'] {
  header {
    .mid-nav {
      .menu__wrapper {
        &:first-child {
          li {
            margin: $spacing-12 4.4375rem $spacing-12 0;

            &:first-child {
              margin-right: 0;
            }
          }
        }

        &:last-child {
          li {
            margin: $spacing-12 0 $spacing-12 4.4375rem;

            &:last-child {
              margin-left: 0;
            }
          }
        }
      }
    }

    .top-right {
      .icon-globe {
        margin-left: 0;
        margin-right: 1.75rem;
      }

      .icon-search {
        margin-left: 0;
        margin-right: $spacing-16;
      }
    }
  }
}
