@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

.country-page {
  &-wrapper {
    margin-bottom: 4.375rem;

    .wide-card {
      margin-top: 2.688rem;
      padding-top: 1.25rem;
    }

    .hero-container {
      margin-top: 4.375em;
      padding-bottom: 1.875rem;
      padding-top: 1.875rem;

      @include devicebreak(medium) {
        margin-top: 7.188rem;
        padding-bottom: 3.125rem;
        padding-top: 4.375rem;
      }

      h1 {
        font-size: 1.8rem;

        @include devicebreak(medium) {
          font-size: $spacing-64;
        }
      }

      @include devicebreak(small) {
        .homepage-hero-wide {
          border-left: 1rem solid $color-gray-300;
          padding-left: calc(8.33333% + #{$spacing-24} / 2);
        }
      }
    }

    .featured-card-container {
      margin-bottom: $spacing-24;
      margin-top: 7.5rem;

      @include devicebreak(medium) {
        margin-top: $spacing-24;
      }
    }

    .wide-card-heading {
      margin-bottom: $spacing-40;
      margin-top: 5.563rem;
    }

    .our-impact {
      margin-top: 8.313rem;

      > div:first-child {
        margin-bottom: 4.125rem;
      }
    }

    .reveal {
      &-head {
        margin-top: 7.313rem;
        text-align: center;

        @include devicebreak(medium) {
          margin-top: 9.375rem;
        }
      }

      &-cards {
        margin-top: 3.75rem;

        @include devicebreak(medium) {
          margin-top: $spacing-40;
        }
      }
    }

    .cta-container {
      margin-top: 5.75rem;
    }
  }
}

[dir='rtl'] {
  .hero-container {
    .homepage-hero-wide {
      @include devicebreak(small) {
        border-left: none;
        border-right: 1rem solid $color-gray-300;
        padding-left: 0;
        padding-right: calc(8.33333% + #{$spacing-24}/ 2);
      }
    }
  }
}

.footer {
  .form-submit {
    text-transform: uppercase;
  }

  &.blue {
    .footer-subtitle {
      text-transform: uppercase;
    }
  }
}
