@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';
@use '../../assets/scss/variables';

.country-page {
  &-wrapper {
    margin-bottom: variables.$spacing-70;

    .wide-card {
      margin-top: 2.688rem;
      padding-top: variables.$font-size-20;

      h6 {
        padding-top: 0;
      }
    }

    .hero-container {
      //margin-top: $spacing-70;
      padding-bottom: 1.875rem;
      padding-top: 1.875rem;

      @include breakpoints.devicebreak(medium) {
        //margin-top: 7.188rem;
        padding-bottom: variables.$spacing-50;
        padding-top: variables.$spacing-70;
      }

      @include breakpoints.devicebreak(small) {
        .homepage-hero-wide {
          border-left: variables.$spacing-05 solid variables.$color-gray-300;
          padding-left: calc(8.33333% + #{variables.$spacing-06} / 2);
        }
      }

      h1 {
        font-size: 1.8rem;

        @include breakpoints.devicebreak(medium) {
          font-size: variables.$spacing-10;
        }
      }
    }

    .featured-card-container {
      margin-bottom: variables.$spacing-06;
      margin-top: 7.5rem;

      @include breakpoints.devicebreak(medium) {
        margin-top: variables.$spacing-06;
      }
    }

    .wide-card-heading {
      margin-bottom: variables.$spacing-08;
      margin-top: 5.563rem;
    }

    .our-impact {
      margin-top: 8.313rem;

      @include breakpoints.devicebreak(small) {
        padding-left: variables.$spacing-06;
        padding-right: variables.$spacing-06;
      }

      >div:first-of-type {
        margin-bottom: 4.125rem;
      }
    }

    .reveal {
      &-head {
        margin-top: 7.313rem;
        text-align: center;

        @include breakpoints.devicebreak(medium) {
          margin-top: variables.$width-150;
        }
      }

      &-cards {
        margin-top: variables.$spacing-60;

        @include breakpoints.devicebreak(medium) {
          margin-top: variables.$spacing-08;
        }
      }
    }

    .cta-container {
      margin-top: variables.$spacing-60;
    }
  }
}

[dir='rtl'] {
  .hero-container {
    .homepage-hero-wide {
      @include breakpoints.devicebreak(small) {
        border-left: none;
        border-right: variables.$spacing-05 solid variables.$color-gray-300;
        padding-left: 0;
        padding-right: calc(8.33333% + #{variables.$spacing-06}/ 2);
      }
    }
  }

  .country-page-wrapper {
    .large-offset-1 {
      @include breakpoints.devicebreak(medium) {
        margin-left: 0;
        margin-right: calc(8.33333% + #{variables.$spacing-06} / 2);
      }
    }
  }
}

.footer {
  .form-submit {
    text-transform: uppercase;
  }

  &.blue {
    .footer-subtitle {
      text-transform: uppercase;
    }
  }
}