@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* download card start */
$colors: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'blue': $color-azure);

div.download-card {
  display: inline-block;

  @include devicebreak(medium) {
    min-width: 330px;
  }

  &:hover {
    div.publication-thumbnail__image {
      @each $name, $color in $colors {
        &.#{$name}:after {
          @include background-image(42deg, #{$color}, transparent 80%);

          opacity: 0.75;
        }
      }
    }

  div.card-thumbnail__image {
      @each $name, $color in $colors {
        &.#{$name}::before {
          @include background-image(42deg, #{$color}, transparent 80%);

          opacity: 0.75;
        }
      }
    }
    .download-icon{
      &:after {
        @include transform(rotate(-45deg) translate(7px, -7px));
      }
      &:before {
        @include transform(translate(0, -10px));
      }
    }
  }

  .download-card__description {
    background: $color-gray-100;
    padding: $spacing-24;
  }

  .download-card__title {
    @extend %paragragh-font-20;

    margin-bottom: $spacing-04;
  }

  .download-card__format {
    @extend %paragragh-font-16;

    color: $color-gray-600;
    margin-bottom: $spacing-16;
  }

  .download-card__download {
    @extend %paragragh-font-16;

    align-items: flex-end;
    background-image: none;
    display: flex;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    .download-icon{
      margin-left: 0.75rem;
    }
  }
}

[dir='rtl'] {
  .download-card__download {
    &::after {
      margin-left: 0;
      margin-right: 0.75rem;
    }
  }

  .download-card {
    &:hover {
      .publication-thumbnail__image {
        @each $name, $color in $colors {
          &.#{$name}:after {
            @include background-image(318deg, #{$color}, transparent 80%);
          }
        }
      }
    }
  }
}

/* download card end */
