@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/breakpoints';

.author {
  &-wrapper {
    &--2 {
      @include devicebreak(medium) {
        .author-wrapper__box {
          &:first-child {
            margin-right: 0.9375rem;
          }

          &:last-child {
            margin-left: 0.9375rem;
          }
        }
      }

      .author-wrapper__box {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &--3 {
      @include devicebreak(medium) {
        .author-wrapper__box {
          margin-left: 0.9375rem;
          margin-right: 0.9375rem;
        }
      }

      .author-wrapper__box {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &--4 {
      @include devicebreak(medium) {
        .author-wrapper__box {
          &:nth-child(even) {
            margin-right: 0.9375rem;
          }

          &:nth-child(odd) {
            margin-left: 0.9375rem;
          }

          &:nth-child(4n) {
            margin-right: 0;
          }

          &:nth-child(4n+1) {
            margin-left: 0;
          }
        }
      }

      .author-wrapper__box {
        &:nth-child(even) {
          margin-right: 0;
        }

        &:nth-child(odd) {
          margin-left: 0;
        }
      }

      .author__label {
        padding: 0;
        width: 100%;
      }
    }

    &__box {
      display: inline-flex;
      margin-bottom: $spacing-48;
      width: 100%;
    }
  }

  &__label {
    padding-left: $spacing-24;
    padding-top: $spacing-04;
    width: calc(100% - 105px);

    h6 {
      margin-bottom: $spacing-08;
    }
  }

  &__designation {
    font-size: $font-size-14;
    line-height: 19.25px;

    @include devicebreak(medium) {
      font-size: $font-size-16;
      line-height: 22px;
    }
  }
}

[dir='rtl'] {
  .author__label {
    padding-left: 0;
    padding-right: 24px;
  }

  .author {
    &-wrapper {
      &--2 {
        @include devicebreak(medium) {
          .author-wrapper__box {
            &:nth-child(odd) {
              margin-left: 0.9375rem;
              margin-right: unset;
            }

            &:nth-child(even) {
              margin-left: unset;
              margin-right: 0.9375rem;
            }
          }
        }
      }

      &--3 {
        @include devicebreak(medium) {
          .author-wrapper__box {
          }
        }
      }

      &--4 {
        @include devicebreak(medium) {
          .author-wrapper__box {
            &:nth-child(even) {
              margin-left: 0.9375rem;
            }

            &:nth-child(odd) {
              margin-right: 0.9375rem;
            }

            &:nth-child(4n) {
              margin-left: 0;
            }

            &:nth-child(4n+1) {
              margin-right: 0;
            }
          }
        }

        .author-wrapper__box {
          &:nth-child(even) {
            margin-left: 0;
            margin-right: 0.9375rem;
          }

          &:nth-child(odd) {
            margin-left: 0.9375rem;
            margin-right: 0;
          }
        }

        .author__label {
          padding-right: 0;
        }
      }
    }
  }
}
