@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* heading-big cta start */
.heading-big {
  opacity: 0;
  padding: $spacing-136 0;
  z-index: 5;
  justify-content: center;

  &.inviewport{
      opacity: 1;
  }

  h2 {
    margin-bottom: $spacing-48;
    color: $color-black;

    @include devicebreak(medium) {
      margin-bottom: 0;
    }
  }

  h4{
    color: $color-black;
  }
}

.color-blue {
  background-color: #232E3E;
}

body {
  transition: background-color .9s ease;
}

/* heading-big cta end */
