@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/base';

/* Modal lightbox card start */
.modal {
  align-items: center;
  background: $color-white;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: visible;
  z-index: 99;

  @include devicebreak(medium) {
    background: rgba(247, 247, 247, 0.8);
  }
}

.modal-content {
  background: $color-white;
  margin: auto $spacing-12;
  max-height: calc(100vh - 115px);
  max-width: 837px;
  padding: 0;
  position: relative;
  width: 100%;

  @include devicebreak(medium) {
    height: 62vh;
    margin: 0;
    padding: $spacing-80;
  }

  .modal-close-button {
    background: url(#{$img-path-Icon}/Times_circle.svg) no-repeat left center;
    content: '';
    cursor: pointer;
    float: right;
    height: 44px;
    margin: -3rem 0;
    width: 46px;

    @include devicebreak(medium) {
      margin: -3rem;
    }
  }
}

[dir='rtl'] {
  .modal-content {
    .modal-close-button {
      float: left;
    }
  }
}

/* Modal lightbox card end */
