@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/base';
@import '../../../../assets/scss/typography';

.dropdown-menu-wrapper {
  margin-top: 7.1875rem;
}

// 1st level
.menu ul.dropdown {
  display: flex;

  // 1st level items
  >li {
    position: relative;
    display: block;
    text-align: center;

    &.menu__overflow__item {
      line-height: 0;
      width: 3rem;
      min-width: 3rem;
      max-width: 3rem;
      order: 100;
    }

    // 2nd level
    ul.submenu {
      @extend %frosted-bg;
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      position: absolute;
      top: calc(100% - 2rem);
      left: calc(0% - 1rem);
      z-index: 10;
      flex-direction: column;
      display: none;
      width: 18rem;

      // 2nd level items
      li {
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
        padding: 0;
        margin: 0;
        transition: 0.2s ease;
        word-break: keep-all;
        white-space: wrap;
        letter-spacing: normal;

        &.edge:focus>ul.sub-menu,
        &.edge:focus-within>ul.sub-menu,
        &.edge:hover>ul.sub-menu,
        &.open.edge>ul.submenu {
          right: 100%;
          left: unset;
        }

        a {
          display: flex;
          width: auto;
          transition: 0.2s ease;
          padding: 1.25rem;
          column-gap: 1rem;
          justify-content: space-between;
          align-items: center;
          line-height: 1.25;
          font-size: 1rem;
          font-weight: normal;
          text-transform: none;
          text-align: left;
          border-bottom: 1px solid #d4d6d8;
        }

        &.has-submenu>a:after {
          transition: 0.2s ease;
          background: url(#{$img-path-Iconfourback}/chevron-right.svg) no-repeat right center;
          content: "";
          height: 18px;
          margin-left: 0.75rem;
          min-width: 20px;
          display: flex;
          margin-left: auto;
          color: $color-dark-red;
        }

        >a.external .external-link-animated {
          min-width: 0.75rem;
        }

        >a.external .download-animated {
          min-width: 1.25rem;
        }
      }
    }

    // hover/focus on first level items
    &:focus,
    &:focus-within,
    &:hover,
    &.open {
      >ul.submenu {
        position: absolute;
        display: flex;
      }
    }

    ul.submenu {

      li:focus,
      li:focus-within,
      li:hover,
      li.open {
        transition: 0.2s ease;
        background: $color-blue-600;
        color: $color-white;

        >ul.submenu {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 0%;
          left: 100%;
        }

        &.edge:focus>ul.sub-menu,
        &.edge:focus-within>ul.sub-menu,
        &.edge:hover>ul.sub-menu,
        &.edge>ul.submenu {
          right: 100%;
          left: unset;
        }


        >a:focus,
        >a:focus-within,
        >a:hover,
        >a,
        >a.active {
          color: $color-white;
        }

        >a:not(.external, .download) {
          padding-right: .75rem;
        }

        &.has-submenu>a.active:after,
        &.has-submenu>a:after {
          background: url(#{$img-path-Iconfourback}/chevron-right-white.svg) no-repeat right center;
        }

        >a.external .external-link-animated {
          box-shadow: -2px 2px 0 0 $color-white, -4px 0 0 -2px $color-white, -3px 3px 0 -1px $color-white;

          &:before {
            transition: transform 0.2s;
            background-color: $color-white;
          }

          &:after {
            transition: transform 0.2s;
            border-right: 2px solid $color-white;
            border-top: 2px solid $color-white;
          }
        }

        >a.download .download-animated {
          &:before {
            transition: transform 0.2s;
            background-color: $color-white;
          }

          i {
            transition: transform 0.2s;
            border: 2px solid $color-white;
            border-top: 0;
          }

          &:after {
            transition: transform 0.2s;
            border-bottom: 2px solid $color-white;
            border-left: 2px solid $color-white;
          }
        }
      }
    }
  }
}

[dir='rtl'] {
  .menu ul.dropdown {

    >li {

      ul.submenu {
        padding: 0;
        left: unset;
        right: 0;

        li {

          &:focus,
          &:focus-within,
          &:hover,
          &.open {
            >ul.submenu {
              padding: 0;
              left: unset;
              right: 100%;
            }
          }

          &.has-submenu>a:after {
            background: url(#{$img-path-Iconfourback}/chevron-right.svg) no-repeat left center;
            margin-right: auto;
            margin-left: unset;
          }
        }

        li:focus,
        li:focus-within,
        li:hover,
        li.open {

          >ul.submenu {
            position: absolute;
            display: block;
            top: 0%;
            right: 100%;
          }

          &.edge:focus>ul.sub-menu,
          &.edge:focus-within>ul.sub-menu,
          &.edge:hover>ul.sub-menu,
          &.edge>ul.submenu {
            left: 100%;
            right: unset;
          }

          >a:focus,
          >a:focus-within,
          >a:hover,
          >a,
          >a.active {
            transition: 0.2s ease;
            background: $color-blue-600;
            color: $color-white;
          }

          &.has-submenu>a.active:after,
          &.has-submenu>a:after {
            background: url(#{$img-path-Iconfourback}/chevron-right-white.svg) no-repeat left center;
          }
        }
      }
    }
  }
}

.menu__overflow__container ul.dropdown {
  display: flex;
  order: 12;
  width: 100%;

  >li {
    position: relative;
    display: flex;
    justify-content: center;

    ul.submenu {
      @extend %frosted-bg;
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      position: absolute;
      top: calc(100% - 2rem);
      left: calc(0% - 1rem);
      z-index: 10;
      flex-direction: column;
      display: none;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        position: relative;
        padding: 0;
        margin: 0;
        min-width: 18rem;

        &.edge:focus>ul.sub-menu,
        &.edge:focus-within>ul.sub-menu,
        &.edge:hover>ul.sub-menu,
        &.open.edge>ul.submenu {
          right: 100%;
          left: unset;
        }

        a {
          transition: 0.2s ease;
          line-height: 112.5%;
          width: auto;
          padding: 1.25rem;
          font-size: 1rem;
          font-weight: normal;
          text-transform: none;
          border-bottom: 1px solid #d4d6d8;
          max-height: 1rem;
          background: none;
          display: flex;
        }

        &.has-submenu>a:after {
          transition: 0.2s ease;
          background: url(#{$img-path-Iconfourback}/chevron-right.svg) no-repeat left center;
          content: "";
          height: 18px;
          margin-left: 0.75rem;
          width: 12px;
          display: flex;
          margin-left: auto;
          color: $color-dark-red;
        }
      }
    }

    &:focus,
    &:focus-within,
    &:hover,
    &.open {
      >ul.submenu {
        position: absolute;
        display: flex;
        flex-direction: column;
      }
    }

    ul.submenu {

      li:focus,
      li:focus-within,
      li:hover,
      li.open {

        >ul.submenu {
          position: absolute;
          display: block;
          top: 0%;
          left: 100%;
        }

        &.edge:focus>ul.sub-menu,
        &.edge:focus-within>ul.sub-menu,
        &.edge:hover>ul.sub-menu,
        &.edge>ul.submenu {
          right: 100%;
          left: unset;
        }

        >a:focus,
        >a:focus-within,
        >a:hover,
        >a,
        >a.active {
          transition: 0.2s ease;
          background: $color-blue-600;
          color: $color-white;
        }

        &.has-submenu>a.active:after,
        &.has-submenu>a:after {
          background: url(#{$img-path-Iconfourback}/chevron-right-white.svg) no-repeat left center;
        }
      }
    }
  }
}

.menu__overflow__toggle {
  border: none;
  background: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  color: red;
  line-height: 0;
  margin: auto;
  border-radius: 100%;
  cursor: pointer;
  position: relative;

  &:after {
    height: 1.25rem;
    width: 1.25rem;
    content: '...';
    display: table;
    clear: both;
    border-radius: 100%;
  }

  &:hover {
    background: rgba(0 0 0 / 5%);
  }

  &:active {
    background: rgba(0 0 0 / 10%);
    color: white;
  }

  span.hidden {
    display: none;
  }

  &.hidden {
    display: none;
  }

  @include devicebreak(mediumonlytab) {
    display: none;
  }
}

.menu__overflow__container {
  position: relative;
  min-height: 4.125rem;
  height: unset;
  background-color: $color-gray-200;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
  order: 100;
  min-width: 100%;

  @include devicebreak(mediumonlytab) {
    display: none;
  }

  ul.dropdown {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-content: center;
    list-style: none;

    >li.menu-item ul.submenu {
      top: calc(100% - 1rem);
    }

    >li {
      padding: 0;
      margin: 0;

      >a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        text-align: center;
        border: none;
        background: none;
        font-size: 0.875rem;
        text-transform: uppercase;
        height: 4.125rem;
        color: $color-black;
      }

      &.edge:focus>ul.sub-menu,
      &.edge:focus-within>ul.sub-menu,
      &.edge:hover>ul.sub-menu,
      &.edge>ul.submenu {
        right: 100%;
        left: unset;
      }

      &:hover {
        >a {
          color: #55606e;
        }
      }
    }
  }

  &.hidden {
    display: none;
  }
}