@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/swiper';
@import '../../assets/scss/mixins';

$backgroundcolors: (
  'yellow': var(--undpds-color-yellow),
  'red': var(--undpds-color-red),
  'green': var(--undpds-color-green),
  'blue': var(--undpds-color-azure),
  'gray': var(--undpds-color-gray-100)
);

/* stats-card-grid start */
.stats-card-slider {
  // overflow-x: hidden;

  @include devicebreak(medium) {
    .swiper {
      &-wrapper {
        display: block;
      }

      &-slide {
        padding-inline: var(--undpds-spacing-04) var(--undpds-spacing-04);
        width: initial;
      }
    }
  }

  @include devicebreak(small) {
    .stats-card.small {
      max-width: 100%;
      pointer-events: none;
    }

    .swiper {
      &-slide-active {
        .stats-card {
          background-color: var(--undpds-color-yellow);

          @each $name,
          $color in $backgroundcolors {

            &.accent-#{$name},
            &.#{$name} {
              background-color: #{$color};
            }
          }

          h2 {
            color: var(--undpds-color-text-default);
          }
        }
      }
    }
  }

  .stats-card-parallax {
    margin-bottom: 0.75rem;
    min-width: 100%;
    width: -moz-fit-content;
    width: fit-content;

    @include devicebreak(medium) {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .stats-card {
    @include devicebreak(large) {
      &.small {
        box-sizing: border-box;
        max-width: 18.75rem;
        width: 100%;
      }
    }

    &:hover {
      background-color: var(--undpds-color-yellow);

      @each $name,
      $color in $backgroundcolors {

        &.accent-#{$name},
        &.#{$name} {
          background-color: #{$color};
        }
      }
    }
  }

  &.swiper-initialized {
    @include devicebreak(small) {
      padding-inline: 0 var(--undpds-spacing-10);
    }

    .swiper-scrollbar {
      @include devicebreak(small) {
        padding-inline: 0 var(--undpds-spacing-10);
      }
    }
  }
}

/* stats-card-grid end */
