@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/glideslider';
@import '../../assets/scss/mixins';

/* stats-card-grid start */
.stats-card-grid {
  overflow-x: hidden;

  @include devicebreak(medium) {
    .glide {
      &__slides {
        display: block;
      }

      &__slide {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        width: initial;
      }
    }
  }

  @include devicebreak(small) {
    .statscard {
      max-width: 100%;
      pointer-events: none;
    }

    .glide {
      &__slide--active {
        .statscard {
          background-color: $color-light-yellow;

          &__number {
            color: $color-black;
          }
        }
      }
    }
  }

  .stats-card-parallax {
    margin-bottom: 2.625rem;

    @include devicebreak(medium){
      display: flex;
      justify-content: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .statscard {
    @include devicebreak(large) {
      &.small {
        box-sizing: border-box;
        max-width: 330px;
        width: 100%;
      }
    }

    &:hover {
      background-color: $color-light-yellow;
    }
  }
}

[dir='rtl'] {
  .stats-card-grid {
    @include devicebreak(medium) {
      .grid-x {
        flex-direction: row-reverse;
      }
    }
  }
}
/* stats-card-grid end */
