@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/swiper';
@import '../../assets/scss/mixins';

$backgroundcolors: (
  'yellow': $color-yellow,
  'red': $color-red,
  'green': $color-green,
  'blue': $color-azure,
  'gray': $color-gray-100
);

/* stats-card-grid start */
.stats-card-slider {
  // overflow-x: hidden;

  @include devicebreak(medium) {
    .swiper {
      &-wrapper {
        display: block;
      }

      &-slide {
        padding-left: $spacing-04;
        padding-right: $spacing-04;
        width: initial;
      }
    }
  }

  @include devicebreak(small) {
    .stats-card.small {
      max-width: 100%;
      pointer-events: none;
    }

    .swiper {
      &-slide-active {
        .stats-card {
          background-color: $color-yellow;

          @each $name,
          $color in $backgroundcolors {

            &.accent-#{$name},
            &.#{$name} {
              background-color: #{$color};
            }
          }

          h2 {
            color: $color-black;
          }
        }
      }
    }
  }

  .stats-card-parallax {
    margin-bottom: 2.625rem;
    min-width: 100%;
    width: -moz-fit-content;
    width: fit-content;

    @include devicebreak(medium) {
      display: flex;
      justify-content: center;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .stats-card {
    @include devicebreak(large) {
      &.small {
        box-sizing: border-box;
        max-width: 18.75rem;
        width: 100%;
      }
    }

    &:hover {
      background-color: $color-yellow;

      @each $name,
      $color in $backgroundcolors {

        &.accent-#{$name},
        &.#{$name} {
          background-color: #{$color};
        }
      }
    }
  }

  &.swiper-initialized {
    @include devicebreak(small) {
      padding-right: $spacing-10;
    }

    .swiper-scrollbar {
      @include devicebreak(small) {
        padding-right: $spacing-10;
      }
    }
  }
}

[dir='rtl'] {
  .stats-card-slider {
    &.swiper-initialized {
      @include devicebreak(small) {
        padding-left: $spacing-10;
        padding-right: 0;
      }

      .swiper-scrollbar {
        @include devicebreak(small) {
          padding-left: $spacing-10;
          padding-right: 0;
        }
      }
    }
  }
}

// @each $name,
// $color in $backgroundcolors {
//   .accent-#{$name} .stats-card-slider {
//     .swiper {
//       &-slide-active {
//         .stats-card {
//           &:hover {
//             background-color: $color;

//             @each $name2,
//             $color2 in $backgroundcolors {

//               &.accent-#{$name2},
//               &.#{$name2} {
//                 background-color: $color2;
//               }
//             }
//           }
//         }
//       }
//     }

//     .stats-slider {
//       .stats-card.small {
//         &:hover {
//           background-color: $color-yellow;

//           @each $name,
//           $color in $backgroundcolors {

//             &.accent-#{$name},
//             &.#{$name} {
//               background-color: #{$color};
//             }
//           }
//         }
//       }

//       .swiper-scrollbar {
//         @include devicebreak(medium) {
//           padding-right: $spacing-44;
//         }
//       }
//     }
//   }
// }

/* stats-card-grid end */