@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

/* author image */


div.author__img {
  border-radius: $author-image-radius;
  height: 80px;
  overflow: hidden;
  width: 80px;
  position: relative;
  min-width: 80px;

  &::before {
    @extend %absolute__content;
    @include transition(all 0.6s);
    border-radius: $author-image-radius;
    overflow: hidden;
    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0.75;
      @include background-image(45deg, $color-yellow , transparent 53%);
    }

    $colors: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'blue': $color-azure);

    @each $name, $color in $colors {
      &.#{$name}::before {
        @include background-image(45deg, $color-yellow , transparent 53%);
      }
    }
  }

  img {
    @extend %img-cover;
  }

  &.large {
    height: 180px;
    width: 180px;
  }
}

[dir='rtl'] { 
  .author__img { 
    &::before{
      @include transform(scaleX(-1));
    }
  }
}
