@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";

/* author big image */
.author__img {
    border-radius: 50%;
    overflow: hidden;
    img {
       @extend %img-cover;
    }
}

/* author small image */
.author__img--small {
    width: 80px;
    height: 80px;
}

/* author large image */
.author__img--large {
    width: 180px;
    height: 180px;
}
