@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

/* author image */
$colors: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'azure': $color-azure);

.author__img {
  border-radius: $author-image-radius;
  height: 80px;
  overflow: hidden;
  width: 80px;
  position: relative;
  min-width: 80px;

  &::before {
    @extend %absolute__content;

    @include transition(all 0.6s);

    opacity: 0;
    border-radius: $author-image-radius;
    overflow: hidden;
  }

  &:hover {
    &::before {
      opacity: 0.75;
    }
  }

  @each $name, $color in $colors {
    &.#{$name}::before {
      @include background-image(42deg, #{$color}, transparent 80%);
      @include transition(all 0.9s);
    }
  }

  img {
    @extend %img-cover;
  }

  &.large {
    height: 180px;
    width: 180px;
  }
}

[dir='rtl'] { 
  .author__img { 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    @each $name, $color in $colors {
      &.#{$name}::before {
        @include background-image(42deg, #{$color}, transparent 80%);
        @include transition(all 0.9s);
      }
    }
  }
}
