@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

/* author image */
.author__img {
  border-radius: 50%;
  overflow: hidden;

  img {
    @extend %img-cover;
  }

  &.small {
    flex: 0 0 80px;
    height: 80px;
    max-width: 80px;
  }

  &.large {
    flex: 0 0 180px;
    height: 180px;
    max-width: 180px;
  }
}
