@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

/* author image */
.author__img {
  border-radius: 50%;
  overflow: hidden;
  height: 80px;
  width: 80px;

  img {
    @extend %img-cover;
  }

  &.large {
    height: 180px;
    width: 180px;
  }
}
