@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

/* sidebar data start */
.sidebar-accordion {
  li > a {
    @extend %img_none;

    border: none;
    border-bottom: 1px solid $color-gray-500;
    display: block;
    font-size: $font-size-16;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 0;
    padding: $spacing-16;

    @include devicebreak(medium) {
      padding: $spacing-24;
    }
  }

  &.narrow {
    li > a {
      @include devicebreak(medium) {
        padding: $spacing-16;
      }
    }
  }
}

[dir='rtl'] {
  .sidebar-accordion {
    .accordion__panel {
      li > a {
        padding-left: $spacing-24;
        padding-right: $spacing-32;

        @include devicebreak(medium) {
          padding-right: $spacing-48;
        }
      }
    }
  }
}

/* sidebar data end */
