@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

/* sidebar data start */
.accordion-navbar__item--headertext {
  @extend %img_none;

  border: none;
  font-size: $font-size-16;
  font-weight: 700;
  margin-bottom: 0;
  padding: $spacing-16;

  @include devicebreak(medium) {
    display: block;
    padding: $spacing-24;
  }
}

ul.accordion__panel {
  display: none;
  height: auto;
  padding: 0;

  li {
    a {
      @extend %img_none;

      border: none;
      display: block;
      font-size: $font-size-14;
      font-weight: 400;
      margin: $spacing-16 $spacing-24 $spacing-32 $spacing-32;

      @include devicebreak(medium) {
        font-size: $font-size-16;
        margin-left: $spacing-48;
      }
    }

    &:last-child a {
      margin-bottom: 0;

      @include devicebreak(medium) {
        margin-bottom: $spacing-16;
      }
    }
  }
}

[dir='rtl'] {
  ul.accordion__panel {
    li > a {
      margin-left: $spacing-24;
      margin-right: $spacing-32;

      @include devicebreak(medium) {
        margin-right: $spacing-48;
      }
    }
  }
}

/* sidebar data end */
