@import './variables';
@import './mixins';
@import './breakpoints';

/* start */
.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.show-for-large {
  display: none;

  @include devicebreak(medium) {
    display: block;
  }
}

.show-for-small {
  display: block;

  @include devicebreak(medium) {
    display: none;
  }
}

.overlay-grey {
  &::before {
    @extend %absolute__content;

    background: rgba(0, 0, 0, 0.2);
  }
}

.Scrollbar-horizontal {
  &::-webkit-scrollbar-track {
     background: linear-gradient(0deg, transparent 10%, $color-black 33%, transparent 0);
  }
  &::-webkit-scrollbar {
    height: 4px;
    margin-right: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

.Scrollbar-vertical {
  &::-webkit-scrollbar-track {
    background: linear-gradient(90deg, transparent 10%, $color-black 33%, transparent 0);
  }
  &::-webkit-scrollbar {
    width: 4px;
    margin-right: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

/* animation start */
.left-right {
  @extend %left-to-right;

  &.inviewport {
    @extend %inviewport_left_right;
  }
}
.delay-1 {
  transition-delay: .1s;
}
.delay-2 {
  transition-delay: .2s;
}
.delay-3 {
  transition-delay: .3s;
}
.delay-4 {
  transition-delay: .4s;
}
.delay-5 {
  transition-delay: .5s;
}

.scale-up {
  @extend %scale-up;

  &.inviewport {
    @include transform(scale(1));
  }
}

.opacity-only {
  @extend %opacity-only;

  &.inviewport {
    @extend %inviewport_opacity_only;
  }
}
.expand-to-size {
  max-width: calc(100% - 1rem);
  @include devicebreak(medium) {
    max-width: calc(100% - 3rem);
  }
}

[dir='rtl'] {
  .left-right {
    @include transform(translateX(100px));

    &.inviewport {
      @extend %inviewport_left_right;
    }
  }
}

/* end */
