@import './variables';
@import './mixins';
@import './breakpoints';

/* base start */
.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.show-large {
  display: none;

  @include devicebreak(medium) {
    display: block;
  }
}

.show-small {
  display: block;

  @include devicebreak(medium) {
    display: none;
  }
}

.height-full {
  height: 100%;
}

.overlay-grey {
  &::before {
    @extend %absolute__content;

    background: rgba(0, 0, 0, 0.2);
  }
}

.scrollbar-horizontal {
  overflow-x: scroll;

  &::-webkit-scrollbar-track {
      border-bottom: 1px solid $color-black;
      margin-right: -1px;

  }

  &::-webkit-scrollbar {
    height: 4px;
    margin-right: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

.scrollbar-vertical {
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    border-right: 1px solid $color-black;
    margin-bottom: -1px;
  }

  &::-webkit-scrollbar {
    margin-right: 2px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

/* glide slider start */
.glide {
  max-width: 100%;

  &__scrollbar {
    @include devicebreak(medium) {
      &.show-for-small {
        display: none;
      }
    }
  }

  &__bullets {
    display: flex;
    margin-bottom: $spacing-32;
    position: relative;

    @include devicebreak(medium) {
      &.show-for-small {
        display: none;
      }
    }

    &::after {
      border-bottom: 1px solid $color-black;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 100%;
      z-index: 1;
    }
  }

  &__bullet {
    @include transition(all 0.1s);

    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    flex-grow: 1;
    height: 4px;
    padding: 3px 0;
    position: relative;
    z-index: 2;
  }
}

/* animation start */
.left-right {
  @extend %left-to-right;

  &.inviewport {
    @extend %inviewport_left_right;
  }
}

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-3 {
  transition-delay: 0.3s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-5 {
  transition-delay: 0.5s;
}

.scale-up {
  @extend %scale-up;

  &.inviewport {
    @include transform(scale(1));
  }
}

.opacity-only {
  @extend %opacity-only;

  &.inviewport {
    @extend %inviewport_opacity_only;
  }
}

.expand-to-size {
  max-width: calc(100% - 1rem);

  @include devicebreak(medium) {
    max-width: calc(100% - 3rem);
  }
}

[dir='rtl'] {
  .left-right {
    @include transform(translateX(100px));

    &.inviewport {
      @extend %inviewport_left_right;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.background-yellow {
  background-color: $color-light-yellow;
}

.background-red {
  background-color: $color-light-red;
}

.background-green {
  background-color: $color-light-green;
}

.background-blue {
  background-color: $color-blue-100;
}

.background-gray {
  background-color: $color-gray-100;
}

.background-white {
  background-color: $color-white;
}

/* base end */
