@import './variables';
@import './mixins';
@import './breakpoints';

/* base start */
.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.show-large {
  display: none;

  @include devicebreak(medium) {
    display: block;
  }
}

.show-small {
  display: block;

  @include devicebreak(medium) {
    display: none;
  }
}

.height-full {
  height: 100%;
}

.overlay-grey {
  &::before {
    @extend %absolute__content;

    background: rgba(0, 0, 0, 0.2);
  }
}

.scrollbar-horizontal {
  overflow-x: scroll;

  &::-webkit-scrollbar-track {
    border-bottom: 1px solid $color-black;
    margin-right: -1px;
  }

  &::-webkit-scrollbar {
    height: 4px;
    margin-right: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

.scrollbar-vertical {
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    border-right: 1px solid $color-black;
    margin-bottom: -1px;
  }

  &::-webkit-scrollbar {
    margin-right: 2px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

/* animation start */
.left-right {
  @extend %left-to-right;

  &.inviewport {
    @extend %inviewport_left_right;
  }
}

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-3 {
  transition-delay: 0.3s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-5 {
  transition-delay: 0.5s;
}

.scale-up {
  @extend %scale-up;

  &.inviewport {
    @include transform(scale(1));
  }
}

.opacity-only {
  @extend %opacity-only;

  &.inviewport {
    @extend %inviewport_opacity_only;
  }
}

.expand-to-size {
  max-width: calc(100% - 1rem);

  @include devicebreak(medium) {
    max-width: calc(100% - 3rem);
  }
}

[dir='rtl'] {
  .left-right {
    @include transform(translateX(100px));

    &.inviewport {
      @extend %inviewport_left_right;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.background-yellow {
  background-color: $color-light-yellow;
}

.background-red {
  background-color: $color-light-red;
}

.background-green {
  background-color: $color-light-green;
}

.background-blue {
  background-color: $color-blue-100;
}

.background-gray {
  background-color: $color-gray-100;
}

.background-white {
  background-color: $color-white;
}

// global colors
// color map gradient
$colors: ('yellow': rgba(255, 235, 0, 0.8), 'red': rgba(230 45 45 / 78%), 'green': rgba(92 222 83 / 82%), 'blue': rgba(94 232 246 / 82%));

@each $name, $color in $colors {
  .#{$name} {
    //card-thumbnail
    .card-thumbnail__image::before {
      @include background-image(42deg, #{$color}, transparent 80%);
    }

    //bio-card
    .bio-card a {
      .card-thumbnail__image::before {
        @include background(42deg, #{$color}, transparent 80%);
      }
    }

    //author__img
    .author__img:hover{
      &::before {
        @include background(42deg, #{$color}, transparent 80%);
      }
    }

    //publication-thumbnail__image
    .publication-thumbnail__image{
       &::after {
        @include background-image(42deg, #{$color}, transparent 80%);
      }
    }

    //download card
    .download-card:hover {
      .card-thumbnail__image::before {
        @include background-image(42deg, #{$color}, transparent 80%);
        opacity: 0.75;
      }
      .publication-thumbnail__image{
       &::after {
        @include background-image(42deg, #{$color}, transparent 80%);
        opacity: 0.75;
        }
      }
    }

    //publication-card
    .publication-card:hover {
      .publication-thumbnail__image{
       &::after {
        @include background-image(42deg, #{$color}, transparent 80%);
        opacity: 0.75;
        }
      }
    }
    
    //stats-panel
    .stats-panel:hover {
      &::after {
         @include background-image(42deg, #{$color}, transparent 80%);
      }
      .stats-card {
        background-color: transparent;
      }
    }

    //wide-card
    .wide-card__image a:hover {
      &::before {
        @include background-image(42deg, #{$color}, transparent 80%);
      }
    }

    //feature-card
    .feature__card-slide {
        &::before {
           @include background-image(42deg, #{$color}, transparent 80%);
        }
      }

    //content-card
    .content-card {
       .image {
        &::before {
          @include background-image(42deg, #{$color}, transparent 80%);
        }
      }
    }    
  }
}

// color map solid
$colors-solid: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'blue': $color-azure);

@each $name, $color in $colors-solid {
  .#{$name} {
    //statscard
    .stats-card {
      &:hover {
        background-color: #{$color};
      }
    }

    //progress-bar
    .progress-bar {
      background: #{$color};
    }
    
    //.blockquote
    .blockquote {
      background-color: #{$color};
    }

    //content crad
    .content-card.card:hover {
       background-color: #{$color};

      .cta--space::after {
        filter: invert(0) brightness(0);
      }
    }

    //content card - Emphasize
    .content-card.card-color:hover, .content-card.card-emphasize:hover {
      background-color: #{$color};
    }

    //feature-card
    .feature__card-slide {
      background: #{$color};
    }
  }
}


// color map light-color content card only
$colors-light: ('yellow': $color-light-yellow, 'red': $color-light-red, 'green': $color-light-green, 'blue': $color-light-azure);

@each $name, $color in $colors-light {
  .#{$name} {
    //content card - Emphasize default state color
    .content-card.card-emphasize {
      background-color: #{$color};
    }
  }
}
/* base end */  
