@import './variables';
@import './mixins';
@import './breakpoints';

/* start */
.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.show-for-large {
  display: none;

  @include devicebreak(medium) {
    display: block;
  }
}

.show-for-small {
  display: block;

  @include devicebreak(medium) {
    display: none;
  }
}

.overlay-grey {
  &::before {
    @extend %absolute__content;

    background: rgba(0, 0, 0, 0.2);
  }
}

.Scrollbar-horizontal {
  &::-webkit-scrollbar-track {
    background: linear-gradient(0deg, transparent 10%, $color-black 33%, transparent 0);
  }

  &::-webkit-scrollbar {
    height: 4px;
    margin-right: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

.Scrollbar-vertical {
  &::-webkit-scrollbar-track {
    background: linear-gradient(90deg, transparent 10%, $color-black 33%, transparent 0);
  }

  &::-webkit-scrollbar {
    margin-right: 2px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

/* glide slider start */
.glide {
  &__slides {
    margin-top: $spacing-32;
  }

  &__bullets {
    display: flex;
    position: relative;

    @include devicebreak(medium) {
      display: none;
    }

    &::after {
      border-bottom: 1px solid $color-black;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0.5px;
      width: 100%;
      z-index: 1;
    }
  }

  &__bullet {
    @include transition(all 0.1s);

    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    flex-grow: 1;
    height: 4px;
    position: relative;
    z-index: 2;

    &--active {
      background: $color-black;
    }
  }
}

/* animation start */
.left-right {
  @extend %left-to-right;

  &.inviewport {
    @extend %inviewport_left_right;
  }
}

.scale-up {
  @extend %scale-up;

  &.inviewport {
    @include transform(scale(1));
  }
}

.opacity-only {
  @extend %opacity-only;

  &.inviewport {
    @extend %inviewport_opacity_only;
  }
}

.expand-to-size {
  max-width: calc(100% - 1rem);

  @include devicebreak(medium) {
    max-width: calc(100% - 3rem);
  }
}

[dir='rtl'] {
  .left-right {
    @include transform(translateX(100px));

    &.inviewport {
      @extend %inviewport_left_right;
    }
  }
}

/* end */
