
@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-regular-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 400;
  src:
    url('../fonts/proximanova-regularit-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-regularit-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-semibold-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 600;
  src:
    url('../fonts/proximanova-semiboldit-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-semiboldit-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-bold-webfont.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 700;
  src:
    url('../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
    url('../fonts/proximanova-boldit-webfont.woff') format('woff');
}

/* SohneBreit */
@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/soehne-breit-web-dreiviertelfett.woff2') format('woff2'),
    url('../fonts/soehne-breit-web-dreiviertelfett.woff') format('woff');
  unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2070-209F;
}

@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: italic;
  font-weight: 700;
  src:
    url('../fonts/soehne-breit-web-dreiviertelfett-kursiv.woff2') format('woff2'),
    url('../fonts/soehne-breit-web-dreiviertelfett-kursiv.woff') format('woff');
  unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2070-209F;
}

@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: normal;
  font-weight: 800;
  src:
    url('../fonts/soehne-breit-web-fett.woff2') format('woff2'),
    url('../fonts/soehne-breit-web-fett.woff') format('woff');
  unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+2070-209F;
}

@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: italic;
  font-weight: 800;
  src:
    url('../fonts/soehne-breit-web-fett-kursiv.woff2') format('woff2'),
    url('../fonts/soehne-breit-web-fett-kursiv.woff') format('woff');
  unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-20CF;
}

/* Google Noto Sans */
@font-face {
  font-display: swap;
  font-family: 'NotoSans';
  font-weight: 300;
  src:
    url('../fonts/NotoSansMyanmar-Light.woff2') format('woff2'),
    url('../fonts/NotoSansMyanmar-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'NotoSans';
  font-weight: 400;
  src:
    url('../fonts/NotoSansMyanmar-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansMyanmar-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'NotoSans';
  font-weight: 500;
  src:
    url('../fonts/NotoSansMyanmar-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansMyanmar-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'NotoSans';
  font-weight: 600;
  src:
    url('../fonts/NotoSansMyanmar-SemiBold.woff2') format('woff2'),
    url('../fonts/NotoSansMyanmar-SemiBold.woff') format('woff');
}

/* UN Bangla unicode */
@font-face {
  font-display: swap;
  font-family: 'UNBangla';
  font-weight: 100;
  src:
    url('../fonts/UNBangla-Thin.woff2') format('woff2'),
    url('../fonts/UNBangla-Thin.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'UNBangla';
  font-style: italic;
  font-weight: 100;
  src:
    url('../fonts/UNBangla-ThinItalic.woff2') format('woff2'),
    url('../fonts/UNBangla-ThinItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'UNBangla';
  font-weight: 400;
  src:
    url('../fonts/UNBangla-Regular.woff2') format('woff2'),
    url('../fonts/UNBangla-Regular.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'UNBangla';
  font-style: italic;
  font-weight: 400;
  src:
    url('../fonts/UNBangla-Italic.woff2') format('woff2'),
    url('../fonts/UNBangla-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'UNBangla';
  font-weight: 700;
  src:
    url('../fonts/UNBangla-Bold.woff2') format('woff2'),
    url('../fonts/UNBangla-Bold.woff') format('woff');
}
@font-face {
  font-display: swap;
  font-family: 'UNBangla';
  font-style: italic;
  font-weight: 700;
  src:
    url('../fonts/UNBangla-BoldItalic.woff2') format('woff2'),
    url('../fonts/UNBangla-BoldItalic.woff') format('woff');
}
