
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximanova-regularit-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-regularit-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximanova-semiboldit-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-semiboldit-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximanova-bold-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/proximanova-boldit-webfont.woff2") format("woff2"),
    url("../fonts/proximanova-boldit-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* SohneBreit */
@font-face {
  font-family: "SohneBreit";
  src: url("../fonts/soehne-breit-web-dreiviertelfett.woff2") format("woff2"),
    url("../fonts/soehne-breit-web-dreiviertelfett.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SohneBreit";
  src: url("../fonts/soehne-breit-web-dreiviertelfett-kursiv.woff2") format("woff2"),
    url("../fonts/soehne-breit-web-dreiviertelfett-kursiv.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SohneBreit";
  src: url("../fonts/soehne-breit-web-fett.woff2") format("woff2"),
    url("../fonts/soehne-breit-web-fett.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SohneBreit";
  src: url("../fonts/soehne-breit-web-fett-kursiv.woff2") format("woff2"),
    url("../fonts/soehne-breit-web-fett-kursiv.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansMyanmar-Light.woff2") format("woff2"),
    url("../fonts/NotoSansMyanmar-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansMyanmar-Regular.woff2") format("woff2"),
    url("../fonts/NotoSansMyanmar-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansMyanmar-Medium.woff2") format("woff2"),
    url("../fonts/NotoSansMyanmar-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansMyanmar-SemiBold.woff2") format("woff2"),
    url("../fonts/NotoSansMyanmar-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansMyanmar-Bold.woff2") format("woff2"),
    url("../fonts/NotoSansMyanmar-Bold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}