/* ProximaNova */
@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/ProximaNova-Light.woff2') format('woff2'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 300;
  src:
    url('../fonts/ProximaNova-Light.woff2') format('woff2'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 400;
  src:
    url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 600;
  src:
    url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 700;
  src:
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}

/* SohneBreit */
@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/SohneBreit-Dreiviertelfett.woff2') format('woff2'),
    url('../fonts/SohneBreit-Dreiviertelfett.woff') format('woff'),
    url('../fonts/SohneBreit-Dreiviertelfett.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: italic;
  font-weight: 700;
  src:
    url('../fonts/soehne-breit-web-dreiviertelfett-kursiv.woff2') format('woff2'),
    url('../fonts/soehne-breit-web-dreiviertelfett-kursiv.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: normal;
  font-weight: 800;
  src:
    url('../fonts/SohneBreit-Fett.woff2') format('woff2'),
    url('../fonts/SohneBreit-Fett.woff') format('woff'),
    url('../fonts/SohneBreit-Fett.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'SohneBreit';
  font-style: italic;
  font-weight: 800;
  src:
    url('../fonts/soehne-breit-web-fett-kursiv.woff2') format('woff2'),
    url('../fonts/soehne-breit-web-fett-kursiv.woff') format('woff');
}
