@import 'variables';

/* Burmese */
:lang(my) {

  body,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--undpds-font-family-notosans-burmese);
    line-height: 1.7;
  }

  h1 {
    font-size: 2.625rem;

    @include devicebreak(medium) {
      font-size: 3.875rem;
    }

    @include devicebreak(large) {
      font-size: 5rem;
    }
  }

  h2 {
    font-size: var(--undpds-font-size-32);

    @include devicebreak(medium) {
      font-size: var(--undpds-font-size-35);
    }

    @include devicebreak(large) {
      font-size: 2.813rem;
    }
  }

  h4 {
    font-size: 1.3rem;

    @include devicebreak(medium) {
      font-size: 1.8rem;
    }
  }

  h5 {
    font-size: var(--undpds-font-size-20);

    @include devicebreak(medium) {
      font-size: 1.375rem;
    }
  }

  p {
    font-size: var(--undpds-font-size-14);
    line-height: 1.7;

    @include devicebreak(medium) {
      font-size: var(--undpds-font-size-16);
    }
  }

  ul li,
  ol li,
  dl {
    font-size: var(--undpds-font-size-14);
    line-height: 1.9;

    @include devicebreak(medium) {
      font-size: 1.125rem;
    }
  }

  // .sbdocs {
  //   .sbdocs-content,
  //   h1,
  //   h2,
  //   h3,
  //   h4,
  //   h5,
  //   h6,
  //   p {
  //     font-family: var(--undpds-font-family-notosans);
  //   }

  //   .sbdocs-h1 {
  //     font-size: var(--undpds-font-size-32);
  //   }
  // }
}

/* Cyrillic scripts */
#{$cyrillic} {
  h1 {
    font-family: var(--undpds-font-family-sohnebreit);
  }
}

/* Bengali */
:lang(bn) {

  body,
  h1 {
    font-family: var(--undpds-font-family-unbangla);
  }
}

/* Arabic */
:lang(ar) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-arabic);
  }
}

/* Azerbaijani */
:lang(az) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans);
  }
}

/* Burmese */
:lang(my) {

  input[type=text],
  pre,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-burmese);
  }
}

/* Chinese */
:lang(zh) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-chinese);
  }
}

/* Japanese */
:lang(ja) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-japanese);
  }

  body {
    font-weight: 350;
  }
}

/* Georgian */
:lang(ka) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-georgian);
  }
}

/* Khmer */
:lang(km) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-khmer);
  }
}

/* Korean */
:lang(ko) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-korean);
  }
}

/* Kurdish */
:lang(ku) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans-arabic);
  }
}

/* Nepali */
:lang(ne) {

  body,
  input[type=text],
  pre,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  caption,
  div {
    font-family: var(--undpds-font-family-notosans);
  }
}
