@import './variables';
@import './breakpoints';

@mixin body-copy {
  font-family: 'Arial';
  font-size: 1rem;
  line-height: 1.6;
}

@mixin feature__card_bg {
  background: transparent linear-gradient( 207deg, hsla(0, 0%, 100%, 0.2) 30%, rgba(255, 235, 0, 0.5) 80%, rgba(255, 235, 0, 0.8) ) 0 0 no-repeat padding-box;
}

//loader animation
@mixin loader {
  animation: loader-animation 2s linear infinite;
  -webkit-animation: loader-animation 2s linear infinite;
  -moz-animation: loader-animation 2s linear infinite;
  -ms-animation: loader-animation 2s linear infinite;
  -o-animation: loader-animation 2s linear infinite;
}

@keyframes loader-animation {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
//loader animation end

//transition
@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -ms-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}

//transition-delay
@mixin transitiondelay($transitiondelay...) {
  -webkit-transition-delay: $transitiondelay;
  -moz-transition-delay: $transitiondelay;
  -ms-transition-delay: $transitiondelay;
  -o-transition-delay: $transitiondelay;
  transition-delay: $transitiondelay;
}

//transform
@mixin transform($transforms) {
  -webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
  -o-transition: $transforms;
	transform: $transforms;
}

// Rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}

// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// Skew
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

/* mixing  end */

// basic font
%paragragh-font-14 {
  font-family: $Font-Family-ProximaRegular;
  font-size: 12px;
  line-height: 16px;

  @include devicebreak(medium) {
    font-size: $font-size-14;
    line-height: 19px;
  }
}

%paragragh-font-16 {
  font-family: $Font-Family-ProximaRegular;
  font-size: $font-size-14;
  line-height: 20px;

  @include devicebreak(medium) {
    font-size: $font-size-16;
    line-height: 22px;
  }
}

%paragragh-font-20 {
  font-size: $font-size-16;
  line-height: 22px;

  @include devicebreak(medium) {
    font-size: $font-size-20;
    line-height: 26px;
  }
}

%paragragh-font-24 {
  font-family: $Font-Family-ProximaRegular;
  font-size: $font-size-20;
  line-height: 23px;

  @include devicebreak(medium) {
    font-size: 24px;
    line-height: 27px;
  }
}

%border-bottom {
  border-bottom: 1px solid $color-gray-400;
}

%img-cover {
  height: 100%;
  object-fit: cover;
  padding: 0;
  width: 100%;
}

%border-none {
  border: none;
  
  @extend %img_none;

}

%sidebar {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 16px;
  position: relative;

  @include devicebreak(medium) {
    padding: 24px;
  }
}

%sidebar-selected {
  background-color: $color-blue-600;

  h6 {
    color: $color-white;
  }

  &:hover {
    background-color: $color-blue-600;
  }
}

%checbox-radio-before {
  border: 2px solid $color-dark-red;
  content: '';
  height: 12px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 12px;
}

%img-hover-effect {
  background-image: linear-gradient(42deg, $color-yellow, transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

%button {
  display: flex;
  align-items: center;
  border: none;
  font-family: $Font-Family-ProximaBold;
  font-size: $font-size-16;
  line-height: 18px;
  letter-spacing: 0.03em;

  @include devicebreak(medium) {
    display: inline-flex;
  }
}

%ctaimg {
  content: '';
  height: 20px;
  margin-left: $spacing-12;
  width: 13px;
}

%field__image {
  background-repeat: no-repeat;
  left: 10px;
  position: absolute;
  top: 22px;
  width: 20px;
  height: 20px;
  left: 14px;
  z-index: 1;
}

%feature__card {
  left: 0;
  top: 0;
  width: 100%;
}

%arrow {
  top: 50%;
  content: '';
  right: 22px;
  position: absolute;
  @include transform(translateY(-50%));
  @include transition(all 200ms ease-in-out);
  background: url('../../assets/images/Icon/Chevron-down.svg') no-repeat center center;
  float: right;
  width: 20px;
  height: 13px;
  margin-left: $spacing-24;
}

%absolute__content {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%sidebar-chevron {
  @include transition(0.1s ease);

  background: url(#{$img-path-Iconback}/Chevron-down.svg) no-repeat center center;
  content: '';
  height: 20px;
  position: absolute;
  right: $spacing-24;
  top: 17px;
  width: 20px;

  @include devicebreak(medium) {
    top: 27px;
  }
}

%language_switcher {
  font-family: $Font-Family-ProximaRegular;
  font-size: $font-size-14;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
}

// link animation
@mixin lineLoop {
  animation: lineLoop-animation 2s linear infinite;
  -webkit-animation: lineLoop-animation 2s linear infinite;
  -moz-animation: lineLoop-animation 2s linear infinite;
  -ms-animation: lineLoop-animation 2s linear infinite;
  -o-animation: lineLoop-animation 2s linear infinite;
}

@keyframes lineLoop-animation {
  0% {
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, -30px 100%;
  }
  to {
    background-size: 0 2px, 100% 2px;
    background-position: calc(100% + 30px) 100%, 0 100%;
  }
}

%img_none {
  background-image: none;
}

%absolute__overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* animation start */
%left-to-right {
  @include transform(translateX(-100px));

  @include transition(transform 1.2s cubic-bezier(0.34, 0.41, 0.03, 1), opacity 1.2s cubic-bezier(0.34, 0.41, 0.03, 1));
  opacity: 0;
  visibility: hidden;
}

%inviewport_left_right {
  @include transform(translateX(0));

  opacity: 1;
  visibility: visible;
}

%scale-up {
  @include transform(scale(.9));

  @include transition(transform 1.2s cubic-bezier(.34,.41,.03,1));
}

%opacity-only {
  opacity: 0;
  @include transition(opacity 1.2s cubic-bezier(.34,.41,.03,1));
}

%inviewport_opacity_only {
  opacity: 1;
  @include transform(translateX(0));
}

%expand_to_size {
  margin: 0 auto;
  max-width: 100%;
  @include transition(max-width .5s ease); 
}

/* animation end */

@mixin background-image($deg, $colorname, $opacity) {
  background: linear-gradient($deg, $colorname, $opacity);  
}
