@import 'variables';
/* langs for Storybook */

/* Burmese */
:lang(my) {

  .sbdocs {
    .sbdocs-content,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: var(--undpds-font-family-notosans-burmese);
    }

    .sbdocs-h1 {
      font-size: var(--undpds-font-size-32);
    }
  }

  .sbdocs-preview,
  .sb-unstyled,
  .sb-main-padded {
    body,
    input[type=text],
    pre,
    button,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    caption,
    div {
      font-family: var(--undpds-font-family-notosans-burmese);
    }
  }
}

/* Arabic */
:lang(ar) {

  .sbdocs-preview,
  .sb-unstyled,
  .sb-main-padded {
    body,
    input[type=text],
    pre,
    button,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    caption,
    div {
      font-family: var(--undpds-font-family-notosans-arabic);
    }
  }
}

/* Japanese */
:lang(ja) {

  .sbdocs-preview,
  .sb-unstyled,
  .sb-main-padded {
    body,
    input[type=text],
    pre,
    button,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    caption,
    div {
      font-family: var(--undpds-font-family-notosans-japanese);
    }
  }

  body {
    font-weight: 350;
  }
}
