/* typograpgy start */
@import './variables';
@import './breakpoints';

body {
  color: $color-black;
  font-family: $Font-Family-ProximaRegular;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;

  @include devicebreak(medium) {
    font-size: 1.25rem;
    line-height: 28px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-family: $Font-Family-ProximaRegular;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  @include devicebreak(medium) {
    margin-bottom: 16px;
  }
}

h1 {
  font-family: $Font-Family-SohneBold;
  font-size: 2.938rem;
  line-height: 50px;

  @include devicebreak(medium) {
    font-size: 5.125rem;
    line-height: 88px;
  }

  @include devicebreak(large) {
    font-size: 6.25rem;
    line-height: 88px;
  }
}

h2 {
  font-family: $Font-Family-ProximaBold;
  font-size: 2.5rem;
  font-style: normal;
  line-height: 44px;

  @include devicebreak(medium) {
    font-size: 2.813rem;
    line-height: 50px;
  }

  @include devicebreak(large) {
    font-size: 3.438rem;
    line-height: 60px;
  }
}

h3 {
  font-family: $Font-Family-ProximaRegular;
  font-size: 1.875rem;
  line-height: 34px;

  @include devicebreak(medium) {
    font-size: 2.188rem;
    line-height: 40px;
  }
}

h4 {
  font-family: $Font-Family-ProximaRegular;
  font-size: 1.563rem;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;

  @include devicebreak(medium) {
    font-size: 2.188rem;
    line-height: 40px;
  }
}

h5 {
  font-family: $Font-Family-ProximaRegular;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;

  @include devicebreak(medium) {
    font-size: 1.563rem;
    line-height: 28px;
  }
}

h6 {
  font-family: $Font-Family-ProximaBold;
  font-size: 1rem;
  font-style: normal;
  line-height: 18px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

p {
  font-family: $Font-Family-ProximaRegular;
  font-size: 1rem;
  line-height: 22px;
  margin-top: 0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
    line-height: 27px;
  }
}

ul,
ol {
  font-family: $Font-Family-ProximaRegular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
    line-height: 27.5px;
  }
}

dl {
  font-family: $Font-Family-ProximaRegular;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 19.25px;
  margin: 0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
    line-height: 27.5px;
  }
}

/* typograpgy end */
