/* typograpgy start */
@import './variables';
@import './breakpoints';

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: $color-black;
  font-family: $Font-Family-ProximaNova;
  font-size: 1rem;
  line-height: 1.4;

  @include devicebreak(medium) {
    font-size: 1.25rem;
  }
}

button {
  font-family: $Font-Family-ProximaNova;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  margin: 0;
  margin-bottom: $spacing-04;
  padding: 0;

  @include devicebreak(medium) {
    margin-bottom: $font-size-16;
  }
}

h1 {
  font-family: $Font-Family-SohneBreit;
  font-size: 2.938rem;
  letter-spacing: 0.06rem;
  line-height: 1.08;
  text-transform: uppercase;

  @include devicebreak(medium) {
    font-size: 5.125rem;
  }

  @include devicebreak(large) {
    font-size: 6.25rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;

  @include devicebreak(medium) {
    font-size: 2.813rem;
  }

  @include devicebreak(large) {
    font-size: 3.438rem;
  }
}

h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 2.188rem;
  }
}

h4 {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 2.188rem;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 1.563rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  line-height: 1.15;
  text-transform: uppercase;
}

p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 1.125rem;

  @include devicebreak(medium) {
    padding-left: 1.313rem;
  }

  li {
    margin-bottom: $spacing-05;
    padding-left: 0.875rem;

    @include devicebreak(medium) {
      margin-bottom: $spacing-06;
      padding-left: $spacing-04;
    }
  }
}

ul li::marker {
  font-size: 1.125rem;

  @include devicebreak(medium) {
    font-size: 1.313rem;
  }
}

ol {
  li {
    margin-bottom: 1.063rem;
  }
}

dl {
  font-size: 0.875rem;
  line-height: 1.37;
  margin: 0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
  }
}

dt {
  margin-bottom: $spacing-03;
}

dd {
  margin-bottom: $spacing-05;
  margin-inline-start: $spacing-08;

  @include devicebreak(medium) {
    margin-bottom: $spacing-06;
    margin-inline-start: $spacing-09;
  }
}

hr {
  // border-width: 2px;
  border: 1px solid $color-black;
}

// burmese lang
:lang(my) {
  body {
    font-family: $Font-Family-NotoSans;
    line-height: 1.7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.7;
  }

  h1 {
    font-family: $Font-Family-NotoSans;
    font-size: 2.625rem;

    @include devicebreak(medium) {
      font-size: 3.875rem;
    }

    @include devicebreak(large) {
      font-size: 5rem;
    }
  }

  h2 {
    font-size: 2rem;

    @include devicebreak(medium) {
      font-size: 2.188rem;
    }

    @include devicebreak(large) {
      font-size: 2.813rem;
    }
  }

  h4 {
    font-size: 1.3rem;

    @include devicebreak(medium) {
      font-size: 1.8rem;
    }
  }

  h5 {
    font-size: $font-size-20;

    @include devicebreak(medium) {
      font-size: 1.375rem;
    }
  }

  p {
    font-size: $font-size-14;
    line-height: 1.7;

    @include devicebreak(medium) {
      font-size: $font-size-16;
    }
  }

  ul li,
  ol li,
  dl {
    font-size: 0.875rem;
    line-height: 1.9;

    @include devicebreak(medium) {
      font-size: 1.125rem;
    }
  }

  .sbdocs {
    .sbdocs-content,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: $Font-Family-NotoSans;
    }

    .sbdocs-h1 {
      font-size: $spacing-07;
    }
  }
}

[dir='rtl'] {
  ul,
  ol {
    padding-left: 0;
    padding-right: 1.125rem;

    @include devicebreak(medium) {
      padding-right: 1.313rem;
    }

    li {
      padding-left: 0;
      padding-right: 0.875rem;

      @include devicebreak(medium) {
        padding-right: $spacing-04;
      }
    }
  }
}

/* typograpgy end */
