/* Typography start */
@use "variables";
@use "breakpoints";
@use "mixins";
@use "langs";

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--undpds-color-black);
  font-family: var(--undpds-font-family-proximanova);
  font-size: var(--undpds-font-size-16);
  line-height: 1.4;

  @include breakpoints.devicebreak(medium) {
    font-size: var(--undpds-font-size-20);
  }
}

button {
  font-family: var(--undpds-font-family-proximanova);
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  margin: 0;
  margin-bottom: var(--undpds-spacing-04);
  padding: 0;

  @include breakpoints.devicebreak(medium) {
    margin-bottom: var(--undpds-spacing-05);
  }
}

h1 {
  font-family: var(--undpds-font-family-sohnebreit);
  font-weight: 700;
  font-size: 2.938rem;
  letter-spacing: 0.06rem;
  line-height: 1.08;
  text-transform: uppercase;

  @include breakpoints.devicebreak(medium) {
    font-size: 5.125rem;
  }

  @include breakpoints.devicebreak(large) {
    font-size: 6.25rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;

  @include breakpoints.devicebreak(medium) {
    font-size: 2.813rem;
  }

  @include breakpoints.devicebreak(large) {
    font-size: 3.438rem;
  }
}

h3 {
  font-size: var(--undpds-font-size-40);
  font-weight: 600;
  line-height: 1.15;

  @include breakpoints.devicebreak(medium) {
    font-size: var(--undpds-font-size-48);
  }
}

h4 {
  font-size: var(--undpds-font-size-30);
  font-weight: 400;
  line-height: 1.15;

  @include breakpoints.devicebreak(medium) {
    font-size: var(--undpds-font-size-32);
  }
}

h5 {
  font-size: var(--undpds-font-size-20);
  font-weight: 400;
  line-height: 1.15;

  @include breakpoints.devicebreak(medium) {
    font-size: var(--undpds-font-size-24);
  }
}

h6 {
  font-size: var(--undpds-font-size-16);
  font-weight: 700;
  letter-spacing: 0.03rem;
  line-height: 1.15;
  text-transform: uppercase;
}

p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 1.125rem;

  @include breakpoints.devicebreak(medium) {
    padding-left: 1.313rem;
  }

  li {
    margin-bottom: var(--undpds-spacing-05);
    padding-left: 0.875rem;

    @include breakpoints.devicebreak(medium) {
      margin-bottom: var(--undpds-spacing-06);
      padding-left: var(--undpds-spacing-04);
    }
  }
}

ul li::marker {
  font-size: 1.125rem;

  @include breakpoints.devicebreak(medium) {
    font-size: 1.313rem;
  }
}

ol {
  li {
    margin-bottom: 1.063rem;
  }
}

dl {
  font-size: var(--undpds-font-size-14);
  line-height: 1.37;
  margin: 0;

  @include breakpoints.devicebreak(medium) {
    font-size: var(--undpds-font-size-20);
  }
}

dt {
  margin-bottom: var(--undpds-spacing-03);
}

dd {
  margin-bottom: var(--undpds-spacing-05);
  margin-inline-start: var(--undpds-spacing-08);

  @include breakpoints.devicebreak(medium) {
    margin-bottom: var(--undpds-spacing-06);
    margin-inline-start: var(--undpds-spacing-09);
  }
}

hr {
  // border-width: 2px;
  border: 1px solid var(--undpds-color-black);
}

// link animation
@keyframes lineLoop-animation {
  0% {
    background-position:
      100% 100%,
      -30px 100%;
    background-size:
      100% 2px,
      0 2px;
  }

  to {
    background-position:
      calc(100% + 30px) 100%,
      0 100%;
    background-size:
      0 2px,
      100% 2px;
  }
}

a {
  color: var(--undpds-color-black);
  text-decoration: none;
  @extend %animate-link !optional;
}

[dir="rtl"] {
  ul,
  ol {
    padding-left: 0;
    padding-right: 1.125rem;

    @include breakpoints.devicebreak(medium) {
      padding-right: 1.313rem;
    }

    li {
      padding-left: 0;
      padding-right: 0.875rem;

      @include breakpoints.devicebreak(medium) {
        padding-right: var(--undpds-spacing-04);
      }
    }
  }
  @keyframes lineLoop-animation-rtl {
    0% {
      background-position:
        0 100%,
        calc(100% + 30px) 100%;
      background-size:
        100% 2px,
        0 2px;
    }
    to {
      background-position:
        -30px 100%,
        100% 100%;
      background-size:
        0 2px,
        100% 2px;
    }
  }
}

/* typography end */
