/* typograpgy start */
@import './variables';
@import './breakpoints';

body {
  color: $color-black;
  font-family: $Font-Family-ProximaNova;
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 4.6875rem;

  @include devicebreak(medium) {
    font-size: 1.25rem;
  }
  @include devicebreak(xlarge) {
    margin-top: 7.1875rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  margin: 0;
  margin-bottom: $spacing-12;
  padding: 0;

  @include devicebreak(medium) {
    margin-bottom: $font-size-16;
  }
}

h1 {
  font-family: $Font-Family-SohneBreit;
  font-size: 2.938rem;
  line-height: 1.08;
  text-transform: uppercase;

  @include devicebreak(medium) {
    font-size: 5.125rem;
  }

  @include devicebreak(large) {
    font-size: 6.25rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;

  @include devicebreak(medium) {
    font-size: 2.813rem;
  }

  @include devicebreak(large) {
    font-size: 3.438rem;
  }
}

h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 2.188rem;
  }
}

h4 {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 2.188rem;
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15;

  @include devicebreak(medium) {
    font-size: 1.563rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  margin-top: 0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
  }
}

ul,
ol {
  font-size: 1rem;
  margin: 0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
  }
}

ul li {
  margin-bottom: $spacing-24;
}

ol li {
  margin-bottom: 1.063rem;
}

dl {
  font-size: 0.875rem;
  line-height: 1.37;
  margin: 0;

  @include devicebreak(medium) {
    font-size: 1.25rem;
  }
}

dt {
  margin-bottom: $spacing-08;
}

dd {
  margin-inline-start: $spacing-40;

  @include devicebreak(medium) {
    margin-inline-start: $spacing-48;
  }
}

/* typograpgy end */
