// image variables
$img-path: '../../../assets/images';
$img-path-Icon: '../../../assets/icons';
$img-path-Iconback: '../../assets/icons';
$img-path-Iconfourback: '../../../../assets/icons';

// COLORS
$color-black: #000;
$color-white: #fff;
$color-blue-100: #b5d5f5;
$color-blue-200: #94c4f5;
$color-blue-300: #6babeb;
$color-blue-400: #4f95dd;
$color-blue-500: #3288ce;
$color-blue-600: #006eb5;
$color-blue-700: #1f5a95;
$color-blue-800: #0468b1;
$color-gray-100: #fafafa;
$color-gray-200: #f7f7f7;
$color-gray-300: #edeff0;
$color-gray-400: #d4d6d8;
$color-gray-500: #a9b1b7;
$color-gray-600: #55606e;
$color-gray-700: #232e3d;
$color-light-yellow: #ffe17e;
$color-yellow: #ffeb00;
$color-dark-yellow: #fbc412;
$color-light-red: #ffbcb7;
$color-red: #ee402d;
$color-dark-red: #d12800;
$color-light-green: #b8ecb6;
$color-green: #6de354;
$color-dark-green: #59ba47;
$color-light-azure: #a2daf3;
$color-azure: #60d4f2;
$color-dark-azure: #00c1ff;
$color-light-pink: #ffb4ae;
$color-silvery-moonlight: #ced0d3;
$color-shuttle-gray: #55606f;

// FONT SIZE
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-25: 1.563rem;
$font-size-26: 1.625rem;
$font-size-32: 2rem;
$font-size-35: 2.188rem;

// FONTS FAMLIY
$Font-Family-ProximaNova: 'ProximaNova';
$Font-Family-SohneBreit: 'SohneBreit';
$Font-Family-NotoSans: 'NotoSans';

// SPACING variables
$spacing-02: 0.125rem;
$spacing-04: 0.25rem;
$spacing-08: 0.5rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-44: 2.75rem;
$spacing-48: 3rem;
$spacing-50: 3.125rem;
$spacing-60: 3.75rem;
$spacing-64: 4rem;
$spacing-70: 4.375rem;
$spacing-76: 4.75rem;
$spacing-80: 5rem;
$spacing-90: 5.625rem;
$spacing-96: 6rem;
$spacing-100: 6.25rem;
$spacing-136: 8.5rem;
$spacing-160: 10rem;
$spacing-330: 20.625rem;

// Width variables
$width-50: 3.125rem;
$width-100: 6.25rem;
$width-150: 9.375rem;
$width-180: 11.25rem;
$width-600: 37.5rem;
$width-705: 44.0625rem;
$width-840: 52.5rem;
$width-900: 56.25rem;
$width-1096: 68.5rem;
$width-1440: 90rem;

// GRADIENT COLOR LIST
$yellow-gradient: $color-yellow 30%, rgba(255, 235, 0, 0) 110%;
$red-gradient: $color-red 30%, rgb(240, 49, 49, 0) 110%;
$green-gradient: $color-green 30%, rgba(0, 0, 0, 0) 110%;
$blue-gradient: $color-azure 30%, rgb(101, 204, 244, 0) 110%;

//SDG color
$sdg-red: #e5243b;
$sdg-mustard: #dda63a;
$sdg-kelly-green: #4c9f38;
$sdg-dark-red: #c5192d;
$sdg-red-orange: #ff3a21;
$sdg-bright-blue: #26bde2;
$sdg-yellow: #fcc30b;
$sdg-burgundy-red: #a21942;
$sdg-orange: #fd6925;
$sdg-magenta: #dd1367;
$sdg-golden-yellow: #fd9d24;
$sdg-dark-mustard: #bf8b2e;
$sdg-dark-green: #3f7e44;
$sdg-blue: #0a97d9;
$sdg-lime-green: #56c02b;
$sdg-royal-blue: #00689d;
$sdg-navy-blue: #19486a;

$author-image-radius: 50%;
/* variables end */
