// image variables
$img-path: '../../../assets/images/';
$img-path-Icon: '../../../assets/images/Icon/';
$img-path-Iconback: '../../assets/images/Icon/';
$img-path-Iconfourback: '../../../../assets/images/Icon/';

// COLORS
$color-black: #000;
$color-white: #fff;
$color-blue-100: #b5d5f5;
$color-blue-200: #94c4f5;
$color-blue-300: #6babeb;
$color-blue-400: #4f95dd;
$color-blue-500: #3288ce;
$color-blue-600: #006eb5;
$color-blue-700: #1f5a95;
$color-gray-100: #fafafa;
$color-gray-200: #f7f7f7;
$color-gray-300: #edeff0;
$color-gray-400: #d4d6d8;
$color-gray-500: #a9b1b7;
$color-gray-600: #55606e;
$color-gray-700: #232e3d;
$color-light-yellow: #ffe17e;
$color-yellow: #ffeb00;
$color-dark-yellow: #fbc412;
$color-light-red: #ffbcb7;
$color-red: #ee402d;
$color-dark-red: #d12800;
$color-light-green: #b8ecb6;
$color-green: #6de354;
$color-dark-green: #59ba47;
$color-light-azure: #a2daf3;
$color-azure: #60d4f2;
$color-dark-azure: #00c1ff;
$color-light-pink: #ffb4ae;
$color-silvery-moonlight: #ced0d3;

// FONT SIZE
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-25: 1.563rem;
$font-size-26: 1.625rem;
$font-size-32: 2rem;
$font-size-35: 2.188rem;

// FONTS FAMLIY
$Font-Family-ProximaNova: 'ProximaNova';
$Font-Family-SohneBreit: 'SohneBreit';

// SPACING variables
$spacing-02: 0.125rem;
$spacing-04: 0.25rem;
$spacing-08: 0.5rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-50: 3.125rem;
$spacing-64: 4rem;
$spacing-80: 5rem;
$spacing-96: 6rem;
$spacing-136: 8.5rem;
$spacing-160: 10rem;

// Width variables
$width-600: 37.5rem;

// GRADIENT COLOR LIST
$yellow-gradient: $color-yellow 1.21%, $color-yellow 56.78%, rgba(255, 235, 0, 0.7) 100%;
$red-gradient: $color-red 1.21%, $color-red 56.78%, rgb(240 49 49 / 70%) 100%;
$green-gradient: $color-green 1.21%, $color-green 56.78%, rgb(83 230 80 / 70%) 100%;
$blue-gradient: $color-azure 1.21%, $color-azure 56.78%, rgb(101 204 244 / 70%) 100%;

//SDG color
$sdg-red: #e5243b;
$sdg-mustard: #dda63a;
$sdg-kelly-green: #4c9f38;
$sdg-dark-red: #c5192d;
$sdg-red-orange: #ff3a21;
$sdg-bright-blue: #26bde2;
$sdg-yellow: #fcc30b;
$sdg-burgundy-red: #a21942;
$sdg-orange: #fd6925;
$sdg-magenta: #dd1367;
$sdg-golden-yellow: #fd9d24;
$sdg-dark-mustard: #bf8b2e;
$sdg-dark-green: #3f7e44;
$sdg-blue: #0a97d9;
$sdg-lime-green: #56c02b;
$sdg-royal-blue: #00689d;
$sdg-navy-blue: #19486a;

/* variables end */
