// image variables
$img-path: '../../../assets/images/';
$img-path-Icon: '../../../assets/images/Icon/';
$img-path-Iconback: '../../assets/images/Icon/';

// COLORS
$color-black: #000;
$color-white: #fff;
$color-blue-100: #b5d5f5;
$color-blue-200: #94c4f5;
$color-blue-300: #6babeb;
$color-blue-400: #4f95dd;
$color-blue-500: #3288ce;
$color-blue-600: #006eb5;
$color-blue-700: #1f5a95;
$color-gray-100: #fafafa;
$color-gray-200: #f7f7f7;
$color-gray-300: #edeff0;
$color-gray-400: #d4d6d8;
$color-gray-500: #a9b1b7;
$color-gray-600: #55606e;
$color-gray-700: #232e3d;
$color-light-yellow: #ffe17e;
$color-yellow: #ffeb00;
$color-dark-yellow: #fbc412;
$color-light-red: #ffbcb7;
$color-red: #ee402d;
$color-dark-red: #d12800;
$color-light-green: #b8ecb6;
$color-green: #6de354;
$color-dark-green: #59ba47;
$color-light-azure: #a2daf3;
$color-azure: #60d4f2;
$color-dark-azure: #00c1ff;
$color-light-pink: #ffb4ae;

// FONT SIZE
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;

// FONTS FAMLIY
$Font-Family-ProximaLight: 'ProximaNova LT';
$Font-Family-ProximaRegular: 'ProximaNova Regular';
$Font-Family-ProximaSemiBold: 'ProximaNova SemiBold';
$Font-Family-ProximaBold: 'ProximaNova Bold';
$Font-Family-SohneBold: 'SohneBreit Bold';
$Font-Family-SohneExBold: 'SohneBreit Extra Bold';

// SPACING variables
$spacing-02: 2px;
$spacing-04: 4px;
$spacing-08: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-80: 80px;
$spacing-96: 96px;
$spacing-160: 160px;

/* variables end */
