// Image variables
$img-path: '../../../assets/images';
$img-path-Icon: '../../../assets/icons';
$img-path-Iconback: '../../assets/icons';
$img-path-Iconfourback: '../../../../assets/icons';

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-blue-100: #B5D5F5;
$color-blue-200: #94C4F5;
$color-blue-300: #6BABEB;
$color-blue-400: #4F95DD;
$color-blue-500: #3288CE;
$color-blue-600: #006EB5;
$color-blue-700: #1F5A95;
$color-gray-100: #FAFAFA;
$color-gray-200: #F7F7F7;
$color-gray-300: #EDEFF0;
$color-gray-400: #D4D6D8;
$color-gray-500: #A9B1B7;
$color-light-yellow: #ffe17e;
$color-yellow: #ffeb00;
$color-dark-yellow: #fbc412;
$color-light-red: #ffbcb7;
$color-red: #ee402d;
$color-dark-red: #d12800;
$color-light-green: #b8ecb6;
$color-green: #6de354;
$color-dark-green: #59ba47;
$color-light-azure: #a2daf3;
$color-azure: #60d4f2;
$color-dark-azure: #00c1ff;
$color-light-pink: #ffb4ae;
$color-silvery-moonlight: #ced0d3;
$color-shuttle-gray: #55606f;
$color-ebony-clay: #232e3e;

// Font sizes
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;

// Font families
// Local fonts
$Font-Family-ProximaNova: 'ProximaNova', sans-serif;
$Font-Family-SohneBreit: 'SohneBreit', $Font-Family-ProximaNova;
$Font-Family-UNBangla: 'UNBangla', sans-serif;
// Remote fonts, require additional setup
// https://design.undp.org/?path=/docs/getting-started-internationalization--docs
$Font-Family-NotoSans: 'Noto Sans', sans-serif;
$Font-Family-NotoSans-Arabic: 'Noto Sans Arabic', sans-serif;
$Font-Family-NotoSans-Burmese: 'Noto Sans Myanmar', sans-serif;
$Font-Family-NotoSans-Chinese: 'Noto Sans SC', sans-serif;
$Font-Family-NotoSans-Japanese: 'Noto Sans JP', sans-serif;
$Font-Family-NotoSans-Georgian: 'Noto Sans Georgian', sans-serif;
$Font-Family-NotoSans-Khmer: 'Noto Sans Khmer', sans-serif;
$Font-Family-NotoSans-Korean: 'Noto Sans KR', sans-serif;
$Font-Family-NotoSans-Thai: 'Noto Sans Thai', sans-serif;

// Spacing variables
$spacing-036: 2.25rem;
$spacing-044: 2.75rem;
$spacing-050: 3.125rem;
$spacing-060: 3.75rem;
$spacing-070: 4.375rem;
$spacing-076: 4.75rem;
$spacing-090: 5.625rem;

// Width variables
$width-150: 9.375rem;
$width-180: 11.25rem;
$width-600: 37.5rem;
$width-705: 44.0625rem;
$width-840: 52.5rem;
$width-900: 56.25rem;
$width-1096: 68.5rem;
$width-1440: 90rem;

// Header height
$header-height-xlarge: 115px;
$header-height-medium: 75px;

// Gradient color list
$yellow-gradient: $color-yellow 30%, rgba(255, 235, 0, 0) 110%;
$red-gradient: $color-red 30%, rgb(240, 49, 49, 0) 110%;
$green-gradient: $color-green 30%, rgba(0, 0, 0, 0) 110%;
$blue-gradient: $color-azure 30%, rgb(101, 204, 244, 0) 110%;

//SDG color
$sdg-red: #e5243b;
$sdg-mustard: #dda63a;
$sdg-kelly-green: #4c9f38;
$sdg-dark-red: #c5192d;
$sdg-red-orange: #ff3a21;
$sdg-bright-blue: #26bde2;
$sdg-yellow: #fcc30b;
$sdg-burgundy-red: #a21942;
$sdg-orange: #fd6925;
$sdg-magenta: #dd1367;
$sdg-golden-yellow: #fd9d24;
$sdg-dark-mustard: #bf8b2e;
$sdg-dark-green: #3f7e44;
$sdg-blue: #0a97d9;
$sdg-lime-green: #56c02b;
$sdg-royal-blue: #00689d;
$sdg-navy-blue: #19486a;

//SDG hover color
$sdg-hover-red: #dc9099;
$sdg-hover-mustard: #d3bb8a;
$sdg-hover-kelly-green: #9fd092;
$sdg-hover-dark-red: #ce8f97;
$sdg-hover-red-orange: #ce9890;
$sdg-hover-bright-blue: #9ac8d3;
$sdg-hover-yellow: #d3c79d;
$sdg-hover-burgundy-red: #ce94a6;
$sdg-hover-orange: #d2aa98;
$sdg-hover-magenta: #c994aa;
$sdg-hover-golden-yellow: #c7b094;
$sdg-hover-dark-mustard: #ceba98;
$sdg-hover-dark-green: #a2d7a6;
$sdg-hover-blue: #a1c6d7;
$sdg-hover-lime-green: #abce9e;
$sdg-hover-royal-blue: #748f9d;
$sdg-hover-navy-blue: #a2c2d8;

$author-image-radius: 50%;

// Language selectors
$cyrillic: ":lang(bg),:lang(be),:lang(kk),:lang(ky),:lang(mk),:lang(mn),:lang(ru),:lang(sr),:lang(uk)";

/* variables end */


// Additional Figma tokens (new variables)
// Spacing tokens
$spacing-002: 2px;
$spacing-004: 4px;
$spacing-008: 8px;
$spacing-012: 12px;
$spacing-016: 16px;
$spacing-024: 24px;
$spacing-032: 32px;
$spacing-040: 40px;
$spacing-048: 48px;
$spacing-064: 64px;
$spacing-080: 80px;
$spacing-096: 96px;
$spacing-160: 160px;

// Fontfamily tokens
$font-family-proximanova: 'ProximaNova', sans-serif;
$font-family-sohnebreit: 'SohneBreit', $Font-Family-ProximaNova;
$font-family-notosans: 'Noto Sans', sans-serif;
$font-family-notosans-arabic: 'Noto Sans Arabic', sans-serif;
$font-family-notosans-burmese: 'Noto Sans Myanmar', sans-serif;
$font-family-notosans-chinese: 'Noto Sans SC', sans-serif;
$font-family-notosans-japanese: 'Noto Sans JP', sans-serif;
$font-family-notosans-georgian: 'Noto Sans Georgian', sans-serif;
$font-family-notosans-khmer: 'Noto Sans Khmer', sans-serif;
$font-family-notosans-korean: 'Noto Sans KR', sans-serif;
$font-family-primary: $font-family-proximanova;
$font-family-secondary: $font-family-sohnebreit;

// Fontsize tokens
$font-size-30: 1.875rem;
$font-size-40: 2.5rem;
$font-size-48: 3rem;
$font-size-56: 3.5rem;
$font-size-64: 4rem;
$font-size-72: 4.5rem;
$font-size-80: 5rem;
$font-size-96: 6rem;
$font-size-100: 6.25rem;
$font-size-body-default: $font-size-20;
$font-size-body-small: $font-size-16;
$font-size-heading-xxlarge: $font-size-80;
$font-size-heading-xlarge: $font-size-64;
$font-size-heading-large: $font-size-48;
$font-size-heading-medium: $font-size-32;
$font-size-heading-small: $font-size-24;
$font-size-heading-xsmall: $font-size-16;
$font-size-display-xxlarge: $font-size-100;
$font-size-display-xlarge: $font-size-80;
$font-size-display-large: $font-size-56;

// Color tokens
$color-yellow-200: #FFE17E;
$color-yellow-400: #FFEB00;
$color-yellow-600: #FBC412;
$color-red-200: #FFBCB7;
$color-red-400: #EE402D;
$color-red-600: #D12800;
$color-green-200: #B8ECB6;
$color-green-400: #6DE354;
$color-green-600: #59BA47;
$color-azure-200: #A2DAF3;
$color-azure-400: #60D4F2;
$color-azure-600: #00C1FF;
$color-text-default: $color-black;
$color-text-inverse: $color-white;
$color-accent: $color-yellow-400;
$color-brand: $color-blue-600;
$color-action-primary: $color-red-600;
$color-action-secondary: $color-blue-600;
$color-surface-default: $color-gray-200;
$color-background-default: $color-white;
$color-border-default: $color-black;
$color-border-subtle: $color-gray-400;
$color-border-inverse: $color-white;

// Sizing tokens

// Lineheight tokens
$line-height-100: 100%;
$line-height-110: 110%;
$line-height-138: 138%;
$line-height-body: $line-height-138;
$line-height-heading: $line-height-110;
$line-height-display: $line-height-100;

// Fontweight tokens
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

// Textcase tokens
$text-case-none: none;
$text-case-uppercase: uppercase;

// Border tokens



// Fontweight tokens
$font-weight-extrabold: 800;
$font-weight-body-default: $font-weight-regular;
$font-weight-body-bold: $font-weight-bold;
$font-weight-display-bold: $font-weight-extrabold;
$font-weight-display-default: $font-weight-body-bold;
$font-weight-heading-bold: $font-weight-bold;
$font-weight-heading-default: $font-weight-semibold;

// Color tokens
$color-action-primary-default: $color-red-600;
$color-action-primary-hover: $color-red-400;
$color-action-secondary-default: $color-blue-600;
$color-action-secondary-hover: $color-blue-500;


$font-size-25: $font-size-24;
$font-size-26: $font-size-24;
$spacing-01: $spacing-002;
$spacing-02: $spacing-004;
$spacing-03: $spacing-008;
$spacing-04: $spacing-012;
$spacing-05: $spacing-016;
$spacing-06: $spacing-024;
$spacing-07: $spacing-032;
$spacing-08: $spacing-040;
$spacing-09: $spacing-048;
$spacing-10: $spacing-064;
$spacing-11: $spacing-080;
$spacing-12: $spacing-096;
$spacing-13: $spacing-160;

// PRESERVE: Backwards compatibility - do not delete
// Variables removed from Figma tokens but still referenced in SCSS files
// Using original values since no matching variables of the same type exist
$color-blue-800: #0468b1;
$spacing-100: 6.25rem;
$spacing-136: 8.5rem;
$spacing-320: 20rem;
$spacing-330: 20.625rem;
$spacing-400: 25rem;






// Color tokens
$color-surface-hover: $color-gray-300;



// Spacing tokens
$spacing-gutter: $spacing-06;



// Fontsize tokens
$font-size-12: 0.75rem;

// Paragraphspacing tokens
$paragraphspacing-12: 12px;
$paragraphspacing-16: 16px;


$border-default: $spacing-002;


// Fontsize tokens
$font-size-36: 2.25rem;












// Color tokens
$color-gray-800: #55606E;
$color-gray-900: #232E3D;


$color-gray-600: #84929D;
$color-gray-700: #677383;











// Backwards compatibility aliases for spacing variables
// Old 2-digit notation pointing to new 3-digit notation
$spacing-36: $spacing-036;
$spacing-44: $spacing-044;
$spacing-50: $spacing-050;
$spacing-60: $spacing-060;
$spacing-70: $spacing-070;
$spacing-76: $spacing-076;
$spacing-90: $spacing-090;