.publication{
    margin-top: 80px;
    margin-bottom: 120px;

    @include breakpoint(medium down){
        margin-top: 50px;
    }

    @include breakpoint(small down){
        margin-top: 35px;
        margin-bottom: 25px;
    }

    @include breakpoint(360px down){
        margin-top: 25px;
    }


    .publication-image{
        width: 100%;
        z-index: -2;
        padding: 64px;
        max-width: 450px;
        position: relative;
        background: linear-gradient(to bottom,
                $background-gray-1 70%,
                $background-gray-1 70%,
                $background-gray-3 70.5%,
                $background-gray-2 69.5%,
                $background-gray-2 100%);

        @include breakpoint(medium down){
            max-width: 350px;
            padding: 50px 35px;
        }

        @include breakpoint(small only){
            padding: 20px;
        }

        @include breakpoint(360px down){
            max-width: 200px;
        }

        .image{
            width: 100%;
            max-width: 450px;
            z-index: $z-index-2;

            @include breakpoint(medium down){
                max-width: 350px
            }

            @include breakpoint(360px down){
                padding: 10%;
                max-width: 200px;
            }

        }

        &::before{
            content: '';
            left: 36px;
            z-index: -1;
            right: 90px;
            height: 32px;
            bottom: 64px;
            filter: blur(8px);
            border-radius: 21%;
            position: absolute;
            transform: skewX(64deg);
            background: $background-gray-4;

            @include breakpoint(medium down){
                left: 14px;
                right: 60px;
                height: 23px;
                bottom: 50px;
                border-radius: 0;
            }

            @include breakpoint(small only){
                left: 4px;
                right: 50px;
                height: 16px;
                bottom: 20px;
                filter: blur(4px);
            }
        }

    }


    .publication-content{
        @include breakpoint(small only){
            margin-top: 25px;
        }
    }

    .heading.h3{
        overflow: hidden;
        margin-top: 25px;
        max-height: 115px;
        font-weight: $regular;

        @include breakpoint(medium down){
            max-height: 75px;
            font-size: 2.5rem;
        }

        @include breakpoint(small only){
            margin-top: 20px;
            font-size: 2rem;
        }
    }

    .big-copy{
        height: 108px;
        overflow: hidden;
        margin-top: 25px;

        @include breakpoint(medium down){
            height: 55px;
        }

        @include breakpoint(small only){
            margin-top: 20px;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .controls{
        display: flex;
        margin-top: 95px;
        justify-content: space-between;

        @include breakpoint(medium down){
            margin-top: 70px;
        }

        @include breakpoint(small only){
            margin-top: 25px;
        }

        .btn-round.rotate{
            margin-right: 30px;
        }
    }
}

