.stat-card {
    color: $white;
    min-height: 790px;
    position: relative;
    transition: $transition-primary;

    @include breakpoint(small only) {
        min-height: 390px;
    }

    .bg-image {
        opacity: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: $transition-primary;
        background: url('#{$image-path}/placeholder/global-impact-image.jpg') top right no-repeat;
        background-size: cover;
    }

    &:after {
        opacity: 0;
        z-index: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        transition: $transition-primary;
        background-image: linear-gradient(15deg, $yellow 30%, rgba($yellow, 0) 110%);
    }

    .card-content {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        padding-left: 70px;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(small only) {
            min-height: 390px;
            padding-left: 45px;
            padding-right: 45px;
        }
    }

    .numerals {
        color: $dark-blue-1;
        -webkit-text-stroke: 1px $white;
    }

    .h3 {
        margin-top: 17px;
    }

    .h5 {
        margin-top: 20px;
    }

    &:hover {
        color: $dark-blue-1;

        .bg-image, &:after {
            opacity: 1;
        }

        .numerals {
            -webkit-text-stroke: unset;
        }
    }
}
