.story-card{
    display: flex;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    background: $dark-blue-7;
    height: calc(100% - 25px);

    @include breakpoint(large down){
        width: 100%;
        margin-top: 15px;
        height: calc(100% - 15px);

        &:not(.large){
            .hover-image{
                display: none;
            }
        }
    }

    @include breakpoint(small only){
        flex-direction: column;
    }

    &.no-image{
        .tag,
        .heading.h4,
        .small-copy,
        .cta{
            position: relative;
            z-index: $z-index-1;
        }
    }

    .arrow-2 {
        .link-arrow {
            height: 16px;
            stroke: $red;
            margin-top: -2px;
            margin-left: 4px;
            overflow: hidden;
            fill: transparent;
            vertical-align: middle;
        }

        .link-arrow-group {
            transform: translateX(-31px);
            transition: $transition-secondary;

            .arrow-line{
                display: none;
            }
        }
    }

    .content{
        display: flex;
        padding: 45px 25px;
        flex-direction: column;

        @include breakpoint(medium down){
            padding: 30px 14px;
        }

        @include breakpoint(small only){
            padding: 35px 30px 45px;
        }

        .title-description {
            flex: 1 0 auto;
            overflow: hidden;
        }

        .heading.h5{
            margin-top: 45px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            @include breakpoint(medium down){
                margin-top: 30px;
            }
        }

        .small-copy{
            margin-top: 25px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            @include breakpoint(medium down){
                margin-top: 20px;
            }

            @include breakpoint(small only){
                margin-top: 15px;
            }
        }

        .cta{
            margin-top: 75px;
            position: relative;
            z-index: $z-index-1;

            @include breakpoint(large down){
                margin-top: 60px;
            }

            @include breakpoint(medium down){
                margin-top: 35px;
            }

            @include breakpoint(small only){
                margin-top: 30px;
            }
        }
    }

    &.large{
        .content{
            @include breakpoint(large down){
                width: 48%;
            }

            @include breakpoint(small only){
                width: 100%;
            }

            .heading.h5{
                margin-top: 50px;

                @include breakpoint(xlarge up){
                    font-size: 3.5rem;
                }

                @include breakpoint(large down){
                    margin-top: 35px;
                }
            }

            .small-copy{
                margin-top: 35px;

                @include breakpoint(large down){
                    margin-top: 20px;
                }
            }

            .cta{
                margin-top: 85px;

                @include breakpoint(large down){
                    margin-top: 60px;
                }

                @include breakpoint(medium down){
                    margin-top: 30px;
                }
            }
        }

        &.no-image{

            .hover-image::before{
                background-color: $yellow;
            }
        }
    }

    .hover-image{
        position: relative;
        pointer-events: none;

        @include breakpoint(large down){
            width: 52%;
        }

        @include breakpoint(small only){
            width: 100%;
        }

        @include breakpoint(xlarge up){
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $yellow;
            transform: translateX(-105%);
            transition: $transition-primary;
        }

        .background-image {
            --x: center;
            --y: center;
            width: 100%;
            height: 100%;
            pointer-events: auto;
            background-repeat: no-repeat;
            background-size: calc(100% + 110px);
            background-position: var(--x) var(--y);

            @include breakpoint(large down) {
                background-size: cover;
            }
        }

        &::before{
            content: '';
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: transparent linear-gradient(207deg, rgba($white, 0.2) 30%,
                    rgba($yellow, 0.5) 80%,
                    rgba($yellow, 0.8) 100%) 0 0 no-repeat padding-box;
        }
    }

    &:hover{
        .hover-image{
            transform: translateX(0);
        }

        .link-arrow-group {
            transform: translateX(0);

            .arrow-line{
                display: unset;
            }

            .arrow-point{
                transform: translateX(31px);
            }
        }
    }
}
