.tweet{
    color: $white;

    @include breakpoint(small only){
        margin-bottom: 105px;
    }

    .date{
        margin-left: 35px;

        @include breakpoint(medium down){
            margin-left: 20px;
        }
    }

    .text{
        margin-top: 30px;
        padding: 25px 23px 0;
        border-top: 3px solid $white;

        @include breakpoint(medium down){
            margin-top: 25px;
            padding: 25px 10px 0;
        }

        @include breakpoint(small only){
            margin-top: 30px;
            padding: 25px 25px 0;
        }

        .big-copy{
            color: $white;

            a{
                border-bottom: 1px solid $red;
            }
        }

        .cta{
            margin-top: 40px;

            @include breakpoint(medium down){
                margin-top: 25px;
            }

            @include breakpoint(small only){
                margin-top: 45px;
            }
        }
    }
}