.header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: $z-index-nav;
    transform: translateY(0);
    height: $nav-desktop-height;
    background-color: $dark-blue-6;
    border-bottom: 1px solid rgba($black, 0.10);
    box-shadow: 0 3px 6px rgba($black, 0.09);

    @include breakpoint(large down) {
        height: $nav-mobile-height;
    }

    .nav-item:not(.global-icon):not(.search-icon):not(.dropdown-btn) {
        cursor: pointer;
        color: $dark-blue-1;
        outline-offset: 4px;
        text-transform: uppercase;

        &:hover {
            color: rgba($dark-blue-1, 0.7)
        }

        &.active {
            padding-bottom: 2px;
            border-bottom: 2px solid $red-1;
        }
    }

    .nav-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        z-index: $z-index-nav;
        padding: 0 70px 0 70px;
        justify-content: space-between;

        @include breakpoint(large down) {
            padding: 0 10px 0 10px;
            max-height: $nav-mobile-height;
        }

        .logo-wrapper {
            width: 62px;
            text-align: center;

            @include breakpoint(large down) {
                width: 39px;
            }
        }

        .middle-logo {
            left: 50%;
            display: block;
            position: absolute;
            transform: translateX(-50%);

            svg, img {
                width: 62px;
                height: 125px;
                transition: $transition-primary;

                @include breakpoint(large down) {
                    width: 39px;
                    height: $nav-mobile-height+8;
                }
            }

            &.scrolled {
                svg, img {
                    width: 57px;
                    height: $nav-desktop-height;

                    @include breakpoint(medium down) {
                        width: 35px;
                        height: $nav-mobile-height;
                    }
                }
            }
        }

        .middle-menu {
            padding: 0;
            list-style: none;
            max-height: $nav-desktop-height;

            @include breakpoint(large down) {
                max-height: $nav-mobile-height;
            }

            li:not(:last-child) {
                margin-right: 75px;

                @include breakpoint(large down) {
                    margin-right: 0;
                }
            }
        }

        .right-menu .nav-item {
            margin-right: 22px;

            @include breakpoint(large down) {
                margin-right: 0;
                min-width: 23px;
            }

            &:last-child {
                margin-right: 38px;

                @include breakpoint(large down) {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .primary-navigation {
        width: 100%;
        overflow: auto;
        position: fixed;
        transform: translateY(0px);
        top: calc(#{$nav-desktop-height} + 1px);

        @include breakpoint(large down) {
            top: calc(#{$nav-mobile-height} + 1px);
        }

        &.open {
            height: 100vh;
        }
    }

    .dir-rtl {
        @include rtl-navigation();
    }
}
