@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../PublicationPage/publicationpage.scss';

.generic-page {
  .sidebar {
    &-width {
      .accordion-wrapper {
        width: calc(100% - $spacing-12);
  
        @include devicebreak(medium) {
          margin-top: 0.8rem;
          width: 90%;
        }
      }
  
      ul {
        list-style: none;
      }
    }
  
    &-mobile {
      display: block;
      margin-bottom: $spacing-12;
      margin-top: 5.5rem;
  
      @include devicebreak(medium) {
        display: none;
      }
    }
  
    &-desktop {
      display: none;
  
      @include devicebreak(medium) {
        display: block;
      }
    }
  }
  
  .margin-top {
    &-32 {
      margin-top: $spacing-32;
    }
  
    &-72 {
      margin-top: 4.5rem;
    }
  }
  
  .progress {
    &-container {
      margin-top: 4.6875rem;
      position: fixed;
      z-index: 1;

      @include devicebreak(xlarge) {
        margin-top: 7.1875rem;
      }
    }
    
    &-top {
      top: inherit;
    }

    &-bar{
      width: 0%;
    }
  }

  .pagehero-wrapper {
    margin-top: 0;

    @include devicebreak(medium) {
      margin-top: 5.688rem;
    }
    @include devicebreak(xlarge) {
      margin-top: 8.1875rem;
    }
  }

  .glide__bullets {
    width: 95%;
  }
}
