@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../PublicationPage/publication-page.scss';

.generic-page {
  @include devicebreak(medium) {
    .button-secondary {
      margin-left: 0.75rem;
    }
  }

  .sidebar {
    &-width {
      .sidebar-accordion {
        width: calc(100% - #{$spacing-04});

        @include devicebreak(medium) {
          margin-top: 0.8rem;
          width: 90%;
        }
      }

      ul {
        list-style: none;
      }
    }

    &-mobile {
      display: block;
      margin-bottom: $spacing-04;
      margin-top: 5.5rem;

      @include devicebreak(medium) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      @include devicebreak(medium) {
        display: block;
      }
    }
  }

  .margin-top {
    &-32 {
      margin-top: $spacing-07;
    }

    &-72 {
      margin-top: 4.5rem;
    }
  }

  .progress {
    &-container {
      position: fixed;
      top: 4.6875rem;
      z-index: 1;

      @include devicebreak(xlarge) {
        top: 7.1875rem;
      }
    }

    &-top {
      top: inherit;
    }

    &-bar {
      width: 0%;
    }
  }

  .pagehero-full {
    margin-top: 0;

    @include devicebreak(medium) {
      margin-top: 5.688rem;
    }

    @include devicebreak(xlarge) {
      margin-top: 8.1875rem;
    }
  }

  .fluid-carousel {
    .slide-content {
      @include devicebreak(xlarge) {
        flex: 1 0 40%;
        max-width: 100%;
      }
    }
  }

  .content-bottom {
    .grid-margin-x {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

[dir='rtl'] {
  @include devicebreak(medium) {
    .generic-page {
      .button-secondary {
        margin-left: unset;
        margin-right: 0.75rem;
      }
    }
  }
}
