@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../PublicationPage/publicationpage.scss';

.sidebar-width .accordion-wrapper {
  margin-top: 0.8rem;
  width: 90%;
}

.margin-top {
  &-32 {
    margin-top: $spacing-32;
  }

  &-72 {
    margin-top: 4.5rem;
  }
}

.sidebar-width ul {
  list-style: none;
}
