button.close-out {
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue-7;

    &:hover {
        svg path {
            stroke: $dark-blue-17;
        }
    }

    &:active {
        svg path {
            stroke: $dark-blue-19;
        }
    }

    svg {
        width: 19px;
        height: 19px;
    }
}
