@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/breakpoints';

/* checkbox */
.checkbox-wrapper {
  display: inline-block;
  margin-right: $spacing-16;
  padding-left: $spacing-24;
  position: relative;

  input[type=checkbox] {
    cursor: pointer;
    height: 16px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 5px;
    width: 16px;
    z-index: 1;

    &:hover + label::before {
      border-color: $color-light-pink;
    }

    & + label {
      cursor: pointer;
      font-size: $font-size-16;

      &:hover::before {
        border-color: $color-light-pink;
      }

      &::before {
        @extend %checbox-radio-before;
      }
    }

    &:checked + label::before {
      background-image: url(#{$img-path-Icon}/icon-check.svg);
    }
  }
}
