@use '../../../assets/scss/variables';

.form-check {
  align-items: center;
  display: flex;
  position: relative;

  label {
    cursor: pointer;
    font-size: variables.$font-size-16;
    padding: 0 7px;
  }
}
