@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.singlecard {
  border: 0;
  border-top: 2px solid $color-black;
  display: block;
  margin-bottom: $spacing-24;
  background-color: $color-white;
  @extend %img_none;
  & .singlecard__head {
    font-family: $Font-Family-ProximaBold;
    font-size: 12px;
    letter-spacing: 0.48px;
    line-height: 13.5px;
    padding: $spacing-16 $spacing-24;
    text-transform: uppercase;
  }

  & .card-thumbnail__image {
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__caption {
    padding: $spacing-16 $spacing-24 $spacing-24;
    
    h5 {
      margin-bottom: 24px;
    }

    & .cta__link {
      margin-top: $spacing-08;
    }
  }

  p {
    display: block;
    font-size: $font-size-16;
    letter-spacing: 0;
    line-height: 22px;
  }

  &.card,
  &.card-yellow {
    .cta__link {
      margin-top: $spacing-96;
    }
  }

  &--Image,
  &--Card {
    &.singlecard--Yellow {
      background-color: $color-white;
    }
  }

  &.yellow,
  &.red,
  &.green,
  &.blue {
    &:hover {
      background-color: $color-white;
    }
  }

  &:hover {
    .card-thumbnail__image::before {
      @include background-image(42deg, $color-yellow, transparent 80%);
      opacity: 0.75;
    }

    &.red {
      .card-thumbnail__image {
        &::before {
          @include background-image(42deg, $color-red, transparent 80%);
          opacity: 0.75;
        }
      }
    }

    &.green {
      .card-thumbnail__image {
        &::before {
          @include background-image(42deg, $color-green, transparent 80%);
          opacity: 0.75;
        }
      }
    }

    &.blue {
      .card-thumbnail__image {
        &::before {
          @include background-image(42deg, $color-azure, transparent 80%);
          opacity: 0.75;
        }
      }
    }
  }

  &.card,
  &.card-yellow {
    &.yellow,
    &.red,
    &.green,
    &.blue,
    &.gray {
      background-color: $color-white;
    }

    &.yellow:hover {
      background-color: $color-yellow;
    }

    &.red:hover {
      background-color: $color-red;
    }

    &.green:hover {
      background-color: $color-green;
    }

    &.blue:hover {
      background-color: $color-azure;
    }

    &.gray:hover {
      background-color: $color-gray-100;
    }
  }

  &.card-yellow {
    &.yellow,
    &.red,
    &.green,
    &.blue,
    &.gray {
      background-color: $color-light-yellow;
    }
    .card-thumbnail__image {
      display: none;
    }
  }

  &:hover {
    @include transition(0.2s ease);
    .card_thumbnail__image::before {
      opacity: 0.75;
    }

    .cta__link::after {
      @include translate(70%, 0);
    }
  }
}

[dir="rtl"] {
  .singlecard:hover {
    .cta__link::after {
      @include transform(translate(-50%, 0) rotate(180deg));
    }
  }
}
