@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.singlecard {
  border: 0;
  border-top: 2px solid $color-black;
  display: block;
  margin-bottom: $spacing-24;
  @extend %img_none;
  & .singlecard__head {
    font-family: $Font-Family-ProximaBold;
    font-size: 12px;
    letter-spacing: 0.48px;
    line-height: 13.5px;
    padding: $spacing-16 $spacing-24;
    text-transform: uppercase;
  }

  & .card_thumbnail__image {
    width: 100%;
    img {
      width: 100%;
    }
  }

  &__caption {
    padding: $spacing-16 $spacing-24 $spacing-24;

    & .cta__link {
      margin-top: $spacing-08;
    }
  }

  p {
    display: block;
    font-size: $font-size-16;
    letter-spacing: 0;
    line-height: 22px;
  }

  &--Card, &--Card-yellow  {
    .cta__link {
      margin-top: $spacing-96;
    }
  }

  &--Image, &--Card  {
    &.singlecard--Yellow {
      background-color: $color-white;
    }
  }

  &--Image {
    &.singlecard--Yellow,
    &.singlecard--Red,
    &.singlecard--Green,
    &.singlecard--Blue {
      &:hover {
        background-color: $color-white;
      }
    }
    
    &.singlecard--Red {
      .card_thumbnail__image {
         &::before {
          @include background-image(42deg, $color-red, transparent 80%);
        } 
      }
    }

    &.singlecard--Green {
      .card_thumbnail__image {
         &::before {
          @include background-image(42deg, $color-green, transparent 80%);
        } 
      }
    }

    &.singlecard--Blue {
      .card_thumbnail__image {
         &::before {
           @include background-image(42deg, $color-azure, transparent 80%);
        } 
      }
    }
  }

  &--Yellow {
    background-color: $color-light-yellow;

    &:hover {
      background-color: $color-yellow;
    }
  }

  &--Red, &--Green, &--Blue, &--Gray {
    background-color: $color-white;
  }
  
  &--Red:hover{
    background-color: $color-red;
  }

  &--Green:hover{
    background-color: $color-green;
  }

  &--Blue:hover{
    background-color: $color-azure;
  }

  &--Gray:hover{
    background-color: $color-gray-100;
  }

  &:hover {
    @include transition(0.2s ease);
    .card_thumbnail__image::before {
      opacity: 0.75;
    }

    .cta__link::after {
      @include translate(70%,0);
    }
  }
}

[dir='rtl'] {
  .singlecard:hover {
    .cta__link::after {
      @include transform(translate(-50%,0) rotate(180deg));
    }
  }
}
