@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * progress navigation start *//
.progress-container {
  background: $color-gray-300;
  height: 12px;
  width: 100%;

  @include devicebreak(medium) {
    height: 16px;
  }
}

.progress-bar {
  background: $color-yellow;
  height: 12px;
  width: 50%;

  @include devicebreak(medium) {
    height: 16px;
  }
}
// * progress navigation end *//
