@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

$colors: (
  'yellow': var(--undpds-color-yellow),
  'red': var(--undpds-color-red),
  'green': var(--undpds-color-green),
  'blue': var(--undpds-color-azure)
);

// * progress navigation start *//
.progress-container {
  background: var(--undpds-color-gray-300);
  height: 0.75rem;
  width: 100%;

  @include breakpoints.devicebreak(medium) {
    height: 1rem;
  }

  .progress-bar {
    background: var(--undpds-color-yellow);
  }

  &.small {
    height: 0.625rem;

    @include breakpoints.devicebreak(medium) {
      height: 0.75rem;
    }

    .progress-bar {
      height: 0.625rem;

      @include breakpoints.devicebreak(medium) {
        height: 0.75rem;
      }
    }
  }

  @each $name,
  $color in $colors {

    &.accent-#{$name},
    &.#{$name} {
      .progress-bar {
        background: $color;
      }
    }
  }
}

@each $name,
$color in $colors {

  .accent-#{$name} .progress-container,
  .#{$name} .progress-container {

    .progress-bar {
      background: $color;
    }

    @each $name2,
    $color2 in $colors {

      &.accent-#{$name2},
      &.#{$name2} {
        .progress-bar {
          background: $color2;
        }
      }
    }
  }
}


.progress-bar {
  @include mixins.transition(width 0.2s linear);

  height: 0.75rem;
  min-width: 1%;
  position: fixed;
  width: 34%;
  z-index: 1;

  @include breakpoints.devicebreak(medium) {
    height: 1rem;
  }
}

.progress-top {
  top: 0;
}

// * progress navigation end *//
