@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

$colors: (
  'yellow': $color-yellow,
  'red': $color-red,
  'green': $color-green,
  'blue': $color-azure
);

// * progress navigation start *//
.progress-container {
  background: $color-gray-300;
  height: 0.75rem;
  width: 100%;

  @include devicebreak(medium) {
    height: 1rem;
  }

  .progress-bar {
    background: $color-yellow;
  }

  &.small {
    height: 0.625rem;

    @include devicebreak(medium) {
      height: 0.75rem;
    }

    .progress-bar {
      height: 0.625rem;

      @include devicebreak(medium) {
        height: 0.75rem;
      }
    }
  }

  @each $name,
  $color in $colors {

    &.accent-#{$name},
    &.#{$name} {
      .progress-bar {
        background: $color;
      }
    }
  }
}

@each $name,
$color in $colors {

  .accent-#{$name} .progress-container,
  .#{$name} .progress-container {

    .progress-bar {
      background: $color;
    }

    @each $name2,
    $color2 in $colors {

      &.accent-#{$name2},
      &.#{$name2} {
        .progress-bar {
          background: $color2;
        }
      }
    }
  }
}


.progress-bar {
  @include transition(width 0.2s linear);

  height: 0.75rem;
  min-width: 1%;
  position: fixed;
  width: 34%;
  z-index: 1;

  @include devicebreak(medium) {
    height: 1rem;
  }
}

.progress-top {
  top: 0;
}

// * progress navigation end *//