@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

// * progress navigation start *//
.progress-container {
  width: 100%;
  height: 12px;
  background: $color-gray-300;
  @include devicebreak(medium) {
   height: 16px;
  }
}
.progress-bar {
  height: 12px;
  background: $color-yellow ;
  width: 50%;
  @include devicebreak(medium) {
    height: 16px;
  }
}
// * progress navigation end *//
