@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * progress navigation start *//
.progress-container {
  background: $color-gray-300;
  height: 12px;
  width: 100%;

  @include devicebreak(medium) {
    height: 16px;
  }
}

.progress-bar {
  background: $color-yellow;
  height: 12px;
  min-width: 1%;
  width: 28%;
  z-index: 1;
  position: fixed;

  @include devicebreak(medium) {
    height: 16px;
  }
}

.progress-top{
  top:0;
}
// * progress navigation end *//
