.big-copy-h1 {
    padding: 170px 0;

    @include breakpoint(small only) {
        padding: 112px 0;

        .cell:not(:first-child) {
            @include breakpoint(small only) {
                margin-top: 68px;
            }
        }
    }
}