.separator-line {
    border: 0;
    height: 1px;
    background-color: $black;

    &.large {
        height: 3px;
    }

    &.medium {
        height: 2px;
    }

    &.red {
        background-color: $red-5;
    }

    &.gray {
        background-color: $porcelain;
    }
}