@use '../../../assets/scss/variables';
@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';

/* signup newsletter start */
.sign-up {
  label {
    color: var(--undpds-color-white);
    display: block;
    font-size: var(--undpds-font-size-16);
    line-height: 1.4;
    margin-bottom: var(--undpds-spacing-04);
    text-align: start;
    text-transform: none;

    @include breakpoints.devicebreak(medium) {
      text-align: right;
    }
  }

  &--field {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .input-group {
      margin-top: 0;
      width: calc(100% - 86px);

      @include breakpoints.devicebreak(medium) {
        width: calc(100% - 107px);
      }
    }

    input[type=email] {
      background-color: transparent;
      border-color: var(--undpds-color-white);
      border-radius: 0;
      color: var(--undpds-color-white);
      height: 54px;
      margin: 0;
      outline: none;

      &::placeholder {
        color: var(--undpds-color-white);
      }
    }
  }

  .form-submit {
    appearance: none;
    background-color: var(--undpds-color-white);
    border-radius: 0;
    color: var(--undpds-color-blue-600);
    height: 54px;
    margin: 0;
    min-width: 86px;
    padding: 0;
    text-transform: uppercase;

    @include breakpoints.devicebreak(medium) {
      min-width: 107px;
    }
  }

  &.inverted {
    color: var(--undpds-color-white);

    label {
      color: var(--undpds-color-black);
    }

    input[type=email] {
      background-color: var(--undpds-color-white);
      border-color: var(--undpds-color-black);
      color: var(--undpds-color-black);

      &::placeholder {
        color: var(--undpds-color-black);
      }
    }

    .form-submit {
      background-color: var(--undpds-color-dark-red);
      color: var(--undpds-color-white);
    }
  }
}

[dir='rtl'] {
  .sign-up {

    &--field {
      justify-content: flex-start;
    }
  }
}

//burmese lang
:lang(my) {
  .sign-up {
    label {
      line-height: 1.7;
    }
  }
}

/* signup newsletter end */