@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* signup newsletter */
.footer-subtitle {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: $spacing-12;
  text-align: left;

  @include devicebreak(medium) {
    text-align: right;
  }
}

.sign-up {
  &--field {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .input-group {
      width: calc(100% - 107px);
    }

    & .input-error {
      position: absolute;
      top: 107%;
      width: 100%;
    }
  }

  .input__controls.form-email {
    border-radius: 0;
    height: 54px;
    margin: 0;
    outline: none;
  }

  .form-submit {
    cursor: pointer;
    font-weight: 700;
    min-width: 107px;
    padding: 0;
  }

  &.white {
    .footer-subtitle,
    .sign-up--field .input-error {
      color: $color-white;
    }

    .input__controls.form-email {
      background-color: transparent;
      border: 2px solid $color-white;
      color: $color-white;

      &::placeholder {
        color: $color-white;
      }
    }

    .form-submit {
      background-color: $color-white;
      color: $color-blue-600;

      &:hover {
        background-color: $color-blue-600;
        color: $color-white;
      }
    }
  }
}

[dir='rtl'] {
  .footer {
    &-subtitle {
      text-align: right;
    }
  }

  .sign-up--field {
    justify-content: flex-start;
  }
}
