@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

/* details tag start */
details {
  summary {
    list-style-type: none;
    @extend %paragragh-font-20;
    &::-webkit-details-marker {
      display: none;
    }
    &::before {
      content: "";
      width: 14px;
      height: 17px;
      display: inline-block;
      @extend %icon_img;
      margin-right: $spacing-08;
      background-position: -256px -63px;
    }
  }
  p {
    @extend %paragragh-font-16;
  }
  &[open] {
    summary {
      margin-bottom: 0.5rem;
      &::before {
        content: "";
        display: inline-block;
        background-position: -194px -63px;
      }
    }
  }
}
/* details tag end */
