.our-expertise{
    position: relative;
    margin-top: -860px;

    @include breakpoint(small only){
        margin-top: 0;
    }

    &.hide-section{
        display: none;
    }

    .our-expertise-row{
        position: relative;

        &:first-child{
            padding-top: 960px;

            @include breakpoint(large down){
                padding-top: 960px;
            }

            @include breakpoint(medium down){
                padding-top: 800px;
            }

            @include breakpoint(small only){
                padding-top: 0;
            }
        }

        @include breakpoint(small only){
            .expertise-section-image{
                order: 1
            }

            .expertise-section-text{
                order: 2
            }
        }

        .expertise-image{
            @include breakpoint(medium up){
                opacity: 0;
                position: relative;
                overflow-x: hidden;
                transform: translateY(150px);
                transition: $transition-expertise-image;

                &.visible{
                    opacity: 1;
                    transform: translateY(0);

                }

                &.in-visible{
                    opacity: 0;
                    transform: translateY(-150px);
                }


                .image-card{
                    transform: translateX(0);
                    transition: $transition-expertise-image;
                }

                &:hover{
                    .image-card{
                        transform: translateX(100%);
                    }
                }

                .background-video{
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: absolute;

                    video{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    @include breakpoint(medium up){
        &::before{
            left: 50%;
            content: '';
            width: 100%;
            z-index: -1;
            height: 100%;
            position: absolute;
            max-width: $global-width;
            transform: translateX(-50%);
            background-image: linear-gradient(90deg, $dark-blue-4 1px, rgba($dark-blue-4,0) 1px);
            background-size: 25%;
        }
    }

    .glide-expertise{
        padding-top: 125px;
        padding-left: 15px;

        .section-title{
            margin-bottom: 35px;
        }

        .glide__bullets{
            padding-right: 15px;
        }
    }
}
