.our-mission {
    z-index: $z-index-1;
    padding: 700px 0 1800px;

    @include breakpoint(medium down){
        padding: 600px 0 1400px;
    }

    @include breakpoint(small only){
        padding: 500px 0 1500px;
    }

    &.color-background{
        background-color: $dark-blue-1;
    }

    @include breakpoint(small only) {
        padding-left: 30px;
        padding-right: 30px;

        .h4 {
            margin-top: 55px;
        }
    }
}
