.trusted-partnerships {
    padding: 240px 0 240px;
    background-color: $white;

    @include breakpoint(1441px){
        display: flex;
        height: 1000px;
        justify-content: center;
    }

    @include breakpoint(small only){
        background-color: $dark-blue-6;
    }

    &.background-color{
        background: #F7F7F7;
        transition: background-color 0.5s ease;
    }

    .big-copy {
        margin-top: 90px;
    }

    .btn {
        margin-top: 68px;
    }

    @include breakpoint(small only) {
        padding: 135px 30px 110px;

        .big-copy {
            margin-top: 40px;
        }

        .btn {
            margin-top: 44px;
        }

        .image-card {
            display: none;
        }
    }
}
