@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';

.mega-nav-option {
  background: rgba(247, 247, 247, 0.8);
  box-sizing: border-box;
  display: none;
  min-height: 37.5rem;
  padding: $spacing-64 $spacing-24 0 $spacing-48;
  position: absolute;
  top: 7.125rem;
  z-index: 1;

  &.show-mega {
    display: block;
  }

  .sub-menu-content {
    display: none;

    &.active-content {
      display: flex;
    }
  }

  .submenu {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 0;
      padding-right: $spacing-48;

      &.active {
        a {
          background: $color-blue-600;
          color: $color-white;

          &.sub-external {
            align-items: center;
            justify-content: space-between;

            &::after {
              background: url(#{$img-path-Iconfourback}/external-default-white.svg) no-repeat 0 bottom/$spacing-32 $spacing-32;
              content: '';
              cursor: pointer;
              height: $spacing-32;
              width: $spacing-32;
            }

            &:hover {
              &::after {
                background: url(#{$img-path-Iconfourback}/external-white-hover.svg) no-repeat 0 bottom/$spacing-32 $spacing-32;
              }
            }
          }
        }
      }

      a {
        background: none;
        border-bottom: 1px solid $color-gray-400;
        display: flex;
        font-size: $spacing-16;
        font-weight: 700;
        padding: $spacing-24;
        text-transform: uppercase;

        &.sub-external {
          align-items: center;
          justify-content: space-between;

          &::after {
            background: url(#{$img-path-Iconfourback}/external-default.svg) no-repeat 0 bottom/$spacing-32 $spacing-32;
            content: '';
            cursor: pointer;
            height: $spacing-32;
            width: $spacing-32;
          }

          &:hover {
            &::after {
              background: url(#{$img-path-Iconfourback}/external-hover.svg) no-repeat 0 bottom/32px 34px;
            }
          }
        }

        &:hover {
          background: $color-blue-600;
          color: $color-white;
        }
      }
    }
  }

  .sub-sub-menu {
    display: flex;
    margin-top: $spacing-48;

    ul {
      margin: 0;
      padding: 0;
      width: 50%;

      li {
        line-height: 0;
        list-style-type: none;
        margin-bottom: $spacing-24;
        text-transform: uppercase;
      }
    }
  }

  .mega-title {
    margin-bottom: $spacing-24;
  }

  .mega-image {
    box-sizing: border-box;
    padding-left: $spacing-48;
  }
}

[dir='rtl'] {
  .mega-nav-option .submenu li {
    padding-left: 3rem;
    padding-right: 0;
  }

  .mega-nav-option .mega-image {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 3rem;
  }
}
