@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer condition start *//
.footer__condition {
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: $spacing-12;
    text-align: left;

    @include devicebreak(medium) {
      text-align: right;
    }

    a {
      @extend %img_none;

      border-bottom: 0;
      display: block;
      font-size: $font-size-16;
      line-height: 1.4;
    }
  }

  &.white {
    a {
      color: $color-white;
    }
  }
}

[dir='rtl'] {
  .footer__condition {
    padding-right: 0;

    li {
      text-align: right;
    }
  }
}
// * footer condition end *//
