@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer condition start *//
.footer__condition {
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: $spacing-12;
    text-align: left;

    @include devicebreak(medium) {
      text-align: right;
    }

    a {
      @extend %footerlink;
    }
  }

  &.inverted {
    a {
      @extend %footerlinkinvert;
    }
  }
}

[dir='rtl'] {
  .footer__condition {
    float: right;
    padding-right: 0;

    @include devicebreak(medium) {
      float: left;
    }

    li {
      text-align: right;
    }
  }
}

//burmese lang
:lang(my) {
  .footer__condition {
    li {
      a {
        line-height: 1.9;
      }
    }
  }
}

// * footer condition end *//
