@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/base';

/* footer start */
.footer {
  background-color: $color-gray-100;
  background-color: $color-blue-600;
  color: $color-white;
  padding: $spacing-09 $spacing-04 $spacing-08;

  @include devicebreak(medium) {
    padding: 3.25rem 0 $spacing-09;
  }

  @include devicebreak(small) {
    & .sign-up {
      margin-top: $spacing-06;
    }
  }

  p {
    font-size: $font-size-14;
    margin: 0;

    @include devicebreak(medium) {
      font-size: $font-size-16;
    }
  }

  &-head {
    @extend %footer-block;
    padding-bottom: $spacing-09;
    margin-bottom: 1.188rem;

    @include devicebreak(medium) {
      margin-bottom: $spacing-09;
    }
  }

  &-top {
    @extend %footer-block;
    padding-bottom: $spacing-07;

    @include devicebreak(medium) {
      margin-bottom: $spacing-07;
      padding-bottom: $spacing-09;
    }
  }

  &-bottom {
    justify-content: space-between;

    @include devicebreak(small) {
      flex-direction: column-reverse;

      p {
        margin: 0 $spacing-05 0;
      }
    }
  }

  &-copyright {
    margin: 0 $spacing-05;

    @include devicebreak(medium) {
      margin: $spacing-11 0 0;
    }
  }

  &-links {
    margin: $spacing-07 $spacing-05;

    @include devicebreak(medium) {
      margin: 0 0 $spacing-07 0;
    }

    &_text {
      margin: 0 $spacing-05 $spacing-07;

      @include devicebreak(medium) {
        margin: 0 0 $spacing-07 0;
      }
    }
  }

  .footer-icons {
    margin: 0 1.25rem $spacing-07;

    @include devicebreak(medium) {
      justify-content: flex-end;
      margin: 0;
    }
  }

  &.inverted {
    background-color: $color-gray-100;
    color: $color-black;

    .footer {
      &-head,
      &-top {
        border-color: $color-gray-700;
      }
    }
  }
}

.icons-search {
  margin: $spacing-07 $spacing-05 0;
  text-align: left;

  @include devicebreak(medium) {
    text-align: right;
    margin: 0 0 $spacing-07 0;
  }

  & span {
    display: inline-flex;
  }

  & .icon-globe {
    margin-right: $spacing-05;
  }
}

[dir=rtl] {
  .icons-search {
    text-align: right;

    @include devicebreak(medium) {
      text-align: left;
    }

    & .icon-globe {
      margin-right: 0;
      margin-left: $spacing-05;
    }
  }
}
/* footer end */
