@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/base';

/* footer start */
.footer {
  background-color: $color-gray-100;
  background-color: $color-blue-600;
  color: $color-white;
  padding: $spacing-48 $spacing-12 $spacing-40;

  @include devicebreak(medium) {
    padding: 3.25rem 0 $spacing-48;
  }

  @include devicebreak(small) {
    & .sign-up {
      margin-top: $spacing-24;
    }
  }

  p {
    font-size: $font-size-14;
    margin: 0;

    @include devicebreak(medium) {
      font-size: $font-size-16;
    }
  }

  &-head {
    @extend %footer-block;
    padding-bottom: $spacing-48;
    margin-bottom: 1.188rem;

    @include devicebreak(medium) {
      margin-bottom: $spacing-48;
    }
  }

  &-top {
    @extend %footer-block;
    padding-bottom: $spacing-32;

    @include devicebreak(medium) {
      margin-bottom: $spacing-32;
      padding-bottom: $spacing-48;
    }
  }

  &-bottom {
    justify-content: space-between;

    @include devicebreak(small) {
      flex-direction: column-reverse;

      p {
        margin: 0 $spacing-16 0;
      }
    }
  }

  &-copyright {
    margin: 0 $spacing-16;

    @include devicebreak(medium) {
      margin: $spacing-80 0 0;
    }
  }

  &-links {
    margin: $spacing-32 $spacing-16;

    @include devicebreak(medium) {
      margin: 0 0 $spacing-32 0;
    }

    &_text {
      margin: 0 $spacing-16 $spacing-32;

      @include devicebreak(medium) {
        margin: 0 0 $spacing-32 0;
      }
    }
  }

  .footer-icons {
    margin: 0 1.25rem $spacing-32;

    @include devicebreak(medium) {
      justify-content: flex-end;
      margin: 0;
    }
  }

  &.inverted {
    background-color: $color-gray-100;
    color: $color-black;

    .footer {
      &-head,
      &-top {
        border-color: $color-gray-700;
      }
    }
  }
}

.icons-search {
  display: flex;
  margin: $spacing-32 $spacing-16 0;

  @include devicebreak(medium) {
    justify-content: end;
    margin: 0 0 $spacing-32 0;
  }

  & span {
    display: inline-flex;
  }

  & .icon-globe {
    margin-right: $spacing-16;
  }
}

[dir=rtl] {
  .icons-search {
    & .icon-globe {
      margin-right: 0;
      margin-left: $spacing-16;
    }
  }
}
/* footer end */
