@use '../../assets/scss/variables';
@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';

// * footer condition start *//
.footer-items {

  @include breakpoints.devicebreak(medium) {
    row-gap: 3rem;
    display: flex;
  }

  .footer-item {
    @include breakpoints.devicebreak(medium) {
      width: calc((100% / 2) - 1.5rem);
      flex: 0 0 calc((100% / 2) - 1.5rem);
    }

    @include breakpoints.devicebreak(large) {
      width: calc((100% / 3) - 1.5rem);
      flex: 0 0 calc((100% / 3) - 1.5rem);
    }

    @include breakpoints.devicebreak(xlarge) {
      width: calc((100% / 4) - 1.5rem);
      flex: 0 0 calc((100% / 4) - 1.5rem);
    }
  }
}

.footer-links {
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: var(--undpds-spacing-04);
    padding: 0;
    text-align: left;

    @include breakpoints.devicebreak(medium) {
      text-align: right;
    }

    a {
      @extend %footerlink;
    }
  }

  &.inverted {
    a {
      @extend %footerlinkinvert;
    }
  }
}

[dir='rtl'] {
  .footer-links {
    padding-right: 0;

    li {
      padding: 0;
      text-align: right;

      @include breakpoints.devicebreak(medium) {
        text-align: left;
      }
    }
  }
}

//burmese lang
:lang(my) {
  .footer-links {
    li {
      a {
        line-height: 1.9;
      }
    }
  }
}

// * footer condition end *//

// * footer condition 2 start *//
.footer-lists {
  padding-left: 0;

  @include breakpoints.devicebreak(medium) {
    // max-width: 690px;
    text-align: right;
  }

  @include breakpoints.devicebreak(small) {
    margin: 0 var(--undpds-spacing-05) var(--undpds-spacing-07);
  }

  li {
    list-style: none;
    margin-bottom: var(--undpds-spacing-04);
    padding-left: 0;

    @include breakpoints.devicebreak(medium) {
      display: inline-flex;
      margin-bottom: 1.125rem;
      margin-left: 2.25rem;
    }

    a {
      @extend %footerlink;
    }
  }

  &.inverted {
    a {
      @extend %footerlinkinvert;
    }
  }
}

[dir='rtl'] {
  .footer-lists {
    padding-right: 0;

    @include breakpoints.devicebreak(medium) {
      text-align: left;
    }

    li {
      padding-right: 0;

      @include breakpoints.devicebreak(medium) {
        margin-left: 0;
        margin-right: 2.25rem;
      }
    }
  }
}

//burmese lang
:lang(my) {
  .footer-lists {
    li {
      a {
        line-height: 1.9;
      }
    }
  }
}

// * footer condition 2 end *//

// * footer icons start *//
.footer-icons {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;

  li {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;

    a {

      $socials: (
        'facebook',
        'instagram',
        'linkedin',
        'twitter',
        'twitter-x',
        'youtube'
      );

    @extend %border-none;
    @extend %no-animation;

    display: block;
    font-size: 0;
    height: 20px;
    margin-inline-start: var(--undpds-spacing-07);
    margin-block-end: var(--undpds-spacing-05);
    width: 20px;

    @each $name in $socials {
      &.#{$name} {
        background: url(~icons/#{$name}-white.svg) no-repeat center bottom;
      }
    }
  }

  // &:last-of-type {
  //   a {
  //     margin-right: 0;
  //   }
  // }
}

&.inverted {
  li {
    a {
      $socials: (
        'facebook',
        'instagram',
        'linkedin',
        'twitter',
        'twitter-x',
        'youtube'
      );

    @each $name in $socials {
      &.#{$name} {
        background: url(~icons/#{$name}.svg) no-repeat center bottom;
      }
    }
  }
}
}
}

[dir='rtl'] {
  .footer-icons {
    padding-right: 0;

    // li {
    //   padding: 0;

    // a {
    //   margin-left: $spacing-07;
    //   margin-right: 0;
    // }

    // &:last-of-type {
    //   a {
    //     margin-left: 0;
    //   }
    // }
    // }
  }
}

// * footer icons end *//

/* footer items start */
.footer {
  &-item {
    position: relative;

    @include breakpoints.devicebreak(small) {
      &::after {
        border-bottom: 2px solid var(--undpds-color-gray-400);
        content: '';
        position: absolute;
        width: calc(100% - 1.3rem);
      }
    }

    &.inverted {
      .footer-heading {
        color: var(--undpds-color-black);

        &::before {
          background: url(~icons/chevron-down.svg) no-repeat center center;
        }
      }

      .footer-panel {
        a {
          @extend %footerlinkinvert;
        }
      }
    }
  }

  &-heading {
    background: transparent;
    border: 0;
    color: var(--undpds-color-white);
    display: block;
    font-size: var(--undpds-font-size-16);
    font-weight: 700;
    letter-spacing: 0.03rem;
    line-height: 1.15;
    padding: var(--undpds-spacing-05);
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    @include breakpoints.devicebreak(medium) {
      margin-bottom: 1.25rem;
      padding: 0;
      pointer-events: none;
    }

    &::before {
      @include mixins.transition(0.1s ease);

      background: url(~icons/chevron-down-white.svg) no-repeat center center;
      content: '';
      display: block;
      float: right;
      height: 20px;
      width: 20px;

      @include breakpoints.devicebreak(medium) {
        display: none;
      }
    }

    &.active {
      &::before {
        @include mixins.transform(rotateZ(180deg));
      }
    }
  }

  &-panel {
    display: none;
    padding: 0 var(--undpds-spacing-05) var(--undpds-spacing-03);

    @include breakpoints.devicebreak(medium) {
      display: block;
      padding: 0;
    }

    a {
      @extend %footerlink;

      display: block;
      margin-bottom: var(--undpds-spacing-05);
    }
  }
}

[dir='rtl'] {
  .footer-heading {
    text-align: right;

    &::before {
      float: left;
    }
  }
}

//burmese lang
:lang(my) {
  .footer-panel {
    a {
      line-height: 1.9;
    }
  }
}

/* footer items end */

// * footer Logo start *//
.footer-logo {
  align-items: center;
  display: flex;

  a {
    background: none;
  }

  h5 {
    color: var(--undpds-color-white);
    margin: 0 var(--undpds-spacing-05);
  }

  &.inverted {
    h5 {
      color: var(--undpds-color-black);
    }
  }
}

// * footer Logo end *//

/* footer start */
.footer {
  background-color: var(--undpds-color-gray-100);
  background-color: var(--undpds-color-blue-600);
  color: var(--undpds-color-white);
  padding: var(--undpds-spacing-09) var(--undpds-spacing-04) var(--undpds-spacing-08);

  @include breakpoints.devicebreak(medium) {
    padding: 3.25rem 0 var(--undpds-spacing-09);
  }

  @include breakpoints.devicebreak(small) {
    & .sign-up {
      margin-top: var(--undpds-spacing-06);
    }
  }

  p {
    font-size: var(--undpds-font-size-14);
    margin: 0;

    @include breakpoints.devicebreak(medium) {
      font-size: var(--undpds-font-size-16);
    }
  }

  &-head {
    @extend %footer-block;

    margin-bottom: 1.188rem;
    padding-bottom: var(--undpds-spacing-09);

    @include breakpoints.devicebreak(medium) {
      margin-bottom: var(--undpds-spacing-09);
    }
  }

  &-top {
    @extend %footer-block;

    padding-bottom: var(--undpds-spacing-07);

    @include breakpoints.devicebreak(medium) {
      margin-bottom: var(--undpds-spacing-07);
      padding-bottom: var(--undpds-spacing-09);
    }
  }

  &-bottom {
    justify-content: space-between;

    @include breakpoints.devicebreak(small) {
      flex-direction: column-reverse;

      p {
        margin: 0 var(--undpds-spacing-05) 0;
      }
    }
  }

  &-copyright {
    margin: 0 var(--undpds-spacing-05);

    @include breakpoints.devicebreak(medium) {
      margin: var(--undpds-spacing-11) 0 0;
    }
  }

  &-links {
    margin: var(--undpds-spacing-07) var(--undpds-spacing-05);

    @include breakpoints.devicebreak(medium) {
      margin: 0 0 var(--undpds-spacing-07) 0;
    }

    &_text {
      margin: 0 var(--undpds-spacing-05) var(--undpds-spacing-07);

      @include breakpoints.devicebreak(medium) {
        margin: 0 0 var(--undpds-spacing-07) 0;
      }
    }
  }

  .footer-icons {
    margin: 0 1.25rem var(--undpds-spacing-07);

    @include breakpoints.devicebreak(medium) {
      justify-content: flex-end;
      margin: 0;
    }
  }

  &.inverted {
    background-color: var(--undpds-color-gray-100);
    color: var(--undpds-color-black);

    .footer {

      &-head,
      &-top {
        border-color: var(--undpds-color-gray-700);
      }
    }
  }
}

.icons-search {
  margin: var(--undpds-spacing-07) var(--undpds-spacing-05) 0;
  text-align: left;

  @include breakpoints.devicebreak(medium) {
    margin: 0 0 var(--undpds-spacing-07) 0;
    text-align: right;
  }

  & span {
    display: inline-flex;
  }

  & .icon-globe {
    margin-right: var(--undpds-spacing-05);
  }
}

[dir=rtl] {
  .icons-search {
    text-align: right;

    @include breakpoints.devicebreak(medium) {
      text-align: left;
    }

    & .icon-globe {
      margin-left: var(--undpds-spacing-05);
      margin-right: 0;
    }
  }
}

/* footer end */