@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

.twitter {
  &-panel {
    background-color: #232e3e;
    overflow: hidden;
    padding: $spacing-96 $spacing-24;

    .twitter {
      background: url(#{$img-path-Icon}/social_icon.png) no-repeat;
      background-position: -43px -27px;
      display: block;
      font-size: 0;
      height: 25px;
      margin-bottom: 0.375rem;
      margin-left: -$spacing-16;
      margin-top: 3.688rem;
      width: 30px;
    }
  }
}

.twitter-header {
  align-items: end;
  background-color: #232e3e;
  display: flex;
  margin-bottom: $spacing-40;

  h2 {
    color: $color-white;
    margin-bottom: 0;
    margin-right: 0.375rem;
  }
}

[dir='rtl'] {
  .twitter-panel {
    .twitter {
      margin-left: 0;
      margin-right: -$spacing-16;
    }
  }
}
