@use '../../../assets/scss/variables';
@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';

.twitter {
  &-panel {
    background-color: #232e3e;
    overflow: hidden;
    padding: var(--undpds-spacing-12) var(--undpds-spacing-06);

    .twitter {
      background: url(~icons/tweet-white.svg) no-repeat center bottom;
      display: block;
      font-size: 0;
      height: 36px;
      margin-bottom: var(--undpds-spacing-02);
      width: 36px;

      @include breakpoints.devicebreak(medium) {
        margin-bottom: 0.375rem;
      }
    }

    h2 {
      align-items: flex-end;
      color: var(--undpds-color-white);
      display: flex;
      margin-bottom: var(--undpds-spacing-08);
    }

    a {
      text-decoration: none;
    }
  }
}

//burmese lang
:lang(my) {
  .twitter-panel {
    span {
      margin-bottom: 0.875rem;
    }
  }
}