@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.download-card {
  &__title {
    @extend %paragragh-font-20;

    margin-bottom: $spacing-04;
  }

  &__format {
    @extend %paragragh-font-16;

    color: $color-gray-600;
    margin-bottom: $spacing-16;
  }

  &__download {
    @extend %paragragh-font-16;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    &:hover {
      .download-icon {
        background: url(#{$img-path-Icon}/download-hover.svg) no-repeat 0 bottom;
        height: 24px;
      }
    }
  }

  &__readmore {
    @extend %paragragh-font-16;

    align-items: center;
    display: inline;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    float: right;
  }

  &__description {
    padding: $font-size-24;
    align-items: center;

    .grid-x{
      align-items: center;
      display: flex;
      flex-flow: row wrap;

      .small-6{
        width: 49%;
      }
    }

    .grid-x>:not(:first-of-type) {
      border-left: $spacing-02 solid $color-silvery-moonlight;
      text-align: right;
    }
  }  
}

.download-card__readmore {
  .external-link {
    margin-left: $spacing-12;
    display: inline-block;
  }

  &:hover {
    .download-icon {
      background: url(#{$img-path-Icon}/external-hover.svg) no-repeat 0 bottom;
      height: 24px;      
    }
  }
}

[dir='rtl'] {
  .download-card {
    &__readmore {
      float: left;
      .external-link {
        margin-left: 0;
        margin-right: $spacing-12;
      }
    }

    &__description {
      .grid-x>:not(:first-of-type) {
        border-left: 0;
        border-right: $spacing-02 solid $color-silvery-moonlight;
        text-align: left;
      }
    } 

    &__download {
      float: right;
    }
  }
}
