@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

$colors: ("yellow": $color-yellow, "red": $color-red, "green": $color-green, "azure": $color-azure);

.publication-card {
  display: inline-block;

  @include devicebreak(medium) {
    min-width: 20.625rem;
  }

  &:hover {
    .publication-thumbnail__image {
      @each $name, $color in $colors {
        &.#{$name}:after {
          opacity: 0.75;
          @include background-image(42deg, #{$color}, transparent 80%);
        }
      }
    }
  }

  &__description {
    align-items: center;
    background: $color-gray-100;
    padding: $spacing-24;

    .grid-x {
      align-items: center;
      display: flex;
      flex-flow: row wrap;

      .small-6 {
        width: 49%;
      }
    }

    .grid-x > :not(:first-of-type) {
      border-left: $spacing-02 solid $color-silvery-moonlight;
      text-align: right;
    }
  }

  &__title {
    @extend %paragragh-font-20;

    margin-bottom: $spacing-04;
  }

  &__format {
    @extend %paragragh-font-16;

    color: $color-gray-600;
    margin-bottom: $spacing-16;
  }

  &__download {
    @extend %paragragh-font-16;

    align-items: center;
    background-image: none;
    display: inline-flex;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      cursor: pointer;
      height: $spacing-24;
      width: $spacing-24;
    }

    .download-icon {
      margin-left: $spacing-12;
    }

    &:hover {
      color: $color-shuttle-gray;

      .download-icon {
        background: url(#{$img-path-Icon}/download-hover.svg) no-repeat 0 bottom;
        height: $spacing-24;
      }
    }
  }

  &__readmore {
    @extend %paragragh-font-16;

    align-items: center;
    background-image: none;
    display: inline;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-image: none;
    cursor: pointer;
    
    &::after {
      cursor: pointer;
      height: $spacing-24;
      width: $spacing-24;
    }

    .external-link {
      display: inline-block;
      margin-left: $spacing-12;
    }

    &:hover {
      color: $color-shuttle-gray;

      .external-link {
        background: url(#{$img-path-Icon}/external-hover.svg) no-repeat 0 bottom;
      }
    }
  }
}

[dir='rtl'] {
  .publication-card {
    &__readmore {
      .external-link {
        margin-left: 0;
        margin-right: $spacing-12;
      }
    }

    &__description {
      .grid-x > :not(:first-of-type) {
        border-left: 0;
        border-right: $spacing-02 solid $color-silvery-moonlight;
        text-align: left;
      }
    }

    &:hover {
      .publication-thumbnail__image {
        @each $name, $color in $colors {
          &.#{$name}:after {
            opacity: 0.75;
            @include background-image(318deg, #{$color}, transparent 80%);
          }
        }
      }
    }
  }
}
