@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* country card hero start */
.countrycard {
  &__header {
    justify-content: center;
    padding-right: $spacing-48;
  }

  &__title {
    font-size: 3.5rem;
    line-height: 1.09;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 2rem;
    line-height: 2.6rem;
    padding-left: $spacing-64;
  }

  &-border {
    margin-left: $spacing-64;
    position: relative;

    &::before {
      @extend %absolute__content;

      background: $color-dark-red;
      height: 80%;
      width: 3px;
    }
  }
}

[dir='rtl'] {
  .countrycard {
    &__header {
      padding-left: $spacing-48;
      padding-right: 0;
    }

    &-border {
      margin-left: 0;
      margin-right: $spacing-64;

      &::before {
        right: 0;
      }
    }

    &__subtitle {
      padding-left: 0;
      padding-right: 64px;
    }
  }
}

/* country card hero end */
