@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* country card hero start */
.countrycard {
  @include devicebreak(large) {
    &__wrapper {
      padding-top: $spacing-96;
    }
  }

  &__items {
    @include devicebreak(small) {
      margin-top: $spacing-32;
    }

    @include devicebreak(medium) {
      .glide {
        &__slides {
          flex-wrap: wrap;
        }

        &__slide {
          height: auto;
        }
      }
    }
  }


  &__header {
    justify-content: center;

    @include devicebreak(large) {
      padding-right: $spacing-48;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 1.11;
      padding-bottom: 1.25rem;
      text-transform: uppercase;

      @include devicebreak(large) {
        font-size: 3.5rem;
        line-height: 1.09;
        padding-bottom: 0;
      }
    }

    h6 {
      font-size: 1.5rem;
      line-height: 1.4;
      padding-top: $spacing-24;
      text-transform: unset;

      @include devicebreak(large) {
        font-size: 2rem;
        padding-left: $spacing-64;
        padding-top: 0;
      }
    }
  }

  &-border {
    position: relative;

    @include devicebreak(large) {
      margin-left: $spacing-64;
    }

    &::before {
      @extend %absolute__content;

      background: $color-dark-red;
      height: 4px;
      width: 95px;

      @include devicebreak(large) {
        height: 80%;
        width: 3px;
      }
    }
  }
}

[dir='rtl'] {
  .countrycard {
    @include devicebreak(large) {
      &__header {
        padding-left: $spacing-48;
        padding-right: 0;
      }
    }

    &-border {
      @include devicebreak(large) {
        margin-left: 0;
        margin-right: $spacing-64;

        h6 {
          padding-left: 0;
          padding-right: $spacing-64;
        }
      }

      &::before {
        right: 0;
      }
    }

    &__subtitle {
      padding-left: 0;
      padding-right: $spacing-64;
    }
  }
}

/* country card hero end */
