@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import "../../../../assets/scss/base";

/* country card hero start */
.countrycard {
  &__header {
    padding: 0 8.3%;
  }

  &__title {
    font-size: 3.5rem;
    line-height: 1.09;
    padding-right: $spacing-64;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 2rem;
    line-height: 2.6rem;
    padding-left: $spacing-64;
  }

  &-border {
    position: relative;

    &::before {
      @extend %absolute__content;

      background: $color-dark-red;
      height: 80%;
      width: 3px;
    }
  }
}

[dir='rtl'] {
  .countrycard {
    &-border::before {
      right: 0;
    }
    &__title {
      padding-left: 64px;
      padding-right: 0;
    }
    &__subtitle {
      padding-left: 0;
      padding-right: 64px;
    }
  }
}
/* country card hero end */
