.menu-item-options {
    padding: 25px 30px 58px 0;

    .menu-btn-back {
        .arrow-black {
            margin-right: 0;
            margin-left: 12px;
            transform: rotate(180deg);
        }
    }
}
