@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

blockquote {
  font-size: var(--undpds-font-size-26);
  font-weight: 600;
  line-height: 1.16;
  margin: 0;

  @include breakpoints.devicebreak(medium) {
    font-size: var(--undpds-font-size-35);
    line-height: 1.15;
  }

  a {
    font-size: inherit;
  }
}

//burmese lang
:lang(my) {
  blockquote {
    line-height: 1.7;
  }
}
