@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';
  
.mobile-nav {
  background: rgba(247, 247, 247, 0.8);
  box-sizing: border-box;
  display: none;
  left: 0;
  margin: 0;
  overflow-y: auto;
  padding: 0 $spacing-24;
  position: absolute;
  top: 4.6875rem;
  width:100%;

  &.show {
    display: block;
  }

  .grid-x {
    position: relative;
  }

  .mobile-links {
    padding: 5.625rem 0 3.75rem;

    &.hide {
      display: none;
      pointer-events: none;
    }

    ul {
      border-bottom: 1px solid $color-gray-500;
      margin-bottom: 2.25rem;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 0;
        padding-bottom: 2.25rem;
        text-transform: uppercase;
      }
    }
  }

  .mob-nav-options {
    a {
      @extend %img_none;

      align-items: center;
      color: $color-blue-600;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1.25rem;
      text-transform: uppercase;

      img {
        margin-right: 0.625rem;
      }
    }
  }

  .mob-sub-menu {
    display: none;
    padding: 2.0625rem 0;

    &.show {
      display: block;
      height: calc(100vh - 9.1875rem);
    }

    .sub-heading {
      padding: 2.5625rem 0 2.25rem;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    .sub-sub-menus {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 0;

        span {
          font-size: $font-size-16;
        }

        ul {
          margin: 0;
          padding: $spacing-24 1.6875rem;
          li{
            margin-bottom: 0.46875rem;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }

        a {
          @extend %img_none;

          font-size: 0.875rem;
          padding: 0.46875rem 0;
        }
      }
    }
  }

  .back-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    text-transform: uppercase;
    align-items: center;
    border: 0;
    padding: 0;
    background: none;
    img {
      margin-right: 0.46875rem;
    }
  }

  .mob-sub-lang {
    display: none;
    padding: 2.25rem 0;
    pointer-events: none;

    &.show {
      display: block;
      pointer-events: all;
    }

    .sub-heading {
      padding: 2.25rem 0 1.25rem;
      text-transform: uppercase;
    }

    .sub-sub-lang {
      margin: $spacing-40 0 0;
      padding: 0;

      li {
        list-style: none;

        span {
          font-size: $font-size-16;
        }

        ul {
          margin: 0;
          padding: $spacing-16 1.6875rem;
        }

        a {
          @extend %img_none;

          font-size: 0.875rem;
          padding: 0.46875rem 0;
        }
      }
    }
  }

  .mobile-mega-content {
    display: none;

    &.show-content {
      display: block;
    }
  }
}

.grid-margin-x {
  & > {
    .cell {
      &.mobile-nav {
        margin: 0;
        width: 100%;
      }
    }
  }
}


.menu-hamburger {
  margin-left: $spacing-12;
  width: 1.375rem;
  display: block;
  cursor: pointer;
  min-height: 1.75rem;
  position: relative;
  z-index:25;
  background: none;
  border: 0;
  display: none;
  font-size: 0;
  @include devicebreak(mediumonlytab){
    display: block;
  }
}

.menu-hamburger.is-active .hamburger-line.line-top {
  transform:translateY(0) rotate(45deg)
}

.menu-hamburger.is-active .hamburger-line.line-middle {
  opacity: 0;
  transform:translateX(6.33px)
}

.menu-hamburger.is-active .hamburger-line.line-bottom {
  transform:translateY(0) rotate(-45deg)
}

.menu-hamburger .hamburger-line {
  left: 0;
  right: 0;
  top: $spacing-12;
  width: 100%;
  margin: auto;
  height: 0.125rem;
  display: block;
  position: absolute;
  transition: .2s ease-out;
  background-color:#006eb5
}

.menu-hamburger .hamburger-line.line-top {
  transform:translateY(-6.5px)
}

.menu-hamburger .hamburger-line.line-bottom {
  transform:translateY(6.5px)
}


[dir='rtl'] {
  .mobile-nav {
    .mob-nav-options {
      a {
        img {
          margin-left: 0.625rem;
          margin-right: 0;
        }
      }
    }

    .back-nav {
      span {
        flex-flow: row-reverse;
      }
    }
  }
}
