@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.parallax-gallery {
  &-left {
    display: flex;

    @include devicebreak(small) {
      margin-bottom: 0.75rem;
    }

    &.gray {
      background: $color-gray-200;
    }
  }

  &-right {
    overflow: hidden;
    position: relative;
  }

  &-content {
    @include devicebreak(small) {
      padding: 1.5rem 1rem;
    }

    @include devicebreak(medium) {
      margin: auto 2.5rem;
      max-width: 28rem;
    }

    @include devicebreak(large) {
      margin: auto 7.375rem;
    }

    h5 {
      margin-bottom: 2rem;

      @include devicebreak(small) {
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 1rem;
      margin-bottom: 3rem;

      @include devicebreak(small) {
        font-size: 0.875rem;
        margin-bottom: 2rem;
      }
    }

    .cta__link {
      text-transform: uppercase;
    }
  }

  &-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &-images {
    display: flex;
    margin: -5.313rem auto;

    .column {
      flex: 0 0 calc(50% - 0.5rem);
      max-width: calc(50% - 0.5rem);

      @include devicebreak(medium) {
        &:first-child {
          margin-right: 0.5rem;
        }

        &:last-child {
          margin-left: 0.5rem;
        }
      }

      @include devicebreak(large) {
        flex: 0 0 calc(50% - 0.75rem);
        max-width: calc(50% - 0.75rem);

        &:first-child {
          margin-right: 0.75rem;
        }

        &:last-child {
          margin-left: 0.75rem;
        }
      }

      @include devicebreak(small) {
        flex: 0 0 calc(50% - 0.375rem);
        max-width: calc(50% - 0.375rem);

        &:first-child {
          margin-right: 0.375rem;
        }

        &:last-child {
          margin-left: 0.375rem;
        }
      }
    }

    img {
      display: block;
      font-size: 0;
      height: 16rem;
      margin-bottom: 1rem;
      object-fit: cover;
      width: 100%;

      @include devicebreak(large) {
        height: 25.313rem;
        margin-bottom: 1.5rem;
      }

      @include devicebreak(small) {
        height: 13.875rem;
        margin-bottom: 0.75rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

[dir='rtl'] {
  .parallax-gallery {
    &-images {
      .column {
        @include devicebreak(medium) {
          &:first-child {
            margin-left: 0.5rem;
            margin-right: 0;
          }

          &:last-child {
            margin-left: 0;
            margin-right: 0.5rem;
          }
        }

        @include devicebreak(large) {
          &:first-child {
            margin-left: 0.75rem;
            margin-right: 0;
          }

          &:last-child {
            margin-left: 0;
            margin-right: 0.75rem;
          }
        }

        @include devicebreak(small) {
          &:first-child {
            margin-left: 0.375rem;
            margin-right: 0;
          }

          &:last-child {
            margin-left: 0;
            margin-right: 0.375rem;
          }
        }
      }
    }
  }
}
