section.our-impact {
    margin-top: 90px;

    .cards-container {
        margin-top: 72px;
    }

    .gs--parallax-row {

        .parallax-content-wrapper {
            justify-content: flex-end;
        }

        &:nth-child(odd) {
            .parallax-content-wrapper {
                justify-content: flex-start;
            }
        }

        &:not(:first-of-type) {
            margin-top: 26px;
        }
    }
}
