.our-impact {
    margin-top: 90px;

    .gs--parallax-container {
        margin-top: 72px;
    }

    .gs--parallax-row {
        justify-content: flex-end;

        &:nth-child(odd) {
            justify-content: flex-start;
        }

        &:not(:first-of-type) {
            margin-top: 26px;
        }
    }

    .dynamic-slider {
        margin-top: 48px;

        .glide__track {
            @include breakpoint(small only) {
                overflow: visible;
            }
        }

        .glide__slides {
            margin-top: 34px;
        }

        .stat-card {
            max-width: 235px;
        }
    }
}
