.small-stats-slider {
    margin-top: 95px;

    @include breakpoint(small only) {
        margin-top: 116px;
    }

    .dynamic-slider {
        margin-top: 103px;

        @include breakpoint(small only) {
            margin-top: 70px;
        }
    }

    .heading.h2 {
        text-transform: capitalize;
    }

    .bullets-container {
        margin: auto;
    }

    .glide__track {
        overflow: visible;
        padding-top: 80px;

        @include breakpoint(small only) {
            order: 2;
            padding-top: 33px;
        }
    }

    .stat-card {
        display: flex;
        align-items: center;
    }
}
