@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* statscard start */
.statscard {
  @include transition(300ms all);

  background-color: $color-gray-200;
  word-break: break-all;

  &__title {
    font-family: $Font-Family-ProximaBold;
    margin-bottom: $spacing-40;

    @include devicebreak(medium) {
      margin-bottom: $spacing-80;
    }
  }

  &__number {
    color: $color-gray-200;
    font-family: $Font-Family-SohneBold;
    font-size: 5rem;
    letter-spacing: 0.05rem;
    line-height: 5.45rem;
    margin-bottom: $spacing-24;
    text-shadow: -1px -1px 0 $color-black, 1px -1px 0 $color-black, -1px 1px 0 $color-black, 1px 1px 0 $color-black;
    -webkit-text-stroke: 2px $color-black;

    @include devicebreak(medium) {
      font-size: 6.875rem;
      line-height: 7.5rem;
      margin-bottom: $spacing-32;
    }
  }

  &__per {
    font-family: $Font-Family-ProximaSemiBold;
    font-size: 1.875rem;
    letter-spacing: 0;
    line-height: 2.141rem;
    margin-bottom: $spacing-08;

    @include devicebreak(medium) {
      font-size: 2.188rem;
      line-height: 40px;
      margin-bottom: $spacing-16;
    }
  }

  p {
    margin: 0;

    @include devicebreak(medium) {
      font-size: 1.563rem;
      line-height: 1.784rem;
    }
  }

  &--xl {
    max-width: 351px;

    @include devicebreak(medium) {
      max-width: 684px;

      .statscard__box {
        padding: $spacing-96;
      }
    }

    .statscard__box {
      padding: $spacing-40;
    }

    .statscard__number {
      font-size: 7.5rem;
      line-height: 8.188rem;
    }
  }

  &--lg {
    max-width: 351px;

    @include devicebreak(medium) {
      max-width: 448px;

      .statscard__box {
        padding: $spacing-96  $spacing-64;
      }

      .statscard__per {
        font-size: 1.875rem;
        line-height: 2.141rem;
      }
    }

    .statscard__box {
      padding: $spacing-40;
    }

    .statscard__per {
      font-size: $font-size-25;
      line-height: 1.784rem;
    }
  }

  &--md {
    max-width: 351px;

    @include devicebreak(medium) {
      max-width: 330px;

      .statscard__per {
        font-size: 2.188rem;
        line-height: 2.498rem;
      }
    }

    .statscard__per {
      font-size: $font-size-25;
      line-height: 1.784rem;
    }

    .statscard__box {
      padding: $spacing-48;
    }

    p {
      font-size: $font-size-20;
      line-height: 1.719rem;
    }
  }

  &--sm {
    max-width: 170px;

    @include devicebreak(medium) {
      max-width: 212px;

      .statscard__box {
        padding: $spacing-32;
      }

      .statscard__number {
        font-size: 4.375rem;
        line-height: 4.75rem;
        margin-bottom: 2rem;
      }

      .statscard__per {
        font-size: $font-size-25;
        line-height: 1.784rem;
        margin-bottom: $spacing-08;
      }

      p {
        font-size: $font-size-16;
        line-height: 1.375rem;
      }
    }

    .statscard__box {
      padding: $spacing-24;
    }

    .statscard__number {
      @include transition(300ms all);

      font-size: 3.125rem;
      line-height: 3.406rem;
      margin-bottom: $spacing-16;
    }

    .statscard__per {
      font-size: $font-size-20;
      line-height: 1.428rem;
    }

    p {
      font-size: $font-size-14;
      line-height: 1.203rem;
    }
  }

  &:hover {
    background-color: $color-yellow;

    & .statscard__number {
      color: $color-black;
    }
  }
}

/* statscard end */
