@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* block cta start */
.cta-block {
  h4 {
    font-weight: 600;
    margin-bottom: var(--undpds-spacing-06);

    @include devicebreak(large) {
      margin-bottom: var(--undpds-spacing-09);
    }
  }

  .cta__link {
    font-size: var(--undpds-font-size-16);
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin-bottom: var(--undpds-spacing-08);
  }
}

:lang(ro) {
  .cta-block h4 {
    font-weight: 700;
  }
}
/* block cta end */
