@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

/* block cta start */
.cta-block {
  h4 {
    font-weight: 600;
    margin-bottom: variables.$spacing-06;

    @include breakpoints.devicebreak(large) {
      margin-bottom: variables.$spacing-09;
    }
  }

  .cta__link {
    font-size: variables.$font-size-16;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin-bottom: variables.$spacing-08;
  }
}

/* block cta end */