.about-hero {
    height: 100vh;
    margin: 0 auto;
    max-width: 100%;
    max-height: 805px;
    transition: max-width 0.5s ease;

    @include breakpoint(medium down) {
        margin-top: 38px;
    }

    .hero-container, .text-container {
        height: 100%;
    }

    .hero-content {
        color: $white;

        .breadcrumb {
            padding-top: 26px;
        }

        .title {
            @include breakpoint(small only) {
                font-size: 2.5rem;
                font-weight: $regular;
            }
        }

        .subtitle {
            margin-top: 30px;
            text-transform: uppercase;
            font-family: $secondary-font;

            @include breakpoint(small only) {
                margin-top: 18px;
                font-size: 2.5rem;
                font-weight: $bold;
            }
        }

        .text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: calc(100% - 170px);

            @include breakpoint(small only) {
                height: calc(100% - 220px);
            }
        }
    }
}
