.country-hero-4 {
    @extend .global-hero-1;

    .image-block {
        min-height: 680px;

        .cta-button {
            right: 70px;
            bottom: 65px;
            position: absolute;

            @include breakpoint(small only) {
                left: 0;
                width: 100%;
                padding: 0 30px;
            }

            .btn {
                @include breakpoint(small only) {
                    width: 100%;
                }
            }
        }

        .gradient {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            transition: opacity 0.5s ease;
            background-image: linear-gradient(45deg, rgba($yellow, 0.3) 0%, transparent 100%);
        }

        &:hover {
            .gradient {
                opacity: 1;
            }
        }
    }
}
