.country-hero-3 {
    margin-top: 115px;
    padding-top: 70px;
    position: relative;

    @include breakpoint(medium down) {
        margin-top: 70px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .left-bar, .left-bar-mobile {
        left: 0;
        top: 70px;
        width: 60px;
        position: absolute;
        background: $dark-blue-5;
        height: calc(100% - 117px);

        @include breakpoint(medium down) {
            display: none;
        }
    }

    .left-bar-mobile {
        top: 0;
        width: 12px;
        display: none;
        height: calc(100% - 50px);

        @include breakpoint(medium down) {
            display: block;
        }
    }

    .hero-container {
        position: relative;
        padding-bottom: 50px;

        @include breakpoint(medium down) {
            padding-left:45px;
        }

        .title {
            margin-top: 25px;
            text-transform: uppercase;
            font-family: $secondary-font;

            @include breakpoint(medium down) {
                font-size: 2.5rem;
            }
        }

        .header-title {
            @include breakpoint(small only) {
                font-size: 2.5rem;
                font-weight: $regular;
            }
        }

        .subtitle {
            @include breakpoint(small only) {
                font-size: 1.6rem;
                line-height: 1.37;
            }
        }


        .article-container {
            margin-top: 64px;

            @include breakpoint(medium down) {
                margin-top: 30px;
            }

            .article-description {
                display: flex;
                flex-direction: column;

                .btn {
                    margin-top: auto;
                    max-width: 160px;

                    @include breakpoint(medium down) {
                        margin-top: 30px;
                    }

                    @include breakpoint(small only) {
                        max-width: 100%;
                    }
                }
            }

            .article-image {
                padding-left: 40px;

                img {
                    width: 100%;
                }

                @include breakpoint(medium down) {
                    display: none;
                }
            }
        }
    }

    .hero-container-mobile {
        display: none;

        @include breakpoint(medium down) {
            display: block
        }

        .article-image {
            img {
                width: 100%;
            }
        }

        .btn {
            width: 100%;
            margin-top: 30px;
            justify-content: center;
        }
    }
}
