.global-hero-1 {
    position: relative;

    &:before {
        background: $white !important;
    }

    &.height-auto {
        height: auto;
    }

    &.has-video {
        .image-block {
            @include breakpoint(small only) {
                min-height: 0;
            }
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        video.absolute-positioned {
            top: 0;
            left: 0;
            width: 103%;
            height: 100%;
            position: absolute;
        }
    }

    .hero-content-text {
        color: $black;
        margin-top: 60px;
        position: relative;
        z-index: $z-index-5;
        padding-bottom: 140px;

        @include breakpoint(medium down) {
            padding-bottom: 40px;
        }

        .title-text {
            position: relative;
            padding-bottom: 60px;
            text-transform: uppercase;
            font-family: $secondary-font;

            @include breakpoint(small only) {
                font-size: 2.5rem;
                padding-bottom: 30px;
            }

            &:after {
                content: '';
                bottom: 0;
                width: 95px;
                height: 3px;
                left: 0;
                background: $dark-blue-4;
                position: absolute;
            }
        }

        .subtitle-text {
            font-size: 3rem;
            margin-top: 40px;
            font-weight: $bold;

            @include breakpoint(small only) {
                margin-top: 26px;
                font-size: 2.5rem;
                font-weight: $regular;
            }
        }

        .cta-button {
            margin-top: 140px;

            @include breakpoint(small only) {
                display: none;
            }
        }
    }

    .hero-background {
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: $z-index-1;
        background: $dark-blue-7;
        transform: translateX(-50%);

        @include breakpoint(small only) {
            left: auto;
            margin: 0 auto;
            transform: none;
            position: relative;
        }

        .hero-content {
            height: 100%;
        }
    }

    .image-block {
        width: 50%;
        height: 100%;
        margin-left: auto;
        background-size: cover;

        @include breakpoint(small only) {
            width: 100%;
            margin: 0 auto;
            min-height: 500px;

            .cta-button {
                width: 100%;
                bottom: 25px;
                display: block;
                padding: 0 30px;
                position: absolute;

                .btn {
                    width: 100%;
                }
            }
        }
    }

    .cta-button {
        @include breakpoint(small only) {
            width: 100%;
            margin-top: 15px;
            padding: 0 1.2rem;

            .btn {
                width: 100%;
            }
        }
    }
}
