.hero {
    &.contract {
        max-width: calc(100% - 4.8rem);

        @include breakpoint(small only){
            max-width: calc(100% - 3rem);
        }

        @include breakpoint(1921px up){
            max-width: calc(1920px - 4.8rem);
        }
    }

    [data-contract-target] {
        transition: $easing-1;

        &.contract {
            width: calc(100% - 5.4rem);

            @include breakpoint(small only){
                width: calc(100% - 2.4rem);
            }
        }
    }

    &.no-image {
        .overlay {
            opacity: 0;
        }
    }
}
