.news-centre-hero {
    margin-top: 115px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include breakpoint(medium down) {
        margin-top: 70px;
        padding-top: 40px;
    }

    .news-hero-container {
        display: flex;
        position: relative;

        flex-direction: column;

        .title {
            width: 100%;
            position: absolute;
            top: calc(50% - 130px);
            text-transform: uppercase;
            font-family: $secondary-font;

            @include breakpoint(medium down) {
                top: auto;
                padding-left: 25px;
                position: relative;
            }

            .subtitle {
                @extend .heading, .h3;
                text-transform: capitalize;

                @include breakpoint(large up) {
                    width: 300px;
                    overflow: hidden;
                    position: absolute;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    bottom: calc(100% + 16px);
                    -webkit-box-orient: vertical;
                }

                @include breakpoint(medium down) {
                    margin-top: 40px;
                    margin-bottom: 13px;
                }

                @include breakpoint(small down) {
                    font-weight: normal;
                }
            }
        }

        .title,
        .subtitle {
            @include breakpoint(small down) {
                font-size: 25px !important;
            }
        }
    }

    .hero-link {
        margin-top: auto;
        padding: 25px 30px;
        background: $dark-blue-6;

        @include breakpoint(medium down) {
            display: none;
        }

        &.mobile {
            display: block;
        }

        .link-title {
            font-size: 2rem;
            margin-bottom: 15px;
            font-weight: $regular;
        }

        .text-link {
            width: 100%;
            margin-top: 10px;
        }
    }

    .news-hero-container-mobile {
        display: none;

        @include breakpoint(medium down) {
            width: 100%;
            display: block;
        }

        .text-link {
            margin-left: 10px;
        }
    }

    .image-container {
        padding-left: 25px;

        img {
            width: 100%;
        }

        @include breakpoint(medium down) {
            padding-left: 0;
            margin-top: 35px;
        }
    }

    .text-link {
        .text {
            width: auto;
            flex-grow: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: calc(100% - 30px);
        }

        img {
            max-width: 12px;
        }
    }
}
