@import "../../../../assets/scss/breakpoints";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

// color map
$colors: (
  "yellow": var(--undpds-color-yellow),
  "red": var(--undpds-color-red),
  "green": var(--undpds-color-green),
  "blue": var(--undpds-color-azure),
);

/* statscard start */
.stats-card {
  @include transition(300ms all);

  background-color: var(--undpds-color-gray-200);
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding: var(--undpds-spacing-08);

  @include devicebreak(small) {
    max-width: 21.938rem;
  }

  h3 {
    font-weight: 600;
    margin-bottom: var(--undpds-spacing-08);

    @include devicebreak(medium) {
      margin-bottom: var(--undpds-spacing-11);
    }
  }

  h2 {
    @include transition(300ms all);

    color: var(--undpds-color-gray-200);
    font-family: var(--undpds-font-family-sohnebreit);
    font-weight: 700;
    font-size: var(--undpds-spacing-11);
    letter-spacing: 0.05rem;
    line-height: 1.1;
    margin-bottom: var(--undpds-spacing-06);
    text-shadow:
      -1px -1px 0 var(--undpds-color-black),
      1px -1px 0 var(--undpds-color-black),
      -1px 1px 0 var(--undpds-color-black),
      1px 1px 0 var(--undpds-color-black);

    @supports (-webkit-text-stroke: 2px var(--undpds-color-black)) {
      text-shadow: none;
      -webkit-text-stroke: 2px var(--undpds-color-black);
    }

    @include devicebreak(medium) {
      font-size: 6.875rem;
      line-height: 1.09;
      margin-bottom: var(--undpds-spacing-07);
    }
  }

  h4 {
    letter-spacing: 0;
    line-height: 1.15;
    margin-bottom: var(--undpds-spacing-03);

    @include devicebreak(medium) {
      margin-bottom: var(--undpds-spacing-05);
    }
  }

  p {
    margin: 0;

    @include devicebreak(medium) {
      font-size: var(--undpds-font-size-25);
    }
  }

  &.x-large {
    padding: var(--undpds-spacing-08);

    @include devicebreak(medium) {
      max-width: 42.75rem;
      padding: var(--undpds-spacing-12);
    }

    h2 {
      font-size: var(--undpds-spacing-90);

      @include devicebreak(medium) {
        font-size: 7.5rem;
      }
    }

    h3 {
      font-size: var(--undpds-spacing-08);
      font-weight: 700;

      @include devicebreak(medium) {
        font-size: 3.438rem;
      }
    }

    h4 {
      font-weight: 600;

      @include devicebreak(small) {
        font-size: 1.875rem;
      }
    }
  }

  &.large {
    @include devicebreak(medium) {
      max-width: 28rem;
      padding: var(--undpds-spacing-12) var(--undpds-spacing-10);
    }
  }

  &.medium {
    padding: var(--undpds-spacing-09);

    @include devicebreak(medium) {
      max-width: var(--undpds-spacing-330);

      h4 {
        font-weight: 600;
      }
    }

    p {
      font-size: var(--undpds-font-size-20);
    }
  }

  &.small {
    max-width: 10.625rem;
    padding: var(--undpds-spacing-06);

    @include devicebreak(medium) {
      max-width: 13.25rem;
      padding: var(--undpds-spacing-07);
    }

    h2 {
      font-size: var(--undpds-spacing-50);
      height: var(--undpds-spacing-10);
      white-space: nowrap;

      @include devicebreak(medium) {
        font-size: var(--undpds-spacing-70);
      }
    }

    h4 {
      font-size: var(--undpds-font-size-20);

      @include devicebreak(medium) {
        font-size: var(--undpds-font-size-25);
      }
    }

    p {
      font-size: var(--undpds-font-size-14);
      word-break: normal;

      @include devicebreak(medium) {
        font-size: var(--undpds-font-size-16);
      }
    }
  }

  &:hover {
    background-color: var(--undpds-color-yellow);

    & h2 {
      color: var(--undpds-color-black);
    }

    @each $name, $color in $colors {
      &.accent-#{$name},
      &.#{$name} {
        background-color: #{$color};
      }
    }
  }
}

// Apply full-width style when max-width is set to "No"
.stats-card.full-width {
  max-width: none;
  width: 100%;
  padding: var(--undpds-spacing-08);
}

.stats-card.full-width {
  @include devicebreak(small) {
    width: 100%;
  }

  @include devicebreak(medium) {
    width: 100%;
  }
}

@each $name, $color in $colors {
  .accent-#{$name} div.stats-card {
    &:hover {
      background-color: #{$color};

      @each $name2, $color2 in $colors {
        &.accent-#{$name2},
        &.#{$name2} {
          background-color: #{$color2};
        }
      }
    }
  }
}

:lang(my) {
  div.stats-card {
    h2 {
      font-family: var(--undpds-font-family-notosans);
    }
  }
}

#{$cyrillic} {
  div.stats-card {
    h2 {
      font-family: var(--undpds-font-family-proximanova);
    }
  }
}

:lang(ro) {
  .stats-card h3,
  .stats-card h4 {
    font-weight: 700 !important;
  }
}
