@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* statscard start */
 div.stats-card {
  @include transition(300ms all);

  background-color: $color-gray-200;
  box-sizing: border-box;
  word-break: break-all;

  @include devicebreak(small) {
    max-width: 351px;
    padding: $spacing-40;
  }

  h3 {
    font-weight: 600;
    margin-bottom: $spacing-40;

    @include devicebreak(medium) {
      margin-bottom: $spacing-80;
    }
  }

  h2 {
    @include transition(300ms all);

    color: $color-gray-200;
    font-family: $Font-Family-SohneBreit;
    font-size: 5rem;
    letter-spacing: 0.05rem;
    line-height: 1.1;
    margin-bottom: $spacing-24;
    text-shadow:
      -1px -1px 0 $color-black,
      1px -1px 0 $color-black,
      -1px 1px 0 $color-black,
      1px 1px 0 $color-black;

    @supports (-webkit-text-stroke: 2px $color-black) {
      text-shadow: none;
      -webkit-text-stroke: 2px $color-black;
    }

    @include devicebreak(medium) {
      font-size: 6.875rem;
      line-height: 1.09;
      margin-bottom: $spacing-32;
    }
  }

  h4 {
    letter-spacing: 0;
    line-height: 1.15;
    margin-bottom: $spacing-08;

    @include devicebreak(medium) {
      margin-bottom: $spacing-16;
    }
  }

  p {
    margin: 0;

    @include devicebreak(medium) {
      font-size: $font-size-25;
    }
  }

  &.x-large {
    padding: $spacing-40;

    @include devicebreak(medium) {
      max-width: 684px;
      padding: $spacing-96;
    }

    h2 {
      font-size: 5.625rem;

      @include devicebreak(medium) {
        font-size: 7.5rem;
      }
    }

    h3 {
      font-size: $spacing-40;
      font-weight: 700;

      @include devicebreak(medium) {
        font-size: 3.438rem;
      }
    }

    h4 {
      font-weight: 600;

      @include devicebreak(small) {
        font-size: 1.875rem;
      }
    }
  }

  &.large {
    @include devicebreak(medium) {
      max-width: 448px;
      padding: $spacing-96 $spacing-64;
    }
  }

  &.medium {
    padding: $spacing-48;

    @include devicebreak(medium) {
      max-width: 330px;

      h4 {
        font-weight: 600;
      }
    }

    p {
      font-size: $font-size-20;
    }
  }

  &.small {
    max-width: 170px;
    padding: $spacing-24;

    @include devicebreak(medium) {
      max-width: 212px;
      padding: $spacing-32;
    }

    h2 {
      font-size: 3.125rem;

      @include devicebreak(medium) {
        font-size: 4.375rem;
      }
    }

    h4 {
      font-size: $font-size-20;

      @include devicebreak(medium) {
        font-size: $font-size-25;
      }
    }

    p {
      font-size: $font-size-14;

      @include devicebreak(medium) {
        font-size: $font-size-16;
      }
    }
  }

  &:hover {
    // color map
    $colors: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'blue': $color-azure);
    background-color: $color-yellow;

    & h2 {
      color: $color-black;
    }
    
    @each $name, $color in $colors {
      &.#{$name} {
        background-color: #{$color};
      }
    }    
  }
}
