@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

$backgroundcolors: (
  'yellow': $color-yellow,
  'red': $color-red,
  'green': $color-green,
  'blue': $color-azure,
  'gray': $color-gray-100
);

.stats-slider {
  .stats-card.small {
    max-width: 100%;

    &:hover {
      //background-color: $color-yellow;

      @each $name,
      $color in $backgroundcolors {
        &.#{$name} {
          background-color: #{$color};
        }
      }
    }
  }

  .swiper-scrollbar {
    @include devicebreak(medium) {
      padding-right: $spacing-44;
    }
  }
}

[dir='rtl'] {
  .stats-slider {
    &.swiper-initialized {
      .swiper-scrollbar {
        @include devicebreak(medium) {
          padding-left: $spacing-44;
        }
      }
    }
  }
}