@use '../../assets/scss/breakpoints';
@use '../../assets/scss/variables';

$backgroundcolors: (
  'yellow': variables.$color-yellow,
  'red': variables.$color-red,
  'green': variables.$color-green,
  'blue': variables.$color-azure,
  'gray': variables.$color-gray-100
);

.stats-slider {
  .stats-card.small {
    max-width: 100%;

    &:hover {
      //background-color: $color-yellow;

      @each $name,
      $color in $backgroundcolors {
        &.#{$name} {
          background-color: #{$color};
        }
      }
    }
  }

  .swiper-scrollbar {
    @include breakpoints.devicebreak(medium) {
      padding-right: variables.$spacing-44;
    }
  }
}

[dir='rtl'] {
  .stats-slider {
    &.swiper-initialized {
      .swiper-scrollbar {
        @include breakpoints.devicebreak(medium) {
          padding-left: variables.$spacing-44;
        }
      }
    }
  }
}