@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* icon start */

.icon--bar {
  cursor: pointer;
}

.arrow-expand {
  @include transform (translateX(0));

  background: url(#{$img-path-Icon}/arrow-left-expand-defaut.svg) no-repeat center center;
  cursor: pointer;
  height: 16px;
  width: 20px;

  &:hover {
    @include transform (translateX(10px));
    @include transition (transform 0.4s);

    background: url(#{$img-path-Icon}/arrow-left-expand-hover.svg) no-repeat center center;
    width: 100px;
  }
}

.external-link {
  background: url(#{$img-path-Icon}/external-default.svg) no-repeat 0 bottom;
  cursor: pointer;
  height: 20px;
  width: 21px;

  &:hover {
    background: url(#{$img-path-Icon}/external-hover.svg) no-repeat 0 bottom;
  }
}

.download-icon {
  background: url(#{$img-path-Icon}/download-default.svg) no-repeat 0 bottom;
  cursor: pointer;
  height: 24px;
  width: 24px;

  &:hover {
    background: url(#{$img-path-Icon}/download-hover.svg) no-repeat 0 bottom;
    height: 24px;
  }
}

[dir='rtl'] {
  .arrow-expand {
    @include transform(translate(0) rotate(180deg));

    &:hover {
      @include transform(translate(-10px) rotate(180deg));
    }
  }

  .external-link {
    @include transform(rotate(270deg));

    &:hover {
      @include transform(rotate(270deg));
    }
  }
}

/* icon end */
