@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer condition start *//
.footer-lists {
  padding-left: 0;

  @include devicebreak(medium) {
    max-width: 690px;
    text-align: right;
  }

  @include devicebreak(small) {
    margin: 0 $spacing-16 $spacing-32;
  }

  li {
    list-style: none;
    margin-bottom: $spacing-12;
    padding-left: 0;

    @include devicebreak(medium) {
      display: inline-flex;
      margin-bottom: 1.125rem;
      margin-left: 2.25rem;
    }

    a {
      @extend %footerlink;
    }
  }

  &.inverted {
    a {
      @extend %footerlinkinvert;
    }
  }
}

[dir='rtl'] {
  .footer-lists {
    padding-right: 0;
    @include devicebreak(medium) {
      text-align: left;
    }

    li {
      padding-right: 0;

      @include devicebreak(medium) {
        margin-left: 0;
        margin-right: 2.25rem;
      }
    }
  }
}

//burmese lang
:lang(my) {
  .footer-lists {
    li {
      a {
        line-height: 1.9;
      }
    }
  }
}
// * footer condition end *//
