@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer condition start *//
.footer__condition_text {
  padding-left: 0;

  @include devicebreak(medium) {
    float: right;
    max-width: 690px;
    text-align: right;
  }

  li {
    list-style: none;
    margin-bottom: $spacing-12;

    @include devicebreak(medium) {
      display: inline-flex;
      margin-bottom: 1.125rem;
      margin-left: 2.25rem;
      text-align: right;
    }

    a {
      @extend %footerlink;
    }
  }

  &.inverted {
    a {
      @extend %footerlinkinvert;
    }
  }
}

[dir='rtl'] {
  .footer__condition_text {
    padding-right: 0;
  }
}

//burmese lang
:lang(my) {
  .footer__condition_text {
    li {
      a {
        line-height: 1.9;
      }
    }
  }
}
// * footer condition end *//
