@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer condition start *//
.footer__condition_text {
  padding-left: 0;

  @include devicebreak(medium) {
    float: right;
    max-width: 690px;
    text-align: right;
  }

  li {
    list-style: none;
    margin-bottom: $spacing-12;

    @include devicebreak(medium) {
      display: inline-flex;
      margin-bottom: 1.125rem;
      margin-left: 2.25rem;
      text-align: right;
    }

    a {
      @extend %img_none;

      border-bottom: 0;
      font-size: $font-size-16;
      line-height: 1.4;
    }
  }

  &.white {
    a {
      color: $color-white;
    }
  }
}

[dir='rtl'] {
  .footer__condition_text {
    padding-right: 0;
    text-align: right;
  }
}
// * footer condition end *//
