.article-authors {

    .authors-container {
        @include breakpoint(medium) {
            &.one-author .authors-information {
                margin-left: 0;
                margin-right: 1.6rem;
            }
        }

        .author-item.no-image .author-info {
            margin-right: 0;
        }
    }

    .author-info {
        margin-left: 0;
        margin-right: 20px;
    }
}
