.article-text {

    ul {
        padding-right: 0;
    }

    li {
        padding-left: 0;
        padding-right: 35px;

        &:before {
            right: 0;
            left: auto;
        }
    }

    h3 {
        margin-left: auto;
        margin-right: -14.5%;

        @include breakpoint(medium down) {
            margin-right: 0;
        }
    }
}
