$page-margin-top: calc(#{$nav-desktop-height} + #{$progress-bar-height});
$page-mobile-margin-top: calc(#{$nav-mobile-height} + #{$progress-bar-mobile-height});

.article-deepdive {
    padding: 48px 0 18.5px;
    margin: $page-margin-top auto 0;

    @include breakpoint(medium down) {
        margin-top: $page-mobile-margin-top;
    }

    @include breakpoint(small only) {
        padding: 26px 0 12px;
    }

    .breadcrumb {
        color: $red;
    }
}
