.article-deepdive {
    padding: 48px 0 18.5px;
    margin: $height-nav auto 0;

    @include breakpoint(medium down) {
        margin-top: $height-nav-medium;
    }

    @include breakpoint(small only) {
        padding: 26px 0 12px;
    }

    .breadcrumb {
        color: $red;
    }

    .center-children > * {
        margin: 0 auto;
    }
}
