.article-deepdive {
    padding: 48px 0 19px;
    margin-top: $nav-desktop-height;

    @include breakpoint(medium down) {
        margin-top: $nav-mobile-height;
    }

    @include breakpoint(small only) {
        padding: 26px 0 12px;
    }
}
