.author-page {
    padding: 48px 0 89px;
    margin: $nav-desktop-height auto 0;

    @include breakpoint(large down) {
        padding: 26px 0 67px;
        margin-top: $nav-mobile-height;
    }

    .breadcrumb {
        color: $red-1;
    }

    .author-cards {
        margin-top: 133px;

        @include breakpoint(large down) {
            margin-top: 66px;
        }

        .cards-container {
            margin-top:57px;

            @include breakpoint(large down) {
                margin-top: 89px;
            }
        }

        .cta-button {
            margin-top: 70px;

            @include breakpoint(large down) {
                margin-top: 58px;
            }
        }
    }

    .explore-more {
        margin-top: 147px;

        @include breakpoint(medium down) {
            margin-top: 113px;
        }

        .cta-button {
            @include breakpoint(medium up) {
                margin-top: 86px;
            }
        }

        .cards-container {
            margin-top: 71px;

            @include breakpoint(medium down) {
                margin-top: 48px;
            }

            .single-content-card-image {
                margin-top: 0;
            }
        }
    }
}
