.docs {
    // 250 is the size of off-canvas for medium up
    padding-left: 250px;

    @include breakpoint(small only) {
        padding: 0;
    }

    .header {
        width: 100%;
        height: 70px;
        padding: 10px 15px;

        .hamburger-line {
            min-height: 2px;
        }
    }

    .side-bar {
        font-size: 1.2rem;
        padding: 20px 15px;
        text-transform: capitalize;

        @include breakpoint(small only) {
            top: $nav-mobile-height;
        }
    }

        .accordion-menu {
            margin-top: 10px;

            .menu-item {
                font-weight: $bold;

                &:hover {
                    background-color: $dark-blue-4;
                }
            }

            .nested {
                li {
                    &:hover {
                        background-color: $dark-blue-4;
                    }
                }
            }
        }

        .docs-container {
            padding: 50px 15px;

            @include breakpoint(small only) {
                padding: calc(#{$nav-mobile-height} + 30px) 15px 50px 15px;
            }

            .panel {
                .title {
                    margin-bottom: 10px;
                }
            }
        }
    }