.project-page {
    padding-bottom: 89px;
    margin: $nav-desktop-height auto 0;

    @include breakpoint(small only) {
        margin: $nav-mobile-height auto 0;
    }

    // For IE 11 (media is a hack to check for IE 10+)
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        overflow: hidden;
    }

    .explore-more {
        margin-top: 245px;

        @include breakpoint(small only) {
            margin-top: 150px;
        }

        .copy-text {
            margin-top: 70px;

            @include breakpoint(medium down) {
                margin-top: 50px;
            }
        }
    }

    .related-table {
        background: none;
    }

    .listed-stats {
        margin-top: 0;
        padding-top: 100px;
        background: $dark-blue-7;

        .heading-stats-items {
            border-bottom: none;
        }
    }
}
