.project-page {
    padding-bottom: 89px;
    margin: $nav-desktop-height auto 0;

    .headline-text {
        margin-top: 90px;

        @include breakpoint(medium down) {
            margin-top: 75px;
        }

        .copy-text {
            margin-top: 70px;

            @include breakpoint(medium down) {
                margin-top: 50px;
            }
        }
    }

    .featured-callout {
        color: $white;
        margin-top: 70px;
        padding-top: 150px;
        padding-bottom: 130px;
        background: $dark-blue-1;

        @include breakpoint(medium down) {
            padding-top: 100px;
        }

        .big-copy {
            color: $white;
        }

        .featured-copy {

            @include breakpoint(medium down) {
                margin-top: 40px;
            }

            li {
                margin-top: 40px;
            }
        }
    }

    .related-table {
        margin-top: 90px;
        padding-bottom: 115px;
        background: $dark-blue-7;

        .link-list {
            margin-top: 45px;

            @include breakpoint(medium down) {
                margin-top: 0;
            }

            .link-item {
                margin-top: 50px;
                padding-bottom: 35px;
                border-bottom: 1px solid $black;

                @include breakpoint(medium down) {
                    padding-bottom: 22px;
                }

                a {
                    text-decoration: underline;
                    text-decoration-color: $red;
                }
            }
        }
    }

    .listed-stats {
        margin-top: 100px;

        .heading-stats-text {
            padding-bottom: 55px;
            border-bottom: 2px solid $black;
        }

        .heading-stats-items {
            margin-top: 60px;

            @include breakpoint(medium down) {
                margin-top: 15px;
            }

            .big-column {
                padding-left: 30px;

                @include breakpoint(medium down) {
                    padding-left: 0;
                }
            }

            .stat-item-container {
                @include breakpoint(small only) {
                    padding-bottom: 40px;
                    border-bottom: 1px solid $dark-blue-19;
                }
            }

            .stat-item {
                margin-top: 35px;

                .heading-item {
                    font-weight: $bold;
                    text-transform: uppercase;
                }

                .body-text-item {
                    margin-top: 15px;
                }
            }
        }
    }
}
