.styleguide {
    padding: 100px 0;
    margin-top : calc(#{$nav-desktop-height} + 50px);

    .heading {
        .title {
            margin-top: 100px;
        }

        table {
            margin-top: 80px;
        }
    }

    .heading-bg-dark {
        padding: 135px 0;
        margin-top: 100px;
        background-color: $dark-blue-1;

        table {
            border: none;
            margin-top: 80px;
            background-color: $dark-blue-1;

            thead,
            tbody {
                background-color: transparent;

                tr {
                    &:nth-child(even) {
                        background-color: transparent;
                    }
                }
            }
        }

        &.red{
            margin-top: 0;
            background-color: $red-1;

            table{
                background-color: $red-1;
            }
        }
    }

    .filters {
        margin-top: 105px;

        .filter-bg-light {
            padding-bottom: 105px;
        }
        .filters-bg-dark{
            padding-top: 105px;
            padding-bottom: 105px;
            background: $dark-blue-1;
        }
    }

    .bg-dark {
        background-color: $dark-blue-1;
    }

    .custom-select {
        margin-top: 105px;

        .custom-cell {
            padding: 100px 100px 300px;
        }

        .bg-dark {
            background: $dark-blue-1;
        }
    }
}
