.the-sdgs {
    .sustainable-developments {
        padding: 170px 0;

        @include breakpoint(small only) {
            padding: 112px 0;

            .cell:not(:first-child) {
                @include breakpoint(small only) {
                    margin-top: 68px;
                }
            }
        }
    }
}

.modal-sdgs {
    height: 1px;
    width: 100%;
    position: fixed;
    top: $height-nav;
    z-index: $z-index-modal;
    backdrop-filter: blur(30px);
    background-color: rgba($white, 0.9);
    min-height: calc(100vh - #{$height-nav});

    @supports ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
        background-color: transparent;
    }

    @include breakpoint(medium down){
        top: $height-nav-medium;
        min-height: calc(100vh - #{$height-nav-medium})
    }

    @include breakpoint(small only) {
        padding-left: 25px;
    }

    .grid-container {
        padding: 0;
    }


    .modal-header {
        padding-top: 60px;

        @include breakpoint(small only){
            padding: 20px 20px 0 0;
            background-color: $white;
            justify-content: flex-end;
        }

        .btn-close {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $dark-blue-7;
        }
    }

    .modal-content {
        height: 100%;
        background-color: $white;
    }
}
