@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

/* Tab start */
.tabs {
  ul {
    background-color: $color-white;
    border-bottom: 2px solid $color-gray-300;
    list-style: none;
    padding-left: 0;

    @include devicebreak(medium) {
      padding-left: $spacing-09;
    }

    li {
      border-bottom: 2px solid transparent;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 0.03em;
      margin-bottom: -0.125rem;
      margin-right: $spacing-06;
      margin-top: 0.75rem;
      padding-bottom: $spacing-03;
      text-transform: uppercase;
      padding-left: 0;

      &.is-active {
        border-bottom: 2px solid $color-dark-red;
      }

      &:hover {
        @include devicebreak(large) {
          border-bottom: 2px solid $color-gray-500;
        }
      }

      a {
        @extend %img_none;
        font-size: $font-size-16;
      }
    }
  }

  .tabs-content {
    background-color: $color-white;

    .tabs-panel {
      display: none;

      &.is-active {
        display: inherit;
      }

      p {
        margin-top: $spacing-05;

        @include devicebreak(medium) {
          margin-top: 2.5rem;
        }
      }
    }
  }
}

[dir="rtl"] {
  .tabs {
    ul {
      padding-right: 0;

      @include devicebreak(medium) {
        padding-right: $spacing-09;
      }

      li {
        margin-left: $spacing-06;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

/* Tab end */
