@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* Tab start */
.tabs {
  >ul {
    background-color: var(--undpds-color-background-default);
    border-bottom: 2px solid var(--undpds-color-gray-300);
    list-style: none;
    padding-left: 0;

    @include devicebreak(medium) {
      padding-left: var(--undpds-spacing-09);
    }

    li {
      border-bottom: 2px solid transparent;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 0.03em;
      margin-bottom: -0.125rem;
      margin-right: var(--undpds-spacing-06);
      margin-top: 0.75rem;
      padding-bottom: var(--undpds-spacing-03);
      padding-left: 0;
      text-transform: uppercase;

      &.is-active {
        border-bottom: 2px solid var(--undpds-color-dark-red);
      }

      &:hover {
        @include devicebreak(large) {
          border-bottom: 2px solid var(--undpds-color-gray-500);
        }
      }

      a {
        @extend %img_none;

        font-size: var(--undpds-font-size-16);
      }
    }
  }

  .tabs-content {
    background-color: var(--undpds-color-background-default);

    .tabs-panel {
      display: none;
      padding-top: var(--undpds-spacing-05);

      @include devicebreak(medium) {
        padding-top: 2.5rem;
      }

      &.is-active {
        display: inherit;
      }
    }
  }
}

[dir='rtl'] {
  .tabs {
    >ul {
      padding-right: 0;

      @include devicebreak(medium) {
        padding-right: var(--undpds-spacing-09);
      }

      li {
        margin-left: var(--undpds-spacing-06);
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

/* Tab end */