@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';
@use '../../../assets/scss/mixins';

/* Tab start */
.tabs {
  >ul {
    background-color: variables.$color-white;
    border-bottom: 2px solid variables.$color-gray-300;
    list-style: none;
    padding-left: 0;

    @include breakpoints.devicebreak(medium) {
      padding-left: variables.$spacing-09;
    }

    li {
      border-bottom: 2px solid transparent;
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      letter-spacing: 0.03em;
      margin-bottom: -0.125rem;
      margin-right: variables.$spacing-06;
      margin-top: 0.75rem;
      padding-bottom: variables.$spacing-03;
      padding-left: 0;
      text-transform: uppercase;

      &.is-active {
        border-bottom: 2px solid variables.$color-dark-red;
      }

      &:hover {
        @include breakpoints.devicebreak(large) {
          border-bottom: 2px solid variables.$color-gray-500;
        }
      }

      a {
        @extend %img_none;

        font-size: variables.$font-size-16;
      }
    }
  }

  .tabs-content {
    background-color: variables.$color-white;

    .tabs-panel {
      display: none;
      padding-top: variables.$spacing-05;

      @include breakpoints.devicebreak(medium) {
        padding-top: 2.5rem;
      }

      &.is-active {
        display: inherit;
      }
    }
  }
}

[dir='rtl'] {
  .tabs {
    >ul {
      padding-right: 0;

      @include breakpoints.devicebreak(medium) {
        padding-right: variables.$spacing-09;
      }

      li {
        margin-left: variables.$spacing-06;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

/* Tab end */