@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* Tab start */
.tab__items {
  border-bottom: 2px solid $color-gray-300;
  list-style: none;
  padding-left: $spacing-48;

  .tab__item {
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: -0.125rem;
    margin-right: $spacing-24;
    padding-bottom: $spacing-08;
    text-transform: uppercase;

    &.active {
      border-bottom: 2px solid $color-dark-red;
    }
    a {
      @extend %img_none;
      
      font-size: $font-size-16;
    }
  }
}

.tab__content {
  display: none;

  &.active {
    display: inherit;
  }

  p {
    margin-top: 2.5rem;
  }
}

[dir='rtl'] {
  .tab__items {
    padding-left: 0;
    padding-right: $spacing-48;

    li {
      margin-left: $spacing-24;
      margin-right: 0;
    }
  }
}

/* Tab end */
