.featured-publication {

    .publication-text-container {
        margin-top: 90px;
        padding-right: 120px;

        @include breakpoint(medium only) {
            padding-right: 50px;
        }

        @include breakpoint(small only) {
            padding: 0 26px;
            margin-top: 50px;

            .heading.h2 {
                display: none;
            }
        }

        .tag-text {
            margin-top: 30px;
        }

        .publication-title {
            margin-top: 25px;
        }

        .publication-body {
            margin-top: 30px;
        }

        .tags-container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            padding-bottom: 20px;
            border-bottom: 2px solid $black;

            .tag-item {
                width: 60px;
                margin-right: 20px;
            }
        }
    }
}
