.featured-publication {

    .publication-text-container {
        margin-top: 90px;
        padding-right: 120px;

        @include breakpoint(medium only) {
            padding-right: 50px;
        }

        @include breakpoint(small only) {
            padding: 0 26px;
            margin-top: 50px;

            .heading.h2 {
                display: none;
            }
        }

        .tag-text {
            margin-top: 30px;
        }

        .publication-title {
            margin-top: 25px;
        }

        .publication-body {
            margin-top: 30px;
        }

        .tags-container {
            display: flex;
            margin-top: 30px;
            flex-wrap: nowrap;
            padding-bottom: 20px;
            border-bottom: 2px solid $black;

            .flex-container {
                flex-wrap: wrap;
                margin-left: -5px;
            }

            .tag-item {
                margin-left: 5px;
                font-size: 1.6rem;
                line-height: 2.2rem;

                .tag-link {
                    @extend .animated-underline // from _animations.scss
                }
            }

            .tags-label {
                line-height: 2rem;
                margin-right: 13px;
            }
        }
    }
}
