@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.breadcrumb__wrapper {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-12;
  padding: 0;

  li {
    display: inline-block;
    margin: $spacing-12;
    position: relative;

    &::after {
      color: $color-dark-red;
      content: '/';
      font-weight: bold;
      position: absolute;
      right: -12px;
      top: 0;
    }

    .last-item {
      color: $color-black;
      display: block;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      width: 60px;

      @include devicebreak(medium) {
        overflow: inherit;
        width: inherit;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
    a {
     font-weight: 600;
      font-size: $font-size-12;
      text-transform: uppercase;
      color: $color-dark-red;
      @extend %border-none;
      @extend %img_none;
      &:hover {
        color: $color-red;
      }
    }
  }

  &.white {
    li {
      &::after {
        color: $color-white;
      }
      a {
        color: $color-white;

        &:hover {
          color: $color-white;
        }
      }
    }
    &:last-child, li:last-child {
      color: $color-white;
    }
  }
  &:last-child li:last-child {
    display: block;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 60px;
    @include devicebreak(medium) {
      overflow: inherit;
      width: inherit;
    }
  }
  &--Default {
    &:last-child, li:last-child {
      color: $color-black;
    }
  }
}

[dir='rtl'] {
  .breadcrumb__wrapper {
    li {
      a {
        margin: 0;
      }

      &:first-child {
        margin-left: $spacing-12;
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0;
        margin-right: $spacing-12;
      }

      &::after {
        @include transform(translate(0,-63%) rotate(120deg));

        left: -12px;
        right: unset;
        top: 63%;
      }
    }
  }
}
