@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/breakpoints';

.cta__link {
  @extend %button;
  @extend %img_none;

  color: $color-black;

  &.cta--arrow {
    @extend %chevron-right-expanded;
  }

  &.cta--space {
    &::after {
      @extend %ctaimg;

      @include transition(0.2s ease);

      background: url(#{$img-path-Iconfourback}/arrow-left-expand-defaut.svg) no-repeat left center;
    }

    &:hover {
      &::after {
        @include translate(70%,0);
      }
    }
  }
}

[dir='rtl'] {
  .cta__link {
    &.cta--space {
      &::after {
        @include transform(rotate(180deg));

        margin-left: 0;
        margin-right: $spacing-12;
      }

      &:hover::after {
        @include transform(translate(-50%,0) rotate(180deg));
      }
    }

    &.cta--arrow {
      i {
        left: 0;
        right: 1.25rem;
        @include transform(translate(0) rotate(180deg));

        &:hover {
          @include transform(translate(-10px) rotate(180deg));
        }
      }
    }
  }
}
