@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.download {
  &-row {
    background-color: $color-white;
    padding: 0 1rem;

    &:hover {
      background-color: $color-gray-100;
    }

    &__main {
      align-items: center;
      border-bottom: 1px solid $color-gray-400;
      display: flex;
      justify-content: space-between;
    }

    &__data {
      margin: $spacing-16 0;
      padding-right: $spacing-16;

      h6 {
        font-weight: normal;
        margin: 0;
        text-transform: inherit;
      }

      span {
        color: $color-gray-500;
        font-size: $font-size-16;
      }
    }

    .external-link {
      margin: $spacing-16 0 1.188rem $spacing-16;
    }
  }
}

[dir="rtl"] {
  .download {
    &-row {
      &__data {
        padding-left: $spacing-16;
        padding-right: 0;
      }

      .external-link {
        margin-left: 0;
      }
    }

    &-icon {
      margin-left: 0;
    }
  }
}
