@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.download {
  &-row {
    background-color: $color-white;
    padding: 0 1rem;

    &:hover {
      background-color: $color-gray-100;
    }

    &__main {
      align-items: center;
      border-bottom: 1px solid $color-gray-400;
      display: flex;
      justify-content: space-between;
      position: relative;

      .form-check {
        position: absolute;
        right: 0;
      }
    }

    &__data {
      padding: $spacing-05 $spacing-07 $spacing-05 0;
      flex-grow: 1;
      font-weight: normal;
      text-transform: inherit;
      font-size: $font-size-16;
      line-height: 1.25;
      cursor: pointer;

      span {
        color: $color-gray-500;
        font-size: $font-size-16;
        display: block;
        margin-top: 4px;
        line-height: 1.4;
      }
    }

    .external-link {
      margin: $spacing-05 0 1.188rem $spacing-05;
    }
  }
}

[dir="rtl"] {
  .download {
    &-row {
      &__data {
        padding-left: $spacing-07;
        padding-right: 0;
      }

      &__main {
  
        .form-check {
          right: auto;
          left: 0;
        }
      }

      .external-link {
        margin-left: 0;
      }
    }

    &-icon {
      margin-left: 0;
    }
  }
}
