@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';
@import '../../assets/scss/breakpoints';

/* download-row start */
.selectbox-container {
  align-items: center;
  align-items: center;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-400;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: $color-gray-100;
  }

  &__data {
    font-size: $font-size-16;
    margin: $spacing-16 0;
    padding-right: $spacing-16;

    &-subtext {
      color: $color-gray-500;
    }
  }

  &__chevron {
    margin: $spacing-16 0 1.188rem $spacing-16;
    padding-right: $spacing-16;
  }

  .checkbox-wrapper {
    margin: 0;
    padding-bottom: 1.25rem;
  }
}

/* download-row end */
