@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* image only carousel start */
.image-carousel {
  overflow: hidden;

  &__image{
    max-width: 65%;
    width: auto;
    object-fit: cover;
    height: 30rem;

    @include devicebreak(large) {
      height: 38.75rem;
    }

    @include devicebreak(small) {
      max-width: 100%;
      height: 21.875rem;
    }
  }

  .glide {
    
    &__bullets{
      margin-bottom: $spacing-48;
    }

    &__arrows {
      @extend %carousel_arrows;

      align-self: flex-end;
      margin-left: 4rem;
    }

    &__arrow {
      @extend %carousel_arrow;

      &:first-child {
        margin-right: 0.75rem;
      }

      &:last-child {
        margin-left: 0.75rem;
      }

      img {
        vertical-align: bottom;
        width: 2.813rem;
      }
    }
  }
}

[dir='rtl'] {
  .image-carousel {
    .glide {
      &__arrow {
        &:first-child {
          margin-left: 0.75rem;
          margin-right: 0;

          img{
            @include transform(rotate(180deg))
          }
        }

        &:last-child {
          margin-left: 0;
          margin-right: 0.75rem;

          img{
            @include transform(rotate(-180deg))
          }
        }
      }

      &__arrows {
        margin-left: 0;
        margin-right: 4rem;
      }
    }
  }
}

/* image only carousel end */
