@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.image-only-carousel {
  &__image {
    width: 100%;
  }

  .glide {
    &__track {
      overflow: initial;
    }

    &__arrows {
      bottom: -.2rem;
      position: absolute;
      right: 5rem;

      @include devicebreak(large) {
        display: none;
      }

      @include devicebreak(small) {
        display: none;
      }
    }

    &__arrow {
      @extend %carousel_arrow;

      img {
        width: 2.813rem;
      }
    }
  }
}

[dir='rtl'] {
  .image-only-carousel {
    .glide {
      &__arrows {
        left: 5rem;
        right: auto;
      }
    }
  }
}
