@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* image only carousel start */
.image-only-carousel {
  overflow: hidden;

  .medium-8{
    img{
      width: 100%;
    }
  }

  .glide {
    &__track {
      margin-right: -100%;
    }

    &__arrows {
      align-self: flex-end;
      margin-left: 4rem;

      @extend %carousel_arrows;
    }

    &__arrow {
      @extend %carousel_arrow;

      &:first-child{
        margin-right: 0.75rem;
      }

      &:last-child{
        margin-left: 0.75rem;
      }

      img {
        vertical-align: bottom;
        width: 2.813rem;
      }
    }
  }
}

[dir='rtl'] {
  .image-only-carousel {
    .glide {
      &__track {
        margin-left: -100%;
        margin-right: 0;
      }

      &__arrow{
        &:first-child{
          margin-right: 0;
          margin-left: 0.75rem;
        }
  
        &:last-child{
          margin-left: 0;
          margin-right: 0.75rem;
        }
      }
      
      &__arrows {
        margin-right: 4rem;
        margin-left: 0;
      }
    }
  }
}

/* image only carousel end */
