@import "../../../assets/css/breakpoints";
@import "../../../assets/css/reset";
@import "../../../assets/css/variables";
@import "../../../assets/css/typography";
@import "../../../assets/css/mixins";


blockquote {
  font-family: $ProximaRegular;
  font-size: 26px;
  line-height: 29px;
  padding-bottom: 20px;
  @include devicebreak(large) {
    font-size: 35px;
    line-height: 48px;
    padding-bottom: 24px;
  }
}