@import '../../../assets/scss/variables';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/breakpoints';

/* project details start */
.project-data {
  border-bottom: 1px solid $color-gray-400;

  @include devicebreak(medium) {
    border: 0;
  }

  &__col {
    display: inline-block;
    margin-bottom: $spacing-07;
    width: 50%;

    @include devicebreak(medium) {
      width: 100%;
    }
  }

  &__label {
    display: block;
    font-size: $font-size-16;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.15;
    margin-bottom: $spacing-02;
  }

  &__text {
    color: $color-gray-700;
  }
}

/* project details end */
