@use '../../../assets/scss/variables';
@use '../../../assets/scss/breakpoints';

/* project details start */
.project-data {
  border-bottom: 1px solid var(--undpds-color-gray-400);

  @include breakpoints.devicebreak(medium) {
    border: 0;
  }

  &__col {
    display: inline-block;
    margin-bottom: var(--undpds-spacing-07);
    width: 50%;

    @include breakpoints.devicebreak(medium) {
      width: 100%;
    }
  }

  &__label {
    display: block;
    font-size: var(--undpds-font-size-16);
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.15;
    margin-bottom: var(--undpds-spacing-02);
  }

  &__text {
    color: var(--undpds-color-gray-700);
  }
}

/* project details end */