@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/breakpoints';

/* radio */
.radio-wrapper {
  display: inline-block;
  margin-right: $spacing-16;
  padding-left: $spacing-24;
  position: relative;

  input[type=radio] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 2px;

    & + label {
      cursor: pointer;

      .radio_border {
        @extend %checbox-radio-before;

        border-radius: 50%;
      }

      &:hover .radio_border {
        border-color: $color-light-pink;
      }
    }

    &:checked + label .radio_border::after {
      background: $color-dark-red;
      border-radius: 50%;
      content: '';
      height: 6px;
      left: 3px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
    }
  }
}
