@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

// * footer icons start *//
.footer__icons {
  display: flex;
  padding-left: 0;
  li {
    list-style: none;
    a {
      display: block;
      @extend %icon_img;
      width: 30px;
      height: 25px;
      border: none;
      margin-right: $spacing-24;

      &.facebook {
        background-position: -481px -64px;
      }
      &.instragram {
        background-position: -517px -64px;
      }
      &.linkedIn {
        background-position: -557px -64px;
      }
      &.twitter {
        background-position: -596px -64px;
      }
      &.youtube {
        background-position: -638px -64px;
      }
      &:hover {
        animation: inherit;
      }
    }
  }
  &--white {
    li {
      a {
      &.facebook {
        background-position: -481px -94px;
      }
      &.instragram {
        background-position: -517px -94px;
      }
      &.linkedIn {
        background-position: -557px -94px;
      }
      &.twitter {
        background-position: -596px -94px;
      }
      &.youtube {
        background-position: -638px -94px;
      }
    }
    }
  }
}
[dir="rtl"] {
  .footer__icons {
    padding-right: 0;
    li {
      a {
        margin-left: $spacing-24;
        margin-right: 0;
      }
    }
  }
}
// * footer icons end *//
