@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer icons start *//
.footer-icons {
  display: flex;
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: 0;
    padding: 0;

    a {

      $socials: ('facebook', 'instagram', 'linkedin', 'twitter', 'youtube');

      @extend %border-none;
      @extend %no-animation;

      display: block;
      font-size: 0;
      height: 20px;
      margin-right: $spacing-32;
      width: 20px;

      @each $name in $socials {
        &.#{$name} {
          background: url(#{$img-path-Icon}/#{$name}-white.svg) no-repeat center bottom;
        }
      }
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }

  &.inverted {
    li {
      a {
        $socials: ('facebook', 'instagram', 'linkedin', 'twitter', 'youtube');

        @each $name in $socials {
          &.#{$name} {
            background: url(#{$img-path-Icon}/#{$name}.svg) no-repeat center bottom;
          }
        }
      }
    }
  }
}

[dir='rtl'] {
  .footer-icons {
    padding-right: 0;

    li {
      padding: 0;
      
      a {
        margin-left: $spacing-32;
        margin-right: 0;
      }

      &:last-child {
        a {
          margin-left: 0;
        }
      }
    }
  }
}
// * footer icons end *//
