@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer icons start *//
.footer__icons {
  display: flex;
  padding-left: 0;

  li {
    list-style: none;

    a {
      @extend %border-none;
      @extend %no-animation;

      display: block;
      font-size: 0;
      height: 20px;
      margin-right: $spacing-24;
      width: 20px;

      &.facebook {
        background: url(#{$img-path-Icon}/facebook.svg) no-repeat center bottom;
      }

      &.instragram {
        background: url(#{$img-path-Icon}/instagram.svg) no-repeat center bottom;
      }

      &.linkedin {
        background: url(#{$img-path-Icon}/linkedIn.svg) no-repeat center bottom;
      }

      &.twitter {
        background: url(#{$img-path-Icon}/twitter.svg) no-repeat center bottom;
      }

      &.youtube {
        background: url(#{$img-path-Icon}/youtube.svg) no-repeat center bottom;
      }
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }

  &.white,
  &.blue {
    li {
      a {
        &.facebook {
          background: url(#{$img-path-Icon}/facebook-white.svg) no-repeat center bottom;
        }

        &.instragram {
          background: url(#{$img-path-Icon}/instagram-white.svg) no-repeat center bottom;
        }

        &.linkedin {
          background: url(#{$img-path-Icon}/linkedin-white.svg) no-repeat center bottom;
        }

        &.twitter {
          background: url(#{$img-path-Icon}/twitter-white.svg) no-repeat center bottom;
        }

        &.youtube {
          background: url(#{$img-path-Icon}/youtube-white.svg) no-repeat center bottom;
        }
      }
    }
  }
}

[dir='rtl'] {
  .footer__icons {
    justify-content: start;
    padding-right: 0;

    li {
      a {
        margin-left: $spacing-24;
        margin-right: 0;
      }

      &:last-child {
        a {
          margin-left: 0;
        }
      }
    }
  }
}
// * footer icons end *//
