@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * Slidebar Second level start *//
.sidebar__sub-item {
  @extend %paragragh-font-16;

  padding: $spacing-16 $spacing-24 $spacing-16 $spacing-32;

  @include devicebreak(medium) {
    padding-left: $spacing-48;
  }

  &:hover {
    background-color: $color-gray-200;
  }
}
// * Slidebar Second level end *//
