.country-hero-2 {
    overflow: hidden;

    .subtitle-block:before {
        left: auto;
        right: -70px;

        @include breakpoint(medium down) {
            right: 0;
        }
    }

    .glide__track {
        margin-left: 0;
        margin-right: -24px;
    }
}
