.country-hero-3 {
    .left-bar {
        right: auto;
        left: calc(100% - 58px);
    }

    .hero-container {
        .article-container {
            .article-image {
                padding-right: 40px;
            }
        }
    }

}

