.country-hero-3 {
    overflow: hidden;

    .left-bar {
        right: auto;
        left: calc(100% - 58px);

        @include breakpoint(medium down) {
            left: calc(100% - 13px);
        }
    }

    .hero-container {

        @include breakpoint(medium down) {
            padding-left: 0;
            padding-right: 35px;
        }

        .article-container {
            .article-image {
                padding-right: 40px;
            }
        }
    }

}

