.country-hero-2 {
    overflow: hidden;

    .subtitle-block:before {
        left: auto;
        right: -70px;

        @include breakpoint(medium down) {
            right: 0;
        }
    }

    .images-block {
        .cta-button .btn {
            margin: 190px auto 0 0;

            @include breakpoint(medium down) {
                margin: 25px 0 0 auto;
            }
        }
    }

    .glide__track {
        margin-left: 0;
        margin-right: -24px;
    }
}
