.global-hero-1 {
    overflow: hidden;

    .hero-content-text {
        .title-text {
            &:after {
                right: 0;
            }
        }
    }

    .image-block {
        margin-left: 0;
        margin-right: auto;

        @include breakpoint(medium down) {
            margin-right: auto;
        }
    }
}
