.global-hero-2 {
    overflow: hidden;

    .title:after {
        @include breakpoint(small only) {
            right: 0;
            left: auto;
        }
    }

    .cta-button {
        left: 50px;
        right: auto;

        @include breakpoint(small only) {
            left: 0;
        }
    }
}
