.global-hero-1 {
    overflow: hidden;

    .hero-content-text {
        .title-text {
            &:after {
                right: 0;
            }
        }
    }

    .image-block {
        left: -24px;
        right: auto;

        @include breakpoint(medium down) {
            left: 0;
        }
    }
}
