.sdg-deep-dive-hero{
    .title {
        margin: 120px 105px 0 0;

        @include breakpoint(medium down){
            margin-right: 72px;
        }

        @include breakpoint(small only){
            margin: 0 30px 0 0;
        }
    }

    .description-container{
        padding: 70px 95px 90px 60px;

        @include breakpoint(medium down){
            padding: 70px 60px 90px 60px;
        }

        @include breakpoint(small only){
            padding: 16px 0 75px;
        }
    }
}
