@use '../../../../assets/scss/mixins';

.select-box {
  color: var(--undpds-color-black);
  display: flex;
  flex-direction: column;
  font-size: var(--undpds-font-size-32);
  height: 52px;
  max-width: 18.5rem;
  position: relative;

  &.expanded {
    button {
      &::after {
        @include mixins.transform(translateY(-50%) rotate(-180deg));
      }
    }
  }

  button {
    @extend %select_default;

    background: var(--undpds-color-white);
    display: flex;

    &::after {
      @extend %arrow;
    }
  }

  ul {
    @extend %select_option;

    @include mixins.transition(all 0.4s cubic-bezier(0.64, 0.05, 0.35, 1.05));

    background-color: var(--undpds-color-white);
    order: 1;
    position: absolute;
    top: 51px;
    z-index: 20;

    &.active {
      @extend %background-white;

      border-top: 0;
      display: block;
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0.3);
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.6);
    }

    li {
      @extend %selectoption;

      display: block;
      position: relative;

      span {
        display: block;
        font-size: var(--undpds-font-size-16);
        margin: 0 -1rem;
        padding: var(--undpds-spacing-05);

        &:hover {
          background-color: var(--undpds-color-gray-100);
        }
      }
    }
  }
}

[dir='rtl'] {
  .select-box {
    button {
      @extend %select_rtl;

      &::after {
        @extend %select_rtl_after;
      }
    }

    ul {
      padding: 0 var(--undpds-spacing-05);

      li {
        padding-right: 0;
      }
    }
  }
}

// burmese lang
:lang(my) {
  .options-container {
    top: 52px;
  }

  .select-box {
    button {
      font-family: var(--undpds-font-family-notosans);
    }
  }
}