@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/breakpoints';

.select-box {
  color: $color-black;
  display: flex;
  flex-direction: column;
  font-size: $font-size-32;
  height: 52px;
  max-width: 18.5rem;
  position: relative;

  &.expanded {
    button {
      &::after {
        @include transform(translateY(-50%) rotate(-180deg));
      }
    }
  }

  button {
    @extend %select_default;

    background: $color-white;
    display: flex;

    &::after {
      @extend %arrow;
    }
  }

  ul {
    @extend %select_option;

    @include transition(all 0.4s cubic-bezier(0.64, 0.05, 0.35, 1.05));

    background-color: $color-white;
    order: 1;
    position: absolute;
    top: 51px;
    z-index: 20;

    &.active {
      @extend %background-white;

      border-top: 0;
      display: block;
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0.3);
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.6);
    }

    li {
      @extend %selectoption;
      display: block;
      position: relative;

      span {
        display: block;
        font-size: $font-size-16;
        margin: 0 -1rem;
        padding: $spacing-05;

        &:hover {
          background-color: $color-gray-100;
        }
      }
    }
  }
}

[dir='rtl'] {
  .select-box {
    button {
      @extend %select_rtl;

      &::after {
        @extend %select_rtl_after;
      }
    }
    ul {
      padding: 0 $spacing-05;
      li{
        padding-right: 0;
      }
    }
  }
}

// burmese lang
:lang(my) {
  .options-container {
    top: 69px;
  }

  .select-box {
    button {
      font-family: $Font-Family-NotoSans;
    }
  }
}
