@import '../../assets/scss/variables';

/** blockquote component **/
.blockquote--component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 45px;
    background: #F7F7F7;
}
