@use '../../assets/scss/mixins';
@use '../../assets/scss/breakpoints';
@use '../../assets/scss/variables';

.project {
  &-page {
    margin-top: 4.688rem;
    overflow-x: hidden;
    padding-bottom: 5.563rem;

    @include breakpoints.devicebreak(medium) {
      margin-top: 5.625rem;
      padding-bottom: 5.563rem;
    }

    .copy-text {
      margin-top: 2.375rem;

      @include breakpoints.devicebreak(medium) {
        margin-top: 4.25rem;
      }
    }

    .download-card {
      min-width: 0;
      width: 100%;
    }

    .heading-big {
      ul li {
        margin-bottom: 0;
        margin-top: variables.$spacing-08;
      }

      a {
        color: variables.$color-white;
        font-size: inherit;
      }

      h4 {
        font-size: variables.$spacing-06;
      }
    }

    &-hero {

      // @include breakpoints.devicebreak(small) {
      //   padding: $spacing-04;
      // }

      // @include breakpoints.devicebreak(xlarge) {
      //   margin-top: calc($spacing-136 - 1.25rem);
      // }

      .breadcrumb {
        @include breakpoints.devicebreak(small) {
          padding-top: variables.$spacing-04;
        }
      }

      .pagehero-full {
        .content-box {
          width: auto;
        }
      }
    }

    .project-detail {
      border-bottom: none;
    }
  }

  &-impact {
    background: variables.$color-gray-100;
    margin-top: 0;
    padding-bottom: variables.$spacing-08;
    padding-top: variables.$spacing-100;

    .project-data__title {
      padding-bottom: 3.313rem;
    }

    .project-data__wrapper {
      border-bottom: none;
    }
  }

  &-material {
    padding-bottom: 7.188rem;

    h2 {
      margin-bottom: 2.813rem;
    }
  }

  &-support {
    margin-top: variables.$spacing-12;

    .stats-slider {
      margin-top: variables.$spacing-70;

      @include breakpoints.devicebreak(medium) {
        margin-top: 5.438rem;
      }

      .stats-card {
        &.small {
          align-items: center;
          display: flex;
          max-width: 100%;
          min-height: 16.875rem;

          @include breakpoints.devicebreak(medium) {
            max-width: 100%;
          }
        }

        &__box {
          padding: variables.$spacing-08 2.188rem;
        }
      }

      .swiper-scrollbar {
        @include breakpoints.devicebreak(medium) {
          padding-right: variables.$spacing-12;
        }
      }
    }

    .swiper-initialized {
      overflow: visible;
      padding-right: variables.$spacing-09;

      @include breakpoints.devicebreak(medium) {
        padding-right: 8rem;
      }
    }
  }

  &-explore {
    margin-top: 15.313rem;

    .content-data {
      margin-top: variables.$spacing-08;

      .cell {
        margin-bottom: 1.875rem;
      }
    }

    .cta-container {
      margin-top: 1.875rem;

      @include breakpoints.devicebreak(medium) {
        margin-left: 0;
        margin-top: variables.$spacing-08;
      }
    }
  }
}

[dir='rtl'] {
  .project {
    &-page {
      .large-offset-6 {
        @include breakpoints.devicebreak(medium) {
          margin-left: 0;
          margin-right: calc(50% + #{variables.$spacing-05} / 2);
        }
      }

      .large-offset-3 {
        @include breakpoints.devicebreak(medium) {
          margin-left: 0;
          margin-right: calc(25% + #{variables.$spacing-06} / 2);
        }
      }

      .large-offset-1 {
        @include breakpoints.devicebreak(medium) {
          margin-left: 0;
          margin-right: calc(8.33333% + #{variables.$spacing-06} / 2);
        }
      }

      .small-offset-1 {
        @include breakpoints.devicebreak(small) {
          margin-left: 0;
          margin-right: calc(8.33333% + #{variables.$spacing-04} / 2);
        }
      }

      &-hero {
        .breadcrumb {
          padding-left: 0;
          padding-right: variables.$spacing-05;
        }

        .pagehero-wrapper__title {
          font-size: variables.$spacing-07;

          @include breakpoints.devicebreak(medium) {
            font-size: variables.$spacing-09;
          }
        }
      }
    }

    &-support {
      .stats-slider {
        .swiper-scrollbar {
          padding-left: variables.$spacing-10;

          @include breakpoints.devicebreak(medium) {
            padding-left: 0;
            padding-right: 0;
            width: calc(100% + #{variables.$spacing-12});
          }
        }
      }

      .swiper-initialized {
        padding-left: variables.$spacing-11;
        padding-right: 0;

        @include breakpoints.devicebreak(medium) {
          padding-left: 8rem;
        }
      }
    }

    &-explore {
      .cta-container {
        @include breakpoints.devicebreak(medium) {
          margin-right: 0;
        }
      }
    }
  }
}