@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';

.project {
  &-page {
    margin-top: 4.688rem;
    overflow-x: hidden;
    padding-bottom: 5.563rem;

    @include devicebreak(medium) {
      margin-top: 5.625rem;
      padding-bottom: 5.563rem;
    }

    .copy-text {
      margin-top: 2.375rem;

      @include devicebreak(medium) {
        margin-top: 4.25rem;
      }
    }

    .download-card {
      min-width: 0;
      width: 100%;
    }

    .heading-big {
      ul li {
        margin-top: $spacing-08;
        margin-bottom: 0;
      }

      a {
        color: $color-white;
        font-size: inherit;
      }

      h4 {
        font-size: $spacing-06;
      }
    }

    &-hero {
      margin-top: $spacing-11;

      @include devicebreak(small) {
        padding: $spacing-04;
      }

      @include devicebreak(medium) {
        margin-top: $spacing-11;
      }

      @include devicebreak(xlarge) {
        margin-top: $spacing-136;
      }


      .breadcrumb {
        @include devicebreak(small) {
          padding-top: $spacing-04;
        }
      }

      .pagehero-full {
        .content-box {
          width: auto;
        }
      }
    }

    .project-detail {
      border-bottom: none;
    }
  }

  &-impact {
    background: $color-gray-100;
    margin-top: 0;
    padding-bottom: $spacing-08;
    padding-top: $spacing-100;

    .project-data__title {
      padding-bottom: 3.313rem;
    }

    .project-data__wrapper {
      border-bottom: none;
    }
  }

  &-material {
    padding-bottom: 7.188rem;

    h2 {
      margin-bottom: 2.813rem;
    }
  }

  &-support {
    margin-top: $spacing-12;

    .stats-slider {
      margin-top: $spacing-70;

      @include devicebreak(medium) {
        margin-top: 5.438rem;
      }

      .stats-card {
        &.small {
          align-items: center;
          display: flex;
          max-width: 100%;
          min-height: 16.875rem;

          @include devicebreak(medium) {
            max-width: 100%;
          }
        }

        &__box {
          padding: $spacing-08 2.188rem;
        }
      }

      .swiper-scrollbar {
        @include devicebreak(medium) {
          padding-right: $spacing-12;
        }
      }
    }

    .swiper-initialized {
      padding-right: $spacing-09;
      overflow: visible;

      @include devicebreak(medium) {
        padding-right: 8rem;
      }
    }
  }

  &-explore {
    margin-top: 15.313rem;

    .content-data {
      margin-top: $spacing-08;

      .cell {
        margin-bottom: 1.875rem;
      }
    }

    .cta-container {
      margin-top: 1.875rem;

      @include devicebreak(medium) {
        margin-left: 0;
        margin-top: $spacing-08;
      }
    } 
  }
}

[dir='rtl'] {
  .project {
    &-page {
      .large-offset-6 {
        @include devicebreak(medium) {
          margin-left: 0;
          margin-right: calc(50% + #{$spacing-05} / 2);
        }
      }

      .large-offset-3 {
        @include devicebreak(medium) {
          margin-left: 0;
          margin-right: calc(25% + #{$spacing-06} / 2);
        }
      }

      .large-offset-1 {
        @include devicebreak(medium) {
          margin-left: 0;
          margin-right: calc(8.33333% + #{$spacing-06} / 2);
        }
      }

      .small-offset-1 {
        @include devicebreak(small) {
          margin-left: 0;
          margin-right: calc(8.33333% + #{$spacing-04} / 2);
        }
      }

      &-hero {
        .breadcrumb {
          padding-left: 0;
          padding-right: $spacing-05;
        }

        .pagehero-wrapper__title {
          font-size: $spacing-07;

          @include devicebreak(medium) {
            font-size: $spacing-09;
          }
        }
      }
    }

    &-support {
      .stats-slider {
        .swiper-scrollbar {
          padding-left: $spacing-10;

          @include devicebreak(medium) {
            padding-left: 0;
            padding-right: 0;
            width: calc(100% + #{$spacing-12});
          }
        }
      }
  
      .swiper-initialized {
        padding-left: $spacing-11;
        padding-right: 0;

        @include devicebreak(medium) {
          padding-left: 8rem;
        }
      }
    }

    &-explore {
      .cta-container {
        @include devicebreak(medium) {
          margin-right: 0;
        }
      }
    }
  }
}
