// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('../fonts/ProximaNova-Regular.eot');
//     src: local('☺︎'),
//         url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
//         url('../fonts/ProximaNova-Regular.woff') format('woff'),
//         url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
//         url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }


@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/ProximaNova-Regular.eot);
    src: url(../fonts/ProximaNova-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ProximaNova-Regular.woff2) format('woff2'),
        url(../fonts/ProximaNova-Regular.woff) format('woff'),
        url(../fonts/ProximaNova-Regular.ttf) format('truetype'),
        url(../fonts/ProximaNova-Regular.svg#ProximaNova-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: 'Sohne Breit LT';
//     src: url('../fonts/SohneBreit-Dreiviertelfett.eot');
//     src: url('../fonts/SohneBreit-Dreiviertelfett.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/SohneBreit-Dreiviertelfett.woff2') format('woff2'),
//         url('../fonts/SohneBreit-Dreiviertelfett.woff') format('woff'),
//         url('../fonts/SohneBreit-Dreiviertelfett.ttf') format('truetype'),
//         url('../fonts/SohneBreit-Dreiviertelfett.svg#SohneBreit-Dreiviertelfett') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Sohne Breit';
//     src: url('../fonts/SohneBreit-Fett.eot');
//     src: url('../fonts/SohneBreit-Fett.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/SohneBreit-Fett.woff2') format('woff2'),
//         url('../fonts/SohneBreit-Fett.woff') format('woff'),
//         url('../fonts/SohneBreit-Fett.ttf') format('truetype'),
//         url('../fonts/SohneBreit-Fett.svg#SohneBreit-Fett') format('svg');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Semi Lt';
//     src: url('../fonts/ProximaNova-Semibold.eot');
//     src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
//         url('../fonts/ProximaNova-Semibold.woff') format('woff'),
//         url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
//         url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Rg';
//     src: url('../fonts/ProximaNova-Bold.eot');
//     src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
//         url('../fonts/ProximaNova-Bold.woff') format('woff'),
//         url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
//         url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Proxima Nova Lt';
//     src: url('../fonts/ProximaNova-Light.eot');
//     src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/ProximaNova-Light.woff2') format('woff2'),
//         url('../fonts/ProximaNova-Light.woff') format('woff'),
//         url('../fonts/ProximaNova-Light.ttf') format('truetype'),
//         url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }
