@import "./variables";
@import "./breakpoints";

body {
  color: $black;
  font-family: $ProximaRegular;
  font-size: 16px;
  line-height: 22px;
   @include devicebreak(x-large) {
    font-size: 20px;  
    line-height: 28px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: $ProximaRegular;
   @include devicebreak(large) {
     margin-bottom: 16px;
    }
}

h1 {
  font-size: 47px;  
  line-height: 50px;
  font-family: $SohneBold;
  @include devicebreak(large) {
    font-size: 82px;  
    line-height: 88px;
    }
  @include devicebreak(x-large) {
    font-size: 100px;  
    line-height: 88px;
  }
}

h2 {
  font-size: 40px;  
  line-height: 44px;
  font-family: $ProximaBold;
  @include devicebreak(large) {
    font-size: 45px;  
    line-height: 50px;
    }
  @include devicebreak(x-large) {
    font-size: 55px;  
    line-height: 60px;
  }
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;  
  line-height: 28px;
  font-family: $ProximaLight;
  @include devicebreak(x-large) {
    font-size: 35px;  
    line-height: 40px;
  }
}

h5 {
  font-size: 20px;  
  line-height: 22px;  
  font-family: $ProximaLight;
   @include devicebreak(x-large) {
    font-size: 25px;  
    line-height: 28px;
  }
}

h6 {
  font-family: $SohneBold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

a {
  // color: $color-primary;

  &:focus {
    // color: $color-secondary;
  }

  &:hover {
    // color: $color-secondary;
  }
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: $ProximaRegular;
  @include devicebreak(large) {
    font-size: 20px;
    line-height: 27px;
  }

}

table {
  thead {
    border: 1px solid $black;

    tr {
      td {
      }

      th {
        
      }
    }
  }

  tbody {
    border: 1px solid $black;

    tr {
      td {
        
      }

      th {
        
      }
    }
  }

  tfoot {
    border: 1px solid $black;

    tr {
      td {
        
      }

      th {
        
      }
    }
  }
}

ul,
ol {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-family: $ProximaRegular;
  @include devicebreak(small) {
    font-size: 20px;
    line-height: 27.5px;
  }
}
dl {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.25px;
  font-family: $ProximaRegular;
  @include devicebreak(small) {
    font-size: 20px;
    line-height: 27.5px;
  }
}

// base
img {
  height: auto;
  max-width: 100%;
}
