@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito+Sans&display=swap');

// COLORS
$black: #000;
$white: #fff;
$p-blue-100 : #B5D5F5;
$p-blue-200 : #94C4F5;
$p-blue-300 : #6BABEB;
$p-blue-400 : #4F95DD;
$p-blue-500 : #3288CE;
$p-blue-600 : #006EB5;
$p-blue-700 : #1F5A95;
$p-gray-100 : #FAFAFA;
$p-gray-200 : #F7F7F7;
$p-gray-300 : #EDEFF0;
$p-gray-400 : #D4D6D8;
$p-gray-500 : #A9B1B7;
$p-gray-600 : #55606E;
$p-gray-700 : #232E3D;
$light-yellow: #FFE17E;
$yellow : #FFEB00;
$dark-yellow : #FBC412;
$light-red: #FFBCB7;
$red : #EE402D;
$dark-red : #D12800;
$light-green: #B8ECB6;
$green : #6DE354;
$dark-green : #59BA47;
$light-azure: #A2DAF3;
$azure : #60D4F2;
$dark-azure : #00C1FF;


// FONT SIZE
$font-size-20: 16px;
$font-size-14: 14px;

// FONTS FAMLIY
$ProximaLight:  'Nunito Sans', sans-serif;
$ProximaRegular: 'Nunito Sans', sans-serif;
$ProximaSemiBold:  'Nunito Sans', sans-serif;
$ProximaBold:   'Nunito Sans', sans-serif;
$SohneBold: 'Nunito Sans', sans-serif;
$SohneExBold: 'Nunito Sans', sans-serif;


// $ProximaLight:  'Proxima Nova Lt';
// $ProximaRegular: 'Proxima Nova';
// $ProximaSemiBold:  'Proxima Nova Semi Lt';
// $ProximaBold:   'Proxima Nova Rg';
// $SohneBold: 'Sohne Breit LT';
// $SohneExBold: 'Sohne Breit';


