@use '../../../assets/scss/mixins';
@use "../../../assets/scss/base";


/* card_thumbnail__image start */
base.$colors: (
  'yellow': var(--undpds-color-yellow),
  'red': var(--undpds-color-red),
  'green': var(--undpds-color-green),
  'blue': var(--undpds-color-azure)
);

div.card-thumbnail__image {
  display: inline-flex;
  position: relative;

  &::before {
    @extend %absolute__content;

    @include mixins.transition(all 0.6s);

    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0.75;
    }

    @each $name,
    $color in base.$colors {

      &.accent-#{$name}::before,
      &.#{$name}::before {
        @include mixins.background-image(67.76deg, #{$color}, transparent 61.11%);
      }

      .accent-#{$name} & {

        @each $name2,
        $color2 in base.$colors {

          &.accent-#{$name2}::before,
          &.#{$name2}::before {
            @include mixins.background-image(67.76deg, #{$color2}, transparent 61.11%);
          }
        }
      }
    }
  }
}

[dir='rtl'] {
  div.card-thumbnail__image {
    &:hover {

      @each $name,
      $color in base.$colors {

        &.accent-#{$name}::before,
        &.#{$name}::before {
          @include mixins.background-image(297deg, #{$color}, transparent 61.11%);
        }

        .accent-#{$name} & {

          @each $name2,
          $color2 in base.$colors {

            &.accent-#{$name2}::before,
            &.#{$name2}::before {
              @include mixins.background-image(297deg, #{$color2}, transparent 61.11%);
            }
          }
        }
      }
    }
  }
}

/* card_thumbnail__image end */
