@use '../../../assets/scss/mixins';
@use '../../../assets/scss/breakpoints';
@use '../../../assets/scss/variables';

.image-reveal-card {
  @include breakpoints.devicebreak(small) {
    margin-top: 3.75rem;
  }
}

.reveal-head {
  margin-bottom: var(--undpds-spacing-06);

  @include breakpoints.devicebreak(medium) {
    margin-bottom: var(--undpds-spacing-08);
  }
}