@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

.image-reveal-card {
  @include devicebreak(small) {
    margin-top: 3.75rem;
  }

  .cell {
    padding: $spacing-12 0;

    @include devicebreak(medium) {
      padding: 0;
    }
  }
}

.reveal-head {
  margin-bottom: $spacing-24;

  @include devicebreak(medium) {
    margin-bottom: $spacing-40;
  }
}
