@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

.pagehero-cards {

  &-wrap {
    display: flex;
  }

  &-box {
    margin-left: 0.75rem;
    margin-right: 0.75rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @include devicebreak(medium) {

      flex: 0 0 calc(25% - 1.5rem);
      max-width: calc(25% - 1.5rem);

      &.swiper-slide {
        a {
          @include transition(all 0.4s);
          @include transform(translateY(0));

          overflow: hidden;
        }

        &:hover {
          a {
            @include transform(translateY(-50px));

            overflow: visible;
          }
        }
      }

      &:hover {
        a::before {
          content: '';
          opacity: 1;
        }

        .pagehero {
          &-cards {
            &__caption {
              transform: translateY(calc(-100% + #{$spacing-44}));

              p {
                opacity: 1;
              }
            }
          }
        }

        .cta__link {
          i {
            width: $spacing-80;
          }
        }
      }
    }

    @include devicebreak(large) {
      margin-top: $spacing-96;
    }

    @include devicebreak(small) {
      &.swiper-slide {
        height: auto;
        margin-left: 0;

        &-active {
          a::before {
            opacity: 1;
          }

          .pagehero {
            &-cards {
              &__caption {
                bottom: 0;
                opacity: 1;

                p {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    a {
      @extend %img_none;

      border: 0;
      display: block;
      height: 100%;
      position: relative;
    }

    img {
      @extend %img-cover;

      @include transition(all 0.4s);

      position: relative;
    }

    a::before {
      @extend %absolute__content;

      @include transition(all 0.4s);

      background: linear-gradient(45deg, rgba(255, 235, 0, 0.3), transparent);
      opacity: 0;
      z-index: 1;
    }
  }

  &__items {
    .swiper-wrapper {
      @include devicebreak(small) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__caption {
    @include transform(translateY(0));
    @include transition(all 0.3s);

    background: $color-white;
    left: 0;
    padding-top: $spacing-24;
    position: absolute;
    width: 100%;
    z-index: 2;

    p {
      @include transition(all 0.4s);
      @include transitiondelay(0.3s);

      margin: 0;
      opacity: 0;
    }

    .cta__link {
      @include transition(all 0.4s);
      @include transitiondelay(0.6s);

      border: 0;
      font-weight: 700;
      margin-top: $spacing-32;

      &::after {
        @include transition(0.2s ease);

        margin-left: -$spacing-04;
      }
    }
  }
}

[dir='rtl'] {
  .pagehero-cards-box {
    &:hover,
    &.swiper-slide-active {
      .cta--arrow::after {
        @include transform(translate(0, 0) rotate(180deg));

        margin-right: $spacing-04;
      }
    }

    &:first-child {
      margin-right: 0;
      margin-left: 0.75rem;
    }

    &:last-child {
      margin-left: 0;
      margin-right: 0.75rem;
    }
  }
}

/* country card end */
