@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

/* country card start */
.country {
  @include devicebreak(small) {
    &card__items {
      .glide__slides {
        flex-flow: unset;
      }
    }
  }
}

.country-card {
  @include devicebreak(medium) {
    &.glide__slide{
      a{
        overflow: hidden;
        @include transition(all 0.4s);
        @include transform(translateY(0));

        overflow: hidden;
      }

      &:hover {
        a {
          @include transform(translateY(-50px));

          overflow: visible;
        }
      }
    }
    margin-top: $spacing-96;
    &:hover {
      a::before {
        content: '';
        opacity: 1;
      }

      .country {
        &-card {
          &__caption {
            transform: translateY(calc(-100% + 2.75rem));

            p {
              opacity: 1;
            }
          }
        }
      }

      .cta__link {
        &::after {
          @include translate(10px, 0);

          background-image: url(#{$img-path-Icon}/arrow-left-expand-hover.svg);
          width: 100px;
        }
      }
    }
  }

  @include devicebreak(small) {
    &.glide__slide {
      height: auto;

      &--active {
        a::before {
          opacity: 1;
        }

        .country {
          &-card {
            &__caption {
              opacity: 1;

              p {
                opacity: 1;
              }
            }
          }
        }

        .cta__link {
          &::after {
            @include translate(10px, 0);

            background-image: url(#{$img-path-Icon}/arrow-left-expand-hover.svg);
            width: 100px;
          }
        }
      }
    }
  }

  a {
    @extend %img_none;

    border: 0;
    display: block;
    height: 100%;
    position: relative;
  }

  img {
    @extend %img-cover;

    @include transition(all 0.4s);

    position: relative;
  }

  a::before {
    @extend %absolute__content;

    @include transition(all 0.4s);

    background: linear-gradient(45deg, rgba(255, 235, 0, 0.3), transparent);
    opacity: 0;
    z-index: 1;
  }

  &__caption {
    @include transform(translateY(0));
    @include transition(all 0.3s);

    background: $color-white;
    left: 0;
    padding-top: $spacing-24;
    position: absolute;
    width: 100%;
    z-index: 2;

    p {
      @include transition(all 0.4s);
      @include transitiondelay(0.3s);

      margin: 0;
      opacity: 0;
    }

    .cta__link {
      @include transition(all 0.4s);
      @include transitiondelay(0.6s);

      border: 0;
      font-weight: 700;
      margin-top: $spacing-32;

      &::after {
        @include transition(0.2s ease);

        margin-left: -$spacing-04;
      }
    }
  }
}

.countrycard__items .glide__slide {
  height: auto;
}

[dir='rtl'] {
  .country-card {
    &:hover,
    &.glide__slide--active {
      .cta--arrow::after {
        @include transform(translate(0, 0) rotate(180deg));

        margin-right: $spacing-04;
      }
    }
  }
}

/* country card end */
