@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

.pagehero-cards {
  &-wrap {
    &.swiper-wrapper {
      @include devicebreak(large) {
        flex-wrap: wrap;
      }
    }
  }

  &-box {
    @include devicebreak(large) {
      flex: 0 0 calc(25% - #{$spacing-06});
      max-width: calc(25% - #{$spacing-06});
      margin-left: $spacing-04;
      margin-right: $spacing-04;
      margin-top: $spacing-12;

      &.swiper-slide {
        a {
          @include transition(all 0.4s);
          @include transform(translateY(0));

          overflow: hidden;
        }

        &:hover {
          a {
            @include transform(translateY(-50px));

            overflow: visible;
          }
        }
      }
    }

    &:hover {
      .cta__link {
        padding: 0;
        width: 100%;

        i {
          @include transition(all .4s);
          @include transitiondelay(.2s);
          left: $spacing-05;
          width: $spacing-11;
          
          @include devicebreak(large) { 
            width: 30%;
          }

          &::before {
            display: inline-block;
          }
        }
      }

      @include devicebreak(large) { 
        a::before {
          content: '';
          opacity: 1;
        }
  
        .pagehero {
          &-cards {
            &__caption {
              transform: translateY(calc(-100% + #{$spacing-44}));
  
              p {
                opacity: 1;
              }
            }
          }
        }
      }

    }

    a {
      display: block;
      height: 100%;
      position: relative;
    }

    img {
      @extend %img-cover;

      @include transition(all 0.4s);

      position: relative;
    }

    a::before {
      @extend %absolute__content;

      @include transition(all 0.4s);

      background: linear-gradient(45deg, rgba(255, 235, 0, 0.3), transparent);
      opacity: 0;
      z-index: 1;
    }
  }

  &__caption {
    @include transform(translateY(0));
    @include transition(all 0.3s);

    background: $color-white;
    left: 0;
    padding-top: $spacing-06;
    position: absolute;
    width: 100%;
    z-index: 2;

    p {
      @include transition(all 0.4s);
      @include transitiondelay(0.3s);

      margin: 0;
      opacity: 0;
    }

    .cta__link {
      font-weight: 700;
      margin-top: $spacing-07;
    }
  }
  
  .swiper-initialized {
    .pagehero-cards {

      &__caption {
        bottom: 0;
        opacity: 0;
        box-sizing: border-box;
        box-shadow: 0 1px 0 1px $color-white; 
        @include transition(all .5s cubic-bezier(.64,.05,.35,1.05));
        @include transitiondelay(.3s);

        p {
          @include transition(all .5s cubic-bezier(.64,.05,.35,1.05));
          @include transitiondelay(.3s)
        }
      }
    }

    .swiper-slide {
      height: auto;
      margin-left: 0;

      &-active {
        a::before {
          opacity: 1;
        }

        .pagehero {
          &-cards {
            &__caption {
              opacity: 1;

              p {
                opacity: 1;
              }
            }
          }
        }

        .cta__link {
          i {
            &::before {
              display: inline-block;
            }
          }
        }

        + .swiper-slide {
          
          @include devicebreak(medium) {
            .pagehero {
              &-cards {
                &__caption {
                  opacity: 1;
    
                  p {
                    opacity: 1;
                  }
                }
              }
            }

            .cta__link {
              i {
                &::before {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}

[dir='rtl'] {
  .pagehero-cards-box {
    text-align: right;

    &:hover,
    &.swiper-slide-active {
      .cta__link {
        i {
          left: unset;
          right: $spacing-05;
        }
      }
    }
  }
}

/* country card end */
