.global-impact {
    padding-top: 120px;
    background-color: $dark-blue-1;

    .card-container {
        margin-top: 120px;
        border-top: 1px solid rgba($white, 23%);
    }

    @include breakpoint(small only) {
        .heading-container {
            padding-left: 45px;
            padding-right: 45px;
        }

        .h4 {
            margin-top: 50px;
        }

        .card-container {
            margin-top: 80px;

            .cell:nth-child(odd) {
                .stat-global {
                    color: $dark-blue-1;

                    .bg-image, &:after {
                        opacity: 1;
                    }

                    .numerals {
                        text-shadow: none;
                        -webkit-text-stroke: unset;
                    }
                }
            }
        }
    }
}
