.our-mission {
    z-index: $z-index-1;
    padding: 400px 0 400px;

    @include breakpoint(medium down){
        padding: 400px 0 400px;
    }

    @include breakpoint(small only){
        padding: 150px 0 175px;
    }

    &.color-background{
        background-color: $dark-blue-1;
    }

    @include breakpoint(small only) {
        padding-left: 30px;
        padding-right: 30px;

        .h4 {
            margin-top: 55px;
        }
    }
}
