.twitter-feed{
    overflow: hidden;
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: $dark-blue-1;

    @include breakpoint(medium down){
        padding-top: 90px;
        padding-bottom: 85px;
    }

    @include breakpoint(small only){
        padding-top: 120px;
        padding-bottom: 110px;
    }

    .section-title{
        color: $white;
        display: flex;
        align-items: center;

        img{
            width: 35px;
            height: 35px;
            margin-left: 15px;
        }
    }
}
