@import '../assets/scss/mixins';
@import '../assets/scss/breakpoints';
@import '../assets/scss/variables';
@import '../assets/scss/grid';

// .sb-show-main.sb-main-fullscreen, 
.documentation-page {

  .grid-container:not(.full) {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
  }

  .grid-container.full {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.75rem;

    @include devicebreak(large) {
      padding: 0 0.25rem;
    }
  }

  .vimeo-full-width {
    padding: 56.25% 0 0 0;
    position: relative;
  }

  .vimeo-full-width iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h1.title {
    font-family: "SohneBreit", "ProximaNova", sans-serif;
    font-weight: 900;
    color: $color-black;
    margin-top: $spacing-10;
    margin-bottom: $spacing-07;
    font-size: 55px;

    @include devicebreak(large) {
      font-size: 55px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "ProximaNova", sans-serif;
  }

  h2 {
    margin-bottom: $spacing-06;
  }

  h3 {
    margin-bottom: $spacing-05;
  }

  .subtitle {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  video {
    width: 100%;
  }

  hr {
    margin-top: $spacing-11;
    margin-bottom: $spacing-06;
    border-top: 2px solid rgba(0, 0, 0, 1);
  }

  .intro {
    row-gap: $spacing-06;

    .cell {
      display: flex;
      align-items: center;

      &.figma {
        background: $color-black;

        p,
        a {
          color: $color-white;
        }
      }

      &.github {
        background: $color-gray-300;
      }

      &.figma,
      &.github {
        a {
          background: none;
          width: 100%;
          text-align: center;
          padding-top: $spacing-08;
          padding-bottom: $spacing-06;

          @include devicebreak(large) {
            padding-top: $spacing-09;
            padding-bottom: $spacing-07;
          }

          p {
            font-size: 1.25rem;
          }
        }

        img {
          height: 100px;
        }
      }
    }
  }

  .featured-content-cards__wrapper {
    margin-top: $spacing-09;
    margin-bottom: $spacing-05;

    .grid-x.grid-margin-x {
      row-gap: $spacing-06;
    }
  }
}