@import '../assets/scss/mixins';
@import '../assets/scss/breakpoints';
@import '../assets/scss/variables';

// Homepage documentation styles
.documentation-page {

  .grid-container:not(.full) {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
  }

  .grid-container.full {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.75rem;

    @include devicebreak(large) {
      padding: 0 0.25rem;
    }
  }

  .vimeo-full-width {
    padding: 56.25% 0 0 0;
    position: relative;
  }

  .vimeo-full-width iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h1.title {
    font-family: "SohneBreit", "ProximaNova", sans-serif;
    font-weight: 900;
    color: $color-black;
    margin-top: $spacing-10;
    margin-bottom: $spacing-07;

    div {
      font-family: "SohneBreit", "ProximaNova", sans-serif;
      font-weight: 900;
      font-size: 55px;
    }

    @include devicebreak(large) {
      font-size: 55px;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "ProximaNova", sans-serif;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: $spacing-06;
    border-block-end: 0;

    @include devicebreak(medium) {
      font-size: 2.813rem;
    }

    @include devicebreak(large) {
      font-size: 3.438rem;
    }
  }

  h3 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.15;
    margin-top: $spacing-08;
    margin-bottom: $spacing-05;

    @include devicebreak(medium) {
      font-size: 2.188rem;
    }
  }

  h4 {
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 1.15;

    @include devicebreak(medium) {
      font-size: 2.188rem;
    }
  }

  h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.15;

    @include devicebreak(medium) {
      font-size: 1.563rem;
    }
  }

  .subtitle {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  video {
    width: 100%;
  }

  hr {
    margin-top: $spacing-11;
    margin-bottom: $spacing-06;
    border-top: 2px solid rgba(0, 0, 0, 1);
  }

  .intro {
    // row-gap: $spacing-06;

    .cell {
      display: flex;
      align-items: center;

      &.figma {
        background: $color-black;

        p,
        a {
          color: $color-white;
        }
      }

      &.github {
        background: $color-gray-300;
      }

      &.figma,
      &.github {
        a {
          background: none;
          width: 100%;
          text-align: center;
          padding-top: $spacing-08;
          padding-bottom: $spacing-06;

          @include devicebreak(large) {
            padding-top: $spacing-09;
            padding-bottom: $spacing-07;
          }

          p {
            font-size: 1.25rem;
          }
        }

        img {
          height: 100px;
        }
      }
    }
  }

  .featured-content-cards__wrapper {
    margin-top: $spacing-09;
    margin-bottom: $spacing-05;

    .grid-x.grid-margin-x {
      row-gap: $spacing-06;
      margin-inline: -0.75rem;
    }
  }
}

// Documentation styles
.sbdocs {
  font-family: $Font-Family-ProximaNova;

  h1,
  &-h1 {
    font-family: $Font-Family-SohneBreit;
    font-weight: 900;
  }

  &-li {
    font-size: 1rem;
  }
}

.sbdocs-content {

  p {
    font-size: 1rem;
  }

  code {
    font-size: 1rem;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    color: #555;
  }

  pre code {
    display: block;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    line-height: 1.5rem;
  }

  a {
    text-decoration: none;
    background: none;
  }

  h4 {
    font-weight: 600;
  }

  ul,
  ol {
    li {
      font-size: 1rem;
    }
  }

  table {

    th,
    td {
      font-size: 1rem;
    }
  }
}