@import '../assets/scss/mixins';
@import '../assets/scss/breakpoints';
@import '../assets/scss/variables';
@import '../assets/scss/grid';

.sbdocs-wrapper {
  padding: 20px 8px;
  .sbdocs-content {
    max-width: none;
  }
  video {
    width: 100%;
  }
  .cell {
    margin-bottom: $spacing-06;
  }
  hr {
    margin-top: $spacing-09;
    margin-bottom: $spacing-09;
  }
  @include devicebreak(large) {
    h1 {
      font-size: 55px;
    }
  }
  .intro {
    // justify-content: center;
    .cell {
      display: flex;
      align-items: center;
      min-height: 300px;
      // margin-left: $spacing-06;
      // margin-right: $spacing-06;
      &.figma {
        background: $color-black;
        a {
          color: $color-white;
        }
      }
      &.github {
        background: $color-gray-300;
      }
      &.figma, &.github {
        a {
          background: none;
          width: 100%;
          text-align: center;
          @include devicebreak(large) {
            // height: 400px;
            // display: flex;
            // align-items: center;
            padding-top: 100px;
            padding-bottom: 100px;
          }
        }
        img {
          height: 100px;
        }
      }
    }
  }
}
