@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/glideslider';

.stats-card-grid{
  overflow-x: hidden;
  .stats-card-parallax{
    margin-bottom: 2rem;
    &:last-child{
      margin-bottom: 0;
    }
  } 
  @include devicebreak(medium){
    .glide{
      &__slides{
        transform: none !important;
        width: initial !important;
        transition: none !important;
      }
      &__slide{
        width: initial !important;
        margin-left: initial !important;
        margin-right: initial !important;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
      }
    }
  }
  @include devicebreak(large){
    .statscard{
      &--sm{
        max-width: 330px;
        width:100%;
        box-sizing: border-box;
      } 
    }
  }
}

.stats-card-slider{
  .glide{
    &__slides{
      margin-top: 34px;
    }
    &__slide{
      &--active {
        @include devicebreak(small){
          .statscard{
            background-color: $color-yellow;
            &__number {
              color: $color-black;
            }
          }
        }
      }
    }
    &__bullets{
      display: flex;
      position: relative;
      @include devicebreak(medium){
        display: none;
      }
      &::after{
        content: '';
        position: absolute;
        top: 0.5px;
        left: 0;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid $color-black;
        z-index: 1;
      }
    }
    &__bullet{
      flex-grow: 1;
      border-radius: 0;
      height: 4px;
      border: none;
      background: transparent;
      position: relative;
      z-index: 2;
      -webkit-transition: all .8s ease-in-out;
      transition: all .8s ease-in-out;
      cursor: pointer;
      &--active{
        background: $color-black;
      }
    }
  }
}
