@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';

.multi-select {
  max-width: 296px;
  position: relative;

  &.open {
    .select-control {
      border-bottom: 0;

      &::after {
        @include transform(translateY(-50%) rotate(-180deg));

        top: 50%;
      }
    }

    .options {
      background-color: $color-white;
      border-top: 0;
      display: block;
    }
  }

  .select-control {
    @extend %select_default;

    background: $color-white;
    display: block;
    max-width: 100%;
    text-align: left;

    &::after {
      @extend %arrow;
    }
  }

  .options {
    @extend %select_option;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: auto;

    > li {
      border-top: 1px solid $color-gray-400;
      cursor: pointer;

      > .checkbox-wrapper {
        &:hover {
          background-color: $color-gray-100;
        }
      }
    }

    .has-submenu {
      position: relative;

      &.open-submenu {
        .sub-menu {
          border-top: solid 1px $color-gray-400;
          display: block;
        }

        .has-submenu__button::after {
          @include transform(translateY(-50%) rotate(-180deg));

          top: 50%;
        }
      }

      &__button {
        background: $color-white;
        border: 0;
        cursor: pointer;
        display: block;
        font-size: $font-size-16;
        margin: 0 -1rem;
        padding: $spacing-16;
        position: relative;
        text-align: left;
        width: calc(100% + 2rem);

        &:hover {
          background-color: $color-gray-100;
        }

        &::after {
          @extend %arrow;

          right: $spacing-16;
        }
      }
    }

    .sub-menu {
      display: none;
      list-style: none;

      > li {
        border-top: 1px solid $color-gray-400;

        &:first-of-type {
          border-top: 0;
        }

        > .checkbox-wrapper:hover {
          background-color: $color-gray-100;
        }
      }
    }

    &::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0.3);
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .checkbox-wrapper {
    display: block;
    margin: 0 -1rem;
    padding: 0 $spacing-16;

    input[type='checkbox'],
    input[type='checkbox'] + label::before {
      @include transform(translateY(-50%));

      left: auto;
      right: $spacing-16;
      top: 50%;
    }

    input[type='checkbox'] + label {
      display: block;
      padding: $spacing-16 0;
    }

    input:focus + label::before {
      box-shadow: 0 0 0 2px $color-blue-600;
      outline: 3px solid transparent; /* For Windows high contrast mode. */
    }
  }
}

[dir='rtl'] {
.multi-select .select-control::after, .multi-select .has-submenu__button::after {
       //transition:none;
    }
  .multi-select {
    .select-control,
    .has-submenu__button {
      @extend %select_rtl;

      &::after {
        @extend %select_rtl_after;
      }
    }

    .has-submenu__button {
    text-align:right;
      &::after {
        left: $spacing-16;
        right:inherit;

      }
    }


    .checkbox-wrapper {
      input[type='checkbox'],
      input[type='checkbox'] + label::before {
        left: $spacing-16;
        right: auto;
      }
    }
  }
}
