@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

.menu {
  padding: 0;

  li {
    display: inline-block;
    margin: $spacing-12;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

[dir='rtl'] {
  .menu {
    li {
      a {
        margin: 0;
      }

      &:first-child {
        margin-left: $spacing-12;
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0;
        margin-right: $spacing-12;
      }
    }
  }
}
