.menu ul {
  padding: 0;

  li {
    display: inline-block;
    margin-block: var(--undpds-spacing-04) var(--undpds-spacing-04);
    margin-inline: 0 3.75rem;
    padding-left: 0;

    &:last-of-type {
      margin-inline-end: 0;
    }
  }
}

[dir='rtl'] {
  .menu ul {
    li {
      a {
        margin: 0;
      }
    }
  }
}