@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* blockquote cta start */
.blockquote-wrapper {
  padding: 1.875rem;

  @include devicebreak(medium) {
    padding: 5.313rem;
  }

  &.gray {
    background-color: $color-gray-200;
  }

  &.yellow {
    background-color: $color-yellow;
  }

  &.transparent {
    background-color: none;
    padding: 0;
  }
}

/* blockquote cta end */
