@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* blockquote cta start */
div.blockquote {
  background-color: none;
  padding: $spacing-07 $spacing-06;

  @include devicebreak(medium) {
    padding: 5.313rem $spacing-12;
  }

  .accent-yellow & {
    background-color: $color-yellow;
  }

  .accent-red & {
    background-color: $color-red;
  }

  .accent-green & {
    background-color: $color-green;
  }

  .accent-blue & {
    background-color: $color-azure;
  }

  &.accent-yellow,
  &.yellow {
    background-color: $color-yellow;
  }

  &.accent-red,
  &.red {
    background-color: $color-red;
  }

  &.accent-green,
  &.green {
    background-color: $color-green;
  }

  &.accent-blue,
  &.blue {
    background-color: $color-azure;
  }

  &.accent-gray,
  &.gray {
    background-color: $color-gray-200;
  }
}

/* blockquote cta end */