.author-bio {
    margin-top: 64px;

    @include breakpoint(medium down) {
        margin-top: 35px;
    }

    .align-middle {
        @include breakpoint(medium down) {
            align-items: flex-start;
        }
    }

    .author-image {
        width: 180px;
        height: 180px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 50%;

        @include breakpoint(medium down) {
            width: 152px;
            height: 152px;
        }

        img {
            object-fit: cover;
            object-position: center;
        }
    }

    .author-info {
        margin-left: 56px;

        @include breakpoint(medium down) {
            margin-left: 0;
            margin-top: 29px;
        }

        .author-titles {
            margin-top: 18px;

            @include breakpoint(medium down) {
                margin-top: 39px;
            }

            .big-copy {
                line-height: 2.6rem;

                @include breakpoint(medium down) {
                    font-size: 2rem;
                }
            }
        }

        .large-copy {
            line-height: 4rem;
        }
    }

    .author-message {
        margin-top: 93px;

        @include breakpoint(medium down) {
            margin-top: 32px;
        }

        .big-copy {
            line-height: 2.8rem;

            @include breakpoint(medium down) {
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }
    }

    .bio {
        margin-top: 35px;
        line-height: 2.2rem;

        @include breakpoint(medium down) {
            margin-top: 28px;
            line-height: 2rem;
        }
    }

    .break-words {
        @include breakpoint(medium up) {
            word-spacing: 100vw; // Forces each word to take all the width available
        }
    }

    .separator {
        height: 2px;
        margin-top: 47px;
        margin-bottom: 30px;
        background-color: $black;

        @include breakpoint(medium down) {
            margin-top: 30px;
            margin-bottom: 25px;
        }
    }
}
