.downloadable-content {
    .publication-image {
        z-index: 1;

        @include breakpoint(mediumd down) {
            display: flex;
            max-width: 100%;
            justify-content: center;
        }

        .image {
            min-height: 100%;
        }
    }
}
