.downloadable-content {
    .publication-image {
        z-index: 1;

        @include breakpoint(medium down) {
            display: flex;
            max-width: 100%;
            justify-content: center;
        }

        &:before {
            @include breakpoint(small only) {
                left: 50%;
                width: 100%;
                height: 20px;
                max-width: 350px;
                transform: translateX(-55%) skewX(64deg);
            }
        }

        .image {
            min-height: 100%;
        }
    }
}
