.faq {
    margin-top: 110px;
    margin-bottom: 150px;

    .faq-item {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $black;

        &:first-child {
            margin-top: 0;
        }
    }

    .question-button {
        width: 100%;
        cursor: pointer;
        padding: 40px 0 25px;
        text-align: left;
        align-items: center;
        justify-content: space-between;

        .title {
            width: 80%;
            line-height: 1.2;
            font-size: 2.5rem;
        }
    }

    .questions-container {
        @include breakpoint(medium down) {
            margin-top: 50px;
        }
    }

    .arrow-down {
        transition: all .3s ease;
    }


    .answer {
        opacity: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        padding: 0 40px 0 44px;
        transition: all 250ms $easing-2;

        @include breakpoint(medium down) {
            padding: 0 30px 0 30px;
        }

    }

    .expanded {

        .answer {
            opacity: 1;
            max-height: 1024px;
            padding: 16px 40px 23px 44px;

            @include breakpoint(medium down) {
                padding: 15px 30px;
            }
        }

        .arrow-down {
            transform: rotate(-180deg);
        }
    }
}
