.related-table {
    padding-top: 90px;
    padding-bottom: 115px;
    background: $dark-blue-7;

    .link-list {
        margin-top: 45px;

        @include breakpoint(medium down) {
            margin-top: 0;
        }

        .link-item {
            margin-top: 23px;
            font-size: 2.5rem;
            padding: 15px 30px 20px;
            background: $dark-blue-6;

            @include breakpoint(medium down) {
                font-size: 2rem;
                padding-bottom: 22px;
            }
        }
    }
}
