.related-table {
    padding-top: 90px;
    padding-bottom: 115px;
    background: $dark-blue-7;

    .link-list {
        margin-top: 45px;

        @include breakpoint(medium down) {
            margin-top: 0;
        }

    }
}
