.small-copy-component {
    padding-top: 130px;

    .component-subheading {
        margin-top: 90px;
    }

    .copy-item {
        margin-top: 50px;

        .title-item {
            font-weight: $bold;
            text-transform: uppercase;
        }

        .big-copy {
            margin-top: 20px;
        }

        .headline {
            font-weight: $semi-bold;
        }
    }
}
