.table {
    margin-top: 130px;

    .columns-content {
        margin-top: 70px;

        @include breakpoint(small only) {
            margin-top: 35px;
        }
    }

    .row-element {

        @include breakpoint(medium down) {
            margin-top: 40px;
        }

        @include breakpoint(small only) {
            border-bottom: 2px solid $black;
            padding-bottom: 35px;
        }

        .row-item {
            height: 70px;
            margin-top: 50px;
            padding-bottom: 18px;
            border-bottom: 1px solid $black;

            @include breakpoint(small only) {
                height: auto;
                margin-top: 17px;
            }

            &:last-child {
                @include breakpoint(small only) {
                    border: none;
                }
            }

            @include breakpoint(small only) {
                margin-top: 35px;
            }
        }

        .title {
            font-size: 1.6rem;
            font-weight: $bold;
            text-transform: uppercase;
        }

        .text-content {
            font-size: 2rem;

            .link-item {
                padding-bottom: 12px;
            }
        }
    }
}
