@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

/* table tag start */
table {
    border-spacing: 0px;
  tr {
    th {
      vertical-align: top;
      font-family: $Font-Family-ProximaRegular;
      padding: 12px;
      color: $color-black;
      background-color: #edeff0;
      text-align: left;
      font-weight: 700;
      @extend %paragragh-font-20;
      @include devicebreak(medium) {
        padding: 16px;
      }
    }
    td {
      vertical-align: top;
      padding: 12px;
      @extend %border-bottom;
      font-weight: 300;
      @extend %paragragh-font-20;
       @include devicebreak(medium) {
        padding: 16px;
      }
    }
  }
}
/* table tag end */
