@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

/* table tag start */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  @include devicebreak(medium) {
    width: auto;
  }

  &.small {
    th,
    td {
      font-size: $font-size-16;
    }
  }

  &.striped {
    tr {
      &:nth-child(even) {
        background-color: $color-gray-200;
      }
      @extend %border-none;
    }
  }

  &.border {
    border-collapse: collapse;
    th,
    td {
      border: 1px solid $color-gray-400;
    }
  }

  &.stacked {
    th,
    td {
      display: block;
      @include devicebreak(medium) {
        display: table-cell;
      }
    }
    thead {
      tr {
        display: none;
        @include devicebreak(medium) {
          display: table-row;
        }
      }
    }
    &.border {
      tr {
        border: 1px solid $color-gray-400;
        th,
        td {
          @extend %border-none;
          @include devicebreak(medium) {
            border: 1px solid $color-gray-400;
          }
        }
      }
    }
  }
}

th,
td {
  vertical-align: top;
  padding: $spacing-12 $spacing-40 $spacing-12 $spacing-12;
  font-size: $font-size-20;
  line-height: 1.4;
}

thead {
  tr {
    th {
      font-family: $Font-Family-ProximaSemiBold;
      background-color: $color-gray-300;
      text-align: left;
    }
  }
}

tbody {
  tr {
    @extend %border-bottom;
  }
}

.scroll {
  overflow-x: scroll;
  @include devicebreak(medium) {
    overflow-x: inherit;
  }
}

[dir="rtl"] {
  th,
  td {
    text-align: right;
    padding: $spacing-12 $spacing-12 $spacing-12 $spacing-40;
  }
}
/* table tag end */
