@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

/* table tag start */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  @include devicebreak(medium) {
    width: auto;
  }

  &.small {
    th,
    td {
      font-size: $font-size-16;
    }
  }

  &.striped {
    tr {
      @extend %border-none;

      &:nth-child(even) {
        background-color: $color-gray-200;
      }
    }
  }

  &.border {
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $color-gray-400;
    }
  }

  &.stacked {
    th,
    td {
      display: block;

      @include devicebreak(medium) {
        display: table-cell;
      }
    }

    thead {
      tr {
        display: none;

        @include devicebreak(medium) {
          display: table-row;
        }
      }
    }

    &.border {
      tr {
        border: 1px solid $color-gray-400;

        th,
        td {
          @extend %border-none;

          @include devicebreak(medium) {
            border: 1px solid $color-gray-400;
          }
        }
      }
    }
  }
}

th,
td {
  font-size: $font-size-20;
  line-height: 1.4;
  padding: $spacing-12 $spacing-40 $spacing-12 $spacing-12;
  vertical-align: top;
}

thead {
  tr {
    th {
      background-color: $color-gray-300;
      font-weight: 600;
      text-align: left;
    }
  }
}

tbody {
  tr {
    @extend %border-bottom;
  }
}

.scroll {
  overflow-x: scroll;
  th, 
  td {
    white-space: nowrap;
    -webkit-text-size-adjust:100%;
  }
  @include devicebreak(medium) {
    overflow-x: inherit;
  }

  th,
  td {
    white-space: nowrap;
  }
}

[dir='rtl'] {
  th,
  td {
    padding: $spacing-12 $spacing-12 $spacing-12 $spacing-40;
    text-align: right;
  }
}

/* table tag end */
