
.multi-cta-featured-publication {

    .card-container {

        .links-container > *:not(:first-of-type) {
            border-left: none;
            border-right: 1px solid $dark-blue-19;
        }

        .text-right {
            text-align: left;
        }
    }

    .social-icons {
        left: auto;
        right: 20px;

        .icon-item:not(:first-of-type) {
            margin-left: 0;
            margin-right: 20px;
        }
    }
}
