.tweet {
    .text {
        .nav-item {
            .time {
                margin-left: 4px;
            }
        }
    }

    .avatar {
        margin-right: 0;
        margin-left: 15px;
    }
}
