@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

mark {
  @extend %paragragh-font-20;

  background: var(--undpds-color-light-yellow);
  font-size: var(--undpds-font-size-14);
  padding: var(--undpds-spacing-01);

  @include devicebreak(medium) {
    font-size: var(--undpds-font-size-20);
  }
}
