.callout-article {
    margin-top: 70px;
    padding-top: 90px;
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 70px;

    @include breakpoint(medium down) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    // Default color, kept class for clarity
    // Two ways of adding accent color:
    // 1. Globally on an upper container (all up to the body)
    // 2. Directly on the card
    // Directly on the card overrides global color
    .accent-yellow &, &.accent-yellow {
        .bg-container {
            background: $yellow-2;
        }
    }

    .accent-green &, &.accent-green {
        .bg-container {
            background: $green-2;
        }
    }

    .accent-red &, &.accent-red {
        .bg-container {
            background: $red-2;
        }
    }

    .accent-blue &, &.accent-blue {
        .bg-container {
            background: $blue-accent-2;
        }
    }

    &.transparent {
        padding-top: 0;
        margin-top: 20px;
        padding-bottom: 0;
        margin-bottom: 50px;

        @include breakpoint(medium down) {
            padding-top: 28px;
            padding-bottom: 28px;
            background: $dark-blue-6;
        }

        .quote-text {
            .heading {
                font-size: 2.5rem;
                font-weight: $regular;

                @include breakpoint(small down) {
                    font-size: 2rem;
                }
            }
        }
    }

    blockquote::before {
        content: open-quote;
    }

    blockquote::after {
        content: close-quote;
    }

    blockquote {
        margin: 0;
        quotes: "“" "”" "‘" "’";
    }

    .quote-author {
        margin-top: 40px;
    }

    .bg-container {
        top: 0;
        left: 0;
        height: 100%;
        position: absolute;
        background: $yellow-2;
        z-index: $z-index-negative;
    }
}
