.search-input {
    position: relative;

    .icon {
        top: 50%;
        width: 26px;
        margin-left: 15px;
        position: absolute;
        transform: translateY(-50%);

        @include breakpoint(medium down) {
            margin-left: 0;
        }
    }

    @include breakpoint(medium) {
        &.big-search {
            .icon {
                top: 10px;
                width: 35px;
                margin-left: 0;
                transform: none;
            }

            .input-search {
                line-height: 1;
                font-size: 55px;
                font-weight: $regular;
                padding: 10px 20px 12px 75px;

                &::-webkit-search-cancel-button{
                    width: 20px;
                    height: 20px;
                    right: -20px;
                }
            }
        }
    }

    @include breakpoint(medium down) {
        border-bottom: 1px solid $dark-blue-1;
    }

    .input-search {
        width: 100%;
        border: none;
        font-size: 20px;
        line-height: 1.2;
        box-shadow: none;
        font-weight: $medium;
        padding: 13px 20px 14px 55px;
        background-color: transparent;
        border-bottom: 1px solid $dark-blue-1;

        &::-webkit-search-cancel-button{
            width: 10px;
            height: 10px;
            right: -10px;
            cursor: pointer;
            position: relative;
            -webkit-appearance: none;
            background-size: contain;
            background-image: url("#{$image-path}/icon-close.svg");
        }

        &::placeholder {
            color: rgba($black, 0.35);
        }

        &:active, &:focus {
            outline: none;
        }

        @include breakpoint(medium down) {
            border: none;
            font-size: 16px;
            font-weight: $regular;
            padding: 10px 20px 10px 55px;
        }
    }
}