@import '../../../assets/scss/mixins';

/* card_thumbnail__image start */
.card_thumbnail__image {
  display: inline-flex;
  position: relative;

  &::before {
    @extend %img-hover-effect;

    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    &::before {
      opacity: 0.75;
    }
  }
}

/* card_thumbnail__image end */
