@import '../../../assets/scss/mixins';

/* card_thumbnail__image start */
$colors: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'blue': $color-azure);

div.card-thumbnail__image {
  display: inline-flex;
  position: relative;

  &::before {
    @extend %absolute__content;

    @include transition(all 0.6s);

    opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 0.75;
    }
  }

  @each $name, $color in $colors {
    &.#{$name}::before {
      @include background-image(42deg, #{$color}, transparent 80%);
    }
  }
}

[dir='rtl'] {
  .card-thumbnail__image {
    &:hover {
      
      @each $name, $color in $colors {
        &.#{$name}::before {
          @include background-image(42deg, #{$color}, transparent 80%);
        }
      }
    }
  }
}

/* card_thumbnail__image end */
