.sdg-card,
.sdg-card-link {
    cursor: url("#{$image-path}arrows/sdg-hover-arrow-left.svg"), url("#{$image-path}arrows/sdg-hover-arrow-left.cur"), auto;

    .hover-image{
        margin-right: auto;
        margin-left: unset;
        transform: scaleX(-1);
    }

    &.link {
        cursor: url("#{$image-path}arrows/sdg-hover-arrow-black-left.svg"), url("#{$image-path}arrows/sdg-hover-arrow-black-left.cur"), auto;

        .image-container{
            padding-left: 0;
            padding-right: 160px;

            @include breakpoint(medium down) {
                padding-right: 85px;
            }

            @include breakpoint(small only) {
                padding: 0;
            }
        }
    }

    &.next-card .number {
        @include breakpoint(small only) {
            margin-right: 0;
            margin-left: 18px;
        }
    }

    .title {
        left: auto;
        margin-left: 0;
        text-align: right;
        margin-right: 355px;

        @include breakpoint(small only) {
            margin-right: 0;
        }
    }
}
