.sdg-card,
.sdg-card-link{

    .hover-image{
        margin-right: auto;
        margin-left: unset;
        transform: scaleX(-1);
    }

    &.link {
        .image-container{
            padding-left: 0;
            padding-right: 160px;

            @include breakpoint(medium down) {
                padding-right: 85px;
            }

            @include breakpoint(small only) {
                padding: 0;
            }
        }
    }
}
