@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* pagination start */
.pagination ul {
  align-items: center;
  display: flex;
  padding-left: 0;

  li {
    display: flex;
    font-size: $font-size-16;
    margin-right: $spacing-24;
    padding-left: 0;
    margin-bottom: 0;
    position: relative;

    a {
      @extend %img_none;

      border-bottom: 0;
      font-size: $font-size-16;
    }

    span {
      margin: 0 0.375rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &:first-child,
    &:last-child {
      cursor: pointer;

      a {
        font-size: 0;
        height: 45px;
        width: 45px;

        &::before {
          background: url(#{$img-path-Icon}/circle-left.svg) no-repeat center center;
          content: ' ';
          display: block;
          height: 45px;
          width: 45px;
        }
      }
    }

    &.disabled {
      a {
        &::before {
          opacity: 0.3;
        }
      }
    }

    &:last-child {
      margin-right: 0;
      a {
        &::before {
          background: url(#{$img-path-Icon}/circle-right.svg) no-repeat center center;
        }
      }
    }
  }
}

[dir='rtl'] {
  .pagination {
    ul {
      padding-right: 0;
    }

    li {
      margin-left: $spacing-24;
      margin-right: 0;
      padding-right: 0;

      &:first-child {
        a {
          &::before {
            @include transform(rotateZ(180deg));
          }
        }
      }

      &:last-child {
         margin-left: 0;
        a {
          &::before {
            @include transform(rotateZ(180deg));
          }
        }
      }

      span {
        &:last-child {
          margin-left: 0;
          margin-right: 0.375rem;
        }
      }
    }
  }
}

/* pagination end */
