.article-gallery {
    margin: 80px auto;

    .gallery-container {
        display: flex;
        justify-content: center;

        @include breakpoint(small only) {
            align-items: center;
            flex-direction: column;
        }

        .image-item {
            margin-left: 25px;

            @include breakpoint(small only) {
                margin-left: 0;
                margin-top: 15px;
                align-items: center;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
