.publication-image {
    width: 100%;
    z-index: -2;
    padding: 64px;
    max-width: 450px;
    position: relative;
    background: linear-gradient(to bottom,
            $background-gray-1 70%,
            $background-gray-1 70%,
            $background-gray-3 70.5%,
            $background-gray-2 69.5%,
            $background-gray-2 100%);

    @include breakpoint(medium down) {
        max-width: 350px;
        padding: 50px 35px;
    }

    @include breakpoint(small only) {
        padding: 20px;
    }

    @include breakpoint(360px down) {
        max-width: 150px;
    }

    .image {
        width: 100%;
        max-width: 450px;
        min-height: 360px;
        object-fit: cover;
        z-index: $z-index-2;

        @include breakpoint(medium down) {
            max-width: 350px;
            min-height: 210px;
        }

        @include breakpoint(small only) {
            min-height: auto;
        }

        @include breakpoint(360px down) {
            max-width: 200px;
        }

    }

    &::before {
        content: '';
        left: 36px;
        z-index: -1;
        right: 90px;
        height: 32px;
        bottom: 64px;
        filter: blur(8px);
        border-radius: 21%;
        position: absolute;
        transform: skewX(64deg);
        background: $background-gray-4;

        @include breakpoint(medium down) {
            left: 14px;
            right: 60px;
            height: 23px;
            bottom: 50px;
            border-radius: 0;
        }

        @include breakpoint(small only) {
            left: 4px;
            right: 50px;
            height: 16px;
            bottom: 20px;
            filter: blur(4px);
        }
    }

}