@use '../../../../assets/scss/variables';
@use '../../../../assets/scss/breakpoints';
@use '../../../../assets/scss/mixins';

.author {
  &-box {
    display: inline-flex;
    margin-bottom: variables.$spacing-06;
    width: 100%;

    a {
      @extend %img_none;

      display: inline-flex;
    }

    &:hover {
      .author__img {
        &::before {
          opacity: 0.75;
        }
      }
    }
  }

  &__img {
    margin-right: variables.$spacing-06;
  }

  &-label {
    padding-top: variables.$spacing-02;

    h6 {
      margin-bottom: variables.$spacing-03;
      text-transform: uppercase;
    }

    p {
      font-size: variables.$font-size-14;
      margin-bottom: 0;

      @include breakpoints.devicebreak(medium) {
        font-size: variables.$font-size-16;
      }
    }
  }
}

[dir='rtl'] {
  .author {
    &-label {
      padding-left: 0;
    }

    &__img {
      margin-left: variables.$spacing-06;
      margin-right: 0;
    }
  }
}