@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/breakpoints';

.author {
  &-wrapper {
    &--4 {
      .author__label {
        padding: 0;
        width: 100%;
      }
    }

    &__box {
      display: inline-flex;
      margin-bottom: $spacing-24;
      width: 100%;
    }
  }

  &__img {
    margin-right: $spacing-24;
  }

  &__label {
    padding-top: $spacing-04;

    h6 {
      margin-bottom: $spacing-08;
      text-transform: uppercase;
    }

    p {
      font-size: $font-size-14;
      margin-bottom: 0;

      @include devicebreak(medium) {
        font-size: $font-size-16;
      }
    }
  }
}

[dir='rtl'] {
  .author__label {
    padding-left: 0;
  }

  .author {
    &-wrapper {
      &--4 {
        .author__label {
          padding-right: 0;
        }
      }
    }

    &__img {
      margin-left: $spacing-24;
      margin-right: 0;
    }
  }
}
