@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/breakpoints';
@import '../../../../assets/scss/mixins';

.author {
  &-box {
    display: inline-flex;
    margin-bottom: $spacing-24;
    width: 100%;

    a {
      @extend %img_none;

      display: inline-flex;
    }
  }


  &__img {
    margin-right: $spacing-24;
  }

  &-label {
    padding-top: $spacing-04;

    h6 {
      margin-bottom: $spacing-08;
      text-transform: uppercase;
    }

    p {
      font-size: $font-size-14;
      margin-bottom: 0;

      @include devicebreak(medium) {
        font-size: $font-size-16;
      }
    }
  }
}

[dir='rtl'] {
  .author {
    &-label {
      padding-left: 0;
    }

    &__img {
      margin-left: $spacing-24;
      margin-right: 0;
    }
  }
}
