@mixin stat-card-mobile-accent() {
    .stat-card {
        background-color: $yellow-2;

        .accent-yellow &, &.accent-yellow {
            background-color: $yellow-2;
        }

        .accent-green &, &.accent-green {
            background-color: $green-2;
        }

        .accent-red &, &.accent-red {
            background-color: $red-2;
        }

        .accent-blue &, &.accent-blue {
            background-color: $blue-accent-2;
        }

        .number {
            text-shadow: none;
            color: $dark-blue-1;
        }
    }
}


.parallax-stat-cards {
    margin-top: 133px;

    @include breakpoint(small only) {
        margin-top: 139px;
    }

    .gs--parallax-container {
        margin-top: 72px;
    }

    .gs--parallax-row {
        justify-content: flex-end;

        &:nth-child(odd) {
            justify-content: flex-start;
        }

        &:not(:first-of-type) {
            margin-top: 26px;
        }
    }

    .stat-card {
        @media (hover: hover) and (pointer: fine), (-ms-high-contrast: none), (-ms-high-contrast: active) {
            &:hover{
                background-color: $yellow-2;
            }

            .accent-yellow &, &.accent-yellow {
                &:hover{
                    background-color: $yellow-2;
                }
            }

            .accent-green &, &.accent-green{
                &:hover{
                    background-color: $green-2;
                }
            }

            .accent-red &, &.accent-red{
                &:hover{
                    background-color: $red;
                }
            }

            .accent-blue &, &.accent-blue{
                &:hover{
                    background-color: $blue-accent-2;
                }
            }
        }
    }

    .generic-slider {
        margin-top: 48px;

        .glide__track {
            overflow: visible;
        }

        .glide__slides {
            margin-top: 34px;
        }

        .glide__slide {
            height: auto;
        }

        .glide__slide--active {
            @include stat-card-mobile-accent();

            @include breakpoint(475px up) {
                + .glide__slide {
                    @include stat-card-mobile-accent();
                }
            }

            @include breakpoint(620px up) {
                + .glide__slide + .glide__slide {
                    @include stat-card-mobile-accent();
                }
            }
        }

        .stat-card {
            max-width: 235px;
        }
    }
}
