.modal-nav-content {
    .content-text {
        padding: 0 20px 100px 75px;

        &.multiple-columns{
            padding: 0 20px 10px 75px;
        }

        .title {
            line-height: 1.14;
            font-size: 3.5rem;
            font-weight: $bold;
        }

        .description {
            margin-top: 25px;
        }

        .links {
            display: flex;
            margin-top: 40px;
            flex-direction: column;

            .text-link,
            .text-link-inline {
                margin-top: 30px;
            }

            .text-link {
                display: inline;
                position: relative;

                svg {
                    position: absolute;
                }
            }
        }
    }

    .content-image {
        max-width: 390px;

        .image {
            object-fit: contain;
            object-position: bottom;
        }
    }
}
