@keyframes circle-square-transition {
    0% {
        opacity: 0.4;
        width: 100px;
        height: 50px;
        margin-top: -70px;
        border-radius: 50%;
    }

    25% {
        width: 150px;
        height: 150px;
        opacity: 0.25;
        margin-top: -50px;
        border-radius: 50%;
    }

    50% {
        opacity: 0.5;
        width: 350px;
        height: 350px;
        margin-top: -50px;
        border-radius: 50%;

    }

    75% {
        width: 450px;
        height: 400px;
        margin-top: -50px;
        border-radius: 0 0 30% 30%;
    }

    100% {
        opacity: 1;
        border-radius: 0;
    }
}

@keyframes transition-opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.modal-nav-hover {
    width: 100%;
    position: fixed;
    top: $height-nav;
    overflow-y: auto;
    z-index: $z-index-modal-nav-hover;
    height: calc(100vh - #{$height-nav});

    @include breakpoint(medium down) {
        top: calc(#{$height-nav-medium} + 1px);
        height: calc(100% - #{$height-nav-medium});
    }

    .modal-content {
        padding: 0 116px;
        max-width: 1440px;
        animation-duration: 1s;

        transform: $transition-tertiary;
    }

    .modal-body {
        overflow: hidden;
        padding: 105px 0 0 102px;
        backdrop-filter: blur(21px);
        background-color: rgba($white, 0.98);
        box-shadow: 0 3px 6px rgba($black, 0.16);

        @supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
            background-color: rgba($white, 0.87);
        }

        &.circle-square-transition {
            opacity: 0;
            animation: circle-square-transition .2s;
            animation-fill-mode: forwards;

            &.change-modal {
                animation-delay: 0s;
                animation-duration: 0s;
            }
        }

        &.circle-square-transition-back {
            opacity: 0;
            animation: circle-square-transition .2s reverse;
        }

        .opacity {
            opacity: 0;

            &.opacity-transition {
                animation-delay: .2s;
                animation-duration: .2s;
                animation-fill-mode: forwards;
                animation-name: transition-opacity;

                &.change-modal {
                    animation-delay: 0s;
                    animation-duration: 0s;
                }
            }
        }


        &.hide {
            animation-direction: reverse;
            animation-name: circle-square-transition;
        }

        .cell-menu {
            max-width: 230px;

            .menu {
                padding: 0;
                list-style: none;

                li {
                    padding: 20px;
                    cursor: pointer;
                    text-transform: uppercase;
                    border-bottom: 1px solid rgba($black, 0.10);

                    &.active {
                        background-color: $blue-0;

                        a {
                            color: $white;

                            &:active,
                            &:hover,
                            &:visited {
                                color: $white;
                            }
                        }
                    }

                    &:hover,
                    &:focus,
                    &.active {
                        .arrow-3 {
                            .arrow {
                                &:before {
                                    opacity: 0;
                                }

                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    a {
                        color: $black;
                        line-height: 1.5;
                        font-size: 1.3rem;
                        font-weight: $bold;

                        &:active,
                        &:hover,
                        &:visited {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}
