@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* feature card start */
.feature__card {
  background: $color-gray-200;
  border-bottom: 0;
  height: 100%;
  overflow: hidden;
  position: relative;

  @include devicebreak(medium) {
    display: flex;
  }

  @include devicebreak(medium) {
    .cta__link.cta--arrow {
      width: 100%;

      &::after {
        background-position: right top;
      }
    }
  }

  @include devicebreak(large) {
    .cta__link.cta--arrow {
      &::after {
        margin-left: 0.75rem;
        width: 0.813rem;
      }

      &:hover::after {
        width: calc(100% - 6rem);
      }
    }
  }

  &::before {
    content: '';
  }

  &:hover {
    .feature__card-slide {
      @include transform(translateX(0));
    }

    .cta__link.cta--arrow::after {
      background-image: url(#{$img-path-Iconfourback}/arrow-left-expand-hover.svg);
      margin-left: 0.25rem;
      width: 6.25rem;

      @include devicebreak(medium) {
        max-width: 16.25rem;
        width: calc(100% - 6.25rem);

        &:hover::after {
          width: calc(100% - 6.25rem);
        }
      }

      @include devicebreak(large) {
        width: 6.25rem;
      }
    }
  }

  .feature__cta.large-8.medium-8 {
    .cta__link.cta--arrow::after {
      @include devicebreak(medium) {
        max-width: 6.25rem;
      }
    }
  }

  .feature__cta.medium-3 {
    .cta__link.cta--arrow::after {
      @include devicebreak(medium) {
        margin-left: 0;
      }

      @include devicebreak(large) {
        margin-left: 0.75rem;
      }
    }
  }

  &.large {
    &::before {
      @include devicebreak(medium) {
        padding-top: 43%;
      }
    }
  }

  &.small,
  &.medium {
    &::before {
      @include devicebreak(medium) {
        padding-top: 100%;
      }
    }

    .feature__card-content {
      p {
        @include devicebreak(medium) {
          font-size: $font-size-16;
        }
      }
    }
  }

  &.without-image {
    .feature__card-slide {
      z-index: 0;

      &::before {
        display: none;
      }
    }
  }

  &.image {
    .feature__card-description {
      @include devicebreak(medium) {
        margin-bottom: 6.125rem;
      }
    }
  }
}

.feature__card-slide {
  @extend %feature__card;

  position: relative;

  @include devicebreak(medium) {

    // color map
    $colors: ('yellow': rgba(255, 235, 0, 0.8), 'red': rgba(230 45 45 / 78%), 'green': rgba(92 222 83 / 82%), 'blue': rgba(94 232 246 / 82%));

    @include transform(translateX(-105%));
    @include transition(transform 0.3s);

    background-color: $color-yellow;
    display: none;
    height: 100%;
    position: absolute;
    z-index: 1;

    @each $name, $color in $colors {
      &.#{$name} {
        background-color: #{$color};

        &::before {
          @include background(207deg, hsla(0, 0%, 100%, 0.2) 30%, #{$color});
        }
      }
    }
  }

  @include devicebreak(large) {
    display: inherit;
  }

  &::before {
    @extend %feature__card;

    bottom: 0;
    content: '';

    @include devicebreak(medium) {
      height: 100%;
      position: absolute;
    }
  }

  .feature__card-image {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    img {
      display: block;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.feature__card-content {
  @extend %feature__card;

  background: $color-gray-100;
  flex-direction: column;
  height: auto;
  padding: $spacing-32 $spacing-24;
  position: relative;
  width: auto;

  @include devicebreak(medium) {
    background: none;
    display: flex;
  }

  h6 {
    font-size: $font-size-12;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: $spacing-24;
    text-transform: uppercase;

    @include devicebreak(medium) {
      margin-bottom: $spacing-48;
    }
  }

  .feature__card-description {
    margin-bottom: 3rem;

    @include devicebreak(medium) {
      margin-bottom: 4.688rem;
    }
  }

  h4,
  h5 {
    margin-bottom: $spacing-24;

    @include devicebreak(medium) {
      margin-bottom: $spacing-32;
    }
  }

  p {
    font-size: $font-size-14;

    @include devicebreak(medium) {
      font-size: $font-size-20;
    }
  }

  .feature__cta {
    margin-bottom: 0;
    margin-top: $spacing-40;
    z-index: 2;

    @include devicebreak(medium) {
      margin-top: auto;
    }
  }
}

.large {
  .feature__card {
    &::before {
      @include devicebreak(medium) {
        padding-top: 43%;
      }
    }
  }
}

.small,
.medium {
  .feature__card {
    &::before {
      @include devicebreak(medium) {
        padding-top: 100%;
      }
    }
  }

  .feature__card-content {
    p {
      @include devicebreak(medium) {
        font-size: $font-size-16;
      }
    }
  }
}

[dir='rtl'] {
  .feature__card:hover {
    .cta--arrow::after {
      @include transform(rotate(180deg));

      margin-right: 0.25rem;
    }
  }

  .feature__card-slide {
    @include devicebreak(medium) {
      @include transform(translateX(105%));

      &:hover {
        @include transform(translateX(0));
      }
    }

    &::before {
      @include devicebreak(medium) {
        background:
          transparent
          linear-gradient(153deg,
          hsla(0, 0%, 100%, 0.2) 30%,
          rgba(255, 235, 0, 0.8));
      }
    }
  }

  .feature__card {
    @include devicebreak(medium) {
      .cta__link.cta--arrow {
        width: 100%;

        &::after {
          margin-left: inherit;
        }
      }
    }

    .feature__cta.medium-3 {
      .cta__link.cta--arrow::after {
        @include devicebreak(medium) {
          margin-right: 0;
        }

        @include devicebreak(large) {
          margin-left: inherit;
          margin-right: 0.75rem;
        }
      }
    }
  }
}

/* feature card end */
