@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/base';

/* page hero start */
.pagehero {
  &-wrapper {
    @extend %expand_to_size;

    min-height: 642px;
    position: relative;

    @include devicebreak(medium) {
      min-height: 746px;
    }

    .breadcrumb__wrapper {
      padding: 0 $spacing-12;
    }

    &__background {
      @extend %absolute__overflow;

      img {
        height: 100%;
        max-width: none;
        width: auto;
      }
    }

    &__title {
      font-family: $Font-Family-SohneBreit;
      font-weight: 700;
      padding: 0 $spacing-12;
      text-transform: uppercase;
    }

    &__subtitle {
      margin-bottom: $spacing-08;
      margin-top: $spacing-96;
      padding: 0 $spacing-12;

      @include devicebreak(medium) {
        margin-top: 197px;
      }
    }
  }

  &__content {
    margin-left: 0;
    padding-top: $spacing-80;
    position: relative;

    @include devicebreak(medium) {
      margin-left: $spacing-64;
      padding-right: 1.469rem;
    }
  }

  &_right_box {
    height: auto;
    position: relative;
    width: 100%;

    @include devicebreak(medium) {
      height: 100%;
      position: absolute;
    }

    video {
      height: auto;

      @include devicebreak(medium) {
        height: 100%;
      }
    }

    img {
      height: auto;
      width: 100%;

      @include devicebreak(medium) {
        height: 100%;
        max-width: none;
        width: auto;
      }
    }
  }

  &-option {
    &__title {
      margin-bottom: $spacing-08;
      margin-top: $spacing-64;

      @include devicebreak(medium) {
        margin-top: 197px;
      }
    }

    &__subtitle {
      font-family: $Font-Family-SohneBreit;
      font-weight: 700;
      margin-bottom: $spacing-40;
      text-transform: uppercase;

      @include devicebreak(medium) {
        margin-bottom: 240px;
      }
    }
  }
}

[dir='rtl'] {
  .pagehero {
    &__content {
      margin-left: 0;

      @include devicebreak(medium) {
        margin-right: $spacing-64;
        padding-left: 1.469rem;
        padding-right: 0;
      }
    }
  }
}

/* page hero end */
