@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* content-card start */
.content-card {
  @extend %img_none;

  background-color: $color-white;
  border: 0;
  border-top: 2px solid $color-black;
  display: block;
  margin-bottom: $spacing-24;

  h6 {
    font-size: $font-size-12;
    font-weight: 700;
    letter-spacing: 0.48px;
    line-height: 1.4;
    margin-bottom: 0;
    padding: $spacing-16 $spacing-24;
  }

  & .card-thumbnail__image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  p {
    display: block;
    font-size: $font-size-16;
    letter-spacing: 0;
  }

  &.yellow,
  &.red,
  &.green,
  &.blue {
    &:hover {
      background-color: $color-white;
    }
  }

  &:hover {
    .card-thumbnail__image::before {
      @include background-image(42deg, $color-yellow, transparent 80%);

      opacity: 0.75;
    }

    &.red {
      .card-thumbnail__image {
        &::before {
          @include background-image(42deg, $color-red, transparent 80%);

          opacity: 0.75;
        }
      }
    }

    &.green {
      .card-thumbnail__image {
        &::before {
          @include background-image(42deg, $color-green, transparent 80%);

          opacity: 0.75;
        }
      }
    }

    &.blue {
      .card-thumbnail__image {
        &::before {
          @include background-image(42deg, $color-azure, transparent 80%);

          opacity: 0.75;
        }
      }
    }
  }

  &.card,
  &.card-yellow {
    &.yellow,
    &.red,
    &.green,
    &.blue,
    &.gray {
      background-color: $color-white;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
    }

    &.yellow:hover {
      background-color: $color-yellow;
    }

    &.red:hover {
      background-color: $color-red;
    }

    &.green:hover {
      background-color: $color-green;
    }

    &.blue:hover {
      background-color: $color-azure;
    }

    &.gray:hover {
      background-color: $color-gray-100;
    }
  }

  &.card-yellow {
    &.yellow,
    &.red,
    &.green,
    &.blue,
    &.gray {
      background-color: $color-light-yellow;
    }

    .card-thumbnail__image {
      display: none;
    }
  }

  &:hover {
    @include transition(0.2s ease);

    .card_thumbnail__image::before {
      opacity: 0.75;
    }

    .cta__link::after {
      @include translate(70%, 0);
    }
  }
}

.content-card__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-16 $spacing-24 $spacing-24;

  h5 {
    margin-bottom: $spacing-24;
  }

  .cta__link {
    margin-top: $spacing-08;
  }

  &_cart {
    height: 100%;
  }
}

[dir='rtl'] {
  .content-card:hover {
    .cta__link::after {
      @include transform(translate(-50%, 0) rotate(180deg));
    }
  }
}

/* content-card start */
