@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* content-card start */
$colors: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'blue': $color-azure);
$backgroundcolors: ('yellow': $color-light-yellow, 'red': $color-light-red, 'green': $color-light-green, 'blue': $color-light-azure, 'gray': $color-gray-100);

div.content-card {
  background-color: $color-white;
  border-top: 2px solid $color-black;
  height: 100%;
  word-break: break-word;
  @include transition(all 0.5s);

  > a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding-bottom: 2.625rem;
    position: relative;
  }

  h6 {
    @extend %carousel_tag;

    margin-bottom: 0;
    padding: $spacing-16 $spacing-24 1.625rem $spacing-24;
  }

  &.card {
    h6 {
      padding-bottom: $spacing-16;
    }
  }

  .image {
    display: inline-flex;
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    &::before {
      @extend %absolute__content;

      @include transition(all 0.9s);

      opacity: 0;
    }
  }

  p {
    font-size: $font-size-16;
    margin: 0;
    padding-top: $spacing-16;
  }

  &.card{
    &:hover {
      background-color: $color-yellow;
    }
  }

  &.card-emphasize {
    background-color: $color-light-yellow;
    &:hover {
      background-color: $color-yellow;
    }
  }

  &.card,
  &.card-emphasize {
    &:hover {
      @each $name, $color in $colors {
        &.#{$name} {
          background-color: #{$color};
        }
      }

      &.red {
        .cta--space::after {
          filter: invert(0) brightness(0);
        }

        .cta--arrow::after {
          background-image: url(#{$img-path-Iconfourback}/arrow-right.svg);
        }
      }
    }
  }

  &.card-emphasize {
    @each $name, $color in $backgroundcolors {
      &.#{$name} {
        background-color: #{$color};
      }
    }
  }

  &:hover {
    background-color: $color-gray-100;

    .image::before {
      opacity: 0.75;
    }

    .cta--space::after {
      @include translate(70%, 0);
    }

    .cta--arrow {
        i {
          width: $spacing-80;
        }
      }
  }

  &-container {
    .cell {
      margin-bottom: $spacing-32;
    }
  }

  .image::before {
    @include background-image(42deg, $color-yellow, transparent 80%);
  }

  @each $name, $color in $colors {
    &.#{$name} {
      .image::before {
        @include background-image(42deg, #{$color}, transparent 80%);
      }
    }
  }
}

.content-caption {
  padding: $spacing-16 $spacing-24 $spacing-32 $spacing-24;

  h5,
  h4 {
    margin-bottom: 0;
  }

  .cta__link {
    bottom: $spacing-24;
    position: absolute;
  }

  &_cart {
    height: 100%;

    h5 {
      margin-bottom: $spacing-16;
    }
  }
}

[dir='rtl'] {
  .content-card {
    .image {
      &::before{
        @include transform(scaleX(-1));
      }
    }

    &:hover {
      .cta {
        &--space::after {
          @include transform(translate(-50%, 0) rotate(180deg));
        }

        &--arrow::after {
          margin-left: 0;
          margin-right: 0.25rem;
        }
      }
    }
  }
}

//burmese lang
:lang(my) {
  h6 {
    font-size: 1rem;
  }
}

/* content-card start */
