@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

/* content-card start */
$colors: ('yellow': $color-yellow, 'red': $color-red, 'green': $color-green, 'blue': $color-azure);
$backgroundcolors: ('yellow': $color-light-yellow, 'red': $color-light-red, 'green': $color-light-green, 'blue': $color-light-azure, 'gray': $color-gray-100);

.content-card {
  @extend %img_none;

  background-color: $color-white;
  border: 0;
  border-top: 2px solid $color-black;
  display: block;
  margin-bottom: 2.375rem;

  h6 {
    @extend %carousel_tag;

    margin-bottom: 0;
    padding: $spacing-16 $spacing-24 1.625rem $spacing-24;
  }

  .image {
    display: inline-flex;
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    &::before {
      @extend %absolute__content;

      @include transition(all 0.6s);

      opacity: 0;
    }
  }

  p {
    display: block;
    font-size: $font-size-16;
    letter-spacing: 0;
  }

  &.yellow,
  &.red,
  &.green,
  &.blue {
    &:hover {
      background-color: $color-white;
    }
  }

  &.card,
  &.card-yellow {
    &.yellow,
    &.red,
    &.green,
    &.blue,
    &.gray {
      @include transition(background-color 0.9s ease);

      background-color: $color-white;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
    }

    &:hover {
      @each $name, $color in $colors {
        &.#{$name} {
          @include transition(opacity 0.9s ease);

          background-color: #{$color};
        }
      }
    }
  }

  &.card-yellow {
    @each $name, $color in $backgroundcolors {
      &.#{$name} {
        background-color: #{$color};
      }
    }

    .image {
      display: none;
    }
  }

  &:hover {
    @include transition(0.5s ease);

    .image::before {
      opacity: 0.75;
    }

    .cta--space::after {
      @include translate(70%, 0);
    }

    .cta--arrow::after {
      background-image: url(#{$img-path-Iconfourback}/arrow-left-expand-hover.svg);
      margin-left: 0.25rem;
      width: 100px;
    }
  }

  @each $name, $color in $colors {
    &.#{$name} {
      .image::before {
        @include background-image(42deg, #{$color}, transparent 80%);
        @include transition(opacity 0.9s ease);
      }
    }
  }
}

.content-card__caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-16 $spacing-24 $spacing-24;

  h5 {
    margin-bottom: $spacing-24;
  }

  .cta__link {
    margin-top: $spacing-08;
  }

  &_cart {
    height: 100%;

    h5 {
      margin-bottom: $spacing-16;
    }
  }
}

[dir='rtl'] {
  .content-card {

    $colors: (
      'yellow': $color-yellow,
      'red': $color-red,
      'green': $color-green,
      'blue': $color-azure,
    );

    &:hover {
      .cta--space::after {
        @include transform(translate(-50%, 0) rotate(180deg));
      }

      .cta--arrow::after {
        margin-left: 0;
        margin-right: 0.25rem;
      }
    }

    @each $name, $color in $colors {
      &.#{$name} {
        .image::before {
          @include background-image(42deg, #{$color}, transparent 80%);
          @include transition(opacity 0.9s ease);
        }
      }
    }
  }

  .image {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

//burmese lang
:lang(my) {
  h6 {
    font-size: 1rem;
  }
}


/* content-card start */
