@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";
@use "../../assets/scss/breakpoints";

/* icon start */

.icon--bar {
  cursor: pointer;
}

.chevron-right-animated {
  @extend %chevron-right-expanded;

  display: inline-block;
  max-width: 6rem;
  width: 100%;
}
.external-link-animated {
  box-shadow:
    -2px 2px 0 0 var(--undpds-color-dark-red),
    -4px 0 0 -2px var(--undpds-color-dark-red),
    -3px 3px 0 -1px var(--undpds-color-dark-red);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: var(--undpds-spacing-04);
  margin-inline-start: -2px;
  position: relative;
  width: var(--undpds-spacing-04);

  &::before {
    @extend %pseudo-icon;
    @include mixins.transform(rotate(-45deg) translate(0, 0));
    @include mixins.transition(all 0.3s);

    background: var(--undpds-color-dark-red);
    height: 2px;
    inset-inline-end: 0;
    inset-block-start: 3.5px;
    width: 0.625rem;
  }

  &::after {
    @extend %pseudo-icon;
    @include mixins.transition(transform 0.3s);
    @include mixins.transform(translate(0, 0));

    border-inline-end: 2px solid var(--undpds-color-dark-red);
    border-block-start: 2px solid var(--undpds-color-dark-red);
    height: var(--undpds-spacing-03);
    inset-inline-end: 0;
    inset-block-start: 0;
    width: var(--undpds-spacing-03);
  }

  &:hover {
    &::after {
      @include mixins.transform(translate(5px, -5px));
    }

    &::before {
      @include mixins.transform(rotate(-45deg) translate(7px, 0));
    }
  }

  // RTL
  [dir="rtl"] & {
    &::before {
      inset-inline-start: 0;
      inset-block-start: 3.5px;
    }

    &::after {
      @include mixins.transform(translate(0px, 0px));
      inset-inline-start: 0px;
      inset-block-start: -1px;
    }
  }
}

.download-animated {
  align-items: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 12px;
  position: relative;

  i {
    border: 2px solid var(--undpds-color-dark-red);
    border-block-start: 0;
    box-sizing: content-box;
    display: block;
    height: 6px;
    width: 1.125rem;
  }

  &::after {
    @extend %pseudo-icon;

    @include mixins.transform(rotate(-45deg) translate(0, 0));
    @include mixins.transition(all 0.3s);

    border-block-end: 2px solid var(--undpds-color-dark-red);
    border-inline-start: 2px solid var(--undpds-color-dark-red);
    inset-block-end: 6px;
    height: 8px;
    inset-inline-start: 7px;
    width: 8px;
  }

  &::before {
    @extend %pseudo-icon;

    @include mixins.transform(translate(0, 0));
    @include mixins.transition(all 0.3s);

    background: var(--undpds-color-dark-red);
    inset-block-end: 7px;
    height: 10px;
    inset-inline-start: 10px;
    width: 2px;
  }

  &:hover {
    &::after {
      @include mixins.transform(rotate(-45deg) translate(7px, -7px));
    }

    &::before {
      @include mixins.transform(translate(0, -10px));
    }
  }
}

[dir="rtl"] {
  .chevron-right-animated {
    @include mixins.transform(translate(0) rotate(180deg));

    &:hover {
      @include mixins.transform(translate(-10px) rotate(180deg));
    }
  }

  .external-link-animated {
    @include mixins.transform(rotate(270deg));

    &:hover {
      @include mixins.transform(rotate(270deg));
    }
  }
}

.icons-container {
  display: flex;
  flex-wrap: wrap;

  > div > div {
    margin: 0 auto;
  }

  > div p {
    font-family: var(--undpds-font-family-proximanova);
    font-size: 14px;
    margin-top: 10px;
  }
}

// For doc styling only
.icons-container > div {
  align-items: center;
  background: var(--undpds-color-gray-300);
  border: 1px solid var(--undpds-color-gray-400);
  box-shadow: 2px 2px 4px var(--undpds-color-gray-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 var(--undpds-spacing-05) var(--undpds-spacing-07);
  padding: var(--undpds-spacing-05) var(--undpds-spacing-03);
  text-align: center;
  width: calc(100% - 2rem);

  @include breakpoints.devicebreak(medium) {
    width: calc(25% - 2rem);
  }
}

/* icon end */
