@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* icon start */

.icon--bar {
  cursor: pointer;
}

.arrow-expand {
  background: url(#{$img-path-Iconback}/arrow-left-expand-defaut.svg) no-repeat center center;
  cursor: pointer;
  height: 16px;
  width: 20px;
  display: inline-flex;

  &:hover {
    @include transform (translateX(10px));
    @include transition (transform 0.4s);

    background: url(#{$img-path-Iconback}/arrow-left-expand-hover.svg) no-repeat center center;
    width: 100px;
  }
}

.external-link {
  background: url(#{$img-path-Iconback}/external-default.svg) no-repeat 0 bottom;
  cursor: pointer;
  height: 20px;
  width: 21px;
  display: inline-flex;

  &:hover {
    background: url(#{$img-path-Iconback}/external-hover.svg) no-repeat 0 bottom;
  }
}

.download-icon {
  background: url(#{$img-path-Iconback}/download-default.svg) no-repeat 0 bottom;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: inline-flex;

  &:hover {
    background: url(#{$img-path-Iconback}/download-hover.svg) no-repeat 0 bottom;
    height: 24px;
  }
}

[dir='rtl'] {
  .arrow-expand {
    @include transform(translate(0) rotate(180deg));

    &:hover {
      @include transform(translate(-10px) rotate(180deg));
    }
  }

  .external-link {
    @include transform(rotate(270deg));

    &:hover {
      @include transform(rotate(270deg));
    }
  }
}

// For doc styling only
#story--foundation-icons--icons > div {
  display: flex;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  width: calc(100% - 2rem);
  justify-content: center;
  background: $color-gray-300;
  padding: $spacing-16 $spacing-08;
  margin: 0 $spacing-16 $spacing-32;
  border: 1px solid $color-gray-400;
  box-shadow: 2px 2px 4px $color-gray-300;
  
  @include devicebreak(medium) {
    width: calc(25% - 2rem);
  }
}

/* icon end */
