@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

/* icon start */

.icon--bar {
  cursor: pointer;
}

.arrow-expand {
  display: inline-block;
  width: 100%;
  max-width: 6rem;

  @extend %chevron-right-expanded;
}

.external-link {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: $spacing-04;
  height: $spacing-04;
  box-shadow: -2px 2px 0px 0px $color-dark-red, -4px 0px 0px -2px $color-dark-red, -3px 3px 0 -1px $color-dark-red;
  margin-left: -2px;

  &:before {
    @extend %pseudo-icon;
    right: 0;
    top: 3.5px;
    background: $color-dark-red;
    @include transform(rotate(-45deg) translate(0, 0));
    width: 0.625rem;
    height: 2px;
    @include transition(all 0.3s);
  }
  &:after {
    @extend %pseudo-icon;
    right: 0;
    top: 0;
    width: $spacing-03;
    height: $spacing-03;
    border-right: 2px solid $color-dark-red;
    border-top: 2px solid $color-dark-red;
    @include transition(transform 0.3s);
    @include transform(translate(0, 0));
  }

  &:hover {
    &:after {
      @include transform(translate(5px, -5px));
    }
    &:before {
      @include transform(rotate(-45deg) translate(7px, 0));
    }
  }
}

.download-icon {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 12px;

  i {
    display: block;
    width: 1.125rem;
    height: 6px;
    border: 2px solid $color-dark-red;
    border-top: 0;
  }

  &::after {
    @extend %pseudo-icon;
    width: 8px;
    height: 8px;
    border-left: 2px solid $color-dark-red;
    border-bottom: 2px solid $color-dark-red;
    left: 7px;
    bottom: 6px;
    @include transform(rotate(-45deg) translate(0, 0));
    @include transition(all 0.3s);
  }

  &::before {
    @extend %pseudo-icon;
    width: 2px;
    height: 10px;
    background: $color-dark-red;
    left: 10px;
    bottom: 7px;
    @include transform(translate(0, 0));
    @include transition(all 0.3s);
  }
  &:hover {
    &:after {
      @include transform(rotate(-45deg) translate(7px, -7px));
    }
    &:before {
      @include transform(translate(0, -10px));
    }
  }
}

[dir='rtl'] {
  .arrow-expand {
    @include transform(translate(0) rotate(180deg));

    &:hover {
      @include transform(translate(-10px) rotate(180deg));
    }
  }

  .external-link {
    @include transform(rotate(270deg));

    &:hover {
      @include transform(rotate(270deg));
    }
  }
}

// For doc styling only
#story--foundation-icons--icons > div {
  align-items: center;
  background: $color-gray-300;
  border: 1px solid $color-gray-400;
  box-shadow: 2px 2px 4px $color-gray-300;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 $spacing-05 $spacing-07;
  padding: $spacing-05 $spacing-03;
  text-align: center;
  width: calc(100% - 2rem);

  @include devicebreak(medium) {
    width: calc(25% - 2rem);
  }
}

/* icon end */
