.news-centre-cards {
    .cards-container {
        @include breakpoint(medium up) {
            padding-left: 0;
            padding-right: 25px;
        }
    }

    .cta-button {
        @include breakpoint(small only) {
            margin-right: 0;
            margin-left: 60px;
        }
    }

    .active-filters {
        .filter {
            @include breakpoint(small only) {
                margin-left: 0;
                margin-right: 11px;
            }
        }

        .filter-clear {
            margin-left: 0;
            margin-right: 13px;

            @include breakpoint(small only) {
                left: 30px;
                right: auto;
            }
        }
    }
}
