@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer Logo start *//
.footer-logo {
  align-items: center;
  display: flex;

  h5 {
    color: $color-white;
    margin: 0 $spacing-16;
  }

  &.inverted {
    h5 {
      color: $color-black;
    }
  }
}
// * footer Logo end *//
