@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * footer Logo start *//
.footer__logo {
  align-items: center;
  display: flex;

  h5 {
    margin: 0 $spacing-16;
  }

  &.white {
    h5 {
      color: $color-white;
    }
  }
}
// * footer Logo end *//
