
.leader-modal {

    .modal-content {
        max-width: 1156px;
        padding: 148px 118px;

        @include breakpoint(small only) {
            padding: 62px 12px;
        }

        .btn-close {
            @include breakpoint(small only) {
                top: 9px;
            }
        }
    }

    .leader-info {
        max-width: 450px;
        margin-left: 25px;

        @include breakpoint(small only) {
            margin: 0 auto;
            max-width: none;
            padding: 33px 29px;
        }

        .leader-bio {
            margin-top: 40px;

            @include breakpoint(small only) {
                margin-top: 26px;
            }
        }

        .leader-titles {
            margin-top: 12px;
        }
    }

    .leader-photo {
        flex-shrink: 0;

        @include breakpoint(small only) {
            text-align: center;
        }

        img {
            width: 100%;
            max-width: 330px;

            @include breakpoint(small only) {
                max-width: 336px;
            }
        }
    }
}
