.modal-publication-download {

    &.no-image .modal-content {
        max-width: 633px;

        .bottom-container {
            padding-right: 0;
            justify-content: flex-start;
        }

        .download-controls {
            padding-left: 0;
        }

        .image-container {
            display: none;
        }
    }

    .upper-container {
        display: flex;

        @include breakpoint(small only) {
            flex: 1 0 auto;
            height: calc(100% - 65px);
        }
    }

    .bottom-container {
        display: flex;
        margin-top: 25px;
        padding-right: 40px;
        align-items: center;
        justify-content: flex-end;

        .social-icons {
            display: flex;

            @include breakpoint(small only) {
                display: none;
            }

            .icon-item {
                width: 22px;

                &:not(:first-child) {
                    margin-left: 26px;
                }

                .fill {
                    color: $black;
                }
            }
        }

        @include breakpoint(small only) {
            margin-top: 22px;
            padding-right: 0;

            .btn {
                width: 100%;
            }
        }
    }

    .image-container {
        flex: 1 0 auto;

        @include breakpoint(small only) {
            display: none;
        }

        .publication-image {
            z-index: 0;
            max-width: 355px;
            padding: 45px 54px 64px;

            .image {
                min-height: 0;
            }
        }
    }

    .download-controls {
        width: 100%;
        display: flex;
        max-height: 430px;
        padding-left: 40px;
        flex-direction: column;

        .select-box {
            flex: 1 0 auto;
            margin-right: 40px;
            margin-bottom: 20px;
        }

        @include breakpoint(small only) {
            padding: 0;
            max-height: none;

            .select-box {
                margin-right: 0;
            }
        }

        .chapter-list {
            height: 100%;
            list-style: none;
            overflow-y: auto;
            padding: 0 35px 0 0;

            @include breakpoint(small only) {
                padding: 0 17px 0 0;
            }

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background: linear-gradient(90deg, transparent 10%, $black 33%, transparent 0%);
            }

            &::-webkit-scrollbar-thumb {
                background-color: black;
            }

            .chapter-item {
                position: relative;
                padding: 19px 26px 15px 8px;
                border-top: 1px solid rgba($black, 0.10);

                @include breakpoint(small only) {
                    padding: 19px 7px 15px 14px;
                }

                &:last-child {
                    border-bottom: 1px solid rgba($black, 0.10);
                }

                .chapter-metadata {
                    margin-top: 8px;
                    color: $dark-blue-2;
                }

                .checkbox-item {
                    @extend .small-copy;
                    line-height: 1.2;

                    .chapter-title, .chapter-metadata {
                        display: block;
                    }

                    @include breakpoint(medium) {
                        .checkmark, input[type=checkbox] {
                            top: 0;
                            transform: none;
                        }
                    }

                    @include breakpoint(large down) {
                        padding: 0;
                        border: none;
                    }
                }
            }
        }
    }
}
