// Font Path
$font-path: '/assets/fonts/';
$image-path: '/assets/images/';

// Colors - Misc

// Accent

// Colors - Primary

// Additional blue/gray colors

// Publication image background

//SDG Cards Colors

// Font Weights
$bold: 700;
$light: 300;
$medium: 500;
$regular: 400;
$semi-bold: 600;
$extra-bold: 800;

// Fonts
$primary-font: 'NotoSansMyanmar', sans-serif;
$secondary-font: 'NotoSansMyanmar', sans-serif;

// global margin and padding

// Z Index

// Transitions
