@import "../../assets/scss/mixins";
@import "../../assets/scss/breakpoints";
@import "../../assets/scss/variables";
@import "../PublicationPage/publication-page.scss";

// margin styles
.margin-top {
  &-69 {
    margin-top: 4.3rem;
  }

  &-32 {
    margin-top: $spacing-32;
  }
}

.landing-page {
  .multi-select {
    max-width: 100%;

    .select-control {
      min-width: 100%;
    }

    .options {
      min-width: 100%;
    }
  }

  .content-card-container {
    margin-top: $spacing-24;

    @include devicebreak(medium) {
      margin-top: 4.313rem;
    }

    .button {
      @include devicebreak(small) {
        margin: 0 $spacing-16;
      }
    }
  }

  .pagehero {
    @include devicebreak(small) {
      &-content {
        h2 {
          margin-top: 1.75rem;
        }
      }
    }

    &-tall {
      margin-top: $spacing-40;

      @include devicebreak(medium) {
        margin-top: 7rem;
      }
    }
  }
}
