@import '../../assets/scss/mixins';
@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../PublicationPage/publicationpage.scss';
// margin styles
.margin-top {
  &-69 {
    margin-top: 4.3rem;
  }

  &-32 {
    margin-top: $spacing-32;
  }
}

.multi-select .select-control {
  min-width: 100%;
}

.pagehero {
  &_right_box {
    height: auto;
    position: relative;
    width: 100%;

    @include devicebreak(medium) {
      height: 100%;
      position: inherit;
    }
  }

  &__content{
    padding-top: $spacing-16;

    @include devicebreak(medium) {
      padding-top: $spacing-80;
    }
  }
}
/* page hero end */
