@use '../../../assets/scss/variables';
@use '../../../assets/scss/breakpoints';

.credits {
  font-size: var(--undpds-font-size-14);
  line-height: 1.4;
  margin-left: auto;

  @container (width > 30em) {
    font-size: var(--undpds-font-size-16);
  }
}
