@import '../../../assets/scss/variables';
@import '../../../assets/scss/breakpoints';

.credits {
  font-size: $font-size-14;
  line-height: 1.4;
  margin-left: auto;

  @container (width > 30em) {
    font-size: $font-size-16;
  }
}
