@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

/* credit image*/
.credit--image-author {
    margin-bottom: 10px;
    span,
    b {
        color: $color-black;
        display: block;
        font-size: $font-size-14;
        line-height: 19.25px;
        letter-spacing: 0em;
        font-family: Proxima Nova;
        @include devicebreak(large) {
            font-size: $font-size-16;
            line-height: 22px;
        }
    }
}
