@import '../../../assets/scss/variables';
@import '../../../assets/scss/breakpoints';

/* credit image */
.image--author {
  margin-bottom: 10px;
}

.author__caption {
  color: $color-black;
  display: block;
  font-family: $Font-Family-ProximaRegular;
  font-size: $font-size-14;
  letter-spacing: 0;
  line-height: 19.25px;

  @include devicebreak(medium) {
    font-size: $font-size-16;
    line-height: 22px;
  }
}

.author--name {
  font-family: $Font-Family-ProximaRegular;
  font-weight: 700;
}
