@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

.menu__wrapper {
  padding: 0;

  li {
    display: inline-block;
    margin: 12px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

[dir='rtl'] {
  .menu__wrapper {
    li {
      a {
        margin: 0;
      }
      &:first-child {
        margin-right: 0;
        margin-left: 12px;
      }
      &:last-child {
        margin-left: 0;
        margin-right: 12px;
      }
    }
  }
}
