@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

a {
  @extend %paragragh-font-20;

  border-bottom: 2px solid $color-dark-red;
  color: $color-black;
  text-decoration: none;
}
