@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

a {
  @extend %paragragh-font-20;
  text-decoration: none;
  color: $color-black;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  background-position: 100% 100%, -30px 100%;
  background-image: linear-gradient($color-dark-red, $color-dark-red),
    linear-gradient($color-dark-red, $color-dark-red);
  &:hover {
    @include lineLoop;
  }
}
