.expertise-card{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    pointer-events: auto; // Override "none" from row

    a {
        &:hover {
            .text-link {
                color: $dark-blue-2;

                svg,
                img{
                    transform: translateX(70%);
                }
            }
        }
    }

    .text{
        padding-bottom: 55px;
        border-bottom: 3px solid $black;

        @include breakpoint(xlarge down){
            padding-bottom: 25px;
        }

        @include breakpoint(small only){
            margin-top: 30px;
            padding-bottom: 0;
            border-bottom: none;
        }

        @include breakpoint(360px down){
            margin-top: 20px;
        }

        .heading.h3,
        .heading.medium-copy{
            padding: 0 24px;

            @include breakpoint(large down){
                padding: 0 20px;
            }

            @include breakpoint(medium down){
                padding: 0 15px;
            }

            @include breakpoint(small only) {
                padding: 0;
            }
        }

        .heading.medium-copy{
            margin-top: 30px;
            overflow: hidden;
            max-height: 230px;

            @include breakpoint(large down){
                max-height: 200px;
            }

            @include breakpoint(medium down){
                margin-top: 25px;
                max-height: 130px;
            }

            @include breakpoint(small only){
                max-height: unset;
            }

        }
    }

    .cta-container{
        padding: 0 24px;
        margin-top: 40px;

        @include breakpoint(large down){
            padding: 0 20px;
        }

        @include breakpoint(medium down){
            padding: 0 15px 0 0;
        }

        @include breakpoint(small only){
            margin-top: 40px;
            padding-bottom: 0;
        }
    }

}
