.featured-content-card {
    margin-top: 89px;
    margin-bottom: 40px;

    @include breakpoint(small only) {
        margin-top: 13px;
        margin-bottom: 58px;
    }

    .main-container {
        padding-top: 20px;
        border-top: 2px solid $black;

        @include breakpoint(small only) {
            border: none;
            flex-direction: column-reverse;
        }
    }

    .featured-data {
        padding-left: 24px;
        padding-right: 85px;

        @include breakpoint(small only) {
            margin-top: 44px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .image-container {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include breakpoint(small only) {
            margin-top: 21px;
            min-height: 240px;
        }

        &:before {
            top: 0;
            left: 0;
            opacity: 0;
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            transition: opacity 0.5s ease;
            background-image: linear-gradient(45deg, $yellow 0%, transparent 80%);
        }
    }

    .btn {
        &:hover {
            background: $red-3;

            svg,
            img {
                transform: translateX(70%);
            }

            .image-container:before {
                opacity: 0.75;
            }
        }
    }

/*    &:hover {
        .image-container:before {
            opacity: 0.75;
        }

        .btn {
            background: $red-3;

            svg,
            img {
                transform: translateX(70%);
            }

        }

    }*/

    .heading, .excerpt {
        margin-top: 27px;
    }

    .heading {
        @include breakpoint(small only) {
            margin: 0;
        }
    }

    .big-copy {
        margin-bottom: 26px;
    }

    .btn {
        margin-top: 65px;

        @include breakpoint(small only) {
            width: 100%;
            margin-top: 60px;

            > span {
                flex: 0 1 auto;
            }
        }
    }

    // Default color, kept class for clarity
    // Two ways of adding accent color:
    // 1. Globally on an upper container (all up to the body)
    // 2. Directly on the card
    // Directly on the card overrides global color
    .accent-yellow &, &.accent-yellow {
        .image-container:before {
            background-image: linear-gradient(45deg, $yellow 0%, transparent 80%);
        }
    }

    .accent-green &, &.accent-green {
        .image-container:before {
            background-image: linear-gradient(45deg, $green 0%, transparent 80%);
        }
    }

    .accent-red &, &.accent-red {
        .image-container:before {
            background-image: linear-gradient(45deg, $red 0%, transparent 80%);
        }
    }

    .accent-blue &, &.accent-blue {
        .image-container:before {
            background-image: linear-gradient(45deg, $blue-accent 0%, transparent 80%);
        }
    }
}
