.image-card {
    position: relative;

    &:before {
        content: "";
        width: 100%;
        display: block;
        padding-top: (97 / 66) * 100%;
    }

    > .content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
