.leader-card {
    margin-bottom: 22px;
    @include hover-animate-arrow-2();

    @include breakpoint(small only) {
        margin-bottom: 14px;
    }

    .cta-container {
        margin: auto 0 0;

        .btn,
        .text-link {
            margin-top: 27px;
        }
    }

    .leader-info {
        background: $dark-blue-6;
        padding: 38px 60px 41px 34px;

        @include breakpoint(small only) {
            order: 1;
            padding: 30px 27px 29px;
        }

        .leader-titles {
            margin-top: 12px;
            text-transform: none;
        }
    }

    .leader-photo {
        @include breakpoint(small only) {
            order: 0;
        }

        img {
            margin: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include breakpoint(small only) {
                height: 400px;
            }
        }
    }
}
