.single-content-card-accent-color{
    position: relative;
    background-color: $yellow-2;
    border-top: 2px solid $black;
    transition: background-color 0.5s ease;

    &.sdg{
        color: $white;

        @include sgd-colors('background-color', true);

        .cta .text-link{
            color: $white;

            &.arrow-2 {

                .link-arrow {
                    stroke: $white;
                }
            }
        }
    }

    .card-content{
        padding: 15px 20px 20px;

        .title{
            margin-top: 35px;
            overflow: hidden;
            max-height: 275px;

            @include breakpoint(medium down){
                max-height: 270px;
            }

            h4{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;

                @include breakpoint(medium down){
                    -webkit-line-clamp: 10;
                }
            }
        }

        .cta{
            bottom: 20px;
            position: absolute;
        }
    }

    // Default color, kept class for clarity
    // Two ways of adding accent color:
    // 1. Globally on an upper container (all up to the body)
    // 2. Directly on the card
    // Directly on the card overrides global color
    .accent-yellow &, &.accent-yellow {
        background-color: $yellow-2;
    }

    .accent-green &, &.accent-green{
        background-color: $green-2;
    }

    .accent-red &, &.accent-red{
        background-color: $red-2;
    }

    .accent-blue &, &.accent-blue{
        background-color: $blue-accent-2;
    }

    // Don't trigger hover on tap
    @media (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &:hover{
            background-color: $yellow;
        }

        .accent-yellow &, &.accent-yellow {
            &:hover{
                background-color: $yellow;
            }
        }

        .accent-green &, &.accent-green{
            &:hover{
                background-color: $green;
            }
        }

        .accent-red &, &.accent-red{
            &:hover{
                background-color: $red;
            }
        }

        .accent-blue &, &.accent-blue{
            &:hover{
                background-color: $blue-accent;
            }
        }
    }
}
