.single-content-card-image{
    .card-content {
        .tag{
            padding: 15px 25px 20px;
        }

        .image{
            height: 185px;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            &:before{
                top: 0;
                left: 0;
                opacity: 0;
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                transition: opacity 0.5s ease;
                background-image: linear-gradient(42deg, $yellow 0%, transparent 80%);
            }
        }

        .title{
            padding: 0 25px;
            margin-top: 15px;
            height: 90px;

            @include breakpoint(medium down){
                height: 100px;
            }

            h4{
                height: 100%;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;

                @include breakpoint(medium down){
                    -webkit-line-clamp: 4;
                }

                @include breakpoint(small only){
                    -webkit-line-clamp: 5;
                }

                @include breakpoint(medium only){
                    font-size: 2.5rem;
                }
            }
        }

        .cta{
            padding: 20px 25px 0;
        }
    }

    &:hover{
        .card-content .image:before{
            opacity: 0.75;
        }
    }

    // Default color, kept class for clarity
    // Two ways of adding accent color:
    // 1. Globally on an upper container (all up to the body)
    // 2. Directly on the card
    // Directly on the card overrides global color
    .accent-yellow &, &.accent-yellow {
        .card-content .image:before {
            background-image: linear-gradient(42deg, $yellow 0%, transparent 80%);
        }
    }

    .accent-green &, &.accent-green {
        .card-content .image:before {
            background-image: linear-gradient(42deg, $green 0%, transparent 80%);
        }
    }

    .accent-red &, &.accent-red {
        .card-content .image:before {
            background-image: linear-gradient(42deg, $red 0%, transparent 80%);
        }
    }

    .accent-blue &, &.accent-blue {
        .card-content .image:before {
            background-image: linear-gradient(42deg, $blue-accent 0%, transparent 80%);
        }
    }
}
