.single-content-card-accent-color{
    position: relative;
    background-color: $yellow-2;
    border-top: 2px solid $black;
    transition: background-color 0.5s ease;

    @include accent-color-background();

    &.sdg{
        color: $white;

        @include sgd-colors('background-color', true);

        .cta .text-link{
            color: $white;

            &.arrow-2 {

                .link-arrow {
                    stroke: $white;
                }
            }
        }
    }

    .card-content{
        padding: 15px 20px 20px;

        .title{
            margin-top: 35px;
            overflow: hidden;
            max-height: 275px;

            @include breakpoint(medium down){
                max-height: 270px;
            }

            h4{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;

                @include breakpoint(medium down){
                    -webkit-line-clamp: 10;
                }
            }
        }

        .cta{
            bottom: 20px;
            position: absolute;
        }
    }
}
