.tweet{
    color: $white;

    @include breakpoint(small only){
        margin-bottom: 105px;
    }

    .avatar {
        width: 44px;
        height: 44px;
        min-width: 44px;
        margin-right: 15px;
        border-radius: 50%;
        background-color: $blue-0;
    }

    .text{
        margin-top: 30px;
        padding: 25px 5px 0 0;
        border-top: 3px solid $white;

        @include breakpoint(medium down){
            margin-top: 25px;
            padding: 25px 10px 0 0;
        }

        @include breakpoint(small only){
            margin-top: 30px;
            padding: 25px 25px 0 0;
        }

        .small-copy{
            color: $white;
            margin-top: 18px;

            a{
                border-bottom: 1px solid $red;
            }
        }

        .cta{
            margin-top: 40px;

            @include breakpoint(medium down){
                margin-top: 25px;
            }

            @include breakpoint(small only){
                margin-top: 45px;
            }
        }

        .nav-item{
            font-weight: $bold;
            color: $dark-blue-3;
        }
    }
}