@import '../../assets/scss/variables';
@import '../../assets/scss/breakpoints';

/* lists start */
ul,
ol {
  font-size: $font-size-16;
  line-height: 22px;
}

dl {
  font-size: $font-size-14;
  line-height: 19.25px;
}

ul,
ol,
dl {
  color: $color-black;
  font-family: $Font-Family-ProximaRegular;
  font-style: normal;
  font-weight: 400;
  margin: 0;

  @include devicebreak(medium) {
    font-size: $font-size-20;
    line-height: 27.5px;
  }
}
/* lists end */
