@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

/* unorderlist */
ul {
  margin: 0;
  color: $black;
  font-size: $font-size-20;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

/* unorderlist */
ol {
  margin: 0;
  color: $black;
  font-size: $font-size-20;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}

/* description list */
dl {
  margin: 0;
  color: $black;
  font-size: $font-size-20;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px;
}
