@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* statspanel card start */
.stats {
  &-panel {

    // color map
    $colors: ('red': $red-gradient, 'green': $green-gradient, 'blue': $blue-gradient);

    @include transition(300ms all);

    align-items: center;
    background-color: $color-gray-700;
    display: flex;
    justify-content: center;
    min-height: 378px;
    position: relative;

    @include devicebreak(medium) {
      min-height: 787px;
    }

    img {
      @extend %absolute__content;

      @include transition(300ms all);

      object-fit: cover;
      opacity: 0;
    }

    &:hover,
    &.active {
      &::after,
      img {
        opacity: 1;
      }

      &::after {
        @extend %absolute__content;
        @include gradient(15deg, #{$yellow-gradient});
        @include transition(opacity 0.4s cubic-bezier(0.64,0.05,0.35,1.05));
      }

      div.stats-card {
        color: $color-gray-700;

        h2 {
          color: $color-gray-700;
          text-shadow: -1px -1px 0 $color-gray-700, 1px -1px 0 $color-gray-700, -1px 1px 0 $color-gray-700, 1px 1px 0 $color-gray-700;

          @supports (-webkit-text-stroke: 2px $color-gray-700) {
            text-shadow: none;
            -webkit-text-stroke: 2px $color-gray-700;
          }
        }
      }


    }

    div.stats-card {
      background-color: transparent;      
      color: $color-white;
      max-width: 100%;
      padding: 0 $spacing-24;
      width: 100%;
      word-break: unset;
      z-index: 1;

      @include devicebreak(medium) {
        padding: 0 $spacing-16;
      }

      @include devicebreak(large) {
        padding: 0 $spacing-48;
      }

      @include devicebreak(small) {
        h4 {
          font-size: 2.188rem;
          margin-bottom: $spacing-12;
        }
      }

      h2 {
        color: $color-gray-700;
        text-shadow: -1px -1px 0 $color-white, 1px -1px 0 $color-white, -1px 1px 0 $color-white, 1px 1px 0 $color-white;

        @include devicebreak(medium) {
          font-size: 6rem;
        }

        @include devicebreak(large) {
          font-size: 6.875rem;
        }

        @include devicebreak(small) {
          margin-bottom: $spacing-16;
        }

        @supports (-webkit-text-stroke: 2px $color-white) {
          text-shadow: none;
          -webkit-text-stroke: 2px $color-white;
        }
      }
      p {
        height:$spacing-100;
      }
    }

    @each $name, $color in $colors {
      &.#{$name} {
        &::after {
          @include gradient(15deg, #{$color});
        }
      }
    }
  }
}

[dir='rtl'] {
  .stats {
    .stats-panel {
      &:hover{
        // color map
        $colors: ('red': $red-gradient, 'green': $green-gradient, 'blue': $blue-gradient);

        @each $name, $color in $colors {
          &.#{$name} {
            &::after {
             @include transform(scaleX(-1));
            }
          }
        }
      }
    }
  }
}
/* statspanel card start */
