@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

/* statspanel card start */
.stats {
  &-panel {

    // color map
    $colors: ('yellow': $yellow-gradient, 'red': $red-gradient, 'green': $green-gradient, 'blue': $blue-gradient);

    @include transition(300ms all);

    align-items: center;
    background-color: $color-gray-700;
    display: flex;
    justify-content: center;
    min-height: 378px;
    position: relative;

    @include devicebreak(medium) {
      min-height: 787px;
    }

    img {
      @extend %absolute__content;

      @include transition(300ms all);

      object-fit: cover;
      opacity: 0;
    }

    &::after {
      @extend %absolute__content;

      opacity: 0;
      transition: all 0.4s;
    }

    &:hover,
    &.active {
      &::after,
      img {
        opacity: 1;
      }

      .stats-card {
        h2 {
          color: $color-gray-700;
          text-shadow: -1px -1px 0 $color-gray-700, 1px -1px 0 $color-gray-700, -1px 1px 0 $color-gray-700, 1px 1px 0 $color-gray-700;

          @supports (-webkit-text-stroke: 2px $color-gray-700) {
            text-shadow: none;
            -webkit-text-stroke: 2px $color-gray-700;
          }
        }

        &-box {
          color: $color-gray-700;
        }
      }
    }

    .stats-card {
      background-color: transparent;
      max-width: 100%;
      padding: 0 $spacing-24;
      width: 100%;
      word-break: unset;
      z-index: 1;

      @include devicebreak(medium) {
        padding: 0 $spacing-48;
      }

      @include devicebreak(small) {
        h4 {
          font-size: 2.188rem;
          margin-bottom: $spacing-12;
        }
      }

      &-box {
        color: $color-white;
        width: 100%;
      }

      h2 {
        color: $color-gray-700;
        text-shadow: -1px -1px 0 $color-white, 1px -1px 0 $color-white, -1px 1px 0 $color-white, 1px 1px 0 $color-white;

        @include devicebreak(large) {
          font-size: 6.875rem;
        }

        @include devicebreak(small) {
          margin-bottom: $spacing-16;
        }

        @supports (-webkit-text-stroke: 2px $color-white) {
          text-shadow: none;
          -webkit-text-stroke: 2px $color-white;
        }
      }

      &.medium {
        .stats-card-box {
          padding: 0;
        }
      }
    }

    @each $name, $color in $colors {
      &.#{$name} {
        &::after {
          @include gradient(15deg, #{$color});
        }
      }
    }
  }
}

/* statspanel card start */
