@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.statspanel {
  align-items: center;
  background-color: $color-gray-700;
  display: flex;
  justify-content: center;
  min-height: 378px;
  position: relative;
  @include transition(300ms all);

  @include devicebreak(medium) {
    min-height: 787px;
  }

  img {
    @extend %absolute__content;

    object-fit: cover;
    opacity: 0;  
    @include transition(300ms all);
    
  }

  &::after {
    @extend %absolute__content;

    background:
      linear-gradient(0deg,
      $color-yellow 1.21%,
      $color-yellow 56.78%,
      rgba(255, 235, 0, 0.7) 100%);
    opacity: 0;
    transition: all 0.4s;
  }

  &__box {
    color: $color-white;
    padding: 0 $spacing-24;
    width: 100%;
    z-index: 1;

    @include devicebreak(medium) {
      padding: 0 $spacing-48;
    }
  }

  &__number {
    color: $color-gray-700;
    display: block;
    font-family: $Font-Family-SohneBreit;
    font-size: 6.875rem;
    letter-spacing: 0.05rem;
    line-height: 1.09;
    margin-bottom: $spacing-16;
    text-shadow: -1px -1px 0 $color-white, 1px -1px 0 $color-white, -1px 1px 0 $color-white, 1px 1px 0 $color-white;
    -webkit-text-stroke: 1px $color-white;
    @include transition(300ms all);

    @include devicebreak(medium) {
      font-size: 6.6rem;
      margin-bottom: $spacing-32;
    }

    @include devicebreak(large) {
      font-size: 6.875rem;
    }
  }

  &__per {
    display: block;
    font-size: 2.188rem;
    font-weight: 600;
    line-height: 1.12;
    margin-bottom: $spacing-12;

    @include devicebreak(medium) {
      margin-bottom: $spacing-16;
    }
  }

  p {
    font-size: 1.25rem;
    margin: 0;
  }

  &:hover,
  &.active {
    &::after,
    img {
      opacity: 1;
    }

    .statspanel__number {
      text-shadow: -1px -1px 0 $color-gray-700, 1px -1px 0 $color-gray-700, -1px 1px 0 $color-gray-700, 1px 1px 0 $color-gray-700;
      -webkit-text-stroke: 1px $color-gray-700;
    }

    .statspanel__box {
      color: $color-gray-700;
    }
  }
}
