.checkbox-item {
    padding-right: 0;
    padding-left: 30px;

    @include breakpoint(large down) {
        padding: 15px 0 15px 20px;
    }

    input {
        left: 0;
        right: auto;
    }

    .checkmark {
        left: 0;
        right: auto;

        &:after {
            left: 0;
        }
    }

    &.radio {
        .checkmark {
            &:after {
                left: 3px;
            }
        }
    }
}
