.search-input {
    .icon {
        margin-left: 0;
        margin-right: 15px;

        @include breakpoint(medium down) {
            margin-right: 0;
        }
    }

    @include breakpoint(medium) {
        &.big-search {
            .icon {
                margin-right: 0;
            }

            .input-search {
                padding: 10px 75px 12px 20px;

                &::-webkit-search-cancel-button{
                    right: auto;
                    left: -20px;
                }
            }
        }
    }

    .input-search {
        padding: 13px 55px 14px 20px;

        &::-webkit-search-cancel-button{
            right: auto;
            left: -10px;
        }

        @include breakpoint(medium down) {
            padding: 10px 55px 10px 20px;
        }
    }
}