.select-box {

    .options-container {
        .option {
            &:after {
                left: auto;
                right: 22px;
            }

            .radio {
                right: 0;
                left: auto;
            }
        }
    }

    .selected {
        text-align: right;

        &:after {
            left: 25px;
            right: auto;
        }
    }
}
