@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';

.imagecard {
  @extend %img_none;

  border: 0;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;

  @include devicebreak(large) {
    &:hover,
    &__content--thumbnail-image {
      opacity: 1;

      .imagecard__content--caption {
        height: auto;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &:hover {
    .cta__link::after {
      @include translate(10px,0);
      @include transition(0.2s ease);

      background-image: url(#{$img-path-Icon}/arrow-left-expand-hover.svg);
      width: 100px;
    }
  }

  &__content {
    position: relative;

    &--thumbnail-image {
      img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &--caption {
      padding-top: $spacing-32;

      @include devicebreak(large) {
        @include translate(0,100%);
        @include transition(all 0.4s cubic-bezier(0.64,0.05,0.35,1.05));

        background: $color-white;
        bottom: -1px;
        height: 0;
        left: -1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        width: 101%;
      }

      h5 {
        margin-bottom: 0;
        padding: 0 $spacing-24;
      }
    }
  }

  .cta__link {
    margin: $spacing-32 0 0 $spacing-24;

    @include devicebreak(medium) {
      margin-left: 1.125rem;
    }

    @include devicebreak(large) {
      margin-left: $spacing-24;
    }
  }

  &.small {
    @include devicebreak(medium) {
      max-width: 212px;

      .cta__link {
        margin-left: 0;
      }
    }

    .imagecard__content--caption {
      h5 {
        font-size: $font-size-16;
      }
    }
  }
}

[dir='rtl'] {
  .imagecard {
    a {
      margin: 0;
    }

    .cta__link {
      margin-right: $spacing-24;
      margin-top: $spacing-32;

      @include devicebreak(medium) {
        margin-right: 1.125rem;
      }

      @include devicebreak(large) {
        margin-right: $spacing-24;
      }

      &::after {
        @include transform(translate(-10%,0) rotate(180deg));
        @include transition(0.2s ease);
      }
    }

    &.small .cta__link {
      @include devicebreak(medium) {
        margin-right: 0;
      }
    }
  }
}
