@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

mark {
  @extend %paragragh-font-20;

  background: $color-light-yellow;
  font-size: 14px;
  padding: 2px;

  @include devicebreak(medium) {
    font-size: 20px;
  }
}
