@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

mark {
  @extend %paragragh-font-20;

  background: $color-light-yellow;
  font-size: $font-size-14;
  padding: $spacing-01;

  @include devicebreak(medium) {
    font-size: $font-size-20;
  }
}
