@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

// * language row start *//
.language_item {
  @extend %paragragh-font-16;
  @extend %border-bottom;

  display: inline-block;
  line-height: 15px;
  min-width: 100px;
  padding: 12px 16px;
}
// * language row end *//
