@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

// * language row start *//
.language_item {
  @extend %paragragh-font-16;
  @extend %border-bottom;
  padding: 12px 16px;
  max-width: 100px;
  line-height: 15px;
}
// * language row end *//
