@import '../../../assets/scss/mixins';
@import '../../../assets/scss/breakpoints';
@import '../../../assets/scss/variables';

a {
  @extend %paragragh-font-20;

  background-image:
    linear-gradient($color-dark-red, $color-dark-red),
    linear-gradient($color-dark-red, $color-dark-red);
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  color: $color-black;
  text-decoration: none;

  &:hover {
    @include animation(lineLoop-animation 2s linear infinite);
  }
}
