@import "../../../assets/scss/mixins";
@import "../../../assets/scss/breakpoints";
@import "../../../assets/scss/variables";

// * menu item row start *//
.menu_item {
  @extend %paragragh-font-14;
  text-transform: uppercase;
  display: inline;
  border: none;
  @extend %img_none;
  &:hover {
    color: $color-gray-600;
    cursor: pointer;
  }
  &.selected {
    padding-bottom: 4px;
    border-bottom: 2px solid $color-dark-red;
  }
}
// * menu item row end *//
