@import './assets/scss/variables';
@import './assets/scss/mixins';

.storybook-button {
  @include body-copy;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  &--primary {
    color: white;
    background-color: #5db7f0;
    &:hover{
      background-color: #009dff;
    }
  }
  &--secondary {
    color: $test;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    &:hover {
      background-color: $test;
      color: white;
    }
  }
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
