@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.modal-sdg {
  @include transition(transform 0.4s linear);

  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: calc(100vh - 7.1875rem);
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  top: 7.1875rem;
  visibility: visible;
  width: 100%;
  z-index: 1;

  @include devicebreak(mediumonlytab) {
    height: calc(100vh - 4.6875rem);
    top: 4.6875rem;
  }

  @include devicebreak(small) {
    padding-left: $spacing-04;
    width: calc(100% - 0.75rem);
  }

  .sdg-modal-dialog {
    @include transition(all 0.4s ease);

    height: 100%;
  }

  .modal-header {
    @include devicebreak(medium) {
      padding-top: 3.75rem;
    }

    @include devicebreak(small) {
      padding: 1.25rem 1.25rem 0 0;
      position: absolute;
      right: 0;
      z-index: 10;
    }

    .close {
      background: url(#{$img-path-Iconback}/times-circle.svg) no-repeat left center;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 45px;
      margin: 0 auto;
      width: 45px;
    }
  }

  &-content {
    background-color: $color-white;
    box-shadow: -3px 0 6px rgb(0 0 0 / 16%);
    height: 100%;
    overflow-y: auto;
  }

  .sdg-card-link {
    display: none;
  }
}

body.sdgmodal-open {
  overflow: hidden;
}

.sdg-container {

  $sdg-colors: 'sdg-color-1' $sdg-red $sdg-hover-red,
    'sdg-color-2' $sdg-mustard $sdg-hover-mustard,
    'sdg-color-3' $sdg-kelly-green $sdg-hover-kelly-green,
    'sdg-color-4' $sdg-dark-red $sdg-hover-dark-red,
    'sdg-color-5' $sdg-red-orange $sdg-hover-red-orange,
    'sdg-color-6' $sdg-bright-blue $sdg-hover-bright-blue,
    'sdg-color-7' $sdg-yellow $sdg-hover-yellow,
    'sdg-color-8' $sdg-burgundy-red $sdg-hover-burgundy-red,
    'sdg-color-9' $sdg-orange $sdg-hover-orange,
    'sdg-color-10' $sdg-magenta $sdg-hover-magenta,
    'sdg-color-11' $sdg-golden-yellow $sdg-hover-golden-yellow,
    'sdg-color-12' $sdg-dark-mustard $sdg-hover-dark-mustard,
    'sdg-color-13' $sdg-dark-green $sdg-hover-dark-green,
    'sdg-color-14' $sdg-blue $sdg-hover-blue,
    'sdg-color-15' $sdg-lime-green $sdg-hover-lime-green,
    'sdg-color-16' $sdg-royal-blue $sdg-hover-royal-blue,
    'sdg-color-17' $sdg-navy-blue $sdg-hover-navy-blue;

  overflow-x: hidden;
  padding: 4.375rem $spacing-04 0;
  word-break: break-word;

  @include devicebreak(medium) {
    padding: 0 $spacing-06 0 $spacing-07;
  }

  .heading {
    @extend %sdg-modal-title;

    margin: 0 0 0 1.875rem;

    @include devicebreak(medium) {
      margin: $spacing-12 0 0 $spacing-12;
    }

    h2 {
      font-family: $Font-Family-SohneBreit;
      text-transform: uppercase;
    }
  }

  .description {
    margin-top: $spacing-08;
    padding: $spacing-05 $spacing-05 $spacing-11 $spacing-05;

    @include devicebreak(medium) {
      margin-top: $spacing-11;
      padding: 4.375rem 3.75rem 5.625rem $spacing-12;

      p {
        margin-right: $spacing-11;
      }

      img {
        height: auto;
      }
    }

    @include devicebreak(small) {
      > div {
        flex-direction: column-reverse;

        > div:first-of-type {
          margin-top: $spacing-06;
        }
      }
    }

    img {
      @extend %img-cover;
    }
  }

  .stats-card:hover {
    h2 {
      color: $color-white;
      text-shadow: none;
      -webkit-text-stroke: unset;
    }

    h4,
    p {
      color: $color-white;
    }
  }

  .sdg-content {
    &:hover {
      h4,
      h5,
      h6,
      p,
      .cta__link {
        color: $color-white;

        i {
          &::before {
            background-color: $color-white;
          }

          &::after {
            border-color: $color-white;
          }
        }
      }
    }

    &.color {
      @include transition(background-color 0.5s ease);
    }
  }

  @each $name, $color, $bg in $sdg-colors {
    &.#{$name} {
      .heading {
        h2,
        h3 {
          color: $color;
        }
      }

      .description,
      .stats-card:hover {
        background-color: $color;
      }

      .sdg-content {
        &.color {
          background-color: $bg;
        }

        &:hover {
          background-color: $color;
        }
      }

      .image::before {
        @include background-image(42deg, $color, transparent 80%);
      }
    }
  }
}

.ndg-container {
  padding-left: $spacing-07;

  @include devicebreak(medium) {
    .sdg-card {
      strong {
        padding-left: $spacing-07;
      }

      h4 {
        left: 15rem;
      }
    }
  }

  @include devicebreak(small) {
    padding-bottom: $spacing-04;
    padding-left: $spacing-04;

    .sdg {
      &-card {
        display: flex;
        min-height: 85px;
        padding: 0 $spacing-06;
        position: relative;

        strong {
          font-size: 0.938rem;
          margin-right: $spacing-05;
        }

        h4 {
          font-size: 0.938rem;
          margin: 0;
          width: calc(100% - 4rem);
        }

        &::after {
          background: url(#{$img-path-Iconback}/chevron-right-white.svg) no-repeat center center;
          content: '';
          height: 20px;
          position: absolute;
          right: $spacing-06;
          width: 13px;
        }
      }
    }
  }

  .sdg-image {
    display: none;
  }
}

.bulleted-list {
  margin: $spacing-11 0 0;

  @include devicebreak(medium) {
    margin: $spacing-12 0 0 $spacing-11;
  }

  ul {
    margin-left: $spacing-03;
    padding-top: $spacing-50;

    @include devicebreak(medium) {
      margin-left: 0;
      padding: 0;
    }

    li {
      font-size: $font-size-20;
      padding-left: $spacing-07;
      position: relative;

      &:not(:last-of-type) {
        margin-bottom: $spacing-10;
      }
    }
  }
}

.sdg-stats {
  margin-top: $spacing-12;
}

.sdg-content-cards {
  margin-top: $spacing-12;

  .content-data {
    margin-top: $spacing-06;

    > div {
      margin-bottom: $spacing-06;
    }
  }

  .button {
    margin: $spacing-06 0 $spacing-07;

    @include devicebreak(medium) {
      margin: $spacing-11 0 $spacing-10;
    }
  }
}

[dir='rtl'] {
  .modal-sdg {
    @include devicebreak(small) {
      padding-left: 0;
      padding-right: $spacing-04;
    }

    .modal-header {
      left: 0;
      right: unset;

      @include devicebreak(small) {
        padding-left: 1.25rem;
        padding-right: 0;
      }
    }
  }

  .sdg-container {
    @include devicebreak(medium) {
      padding: 0 $spacing-07 0 $spacing-06;

      .description {
        padding: 4.375rem $spacing-12 5.625rem 3.75rem;

        p {
          margin-left: $spacing-11;
          margin-right: 0;
        }
      }
    }

    .heading {
      margin-left: 0;
      margin-right: 1.875rem;

      @include devicebreak(medium) {
        margin-left: 0;
        margin-right: $spacing-12;
      }

      h2 {
        @include devicebreak(medium) {
          padding-left: 0;
          padding-right: $spacing-05;
        }
      }
    }
  }

  .ndg-container {
    padding-left: 0;
    padding-right: $spacing-07;

    @include devicebreak(medium) {
      .sdg-card {
        strong {
          padding-left: 0;
          padding-right: $spacing-07;
        }

        h4 {
          left: unset;
          right: 15rem;
        }
      }
    }

    @include devicebreak(small) {
      padding-right: $spacing-04;

      .sdg-card {
        strong {
          margin-left: $spacing-05;
          margin-right: 0;
        }

        &::after {
          @include transform(rotateY(180deg));

          left: $spacing-06;
          right: unset;
        }
      }
    }
  }

  .bulleted-list {
    margin-left: 0;
    margin-right: 0;

    @include devicebreak(medium) {
      margin-left: 0;
      margin-right: $spacing-11;
    }

    ul {
      margin-left: unset;
      margin-right: $spacing-03;

      @include devicebreak(medium) {
        margin-right: 0;
        padding-right: 0;
      }

      li {
        padding-left: 0;
        padding-right: $spacing-07;

        &::before {
          left: 0;
          right: 0;

          @include devicebreak(medium) {
            right: -$spacing-05;
          }
        }
      }
    }
  }
}

:lang(my) {
  .sdg-container {
    .heading {
      h2 {
        font-family: $Font-Family-NotoSans;
      }
    }
  }
}

#{$cyrillic} {
  .sdg-container {
    .heading {
      h2 {
        font-family: $Font-Family-ProximaNova;
      }
    }
  }
}
