@use '../../assets/scss/breakpoints';
@use '../../assets/scss/variables';
@use '../../assets/scss/mixins';

.modal-sdg {
  @include mixins.transition(transform 0.4s linear);

  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: calc(100vh - 7.1875rem);
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  top: 7.1875rem;
  visibility: visible;
  width: 100%;
  z-index: 1;

  @include breakpoints.devicebreak(mediumonlytab) {
    height: calc(100vh - 4.6875rem);
    top: 4.6875rem;
  }

  @include breakpoints.devicebreak(small) {
    padding-left: variables.$spacing-04;
    width: calc(100% - 0.75rem);
  }

  .sdg-modal-dialog {
    @include mixins.transition(all 0.4s ease);

    height: 100%;
  }

  .modal-header {
    @include breakpoints.devicebreak(medium) {
      padding-top: 3.75rem;
    }

    @include breakpoints.devicebreak(small) {
      padding: 1.25rem 1.25rem 0 0;
      position: absolute;
      right: 0;
      z-index: 10;
    }

    .close {
      background: url(~icons/times-circle.svg) no-repeat left center;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 45px;
      margin: 0 auto;
      width: 45px;
    }
  }

  &-content {
    background-color: variables.$color-white;
    box-shadow: -3px 0 6px rgb(0 0 0 / 16%);
    height: 100%;
    overflow-y: auto;
  }

  .sdg-card-link {
    display: none;
  }
}

body.sdgmodal-open {
  overflow: hidden;
}

.sdg-container {

  $sdg-colors: 'sdg-color-1'variables.$sdg-red variables.$sdg-hover-red,
    'sdg-color-2'variables.$sdg-mustard variables.$sdg-hover-mustard,
    'sdg-color-3'variables.$sdg-kelly-green variables.$sdg-hover-kelly-green,
    'sdg-color-4'variables.$sdg-dark-red variables.$sdg-hover-dark-red,
    'sdg-color-5'variables.$sdg-red-orange variables.$sdg-hover-red-orange,
    'sdg-color-6'variables.$sdg-bright-blue variables.$sdg-hover-bright-blue,
    'sdg-color-7'variables.$sdg-yellow variables.$sdg-hover-yellow,
    'sdg-color-8'variables.$sdg-burgundy-red variables.$sdg-hover-burgundy-red,
    'sdg-color-9'variables.$sdg-orange variables.$sdg-hover-orange,
    'sdg-color-10'variables.$sdg-magenta variables.$sdg-hover-magenta,
    'sdg-color-11'variables.$sdg-golden-yellow variables.$sdg-hover-golden-yellow,
    'sdg-color-12'variables.$sdg-dark-mustard variables.$sdg-hover-dark-mustard,
    'sdg-color-13'variables.$sdg-dark-green variables.$sdg-hover-dark-green,
    'sdg-color-14'variables.$sdg-blue variables.$sdg-hover-blue,
    'sdg-color-15'variables.$sdg-lime-green variables.$sdg-hover-lime-green,
    'sdg-color-16'variables.$sdg-royal-blue variables.$sdg-hover-royal-blue,
    'sdg-color-17'variables.$sdg-navy-blue variables.$sdg-hover-navy-blue;

  overflow-x: hidden;
  padding: 4.375rem variables.$spacing-04 0;
  word-break: break-word;

  @include breakpoints.devicebreak(medium) {
    padding: 0 variables.$spacing-06 0 variables.$spacing-07;
  }

  .heading {
    @extend %sdg-modal-title;

    margin: 0 0 0 1.875rem;

    @include breakpoints.devicebreak(medium) {
      margin: variables.$spacing-12 0 0 variables.$spacing-12;
    }

    h2 {
      font-family: variables.$Font-Family-SohneBreit;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .description {
    margin-top: variables.$spacing-08;
    padding: variables.$spacing-05 variables.$spacing-05 variables.$spacing-11 variables.$spacing-05;

    @include breakpoints.devicebreak(medium) {
      margin-top: variables.$spacing-11;
      padding: 4.375rem 3.75rem 5.625rem variables.$spacing-12;

      p {
        margin-right: variables.$spacing-11;
      }

      img {
        height: auto;
      }
    }

    @include breakpoints.devicebreak(small) {
      >div {
        flex-direction: column-reverse;

        >div:first-of-type {
          margin-top: variables.$spacing-06;
        }
      }
    }

    img {
      @extend %img-cover;
    }
  }

  .stats-card:hover {
    h2 {
      color: variables.$color-white;
      text-shadow: none;
      -webkit-text-stroke: unset;
    }

    h4,
    p {
      color: variables.$color-white;
    }
  }

  .sdg-content {
    &:hover {

      h4,
      h5,
      h6,
      p,
      .cta__link {
        color: variables.$color-white;

        i {
          &::before {
            background-color: variables.$color-white;
          }

          &::after {
            border-color: variables.$color-white;
          }
        }
      }
    }

    &.color {
      @include mixins.transition(background-color 0.5s ease);
    }
  }

  @each $name, $color, $bg in $sdg-colors {
    &.#{$name} {
      .heading {

        h2,
        h3 {
          color: $color;
        }
      }

      .description,
      .stats-card:hover {
        background-color: $color;
      }

      .sdg-content {
        &.color {
          background-color: $bg;
        }

        &:hover {
          background-color: $color;
        }
      }

      .image::before {
        @include mixins.background-image(42deg, $color, transparent 80%);
      }
    }
  }
}

.ndg-container {
  padding-left: variables.$spacing-07;

  @include breakpoints.devicebreak(medium) {
    .sdg-card {
      strong {
        padding-left: variables.$spacing-07;
      }

      h4 {
        left: 15rem;
      }
    }
  }

  @include breakpoints.devicebreak(small) {
    padding-bottom: variables.$spacing-04;
    padding-left: variables.$spacing-04;

    .sdg {
      &-card {
        display: flex;
        min-height: 85px;
        padding: 0 variables.$spacing-06;
        position: relative;

        strong {
          font-size: 0.938rem;
          margin-right: variables.$spacing-05;
        }

        h4 {
          font-size: 0.938rem;
          margin: 0;
          width: calc(100% - 4rem);
        }

        &::after {
          background: url(~icons/chevron-right-white.svg) no-repeat center center;
          content: '';
          height: 20px;
          position: absolute;
          right: variables.$spacing-06;
          width: 13px;
        }
      }
    }
  }

  .sdg-image {
    display: none;
  }
}

.bulleted-list {
  margin: variables.$spacing-11 0 0;

  @include breakpoints.devicebreak(medium) {
    margin: variables.$spacing-12 0 0 variables.$spacing-11;
  }

  ul {
    margin-left: variables.$spacing-03;
    padding-top: variables.$spacing-50;

    @include breakpoints.devicebreak(medium) {
      margin-left: 0;
      padding: 0;
    }

    li {
      font-size: variables.$font-size-20;
      padding-left: variables.$spacing-07;
      position: relative;

      &:not(:last-of-type) {
        margin-bottom: variables.$spacing-10;
      }
    }
  }
}

.sdg-stats {
  margin-top: variables.$spacing-12;
}

.sdg-content-cards {
  margin-top: variables.$spacing-12;

  .content-data {
    margin-top: variables.$spacing-06;

    >div {
      margin-bottom: variables.$spacing-06;
    }
  }

  .button {
    margin: variables.$spacing-06 0 variables.$spacing-07;

    @include breakpoints.devicebreak(medium) {
      margin: variables.$spacing-11 0 variables.$spacing-10;
    }
  }
}

[dir='rtl'] {
  .modal-sdg {
    @include breakpoints.devicebreak(small) {
      padding-left: 0;
      padding-right: variables.$spacing-04;
    }

    .modal-header {
      left: 0;
      right: unset;

      @include breakpoints.devicebreak(small) {
        padding-left: 1.25rem;
        padding-right: 0;
      }
    }
  }

  .sdg-container {
    @include breakpoints.devicebreak(medium) {
      padding: 0 variables.$spacing-07 0 variables.$spacing-06;

      .description {
        padding: 4.375rem variables.$spacing-12 5.625rem 3.75rem;

        p {
          margin-left: variables.$spacing-11;
          margin-right: 0;
        }
      }
    }

    .heading {
      margin-left: 0;
      margin-right: 1.875rem;

      @include breakpoints.devicebreak(medium) {
        margin-left: 0;
        margin-right: variables.$spacing-12;
      }

      h2 {
        @include breakpoints.devicebreak(medium) {
          padding-left: 0;
          padding-right: variables.$spacing-05;
        }
      }
    }
  }

  .ndg-container {
    padding-left: 0;
    padding-right: variables.$spacing-07;

    @include breakpoints.devicebreak(medium) {
      .sdg-card {
        strong {
          padding-left: 0;
          padding-right: variables.$spacing-07;
        }

        h4 {
          left: unset;
          right: 15rem;
        }
      }
    }

    @include breakpoints.devicebreak(small) {
      padding-right: variables.$spacing-04;

      .sdg-card {
        strong {
          margin-left: variables.$spacing-05;
          margin-right: 0;
        }

        &::after {
          @include mixins.transform(rotateY(180deg));

          left: variables.$spacing-06;
          right: unset;
        }
      }
    }
  }

  .bulleted-list {
    margin-left: 0;
    margin-right: 0;

    @include breakpoints.devicebreak(medium) {
      margin-left: 0;
      margin-right: variables.$spacing-11;
    }

    ul {
      margin-left: unset;
      margin-right: variables.$spacing-03;

      @include breakpoints.devicebreak(medium) {
        margin-right: 0;
        padding-right: 0;
      }

      li {
        padding-left: 0;
        padding-right: variables.$spacing-07;

        &::before {
          left: 0;
          right: 0;

          @include breakpoints.devicebreak(medium) {
            right: -(variables.$spacing-05);
          }
        }
      }
    }
  }
}

:lang(my) {
  .sdg-container {
    .heading {
      h2 {
        font-family: variables.$Font-Family-NotoSans;
      }
    }
  }
}

#{variables.$cyrillic} {
  .sdg-container {
    .heading {
      h2 {
        font-family: variables.$Font-Family-ProximaNova;
      }
    }
  }
}