@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.modal-sdg {
  @include transition(all 0.4s ease);

  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: calc(100vh - 7.1875rem);
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  top: 7.1875rem;
  visibility: visible;
  width: 100%;
  z-index: 1;

  @include devicebreak(mediumonlytab) {
    height: calc(100vh - 4.6875rem);
    top: 4.6875rem;
  }

  @include devicebreak(small) {
    padding-left: $spacing-04;
    width: calc(100% - 0.75rem);
  }

  .sdg-modal-dialog {
    @include transition(all 0.4s ease);
    height: 100%;
  }

  .modal-header {
    @include devicebreak(medium) {
      padding-top: 3.75rem;
    }

    @include devicebreak(small) {
      padding: 1.25rem 1.25rem 0 0;
      position: absolute;
      right: 0;
      z-index: 10;
    }

    .close {
      background: url(#{$img-path-Iconback}/Times_circle.svg) no-repeat left center;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 45px;
      margin: 0 auto;
      width: 45px;
    }
  }

  &-content {
    background-color: $color-white;
    box-shadow: -3px 0 6px rgb(0 0 0 / 16%);
    height: 100%;
    overflow-y: auto;
  }
}

body.sdgmodal-open {
  overflow: hidden;
}

.sdg-container {
  overflow-x: hidden;
  padding: 4.375rem $spacing-04 0;
  word-break: break-word;

  @include devicebreak(medium) {
    padding: 0 $spacing-06 0 $spacing-07;
  }

  .heading {
    margin: 0 0 0 1.875rem;

    @include devicebreak(medium) {
      margin: $spacing-12 0 0 $spacing-12;
    }

    h2 {
      font-family: $Font-Family-SohneBreit;
      text-transform: uppercase;
    }

    @extend %sdg-modal-title;
  }

  .description {
    margin-top: $spacing-08;
    padding: $spacing-05 $spacing-05 $spacing-11 $spacing-05;

    @include devicebreak(medium) {
      margin-top: $spacing-11;
      padding: 4.375rem 3.75rem 5.625rem $spacing-12;

      p {
        margin-right: $spacing-11;
      }

      img {
        height: auto;
      }
    }

    @include devicebreak(small) {
      > div {
        flex-direction: column-reverse;

        > div:first-child {
          margin-top: $spacing-06;
        }
      }
    }

    img {
      @extend %img-cover;
    }
  }

  .stats-card:hover {
    h2 {
      color: $color-white;
      text-shadow: none;
      -webkit-text-stroke: unset;
    }

    h4,
    p {
      color: $color-white;
    }
  }

  .sdg-content {
    &:hover {
      h4,
      h5,
      h6,
      p,
      .cta__link {
        color: $color-white;

        i {
          &::before {
            background-color: $color-white;
          }

          &::after {
            border-color: $color-white;
          }
        }
      }
    }

    &.color {
      @include transition(background-color 0.5s ease);
    }
  }

  &.sdg-red {
    .heading {
      h2,
      h3 {
        color: $sdg-red;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-red;
    }

    .sdg-content {
      &.color {
        background-color: #dc9099;
      }

      &:hover {
        background-color: $sdg-red;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-red, transparent 80%);
    }
  }

  &.sdg-mustard {
    .heading {
      h2,
      h3 {
        color: $sdg-mustard;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-mustard;
    }

    .sdg-content {
      &.color {
        background-color: #d3bb8a;
      }

      &:hover {
        background-color: $sdg-mustard;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-mustard, transparent 80%);
    }
  }

  &.sdg-kelly-green {
    .heading {
      h2,
      h3 {
        color: $sdg-kelly-green;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-kelly-green;
    }

    .sdg-content {
      &.color {
        background-color: #9fd092;
      }

      &:hover {
        background-color: $sdg-kelly-green;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-kelly-green, transparent 80%);
    }
  }

  &.sdg-dark-red {
    .heading {
      h2,
      h3 {
        color: $sdg-dark-red;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-dark-red;
    }

    .sdg-content {
      &.color {
        background-color: #ce8f97;
      }

      &:hover {
        background-color: $sdg-dark-red;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-dark-red, transparent 80%);
    }
  }

  &.sdg-red-orange {
    .heading {
      h2,
      h3 {
        color: $sdg-red-orange;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-red-orange;
    }

    .sdg-content {
      &.color {
        background-color: #ce9890;
      }

      &:hover {
        background-color: $sdg-red-orange;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-red-orange, transparent 80%);
    }
  }

  &.sdg-bright-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-bright-blue;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-bright-blue;
    }

    .sdg-content {
      &.color {
        background-color: #9ac8d3;
      }

      &:hover {
        background-color: $sdg-bright-blue;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-bright-blue, transparent 80%);
    }
  }

  &.sdg-yellow {
    .heading {
      h2,
      h3 {
        color: $sdg-yellow;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-yellow;
    }

    .sdg-content {
      &.color {
        background-color: #d3c79d;
      }

      &:hover {
        background-color: $sdg-yellow;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-yellow, transparent 80%);
    }
  }

  &.sdg-burgundy-red {
    .heading {
      h2,
      h3 {
        color: $sdg-burgundy-red;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-burgundy-red;
    }

    .sdg-content {
      &.color {
        background-color: #ce94a6;
      }

      &:hover {
        background-color: $sdg-burgundy-red;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-burgundy-red, transparent 80%);
    }
  }

  &.sdg-orange {
    .heading {
      h2,
      h3 {
        color: $sdg-orange;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-orange;
    }

    .sdg-content {
      &.color {
        background-color: #d2aa98;
      }

      &:hover {
        background-color: $sdg-orange;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-orange, transparent 80%);
    }
  }

  &.sdg-magenta {
    .heading {
      h2,
      h3 {
        color: $sdg-magenta;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-magenta;
    }

    .sdg-content {
      &.color {
        background-color: #c994aa;
      }

      &:hover {
        background-color: $sdg-magenta;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-magenta, transparent 80%);
    }
  }

  &.sdg-golden-yellow {
    .heading {
      h2,
      h3 {
        color: $sdg-golden-yellow;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-golden-yellow;
    }

    .sdg-content {
      &.color {
        background-color: #c7b094;
      }

      &:hover {
        background-color: $sdg-golden-yellow;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-golden-yellow, transparent 80%);
    }
  }

  &.sdg-dark-mustard {
    .heading {
      h2,
      h3 {
        color: $sdg-dark-mustard;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-dark-mustard;
    }

    .sdg-content {
      &.color {
        background-color: #ceba98;
      }

      &:hover {
        background-color: $sdg-dark-mustard;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-dark-mustard, transparent 80%);
    }
  }

  &.sdg-dark-green {
    .heading {
      h2,
      h3 {
        color: $sdg-dark-green;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-dark-green;
    }

    .sdg-content {
      &.color {
        background-color: #a2d7a6;
      }

      &:hover {
        background-color: $sdg-dark-green;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-dark-green, transparent 80%);
    }
  }

  &.sdg-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-blue;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-blue;
    }

    .sdg-content {
      &.color {
        background-color: #a1c6d7;
      }

      &:hover {
        background-color: $sdg-blue;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-blue, transparent 80%);
    }
  }

  &.sdg-lime-green {
    .heading {
      h2,
      h3 {
        color: $sdg-lime-green;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-lime-green;
    }

    .sdg-content {
      &.color {
        background-color: #abce9e;
      }

      &:hover {
        background-color: $sdg-lime-green;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-lime-green, transparent 80%);
    }
  }

  &.sdg-royal-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-royal-blue;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-royal-blue;
    }

    .sdg-content {
      &.color {
        background-color: #748f9d;
      }

      &:hover {
        background-color: $sdg-royal-blue;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-royal-blue, transparent 80%);
    }
  }

  &.sdg-navy-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-navy-blue;
      }
    }

    .description,
    .stats-card:hover {
      background-color: $sdg-navy-blue;
    }

    .sdg-content {
      &.color {
        background-color: #a2c2d8;
      }

      &:hover {
        background-color: $sdg-navy-blue;
      }
    }

    .image::before {
      @include background-image(42deg, $sdg-navy-blue, transparent 80%);
    }
  }
}

.ndg-container {
  padding-left: $spacing-07;

  @include devicebreak(medium) {
    .sdg-card {
      strong {
        padding-left: $spacing-07;
      }

      h4 {
        left: 15rem;
      }
    }
  }

  @include devicebreak(small) {
    padding-bottom: $spacing-04;
    padding-left: $spacing-04;

    .sdg {
      &-card {
        display: flex;
        min-height: 85px;
        padding: 0 $spacing-06;
        position: relative;

        strong {
          font-size: 0.938rem;
          margin-right: $spacing-05;
        }

        h4 {
          font-size: 0.938rem;
          margin: 0;
          width: calc(100% - 4rem);
        }

        &::after {
          background: url(#{$img-path-Iconback}/Chevron-right-white-small.png) no-repeat center center;
          content: '';
          height: 20px;
          position: absolute;
          right: $spacing-06;
          width: 13px;
        }
      }
    }
  }

  .sdg-image {
    display: none;
  }
}

.bulleted-list {
  margin: $spacing-11 0 0;

  @include devicebreak(medium) {
    margin: $spacing-12 0 0 $spacing-11;
  }

  ul {
    padding-top: $spacing-50;
    margin-left: $spacing-03;

    @include devicebreak(medium) {
      padding: 0;
      margin-left: 0;
    }

    li {
      font-size: $font-size-20;
      padding-left: $spacing-07;
      position: relative;

      &:not(:last-child) {
        margin-bottom: $spacing-10;
      }
    }
  }
}

.sdg-stats {
  margin-top: $spacing-12;
}

.sdg-content-cards {
  margin-top: $spacing-12;

  .content-data {
    margin-top: $spacing-06;

    > div {
      margin-bottom: $spacing-06;
    }
  }

  .button {
    margin: $spacing-06 0 $spacing-07;

    @include devicebreak(medium) {
      margin: $spacing-11 0 $spacing-10;
    }
  }
}

[dir='rtl'] {
  .modal-sdg {
    @include devicebreak(small) {
      padding-left: 0;
      padding-right: $spacing-04;
    }

    .modal-header {
      left: 0;
      right: unset;

      @include devicebreak(small) {
        padding-left: 1.25rem;
        padding-right: 0;
      }
    }
  }

  .sdg-container {
    @include devicebreak(medium) {
      padding: 0 $spacing-07 0 $spacing-06;

      .description {
        padding: 4.375rem $spacing-12 5.625rem 3.75rem;

        p {
          margin-left: $spacing-11;
          margin-right: 0;
        }
      }
    }

    .heading {
      margin-left: 0;
      margin-right: 1.875rem;

      h2 {
        @include devicebreak(medium) {
          padding-left: 0;
          padding-right: $spacing-05;
        }
      }

      @include devicebreak(medium) {
        margin-left: 0;
        margin-right: $spacing-12;
      }
    }
  }

  .ndg-container {
    padding-left: 0;
    padding-right: $spacing-07;

    @include devicebreak(medium) {
      .sdg-card {
        strong {
          padding-left: 0;
          padding-right: $spacing-07;
        }

        h4 {
          left: unset;
          right: 15rem;
        }
      }
    }

    @include devicebreak(small) {
      padding-right: $spacing-04;

      .sdg-card {
        strong {
          margin-left: $spacing-05;
          margin-right: 0;
        }

        &::after {
          @include transform(rotateY(180deg));

          left: $spacing-06;
          right: unset;
        }
      }
    }
  }

  .bulleted-list {
    margin-left: 0;
    margin-right: 0;

    @include devicebreak(medium) {
      margin-left: 0;
      margin-right: $spacing-11;
    }

    ul {
      margin-right: $spacing-03;
      margin-left: unset;
      @include devicebreak(medium) {
        padding-right: 0;
        margin-right: 0;
      }
      li {
        padding-left: 0;
        padding-right: $spacing-07;

        &::before {
          left: 0;
          right: 0;

          @include devicebreak(medium) {
            right: -$spacing-05;
          }
        }
      }
    }
  }
}
