@import '../../assets/scss/breakpoints';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.modal-sdg {
  @include transition(all 0.4s ease);

  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: calc(100vh - 7.1875rem);
  opacity: 1;
  overflow-x: hidden;
  position: fixed;
  top: 7.1875rem;
  visibility: visible;
  width: 100%;
  z-index: 99;

  @include devicebreak(mediumonlytab) {
    top: 4.6875rem;
    height: calc(100vh - 4.6875rem);
  }

  @include devicebreak(small) {
    padding-left: $spacing-12;
    width: calc(100% - 0.75rem);
  }

  > .grid-x {
    @include transition(all 0.4s ease);
  }

  .modal-header {
    @include devicebreak(medium) {
      padding-top: 3.75rem;
    }

    @include devicebreak(small) {
      padding: 1.25rem 1.25rem 0 0;
      position: absolute;
      right: 0;
      z-index: 10;
    }

    .close {
      background: url(#{$img-path-Iconback}/Times_circle.svg) no-repeat left center;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 45px;
      margin: 0 auto;
      width: 45px;
    }
  }

  &-content {
    background-color: $color-white;
    box-shadow: -3px 0 6px rgb(0 0 0 / 16%);
    height: 100%;
    overflow-y: auto;
  }
}

body.modal-open {
  overflow: hidden;
}

.sdg-container {
  overflow-x: hidden;
  padding: 4.375rem $spacing-12 0;
  word-break: break-word;

  @include devicebreak(medium) {
    padding: 0 $spacing-24 0 $spacing-32;
  }

  .heading {
    margin: 0 0 0 1.875rem;

    @include devicebreak(medium) {
      margin: $spacing-96 0 0 $spacing-96;
    }

    h2 {
      font-family: 'SohneBreit';
      text-transform: uppercase;
    }
  }

  .description {
    margin-top: $spacing-40;
    padding: $spacing-16 $spacing-16 $spacing-80 $spacing-16;

    @include devicebreak(medium) {
      margin-top: $spacing-80;
      padding: 4.375rem 3.75rem 5.625rem $spacing-96;

      p {
        margin-right: $spacing-80;
      }

      img {
        height: auto;
      }
    }

    @include devicebreak(small) {
      > .grid-x {
        flex-direction: column-reverse;

        > div:first-child {
          margin-top: $spacing-24;
        }
      }
    }

    img {
      @extend %img-cover;
    }
  }

  .statscard:hover {
    .statscard__number {
      color: $color-white;
      text-shadow: none;
      -webkit-text-stroke: unset;
    }

    .statscard__per,
    p {
      color: $color-white;
    }
  }

  .content-card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    &:hover {
      color: $color-white;

      h6,
      .cta__link {
        color: $color-white;

        &::after {
          background-image: url(#{$img-path-Iconback}/arrow-right-white.svg);
        }
      }
    }
  }

  &.sdg-red {
    .heading {
      h2,
      h3 {
        color: $sdg-red;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-red;
    }

    .content-card {
      &.color {
        background-color: #dc9099;
      }

      &:hover {
        background-color: $sdg-red;
      }
    }
  }

  &.sdg-mustard {
    .heading {
      h2,
      h3 {
        color: $sdg-mustard;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-mustard;
    }

    .content-card {
      &.color {
        background-color: #d3bb8a;
      }

      &:hover {
        background-color: $sdg-mustard;
      }
    }
  }

  &.sdg-kelly-green {
    .heading {
      h2,
      h3 {
        color: $sdg-kelly-green;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-kelly-green;
    }

    .content-card {
      &.color {
        background-color: #9fd092;
      }

      &:hover {
        background-color: $sdg-kelly-green;
      }
    }
  }

  &.sdg-dark-red {
    .heading {
      h2,
      h3 {
        color: $sdg-dark-red;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-dark-red;
    }

    .content-card {
      &.color {
        background-color: #ce8f97;
      }

      &:hover {
        background-color: $sdg-dark-red;
      }
    }
  }

  &.sdg-red-orange {
    .heading {
      h2,
      h3 {
        color: $sdg-red-orange;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-red-orange;
    }

    .content-card {
      &.color {
        background-color: #ce9890;
      }

      &:hover {
        background-color: $sdg-red-orange;
      }
    }
  }

  &.sdg-bright-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-bright-blue;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-bright-blue;
    }

    .content-card {
      &.color {
        background-color: #9ac8d3;
      }

      &:hover {
        background-color: $sdg-bright-blue;
      }
    }
  }

  &.sdg-yellow {
    .heading {
      h2,
      h3 {
        color: $sdg-yellow;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-yellow;
    }

    .content-card {
      &.color {
        background-color: #d3c79d;
      }

      &:hover {
        background-color: $sdg-yellow;
      }
    }
  }

  &.sdg-burgundy-red {
    .heading {
      h2,
      h3 {
        color: $sdg-burgundy-red;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-burgundy-red;
    }

    .content-card {
      &.color {
        background-color: #ce94a6;
      }

      &:hover {
        background-color: $sdg-burgundy-red;
      }
    }
  }

  &.sdg-orange {
    .heading {
      h2,
      h3 {
        color: $sdg-orange;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-orange;
    }

    .content-card {
      &.color {
        background-color: #d2aa98;
      }

      &:hover {
        background-color: $sdg-orange;
      }
    }
  }

  &.sdg-magenta {
    .heading {
      h2,
      h3 {
        color: $sdg-magenta;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-magenta;
    }

    .content-card {
      &.color {
        background-color: #c994aa;
      }

      &:hover {
        background-color: $sdg-magenta;
      }
    }
  }

  &.sdg-golden-yellow {
    .heading {
      h2,
      h3 {
        color: $sdg-golden-yellow;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-golden-yellow;
    }

    .content-card {
      &.color {
        background-color: #c7b094;
      }

      &:hover {
        background-color: $sdg-golden-yellow;
      }
    }
  }

  &.sdg-dark-mustard {
    .heading {
      h2,
      h3 {
        color: $sdg-dark-mustard;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-dark-mustard;
    }

    .content-card {
      &.color {
        background-color: #ceba98;
      }

      &:hover {
        background-color: $sdg-dark-mustard;
      }
    }
  }

  &.sdg-dark-green {
    .heading {
      h2,
      h3 {
        color: $sdg-dark-green;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-dark-green;
    }

    .content-card {
      &[class*='background-'] {
        background-color: #a2d7a6;
      }

      &:hover {
        &.card,
        &.content-card__image,
        &[class*='background-'] {
          background-color: $sdg-dark-green;
        }
      }
    }
  }

  &.sdg-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-blue;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-blue;
    }

    .content-card {
      &[class*='background-'] {
        background-color: #a1c6d7;
      }

      &:hover {
        &.card,
        &.content-card__image,
        &[class*='background-'] {
          background-color: $sdg-blue;
        }
      }
    }
  }

  &.sdg-lime-green {
    .heading {
      h2,
      h3 {
        color: $sdg-lime-green;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-lime-green;
    }

    .content-card {
      &[class*='background-'] {
        background-color: #abce9e;
      }

      &:hover {
        &.card,
        &.content-card__image,
        &[class*='background-'] {
          background-color: $sdg-lime-green;
        }
      }
    }
  }

  &.sdg-royal-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-royal-blue;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-royal-blue;
    }

    .content-card {
      &[class*='background-'] {
        background-color: #748f9d;
      }

      &:hover {
        &.card,
        &.content-card__image,
        &[class*='background-'] {
          background-color: $sdg-royal-blue;
        }
      }
    }
  }

  &.sdg-navy-blue {
    .heading {
      h2,
      h3 {
        color: $sdg-navy-blue;
      }
    }

    .description,
    .statscard:hover {
      background-color: $sdg-navy-blue;
    }

    .content-card {
      &[class*='background-'] {
        background-color: #a2c2d8;
      }

      &:hover {
        &.card,
        &.content-card__image,
        &[class*='background-'] {
          background-color: $sdg-navy-blue;
        }
      }
    }
  }
}

.ndg-container {
  padding-left: $spacing-32;
  .sdg-image {
    display: none;
  }

  @include devicebreak(small) {
    padding-left: $spacing-12;

    .sdg {
      &-card {
        display: flex;
        min-height: 85px;
        padding: 0 $spacing-24;
        position: relative;

        strong {
          font-size: 0.938rem;
          margin-right: $spacing-16;
        }

        h4 {
          font-size: 0.938rem;
          margin: 0;
          width: calc(100% - 3rem);
        }

        &::after {
          background:
            url(#{$img-path-Iconback}/Chevron-right.svg) no-repeat
            center center;
          content: '';
          filter: invert(1) brightness(10);
          height: 20px;
          position: absolute;
          right: $spacing-24;
          width: 13px;
        }
      }

      &-image {
        display: none;
      }
    }
  }
}

.bulleted-list {
  margin: $spacing-80 0 0;

  @include devicebreak(medium) {
    margin: $spacing-96 0 0 $spacing-80;
  }

  ul {
    padding: $spacing-50 0 0;

    @include devicebreak(medium) {
      padding: 0;
    }

    li {
      font-size: $font-size-20;
      list-style: none;
      padding-left: $spacing-24;
      position: relative;

      &::before {
        background: $color-black;
        border-radius: 50%;
        content: '';
        height: 10px;
        left: 0;
        margin-top: $spacing-08;
        position: absolute;
        width: 10px;

        @include devicebreak(medium) {
          left: -$spacing-16;
        }
      }

      &:not(:last-child) {
        margin-bottom: $spacing-64;
      }
    }
  }
}

.sdg-stats {
  margin-top: $spacing-96;

  .glide__track {
    overflow: visible;
  }
}

.sdg-content-cards {
  margin-top: $spacing-96;

  .content-data {
    > div {
      margin-top: $spacing-24;
    }
  }

  .button {
    margin: $spacing-24 0 $spacing-32;

    @include devicebreak(medium) {
      margin: $spacing-80 0 $spacing-64;
    }
  }
}

[dir='rtl'] {
  .modal-sdg {
    padding-left: 0;
    padding-right: $spacing-12;

    .modal-header {
      left: 0;
      right: unset;

      @include devicebreak(small) {
        padding-left: 1.25rem;
        padding-right: 0;
      }
    }
  }

  .sdg-container {
    @include devicebreak(medium) {
      .description {
        padding: 4.375rem $spacing-96 5.625rem 3.75rem;

        p {
          margin-left: $spacing-80;
          margin-right: 0;
        }
      }
    }

    .heading {
      margin-left: 0;
      margin-right: 1.875rem;

      @include devicebreak(medium) {
        margin-left: 0;
        margin-right: $spacing-96;
      }
    }
  }

  .ndg-container {
    padding-left: 0;
    padding-right: $spacing-32;

    @include devicebreak(small) {
      padding-right: $spacing-12;

      .sdg-card {
        strong {
          margin-left: $spacing-16;
          margin-right: 0;
        }

        &::after {
          @include transform(rotateY(180deg));

          left: $spacing-24;
          right: unset;
        }
      }
    }
  }

  .bulleted-list {
    margin-left: 0;
    margin-right: 0;

    @include devicebreak(medium) {
      margin-left: 0;
      margin-right: $spacing-80;
    }

    ul li {
      padding-left: 0;
      padding-right: $spacing-24;

      &::before {
        left: 0;
        right: 0;

        @include devicebreak(medium) {
          right: -$spacing-16;
        }
      }
    }
  }
}
